{% macro pentextmsubversion( solution = "remove" ) -%}
<p>
	<span class="card" onclick="dC('pentextmsubversion')">Pentex™ Subversion</span>
	has been modified by an <em>errata</em> in September 2019.
	It does not prevent a vampire to act anymore, so it is less powerful
{% if solution == 'remove' %}
    and should probably not be included in the deck anymore.
{% elif solution == 'undecided' %}
	.
	Its ability to disable a strong blocker is still an important aspect so it can have its place here.
{% else %}
    but still has its place in the deck, as it was mainly used as a way to disable a blocker anyway.
{% endif %}
</p>
{%- endmacro %}

{% macro villein() -%}
<p>
    <span class="card" onclick="dC('villein')">Villein</span> has been modified by an errata in June 2018
    to limit the blood taken to a maximum of 5.
    It should still be as efficient as ever in this archetype, though.
</p>
{%- endmacro %}

{% macro parityshift() -%}
<p>
    <span class="card" onclick="dC('parityshift')">Parity Shift</span>
    has also been modified in the September 2019 <em>errata</em>.
    The amount of pool is no longer equal to the number of Methusalah, but is stable at 3.
    The card is then less powerful in the game beginning, but is still a good fit in this deck.
</p>
{%- endmacro %}

{% macro antheliostheredstar() -%}
<p>
	<span class="card" onclick="dC('antheliostheredstar')">Anthelios, The Red Star</span>
    has been banned in 2016. Its removal may have a bit of impact on the Master module.
</p>
{%- endmacro %}

{% macro lilithsblessing() -%}
<p>
	<span class="card" onclick="dC('lilithsblessing')">Lilith's Blessing</span>
	has been banned in 2016.
</p>
{%- endmacro %}

{% macro temptationofgreaterpower() -%}
<p>
	<span class="card" onclick="dC('temptationofgreaterpower')">Temptation of Greater Power</span>
	has been banned in 2016.
</p>
{%- endmacro %}
