{% extends "best-cards/_layout.html" %}

{% block article %}
<article>
    <h1>{{ _('Tabletop Simulator') }}</h1>
    <p>
        {% trans trimmed
        tabletop_simulator=external(
        "https://store.steampowered.com/app/286160/Tabletop_Simulator/",
        "Tabletop Simulator"
        )
        %}
        {{ tabletop_simulator }} is a Steam app to play tabletop games.
        It has fan-made plugins to play V:tES online with friends.
        It is mostly used among friends who want to play the game between themselves,
        as there is no game log and no matching server to find fellow players inside the application itself.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed
        discord_server=external("https://discord.gg/QJtDzp5", _("Discord Server"), icon="&#xf392", color="#758AD4")
        %}
        Using this platform, the game is best played alongside a vocal channel. You can join the {{ discord_server }}
        dedicated to the plugin to find players, setup games, and use the vocal channels to play.
        {% endtrans %}
    </p>
    <h2>{{ _('Install') }}</h2>
    <p>
        {% trans trimmed
        tabletop_simulator=external(
        "https://store.steampowered.com/app/286160/Tabletop_Simulator/",
        "Tabletop Simulator"
        ),
        this_plugin=external("https://steamcommunity.com/sharedfiles/filedetails/?id=2186155897", _("this plugin")),
        save_object='<span class="code">Save object</span>'|safe
        %}
        Buy and install the {{ tabletop_simulator }} application using <em>Steam</em>.
        Then install {{ this_plugin }}.
        {% endtrans %}
    </p>
    <img src="{{ url_for('static', filename='img/tts-table.jpg') }}" alt="TTS Save deck" />
    <h2>{{ _('Play') }}</h2>
    <p>
        {% trans trimmed
        objects='<span class="code">Objects</span>'|safe,
        saved_objects='<span class="code">Saved Objects</span>'|safe
        %}
        Find a group of friends then create a game and invite them.
        Draw a colour counter from the colors bag and change your color accordingly.
        Click the "load deck" button to load your deck.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed %}
        Make sure you set the rotation on 90º (topside button on the right) for easy lock and unlock,
        and set the gravity to the maximum value in the Options > Physics menu for faster cards and tokens
        displacements. Enabling the turns system in Options > Turns can also help.
        {% endtrans %}
    </p>
    <img src="{{ url_for('static', filename='img/tts-rotation.jpg') }}" alt="TTS Rotation" />
    <h2>{{ _('Useful commands') }}</h2>
    <ul>
        <li><strong>E</strong>: {{ _("Lock") }}</li>
        <li><strong>Q</strong>: {{ _("Unlock") }}</li>
        <li><strong>F</strong>: {{ _("Flip card") }}</li>
        <li><strong>SHIFT+ALT</strong>: {{ _("Peek at a card") }}</li>
        <li><strong>{{ _("Hover over a deck and type a number N") }}</strong>: {{ _("Draw N cards") }}</li>
    </ul>
</article>
{% endblock %}
