@font-face {
    font-family: "Ankha VTES";
    src: url("fonts/ankha.ttf") format("truetype");
}
@font-face {
    font-family: "FontAwesome";
    src: url("fonts/fa-solid-900.ttf") format("truetype"),
    url("fonts/fa-solid-900.svg") format("svg"),
    url("fonts/fa-solid-900.woff") format("woff"),
    url("fonts/fa-solid-900.woff2") format("woff2"),
    url("fonts/fa-solid-900.eot") format("embedded-opentype");
}
body {
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
    background-color: #fffdf5;
    margin: 2em;
    -webkit-font-smoothing: antialiased;
}
a {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
}
header a, footer a {
    text-decoration: none;
}
a:hover,
a:focus {
	color: #007acc;
}
header, footer {
    display: flex;
    flex-flow: row;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    clear: both;
}
header a {
    display: flex;
    margin-right: auto;
}
header img {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
}
h1 {
    font-size: 2.5rem;
    padding: 0.5em;
    padding-top: 0.6em;
    text-align: left;
}
article p img {
    height: 1em;
    max-width: 2em;
    vertical-align: middle;
}
h1 > img {
    height: 1.5em;
    max-width: 2em;
    vertical-align: middle;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: left;
}
.modal{
    z-index:3;
    display:none;
    padding:5em;
    padding-top:10em;
    padding-left:0.5em;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.4)
}
.modal-content{
    margin:auto;
    padding:0;
    outline:0;
    width:300px;
}
@media only screen and (max-width: 750px) {
    header, footer {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column
    }
    header img {
        max-width: 75px;
        max-height: 75px;
    }
    h1 {
        font-size: 2rem;
        clear: both;
    }
    h1 > img {
        height: 40px;
    }
    .modal-content{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    h2{
        clear: both;
    }
}
h3 {
    font-size: 1.2rem;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    text-align: left;
}
h4 {
    font-size: 1rem;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}
nav {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    float: left;
    padding: 1em 1em 0 0;
    position: relative;
}
footer {
    max-width: 700px;
    margin: 4em auto;
}
footer > nav > .prev::before{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f053";
    padding: 0 0.5em;
}
footer > nav > .next::after{
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f054";
    padding: 0 0.5em;
}
footer a{
    display: inline-flex;
    padding: 1em;
}
footer img {
    display: inline-flex;
    max-width: 5em;
    margin: 0 1em;
    vertical-align: middle;
}
footer p {
    font-style: italic;
    font-size: 0.8em;
    max-width: 700px;
}
footer p a {
    padding: 0;
}
article{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
i {
    font-family: "Ankha VTES";
    font-style: normal;
}
p {
    max-width: 700px;
    margin: 0.5em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
ul {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
article li {
    margin: 0.2em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
article div {
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1.5em auto;
    clear: both;
}
li > img{
    height: 1em;
    max-width: 2em;
    vertical-align: middle;
}
td > img {
    height: 1.5em;
    max-width: 2em;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
div.results {
    max-height: 15em;
    overflow: auto;
    border: 0;
    padding: 0;
    border-radius: 0;
    margin: 1em 0;
}
td {
    text-align: left;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    border: none;
}
input {
    padding: 0.5em;
    font-size: 1em;
    margin: 0;
    width: 100%;
}
tr.results:nth-child(even) {
    background-color: #eceae2;
}
tr:hover, tr.selected {
    background-color: #bdbab0 !important;
}
td.results {
    padding: 0.5em;
}
div.comments {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    clear: none;
}
div.result-message {
    border: 0;
    padding: 0;
    margin: 1em 0;
}
.autocomplete {
    width: 50%;
    margin: 0;
    padding: 0;
}
.autocomplete-items {
    border: 1px solid #d4d4d4;
    z-index: 99;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    max-height: 15em;
    overflow: scroll;
    text-align: left;
}
.autocomplete-items div {
    border-radius: 0;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: #e9e9e9 !important;
}
.article-columns {
    max-width: 1200px;
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
  }
.td-icon {
    text-align: center;
    vertical-align: center;
}
.card{
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}
.align-left {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
}
.column {
    display:inline-block;
    width:270px;
    padding:0;
    vertical-align: top;
    margin: 0.7em;
}
.column-image {
    margin:0;
    padding:0;
    text-align: center;
}
.column-image img {
    width: 95%;
}
.tip {
    background: #fcf4ec;
    border: 1px solid rgb(220, 140, 70);
    max-width: 700px;
    clear: both;
}
.tip h3 {
    color: #583410
}
.tip h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0eb";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #583410
}
.warning {
    background: #fceeec;
    border: 1px solid rgb(220, 105, 70);
    clear: both;
}
.warning h3 {
    color: #582110
}
.warning h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f071";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #582110
}
.decklist {
    float: left;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0 1.5em 1.5em 0;
    background-color: #e7fad7;
}
.decklist h2 {
    font-size: 1.5rem;
    margin-top: 0.2em;
    margin-bottom: 0;
}
.decklist h3 {
    font-size: 1.1rem;
    margin-top: 0.5em;
    margin-bottom: 0;
}
.decklist h4 {
    font-size: 1rem;
    margin-top: 0.4em;
    margin-bottom: 0;
}
.decklist p {
    font-size: 0.8em;
    font-style: italic;
    color: #444;
}
.decklist ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    padding-top: 0;
}
.decklist .card{
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}
.card-results {
    padding: 0;
}
.result-image {
    float: left;
    padding: 0.5em;
    padding-left: 0em;
    margin: 0 1.5em 1.5em 0;
}
.result-text {
    clear: none;
}
.result-rulings {
    margin: 0;
    padding: 0;
}
.rulings-list {
    list-style: decimal;
    padding: 0;
}
.rulings-list a {
    text-decoration: none;
}
.rulings-list li {
    margin: 0.5em;
}
.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-weight: 500;
}
.clear {
    padding:0;
    margin: 0;
    border: 0;
    clear: both;
}