include LICENSE README.md CHANGELOG.rst

graft codex_of_the_damned

exclude Makefile
exclude babel.cfg
exclude .markdownlint.json
exclude messages.pot

global-exclude */__pycache__/*
global-exclude *.egg-info/*
global-exclude *.po
global-exclude *.DS_Store
