include LICENSE README.md CHANGELOG.md

graft codex_of_the_damned
prune .claude
prune tests

exclude Makefile
exclude babel.cfg
exclude .markdownlint.json
exclude messages.pot
exclude AGENTS.md
exclude CLAUDE.md
exclude uv.lock

global-include *.mo
global-exclude */__pycache__/*
global-exclude *.egg-info/*
global-exclude *.po
global-exclude *.DS_Store
