{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-baali.svg') }}"> Baali</h1>
<p>
    Baali and their unique discipline <i>y</i> provide good clan cards.
    Their vampires are all <em>Infernal</em>, and 1 pool per turn is a high cost,
    but some of them, combined with the clan cards, have abilities matching this cost.
    There are multiple archetypes used by the Baali clan:
<ul>
    <li>
        {{ link("/../archetypes/the-dark-side-of-politics", _("The Dark Side of Politics")) }}
        archetype,
        using {{ card("Giotto Verducci") }} and
        {{ card("Kaymakli Fragment") }} to get
        titled vampires into play fast and cheap.
    </li>
    <li>
        The <a href="../../archetypes/girls-will-find-inner-circles.html">Girls Will Find Inner
            Circles</a>
        archetype, using {{ card("Cybele") }} to get more Master
        actions.
    </li>
    <li>
        The {{ link("/archetypes/the-unnamed", _("The unnamed")) }} archetype,
        a stealth & bleed construct starring, obviously,
        {{ card("The unnamed") }}.
    </li>
    <li>
        The {{ link("/archetypes/council-of-doom", _("Council of Doom")) }} archetype, starring
        {{ card("Huitzilopochtli") }} along some
        <em>Inner Circle</em> vampires.
    </li>
</ul>
The titled vampires of the clan,
{{ card("Arishat") }}
{{ card("Xeper") }} and
{{ card("Annazir") }},
also offer good options for political builds.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/cybele.jpg">
        <h4>Cybele</h4>
        <p class="center-subtitle">played in 65 decks, typically 1-7 copies</p>
    </div>
    <p>
        The star of the Baali clan, her ability led to Master-focused decks
        like <a href="../../archetypes/girls-will-find-inner-circles.html">Girls Will Find Inner
            Circles</a>.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/veneficti.jpg">
        <h4>Veneficti</h4>
        <p class="center-subtitle">played in 57 decks, typically 1-2 copies</p>
    </div>
    <p>
        The best ally of the clan, Veneficti has a 2 points bleed combined with stealth,
        all for the cheap cost of 1 pool. Hard to resist:
        it is the kind of awesome cards one is paying the <em>Infernal</em> penalty for.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/tendtheflock.jpg">
        <h4>Tend the Flock</h4>
        <p class="center-subtitle">played in 45 decks, typically 3-8 copies</p>
    </div>
    <p>
        An excellent bloat device. Played in many Baali decks,
        it also plays well with {{ card("Cybele") }} ability.
        This card helps to make up for the <em>Infernal</em> penalty and is straightly better than
        {{ card("Grooming the Protege") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/hordethe.jpg">
        <h4>The Horde</h4>
        <p class="center-subtitle">played in 39 decks, typically 2-7 copies</p>
    </div>
    <p>
        An excellent sidekick - its ability can be used to boost older vampires bleed easily,
        even from torpor.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/arishat.jpg">
        <h4>Arishat</h4>
        <p class="center-subtitle">played in 36 decks, typically 1-3 copies</p>
    </div>
    <p>
        An excellent vampire, with an excellent ability for politics, defensively or offensively.
        Depending on the opposition, she can offer a swing from 1 to 4 votes reliably.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/unnamedthe.jpg">
        <h4>The Unnamed</h4>
        <p class="center-subtitle">played in 34 decks, typically 4-5 copies</p>
    </div>
    <p>
        Star of his {{ link("/archetypes/the-unnamed", _("own archetype")) }},
        his ability makes for a very comfortable bloat.
        His access to such a powerful disciplines combination allows him to use a broad range of cards.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/xepersultanoflepers.jpg">
        <h4>Xeper, Sultan of Lepers</h4>
        <p class="center-subtitle">played in 34 decks, typically 1-3 copies</p>
    </div>
    <p>
        An excellent vampire, with a very annoying ability against ally constructs and a decent one
        for vote constructs. His inferior <i>y</i> is almost not an issue.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/annazir.jpg">
        <h4>Annazir</h4>
        <p class="center-subtitle">played in 32 decks, typically 1-3 copies</p>
    </div>
    <p>
        Another excellent vampire, all clan disciplines at superior, votes and enhanced bleed,
        plus a nice ability that can become useful to get rid of a gun or a
        {{ card("Bowl of Convergence") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/unleashhellsfury.jpg">
        <h4>Unleash Hell's Fury</h4>
        <p class="center-subtitle">played in 106 decks, typically 1-3 copies</p>
    </div>
    <p>
        The most played <i>y</i> card. The pool cost is steep, but it is a dreadful defence.
        It can be used to deter bleeds or protect vampires against aggressive actions.
        The threat of torpor without even a combat is hard to get around.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/iamlegion.jpg">
        <h4>I am Legion</h4>
        <p class="center-subtitle">played in 54 decks, typically 1-4 copies</p>
    </div>
    <p>
        An excellent card against <i>A</i> bounces
        {{ card("Telepathic Misdirection") }} and
        {{ card("My Enemy's Enemy") }}, it does not jam the hand
        as it can be used at superior <i>OY</i> to just gain a pool for a blood
        (the card text states <em>"and/or"</em>).
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/sensethesin.jpg">
        <h4>Sense the Sin</h4>
        <p class="center-subtitle">played in 52 decks, typically 2-5 copies</p>
    </div>
    <p>
        A very versatile card, it can be used for intercept or additional bleed, depending on the situation.
        Always useful, at no cost, even with no corruption counter around.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/psychomachia.jpg">
        <h4>Psychomachia</h4>
        <p class="center-subtitle">played in 37 decks, typically 1-3 copies</p>
    </div>
    <p>
        A decent block denial, although limited to younger vampires and allies,
        it still applies to a lot of minions when
        one plays {{ card("Cybele") }} or
        {{ card("The unnamed") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/contagion.jpg">
        <h4>Contagion</h4>
        <p class="center-subtitle">played in 37 decks, typically 1 copy</p>
    </div>
    <p>
        A decent pool damage provider, although often played as a single copy in Baali decks.
        It is a way to bring the pool cost around the table closer to the one one has to pay
        to unlock Infernal vampires, and is more useful in slow-paced decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/infernalservitor.jpg">
        <h4>Infernal Servitor</h4>
        <p class="center-subtitle">played in 20 decks, typically 2-4 copies</p>
    </div>
    <p>
        An excellent ally: although he does not stay in play,
        his bleed power is huge and can make for a very nice lunge.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/flamesofthenetherworld.jpg">
        <h4>Flames of the Netherworld</h4>
        <p class="center-subtitle">played in 16 decks, typically 1-4 copies</p>
    </div>
    <p>
        A very good combat strike. More often seen in fact in Tremere decks using <i>t</i>,
        as it is a good alternative to other aggravated damage source <i>t</i> provides like
        {{ card("Walk of Flame") }} or
        {{ card("Burst of Sunlight") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/condemnationmute.jpg">
        <h4>Condemnation: Mute</h4>
        <p class="center-subtitle">played in 16 decks, typically 1-6 copies</p>
    </div>
    <p>
        An excellent card for politics, both defensively and offensively. Even Baali decks with no take
        on the politics game can play it just to hinder a politic opponent.
    </p>
</div>
{% endblock %}
