{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-caitiff.svg') }}"> Caitiff</h1>
<p>
    Caitiff are rarely played on their own, but they often offer low capacity vampires
    that can complete crypts for other clans and builds.
    Now a clan, they were before considered as vampires without a clan:
    it explains why they have no library clan cards at all.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anarchconvert.jpg">
        <h4>Anarch Convert</h4>
        <p class="center-subtitle">played in 214 decks, typically 2-5 copies</p>
    </div>
    <p>
        The most played Caitiff by far, he is an easy and relatively cheap way to make vampires Anarch,
        and can even be used to smooth crypt rotation a bit.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/franciscus.jpg">
        <h4>Franciscus</h4>
        <p class="center-subtitle">played in 30 decks, typically 1 copy</p>
    </div>
    <p>
        Seen in <i>a</i> builds, alongside {{ card("Zöe") }} and
        {{ card("Isabel de Leon") }}, he is often included in
        {{ link("/archetypes/weenie-aus", _("Weenie AUS")) }} decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/lisanoble.jpg">
        <h4>Lisa Noble</h4>
        <p class="center-subtitle">played in 29 decks, typically 1 copy</p>
    </div>
    <p>
        Seen in <i>i</i> builds, alongside {{ card("Zip") }} and
        {{ card("Stick") }}, her downside is not an issue when
        coupled with {{ card("Aid from Bats") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/maldavis.jpg">
        <h4>Maldavis</h4>
        <p class="center-subtitle">played in 26 decks, typically 1 copy</p>
    </div>
    <p>
        Often seen in <i>A</i> builds, sometimes alongside
        {{ card("Neighbor John") }},
        her downside is rarely a problem and 4 pool for superior <i>A</i> is relatively cheap.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/antoinetteduchamp.jpg">
        <h4>Antoinette DuChamp</h4>
        <p class="center-subtitle">played in 23 decks, typically 1 copy</p>
    </div>
    <p>
        Two disciplines for 1 pool is relatively cheap, moreoever her group makes her an easy inclusion.
        She is most often seen algonside other Caitiff in very fast crypts.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/igothehungry.jpg">
        <h4>Igo the Hungry</h4>
        <p class="center-subtitle">played in 23 decks, typically 1 copy</p>
    </div>
    <p>
        Two disciplines for 1 pool is relatively cheap, he is often seen alongside
        {{ card("Antoinette DuChamp") }}.
        Combined with other Caitiff, he can provide a very fast crypt for swarm builds.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/mukhtarbey.jpg">
        <h4>Mukhtar Bey</h4>
        <p class="center-subtitle">played in 22 decks, typically 1-2 copies</p>
    </div>
    <p>
        The oldest Caitiff, he is often seen alongside other titled Camarilla vampires.
        His <i>Ro</i> disciplines combination is a nice fit for political decks and his 7 pool cost
        is relatively low. A frequent companion of
        {{ card("Victor Pelletier") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/eddiegaines.jpg">
        <h4>Eddie Gaines</h4>
        <p class="center-subtitle">played in 19 decks, typically 1-2 copies</p>
    </div>
    <p>
        Althouth his downside can be a real bummer, his low cost for <i>e</i> makes him a possible
        minclusion in very fast versions of the
        {{ link("/archetypes/weenie-dem", _("Weenie DEM")) }} archetype.
    </p>
</div>
{% endblock %}
