{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-giovanni.svg') }}"> Giovanni</h1>
<p>
    The Giovanni and their rare <i>n</i> discipline, combined with the fact that they have <i>d</i>
    as a clan discipline, come up with two original allies archetypes:
    the {{ link("/archetypes/khazars-diary", _("Khazar's Diary")) }}, centered on allies and
    {{ card("Khazar's Diary (Endless Night)") }}, and
    {{ link("/archetypes/shambling-hordes", _("Shambling Hordes")) }}, an allies archetype using
    {{ card("Shambling Hordes") }}.
    Due to nature of these archetypes and usefulness of superior <i>D</i> at low capacity,
    Giovanni vampires popularity is skewed towards lower capacitiess.
</p>
<p>
    Some <em>powerbleed</em> constructs have been seen, too. The combination of
    {{ card("Call of the Hungry Dead") }} and
    {{ card("Seduction") }} is strong, and
    {{ card("Guillaume Giovanni") }} gave birth to interesting
    deck lists, though all quite different.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/sudariorefraction.jpg">
        <h4>Sudario Refraction</h4>
        <p class="center-subtitle">played in 85 decks, typically 2-5 copies</p>
    </div>
    <p>
        The most played Giovanni card. Its rare recursion ability enables the Giovanni players
        to adapt their hand to the table context, which is a nice advantage.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/liamilliner.jpg">
        <h4>Lia Milliner</h4>
        <p class="center-subtitle">played in 80 decks, typically 1 copy</p>
    </div>
    <p>
        <i>d</i> and <i>n</i> for only 3 pool: a bargain. She can even find her place in mono <i>d</i>
        builds.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/gloriagiovanni.jpg">
        <h4>Gloria Giovanni</h4>
        <p class="center-subtitle">played in 76 decks, typically 1-2 copies</p>
    </div>
    <p>
        Superior <i>D</i> and <i>n</i> for only 4 pool: another bargain.
        She finds an easy place in mono <i>d</i> builds.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/isabelgiovanni.jpg">
        <h4>Isabel Giovanni</h4>
        <p class="center-subtitle">played in 69 decks, typically 1-2 copies</p>
    </div>
    <p>
        Superior <i>DN</i> for only 5 pool, it is often the perfect disciplines combination for Giovanni
        decks,
        so Isabel is often played in multiple copies.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/tyecooper.jpg">
        <h4>Tye Cooper</h4>
        <p class="center-subtitle">played in 69 decks, typically 1 copy</p>
    </div>
    <p>
        Played in many Giovanni decks, even when they are not centred on allies,
        he is very resilient and can be good defence.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/powerbasecapeverde.jpg">
        <h4>Powerbase: Cape Verde</h4>
        <p class="center-subtitle">played in 59 decks, typically 1 copy</p>
    </div>
    <p>
        A generalized {{ card("Blood Doll") }},
        it is an efficient bloat device at no cost. Most Giovanni decks play it.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/rudolfogiovanni.jpg">
        <h4>Rudolfo Giovanni</h4>
        <p class="center-subtitle">played in 56 decks, typically 1-2 copies</p>
    </div>
    <p>
        The cheapest <i>N</i> available, he is often seen alongside allies, especially
        {{ card("Shambling Hordes") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/francescagiovanni.jpg">
        <h4>Francesca Giovanni</h4>
        <p class="center-subtitle">played in 44 decks, typically 1 copy</p>
    </div>
    <p>
        All clan disciplines for 4 pool, a good sidekick in many Giovanni decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/leonardomortician.jpg">
        <h4>Leonardo, Mortician</h4>
        <p class="center-subtitle">played in 43 decks, typically 1 copy</p>
    </div>
    <p>
        A cheap ally with a nice ability. Often included to fuel
        {{ card("Shambling Hordes") }} or
        {{ card("Khazar's Diary") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/andreagiovanni.jpg">
        <h4>Andrea Giovanni</h4>
        <p class="center-subtitle">played in 43 decks, typically 1-2 copies</p>
    </div>
    <p>
        An excellent abilities for decks relying a lot on the <i>N</i> discipline, like those using
        {{ card("Shambling Hordes") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/pathofbonethe.jpg">
        <h4>The Path of Bone</h4>
        <p class="center-subtitle">played in 40 decks, typically 1-3 copies</p>
    </div>
    <p>
        A good way to reduce blood consumption in <i>n</i> decks. As is the case with many <em>Path</em>
        cards,
        it is quite cheap and not so easy to destroy: investing an action and a blood just to have the
        vampires
        pay a bit more for some cards can be too much.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/acquiredventrueassets.jpg">
        <h4>Acquired Ventrue Assets</h4>
        <p class="center-subtitle">played in 38 decks, typically 2-4 copies</p>
    </div>
    <p>
        A cheap and efficient way to bring back some blood on the vampires. Better in low or mid capacity
        decks
        with more Giovanni, even better if it can be defended a bit.
    </p>
</div>
{% endblock %}
