{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-lasombra.svg') }}"> Lasombra</h1>
<p>
    The Lasombra and their rare <i>$</i> discipline are quite close to the Kiasyd,
    but a little more played. They have given birth to the infamous
    {{ link("/archetypes/lasombra-nocturn", _("Lasombra Nocturn")) }} archetype,
    one of the strongest stealth & bleed archetypes of the game using the <i>D£</i> disciplines combination.
    They also can be used for political or even toolbox builds, but this is a rarer occurence.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/shadowplay.jpg">
        <h4>Shadow Play</h4>
        <p class="center-subtitle">played in 122 decks, typically 2-6 copies</p>
    </div>
    <p>
        The strongest stealth for <i>$</i>, pricier than the <i>o</i> equivalents
        {{ card("Lost in Crowds") }} and
        {{ card("Into Thin Air") }} of course.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/shroudofabsence.jpg">
        <h4>Shroud of Absence</h4>
        <p class="center-subtitle">played in 105 decks, typically 2-4 copies</p>
    </div>
    <p>
        Another stealth modifier, this one at no cost.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/shroudofnight.jpg">
        <h4>Shroud of Night</h4>
        <p class="center-subtitle">played in 77 decks, typically 1-5 copies</p>
    </div>
    <p>
        Yet another stealth enhancer, this one only really useful at superior <i>£</i>.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ermenegildotherake.jpg">
        <h4>Ermenegildo, The Rake</h4>
        <p class="center-subtitle">played in 69 decks, typically 1-2 copies</p>
    </div>
    <p>
        Only 5 pool for <i>D£</i>, plus he is Black Hand. He gets included in a lot of decks,
        Lasombra, Kiasyd or Black Hand alike.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/elysianfields.jpg">
        <h4>Elysian Fields</h4>
        <p class="center-subtitle">played in 68 decks, typically 1 copy</p>
    </div>
    <p>
        An excellent permanent stealth enhancer for a reasonable 2 pool cost.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/nocturn.jpg">
        <h4>Nocturn</h4>
        <p class="center-subtitle">played in 58 decks, typically 4-14 copies</p>
    </div>
    <p>
        Although he lasts only one turn, he can either bleed for 1 or be kept for defence.
        Also, {{ card("The Path of Night") }}
        can be used to get him cheap and
        {{ card("The Unmasking") }} and
        {{ card("FBI Special Affairs Division") }}
        can be used to enhance him.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/shadowbody.jpg">
        <h4>Shadow Body</h4>
        <p class="center-subtitle">played in 57 decks, typically 1-4 copies</p>
    </div>
    <p>
        An excellent combat defence with the "combat ends" effect, it can also come in handy
        at superior <i>£</i>. This effect explains why it is often preferred
        to its alternative the {{ card("Oubliette") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/blanketofnight.jpg">
        <h4>Blanket of Night</h4>
        <p class="center-subtitle">played in 56 decks, typically 1-3 copies</p>
    </div>
    <p>
        Yet another stealth enhancer, the superior <i>£</i> effect can be a useful block denial,
        although locking two vampires to get a single action through is really expensive in terms of
        {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/tenebrousform.jpg">
        <h4>Tenebrous Form</h4>
        <p class="center-subtitle">played in 48 decks, typically 1-3 copies</p>
    </div>
    <p>
        Completing the stealth arsenal of <i>$</i>, this one as a nice side-effect at superior <i>£</i>:
        it prevents allies to block the action, as they do not have blood to pay
        (and as it is not a card <em>they</em> use, cannot use life instead).
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/onaedo.jpg">
        <h4>Onaedo</h4>
        <p class="center-subtitle">played in 48 decks, typically 1-2 copies</p>
    </div>
    <p>
        The most wanted <i>£D</i> combination for 6 pool, a common inclusion in Lasombra crypts.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/banjoko.jpg">
        <h4>Banjoko</h4>
        <p class="center-subtitle">played in 45 decks, typically 1-2 copies</p>
    </div>
    <p>
        Superior <i>D</i> for 5 pool is already good, even with only inderior <i>$</i>.
        The <em>Black Hand</em> and <em>Seraph</em> traits can be useful,
        either as an enhancer when playing
        {{ card("The Admonitions") }},
        or in full-fledged Black Hand constructs, where such a cheap Seraph really shines.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/pathofnightthe.jpg">
        <h4>The Path of Night</h4>
        <p class="center-subtitle">played in 37 decks, typically 2-4 copies</p>
    </div>
    <p>
        Often used in <i>$</i> heavy builds, as some <i>$</i> stealth modifiers cost a blood.
        It becomes even more powerful when used in conjunction with some
        {{ card("Nocturn") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/andrewemory.jpg">
        <h4>Andrew Emory</h4>
        <p class="center-subtitle">played in 34 decks, typically 1-2 copies</p>
    </div>
    <p>
        A nice <i>£d</i> combination for just 5 pool, it is often included in stealth & bleed constructs.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/lordvauxhall.jpg">
        <h4>Lord Vauxhall</h4>
        <p class="center-subtitle">played in 32 decks, typically 1-2 copies</p>
    </div>
    <p>
        He may be considered a bit pricey, but all clan disciplines at superior for 7 pool is really
        reasonable.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/armsoftheabyss.jpg">
        <h4>Arms of the Abyss</h4>
        <p class="center-subtitle">played in 31 decks, typically 2-7 copies</p>
    </div>
    <p>
        Although combat is rarely used in Lasombra builds, they still have the combat-oriented
        <i>p</i> discipline, and this <em>dodge + additional</em> strike combination can be very efficient.
        Combined with {{ card("Entombment") }}, it becomes
        frightening.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/gratiano.jpg">
        <h4>Gratiano</h4>
        <p class="center-subtitle">played in 29 decks, typically 1-3 copies</p>
    </div>
    <p>
        The bleed bonus along <i>D£</i> is strong, and its unique <em>Priscus</em> ability means he will
        always
        provide 3 votes unless they are <em>two</em> other priscii on the table.
        All in all a rather strong combination for 8 pool.
    </p>
</div>
{% endblock %}
