{% macro card_column(name, decks=0, copies="") -%}
<div class="column-4">
    {{ card_image(name, false) }}
    <h3>
        {{ name }}<br>
        <span class="subtitle">
        {% if decks == 0 %}
            {{ gettext('New card') }}
        {% else %}
            {{ gettext('played in %(num)d decks,', num=decks) }}
            {% if copies == '1' %}
            {{ gettext('typically 1 copy') }}
            {% else %}
            {{ gettext('typically %(range)s copies', range=copies) }}
            {% endif %}
        {% endif %}
        </span>
    </h3>
    <p>
        {{ caller() }}
    </p>
</div>
{%- endmacro %}
