{% extends "best-cards/_layout.html" %}

{% block article %}
<article>
    <h1>{{ _('Best Cards') }}</h1>
    {% trans trimmed 
        twda=external("http://www.vekn.fr/decks/twd.htm", "Tournament Winning Deck Archive (TWDA)"),
        hunting_grounds=card("Academic Hunting Ground", "Hunting Grounds")
	%}
    <p>
        This category presents the best cards of the game. The list is based on a statistical analysis of the
        {{ twda }} provided by VEKN, considering the 2000+ decks from 2008 onward.
        The best cards are those that have been included in the most winning decks since then.
    </p>
    <p>
        All clan {{ hunting_grounds }} and, on occasions, some low capacity vampires,
        have been omitted for convenience.
    </p>
    {% endtrans %}
    <h2>{{ _('Generic') }}</h2>
    <ul>
        <li>{{ link("/best-cards/generic/master-cards") }}</li>
        <li>{{ link("/best-cards/generic/political-actions") }}</li>
        <li>{{ link("/best-cards/generic/no-discipline") }}</li>
        <li>{{ ani }} {{ link("/best-cards/generic/animalism") }}</li>
        <li>{{ aus }} {{ link("/best-cards/generic/auspex") }}</li>
        <li>{{ cel }} {{ link("/best-cards/generic/celerity") }}</li>
        <li>{{ dom }} {{ link("/best-cards/generic/dominate") }}</li>
        <li>{{ for }} {{ link("/best-cards/generic/fortitude") }}</li>
        <li>{{ nec }} {{ link("/best-cards/generic/necromancy") }}</li>
        <li>{{ obf }} {{ link("/best-cards/generic/obfuscate") }}</li>
        <li>{{ pot }} {{ link("/best-cards/generic/potence") }}</li>
        <li>{{ pre }} {{ link("/best-cards/generic/presence") }}</li>
    </ul>
    <h2>{{ _('Sects') }}</h2>
    <ul>
        <li>{{ link("/best-cards/sects/anarch") }}</li>
        <li>{{ link("/best-cards/sects/camarilla") }}</li>
        <li>{{ link("/best-cards/sects/laibon") }}</li>
        <li>{{ link("/best-cards/sects/sabbat") }}</li>
    </ul>
    <h2 id="clans">{{ _('Clans') }}</h2>
    {% trans trimmed 
        img_clan_abominations='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-abominations.svg'))|safe,
        img_clan_blood_brothers='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-blood-brothers.svg'))|safe,
        img_clan_panders='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-pander.svg'))|safe,
        img_clan_osebo='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-osebo.svg'))|safe,
        img_clan_nagaraja='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-nagaraja.svg'))|safe,
        img_clan_samedi='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-samedi.svg'))|safe,
        img_clan_gargoyles='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-gargoyles.svg'))|safe,
        img_clan_tremere='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-tremere.svg'))|safe
    %}
    <p>
        Abominations {{ img_clan_abominations }},
        Blood Brothers {{ img_clan_blood_brothers }}, Panders {{ img_clan_panders }},
        Osebo {{ img_clan_osebo }}, Nagaraja {{ img_clan_nagaraja }}
        and Samedi {{ img_clan_samedi }} are too rarely played to be included in this
        analysis: they lack the numbers for a statistical review to be relevant.
    </p>
    <p>
        Gargoyles {{ img_clan_gargoyles }} are included in the
        Tremere {{ img_clan_tremere }} clan analysis,
        all Imbued are included in the same analysis regardless of their creed.
    </p>
    {% endtrans %}
    <table class="column">
        <tbody>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-ahrimanes.svg') }}">
                <td>{{ link("/best-cards/clans/ahrimanes") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-akunanse.svg') }}">
                <td>{{ link("/best-cards/clans/akunanse") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">
                <td>{{ link("/best-cards/clans/assamite") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-baali.svg') }}">
                <td>{{ link("/best-cards/clans/baali") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-brujah.svg') }}">
                <td>{{ link("/best-cards/clans/brujah") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-caitiff.svg') }}">
                <td>{{ link("/best-cards/clans/caitiff") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-daughters.svg') }}">
                <td>{{ link("/best-cards/clans/daughters-of-cacophony") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-followers-of-set.svg') }}">
                <td>{{ link("/best-cards/clans/followers-of-set") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-gangrel.svg') }}">
                <td>{{ link("/best-cards/clans/gangrel") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-giovanni.svg') }}">
                <td>{{ link("/best-cards/clans/giovanni") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-guruhi.svg') }}">
                <td>{{ link("/best-cards/clans/guruhi") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-harbingers.svg') }}">
                <td>{{ link("/best-cards/clans/harbingers-of-skulls") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/creed-visionary.svg') }}">
                <td>{{ link("/best-cards/clans/imbued") }}</td>
            </tr>
        </tbody>
    </table>
    <table class="column">
        <tbody>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-ishtarri.svg') }}">
                <td>{{ link("/best-cards/clans/ishtarri") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-kiasyd.svg') }}">
                <td>{{ link("/best-cards/clans/kiasyd") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-lasombra.svg') }}">
                <td>{{ link("/best-cards/clans/lasombra") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-malkavian.svg') }}">
                <td>{{ link("/best-cards/clans/malkavian") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-nosferatu.svg') }}">
                <td>{{ link("/best-cards/clans/nosferatu") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-ravnos.svg') }}">
                <td>{{ link("/best-cards/clans/ravnos") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-salubri.svg') }}">
                <td>{{ link("/best-cards/clans/salubri") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-toreador.svg') }}">
                <td>{{ link("/best-cards/clans/toreador") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-tremere.svg') }}">
                <td>{{ link("/best-cards/clans/tremere") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-true-brujah.svg') }}">
                <td>{{ link("/best-cards/clans/true-brujah") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-tzimisce.svg') }}">
                <td>{{ link("/best-cards/clans/tzimisce") }}</td>
            </tr>
            <tr>
                <td class="td-icon"><img src="{{ url_for('static', filename='img/icons/clan-ventrue.svg') }}">
                <td>{{ link("/best-cards/clans/ventrue") }}</td>
            </tr>
        </tbody>
    </table>
</article>
{% endblock %}
