{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ ani }} {{ _("Animalism") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        read_winds=card("Read the Winds")
        %}
        {{ ani }} provide a strong long-range combat module and good intercept capabilities.
        Combined with {{ aus }}, it offers the best intercept in the game and access to the combo card
        {{ read_winds }}.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Raven Spy", decks=142, copies="1-5") %}
{% trans trimmed %}
A base building block for most {{ ani }} based intercept modules.
Permanent intercept is well worth the cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Deep Song", decks=98, copies="2-10") %}
{% trans trimmed %}
The choice between bleed and rush gives it so much versatility,
it can be played in most table situations at an advantage.
The fact that the opponent has to choose his strike first is a nice bonus.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Army of Rats", decks=86, copies="1-2") %}
{% trans trimmed
deep_song=card("Deep Song")
%}
{{ ani }} usually makes for excellent intercept and good combat,
but it may lack pool damage to fence off one’s prey,
with {{ deep_song }}
bringing only a bit of pool damage.
This is an excellent option to improve pool damage
if the deck has enough intercept capabilities to protect it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Carrion Crows", decks=80, copies="4-10") %}
{% trans trimmed %}
The core of most {{ ani }} combat modules: played before range is set, it inflicts
environmental damage each round. It costs nothing, works at all ranges and cannot be dodged:
one of the best combat cards of the game.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Cats' Guidance", decks=62, copies="2-6") %}
{% trans trimmed %}
A versatile defence tool providing either intercept or an unlock effect.
Not as surprising as a wake, but being unlocked can be better.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Sense the Savage Way", decks=54, copies="2-8") %}
{% trans trimmed
eyes_argus=card("Eyes of Argus")
%}
Even if it is only available to big capacity vampires,
this is intercept and wake built in the same card,
a no-brainer if the deck has intercept options. It is even arguably better than {{ aus }}
{{ eyes_argus }},
as the intercept can be used on an undirected action.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Guard Dogs", decks=47, copies="1-4") %}
{% trans trimmed
on_the_qui_vive=card("On the Qui Vive"),
sense_the_savage_way=card("Sense the Savage Way")
%}
A good alternative or addition to the basic {{ on_the_qui_vive }} wake, especially for
those who don't have the capacity for {{ sense_the_savage_way }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Canine Horde", decks=43, copies="1-2") %}
{% trans trimmed
carrion_crows=card("Carrion Crows"),
aid_from_bats=card("Aid from Bats"),
voracious_vermin=card("Voracious Vermin")
%}
An excellent counter against weapons, it is often included in {{ ani }} combat modules.
Because {{ ani }} often uses {{ carrion_crows }}
and {{ aid_from_bats }} for a ranged combat module,
a ranged weapon on the opponent side is especially cumbersome.
The recent {{ voracious_vermin }} is now a serious alternative as it is more versatile.
{% endtrans %}
{% endcall %}
{% endblock %}