{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ aus }} {{ _("Auspex") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ aus }} provides the best intercept in the game, plus the
        ability to bounce bleeds. It makes for an excellent defence.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Telepathic Misdirection", decks=649, copies="3-7") %}
{% trans trimmed %}
By far the most played card in {{ aus }}, it is an excellent
bounce. Its blood cost is fair and its basic effect can
still be useful if the table context does not mandate
bounces.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eyes of Argus", decks=470, copies="2-7") %}
{% trans trimmed %}
A +2 intercept bonus combined with a wake, basically a dream
come true for all block-oriented constructs. The intercept
can only apply to directed actions though, and it needs to
be completed by classic intercept enhancers for a defence to
be really effective. Blocking political actions, equip and
recruit actions are critical to one’s defence.
{% endtrans %}
{% endcall %}

{% call layout.card_column("My Enemy's Enemy", decks=398, copies="1-3") %}
{% trans trimmed %}
Another intercept source, with the interesting bounce option
at no cost. Even though a bounce to one’s ally is a hard
bargain, with luck it can bounce a bleed back to its
original prey.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Bowl of Convergence", decks=358, copies="1") %}
{% trans trimmed %}
Almost systematically played in {{ aus }} decks, it is a
solid permanent intercept at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eagle's Sight", decks=315, copies="2-6") %}
{% trans trimmed
falcons_eye=card("Falcon's Eye"),
anneke=card("Anneke"),
wall=link("/strategy/archetypes", _("wall decks"), _anchor="wall")
%}
Only three cards in the game allow the interception of cross
table actions or actions directed to other players, this
one, {{ falcons_eye }} and {{ anneke }}.
This precious ability helps {{ wall }}
hurt their prey more than others, leading to an oust rather
than king-making. It's also a flexible defense against a
grand-predator political actions, and a way to control the
table balance and avoid early ousts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Enhanced Senses", decks=287, copies="2-4") %}
{% trans trimmed
my_enemy=card("My Enemy's Enemy"),
precognition=card("Precognition"),
spirits_touch=card("Spirit's Touch")
%}
An efficient intercept enhancer. Other enhancers are welcome
as the same reaction card can’t be played twice on a single
action. Note that this makes an enhancer with a twist like
{{ my_enemy }}
a valuable addition, compared to other enhancers with less
useful effects like
{{ precognition }} or {{ spirits_touch }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Precognition", decks=132, copies="1-3") %}
{% trans trimmed %}
An additional intercept enhancer, with a decent combat bonus
at superior {{ AUS }}. As reaching high scores of intercept
requires stacking different reactions, it is used in
constructs where more diversity is needed to achieve the
desired intercept level.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Spirit's Touch", decks=121, copies="1-4") %}
{% trans trimmed %}
Yet another intercept enhancer, its optional maneuver at
superior {{ AUS }} can be useful in constructs using long
range combat after the block. Yet not as efficient as other
{{ aus }} reactions, it is used when additional intercept is
needed.
{% endtrans %}
{% endcall %}
{% endblock %}
