{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><i>a</i> Auspex</h1>
<div class="tip">
    <p>
        <i>a</i> provides the best intercept in the game, plus the
        ability to bounce bleeds. It makes for an excellent defence.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/telepathicmisdirection.jpg">
        <h4>Telepathic Misdirection</h4>
        <p class="center-subtitle">
            played in 649 decks, typically 3-7 copies
        </p>
    </div>
    <p>
        By far the most played card in <i>a</i>, it is an excellent
        bounce. Its blood cost is fair and its basic effect can
        still be useful if the table context does not mandate
        bounces.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/eyesofargus.jpg">
        <h4>Eyes of Argus</h4>
        <p class="center-subtitle">
            played in 470 decks, typically 2-7 copies
        </p>
    </div>
    <p>
        A +2 intercept bonus combined with a wake, basically a dream
        come true for all block-oriented constructs. The intercept
        can only apply to directed actions though, and it needs to
        be completed by classic intercept enhancers for a defence to
        be really effective. Blocking political actions, equip and
        recruit actions are critical to one’s defence.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/myenemysenemy.jpg">
        <h4>My Enemy's Enemy</h4>
        <p class="center-subtitle">
            played in 398 decks, typically 1-3 copies
        </p>
    </div>
    <p>
        Another intercept source, with the interesting bounce option
        at no cost. Even though a bounce to one’s ally is a hard
        bargain, with luck it can bounce a bleed back to its
        original prey.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/bowlofconvergence.jpg">
        <h4>Bowl of Convergence</h4>
        <p class="center-subtitle">
            played in 358 decks, typically 1 copy
        </p>
    </div>
    <p>
        Almost systematically played in <i>a</i> decks, it is a
        solid permanent intercept at no cost.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/eaglessight.jpg">
        <h4>Eagle's Sight</h4>
        <p class="center-subtitle">
            played in 315 decks, typically 2-6 copies
        </p>
    </div>
    <p>
        Only three cards in the game allow the interception of cross
        table actions or actions directed to other players, this
        one,
        {{ card("Falcon's Eye") }}
        and {{ card("Anneke") }}.
        This precious ability helps
        {{ link("/strategy/archetypes", _("wall decks"), _anchor="wall") }}
        hurt their prey more than others, leading to an oust rather
        than king-making. It's also a flexible defense against a
        grand-predator political actions, and a way to control the
        table balance and avoid early ousts.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/enhancedsenses.jpg">
        <h4>Enhanced Senses</h4>
        <p class="center-subtitle">
            played in 287 decks, typically 2-4 copies
        </p>
    </div>
    <p>
        An efficient intercept enhancer. Other enhancers are welcome
        as the same reaction card can’t be played twice on a single
        action. Note that this makes an enhancer with a twist like
        {{ card("My Enemy's Enemy") }}
        a valuable addition, compared to other enhancers with less
        useful effects like
        {{ card("Precognition") }}
        or
        {{ card("Spirit's Touch") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/precognition.jpg">
        <h4>Precognition</h4>
        <p class="center-subtitle">
            played in 132 decks, typically 1-3 copies
        </p>
    </div>
    <p>
        An additional intercept enhancer, with a decent combat bonus
        at superior <i>A</i>. As reaching high scores of intercept
        requires stacking different reactions, it is used in
        constructs where more diversity is needed to achieve the
        desired intercept level.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/spiritstouch.jpg">
        <h4>Spirit's Touch</h4>
        <p class="center-subtitle">
            played in 121 decks, typically 1-4 copies
        </p>
    </div>
    <p>
        Yet another intercept enhancer, its optional maneuver at
        superior <i>A</i> can be useful in constructs using long
        range combat after the block. Yet not as efficient as other
        <i>a</i> reactions, it is used when additional intercept is
        needed.
    </p>
</div>
{% endblock %}
