{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ cel }} {{ _("Celerity") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ cel }} provides an excellent combat module.
        Its ability to manage range and deliver additional strikes is much appreciated.
        It also gives access to some of the best combo cards with {{ for }}, {{ aus }},
        {{ pre }} and {{ pro }}.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Pursuit", decks=76, copies="3-8") %}
{% trans trimmed %}
The core of combat modules using {{ cel }}, it provides range control
with the option to deliver an additional strike instead.
The card is highly usable and does not jam the hand the way a simple maneuver would.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Forced March", decks=62, copies="2-5") %}
{% trans trimmed
ab=link("/strategy/fundamentals", _("A&B"), _anchor="AB")
%}
An excellent modifier, even at inferior {{ cel }}{{ for }}: an unlock
at no cost is a very good {{ ab }} enhancer.
At superior, it can even provide a little bit of stealth
for a combination of disciplines that do not have much of it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Resist Earth's Grasp", decks=60, copies="2-5") %}
{% trans trimmed %}
Its 1 blood cost is balanced by the fact that it provides good combat options
(maneuver, press) along with a very rare stealth bonus at superior {{ CEL }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Blur", decks=56, copies="2-5") %}
{% trans trimmed %}
A serious enhancement for any combat module,
the ability to deliver not one but two additional strikes is unique to {{ cel }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Psyche!", decks=52, copies="2-8") %}
{% trans trimmed
sce=link("/strategy/combat", _("Combat Ends"), _anchor="defence")
%}
The ability to start a combat anew is one of the best counter against {{ sce }} effects.
Only a few cards in the game provide this effect, so it is a real asset for {{ cel }}
combat modules.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Quickness", decks=39, copies="2-5") %}
{% trans trimmed
blur=card("Blur")
%}
Quickly rose up the ranks after its upgrade errata in 2021, this is a free additional
strike at inferior, and a non-limited one you can stack even on top or {{ blur }}
at superior.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Sideslip", decks=35, copies="1-4") %}
{% trans trimmed
pursuit=card("Pursuit"),
sideslip=card("Sideslip"),
acrobatics=card("Acrobatics")
%}
A versatile defensive tool, it is unlikely to jam a hand too much, and the dodge or the
damage prevention can save a vampire from a lethal blow. {{ pursuit }} and
{{ sideslip }} provide more options and versatility at no cost than using
{{ acrobatics }}, for example.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Flash", decks=28, copies="2-5") %}
{% trans trimmed %}
A versatile device for any combat module, providing both maneuver and press as needed.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Side Strike", decks=26, copies="1-4") %}
{% trans trimmed
pursuit=card("Pursuit"),
blur=card("Blur")
%}
A versatile combat tool, it can be either defensive or offensive depending on the situation.
Although not as powerful as {{ pursuit }} or {{ blur }}, it is yet another source of additional strikes,
with a defensive twist.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Flurry of Action", decks=23, copies="4-7") %}
{% trans trimmed
the_unnamed=link("/archetypes/the-unnamed")
%}
A nice bleed action, played when the unlock is useful, typically in {{ the_unnamed }}
or <em>Inner Circle</em> decks, but the option to cycle a couple of cards can also come in handy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Scalpel Tongue", decks=22, copies="1-3") %}
{% trans trimmed bewitching_oration=card("Bewitching Oration") %}
A great votes enhancer, working both as a modifier or as a reaction.
As a defense, it can nullify other vote enhancers like {{ bewitching_oration }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Infernal Pursuit", decks=20, copies="3-7") %}
{% trans trimmed ashur_tablets=card("Ashur Tablets") %}
A superb cards cycling device at superior {{ CEL }}. Often seen alongside {{ ashur_tablets }},
it requires a heavy combat module to shine.
{% endtrans %}
{% endcall %}

{% endblock %}