{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ dom }} {{ _("Dominate") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ dom }} is the most played discipline of the game. It provides an excellent
        bleed module, good bloat and the best bounce in the game.
        <strong>More than a third</strong> of winning decks use this discipline.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Deflection", decks=880, copies="3-8") %}
{% trans trimmed %}
It is the best bounce of the game. At superior {{ DOM }}, it can be chained multiple
times by the same vampire, an incredibly effective defence against even the most severe
bleed constructs.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Conditioning", decks=649, copies="2-6") %}
{% trans trimmed govern_the_unaligned=card("Govern the Unaligned") %}
It is the best bleed modifier of the game, and can be associated with
{{ govern_the_unaligned }} for a 6-pool bleed. The ability to use this modifier only
after blocks have been declined makes it superior to bleed actions. The 1 blood cost is
a bargain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Govern the Unaligned", decks=641, copies="4-11") %}
{% trans trimmed %}
An incredibly versatile tool, it helps getting more vampires out for cheap in the
beginning of the game, and provides an excruciating bleed later on.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Bonding", decks=259, copies="1-5") %}
{% trans trimmed conditioning=card("Conditioning") %}
Clearly it dos not have the same impact as {{ conditioning }} in terms of pool damage,
but the +1 stealth is invaluable for decks with no alternative discipline for stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Seduction", decks=258, copies="2-6") %}
{% trans trimmed %}
An excellent block denial modifier. Well targeted, it can be enough to get a bleed
through unopposed. Combined with another block denial modifier, it allows for a pure
block denial module that can be used to get actions through without even bothering to
use stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Foreshadowing Destruction", decks=229, copies="1-3") %}
{% trans trimmed
conditioning=card("Conditioning"),
direct_intervention=card("Direct Intervention")
%}
An excellent lunge device, it has the same pool damage as a {{ conditioning }} at no
cost, provided the prey is low enough in pool. Having both modifiers in hand can also
be a good way to get around a {{ direct_intervention }}, as the modifier countered this
way cannot be played again during the same action, but the other can.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Redirection", decks=173, copies="1-4") %}
{% trans trimmed deflection=card("Deflection") %}
An alternative to {{ deflection }} at no cost, it is only used when {{ DOM }} is
vastly prevalent in the crypt. Even then, {{ deflection }} is still often preferred
because it can be chained multiple times as the minion does not lock.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Far Mastery", decks=138, copies="1-2") %}
{% trans trimmed %}
An excellent action to get rid of cumbersome retainers and, more importantly, allies.
The 1 blood cost is a bargain.
{% endtrans %}
{% endcall %}

{% endblock %}
