{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ for }} {{ _("Fortitude") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ for }} provides damage prevention and additional actions.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Freak Drive", decks=148, copies="3-9") %}
{% trans trimmed
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB"),
forced_march=card("Forced March")
%}
By far the most played {{ for }} card, this is a straight-up {{ a_b }} enhancer.
The 1 blood cost is a bargain, although vampires with access to {{ cel }} can use
the cheaper {{ forced_march }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rolling with the Punches", decks=58, copies="2-6") %}
{% trans trimmed %}
The best damage prevention of the game: its inferior version is easy to use and the
superior version is efficient against high damage, additional strikes and aggravated
damage all the same.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Daring the Dawn", decks=53, copies="1-3") %}
{% trans trimmed %}
An efficient block denial. It is a good tool to deliver a finishing blow
when no good stealth discipline is available, even with such a drawback.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Hidden Strength", decks=53, copies="3-6") %}
{% trans trimmed
taste_of_vitae=card("Taste of Vitae"),
disarm=card("Disarm")
%}
An excellent damage prevention at inferior {{ for }}: it is easy to use and will not jam
a hand, plus it prevents aggravated and defuses {{ taste_of_vitae }} as well as
{{ disarm }}. The optional press at superior {{ for }} can also come in handy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Unflinching Persistence", decks=26, copies="2-6") %}
{% trans trimmed %}
A good damage prevention at no cost, it is mostly included for its optional maneuver,
a great way to provide some range control without risking jamming the hand too much.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Indomitability", decks=25, copies="2-5") %}
{% trans trimmed hidden_strength=card("Hidden Strength") %}
A good damage prevention at no cost, easy to use with a useful optional press.
Contrary to {{ hidden_strength }}, its press can be used even if the opponent inflicts
no damage, for example if he uses a maneuver to try to avoid damage.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Skin of Steel", decks=98, copies="1-5") %}
{% trans trimmed rolling_with_the_punches=card("Rolling with the Punches") %}
Not as proficient as {{ rolling_with_the_punches }}, it is used in decks where {{ for }}
is more common than {{ FOR }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Superior Mettle", decks=19, copies="1-4") %}
{% trans trimmed
rolling_with_the_punches=card("Rolling with the Punches")
%}
A bit less impactful than {{ rolling_with_the_punches }}, it is appreciated by vampires
who have only access to inferior Fortitude {{ for }}, or those expecting multi-rounds
combats.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Kiss of Ra", decks=16, copies="1-2") %}
{% trans trimmed %}
A costly modifier, but potentially destructive. Often seen in bleed or vote decks with
low stealth.
{% endtrans %}
{% endcall %}

{% endblock %}