{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ obf }} {{ _("Obfuscate") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ obf }} provides the best stealth in the game, as its name suggests.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Lost in Crowds", decks=484, copies="2-6") %}
{% trans trimmed %}
The best stealth money can buy, played in almost all {{ obf }} constructs.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Elder Impersonation", decks=419, copies="2-4") %}
{% trans trimmed %}
This block denial modifier comes in very handy against a single minion. It works against
all minions and vampires and can bypass even high levels of stacked intercept.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Faceless Night", decks=406, copies="2-4") %}
{% trans trimmed %}
A single unlocked minion can be hard to get around if multiple actions are in order.
This is an excellent tool in this case as it locks the defending minion on the first
block failure.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Swallowed by the Night", decks=382, copies="1-5") %}
{% trans trimmed %}
A versatile stealth modifier, the maneuver option comes in handy, either to assist a
combat module, avoid combat damage, or just avoid jamming the hand with unrequired
stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Cloak the Gathering", decks=329, copies="1-5") %}
{% trans trimmed %}
An additional source of stealth that becomes an excellent tool when some minions do not
have {{ obf }}. It can also be stacked, by the vampire doing the action himself, then by
another vampire with {{ OBF }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Spying Mission", decks=255, copies="1-4") %}
{% trans trimmed %}
An additional stealth modifier to stack over the most widespread ones, it is also a
counter against bounces: it allows one to aoivd dealing pool damage to an ally when a
bleed is bounced.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Forgotten Labyrinth", decks=238, copies="2-5") %}
{% trans trimmed %}
Especially useful in decks with a political module, it gives such a very high bonus to
undirected actions. Its uselessness for directed actions still makes it absent from a
lot of {{ obf }} modules.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Veil the Legions", decks=200, copies="1-4") %}
{% trans trimmed cloak_the_gathering=card("Cloak the Gathering") %}
Less widely used than {{ cloak_the_gathering }} because it requires a sidekick , its
efficiency increases in decks with many minions: a vampire with {{ OBF }} can give
+1 stealth to multiple consecutive actions, a nice setup for a lunge move.
{% endtrans %}
{% endcall %}

{% endblock %}
