{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ _("Politial actions") }}</h1>

{% call layout.card_column("Kine Resources Contested", decks=425, copies="2-9") %}
{% trans trimmed %}
The damage-dealing vote <em>par excellence</em>. It does not depend on the table
conditions and delivers a steady 3 pool blow to the prey. Often played in multiple
copies in vote decks, it is key in finishing a table as it is the most certain way to
deal pool damage in a duel or a three-way.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Banishment", decks=325, copies="1-3") %}
{% trans trimmed %}
A very powerful vote when using big capacity vampires. It will cost time and pool to the
target, most likely the prey or predator, but it can target anyone on the table, making
it a nice tool for table control and negociations.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Reins of Power", decks=277, copies="1") %}
{% trans trimmed %}
A serious damage dealer when playing a 10 or 11 capacity vampire. Only one copy is
included but, with the right crypt, it is one of the strongest damage dealing votes.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ancient Influence", decks=250, copies="1") %}
{% trans trimmed reins_of_power=card("Reins of Power") %}
A customary companion to {{ reins_of_power }}, it is a good bloat device
(for 5 or 6 pool), but may have to be discarded if the prey has big capacity vampires.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Political Stranglehold", decks=235, copies="1") %}
{% trans trimmed
reins_of_power=card("Reins of Power"),
ancient_influence=card("Ancient Influence")
%}
Completing the triptych alongside {{ reins_of_power }} and {{ ancient_influence }}, it
is a good bloat device if one plans to get two or more big capacity vampires into play.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Anarchist Uprising", decks=212, copies="1") %}
{% trans trimmed ancilla_empowerment=card("Ancilla Empowerment") %}
Almost always played alongside {{ ancilla_empowerment }}, it is a decisive tool against
weenie and breed decks. Depending on the situation, it can take a whole table down in a
single strike.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ancilla Empowerment", decks=202, copies="1") %}
{% trans trimmed
anarchist_uprising=card("Anarchist Uprising"),
delaying_tactics=card("Delaying Tactics")
%}
Almost always played along {{ anarchist_uprising }}, it has the same effect. Having both
can make a {{ delaying_tactics }} fizzle, so why not.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Neonate Breach", decks=138, copies="1-2") %}
{% trans trimmed
kine_resources_contested=card("Kine Resources Contested"),
delaying_tactics=card("Delaying Tactics")
%}
Although not as certain as {{ kine_resources_contested }}, it will work against most
decks and it adds a little bit of variety to address the {{ delaying_tactics }} problem.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Consanguineous Boon", decks=107, copies="2-8") %}
{% trans trimmed %}
Although only worth it in breed decks, its bloat power is tremendous in this case.
Political breed decks can usually get away with not defence at all, relying on this
bloat device alone to survive even the most hard pressing predators.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Conservative Agitation", decks=98, copies="1-4") %}
{% trans trimmed
kine_resources_contested=card("Kine Resources Contested"),
delaying_tactics=card("Delaying Tactics")
%}
A strong damage dealing vote in the beginning, it becomes frail in the end game once
some players have been ousted. Still a solid alternative to add variety over
{{ kine_resources_contested }} and dilute a potential {{ delaying_tactics }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Domain Challenge", decks=85, copies="1-2") %}
{% trans trimmed
anarchist_uprising=card("Anarchist Uprising"),
ancilla_empowerment=card("Ancilla Empowerment")
%}
A strong damage dealing vote against builds with many minions, it does offer a little
bit more control than {{ anarchist_uprising }} and {{ ancilla_empowerment }}, but will
deal less damage. An option often favored by breed constructs themselves.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Disputed Territory", decks=82, copies="1-2") %}
{% trans trimmed %}
Although less common than pool-related votes, it gets often included as many locations
can be worth the action to steal them. Of course, its efficency depends solely on the
environment.
{% endtrans %}
{% endcall %}

{% endblock %}
