{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ pot }} {{ _("Potence") }}</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ pot }} provides an excellent combat module.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Immortal Grapple", decks=76, copies="5-10") %}
{% trans trimmed %}
One of the few combat cards that can counter <em>combat ends</em>, it also prevents the
use of weapons and dodges. At {{ POT }}, it even gives a press, which can be useful
offensively as well as defensively.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Disarm", decks=39, copies="1-4") %}
{% trans trimmed %}
Given the damage potential of {{ pot }}, it can be used after a round of combat more
often than not. When combined with {{ cel }} additional strikes or {{ for }} prevention,
it allows to defeat even the most powerful combattants.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Torn Signpost", decks=35, copies="4-9") %}
{% trans trimmed %}
The bread and butter of a majority of {{ pot }} combat modules, it provides +2 damage
at no cost and combines well with additional strikes and presses.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Roundhouse", decks=27, copies="2-7") %}
{% trans trimmed %}
Though relatively new, having been released in 2020, it is the base hand strike for Potence {{ pot }}.
3 additional damage points at no cost, this is a no-brainer.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Heroic Might", decks=19, copies="1-2") %}
{% trans trimmed preternatural_strength=card("Preternatural Strength") %}
A stronger but more expensive version of {{ preternatural_strength }}, that can also
mitigate the issue of ranged combat modules. Depending on the deck, one or the other
might be better.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Iron Glare", decks=17, copies="1-4") %}
{% trans trimmed
aire_of_elation=card("Aire of Elation")
%}
A bleed modifier available to {{ POT }}{{ PRE }} decks. It is better than
{{ aire_of_elation }} for non-Toreador {{ toreador }} decks, as it does not
cost a blood. The alternate use for some votes at inferior can come in handy if the deck
has some political actions.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Preternatural Strength", decks=16, copies="1-3") %}
{% trans trimmed torn_signpost=card("Torn Signpost") %}
A nice alternative to {{ torn_signpost }} when one want to save some card slots in a
deck. As it is an action though, it can always be blocked.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Thrown Sewer Lid", decks=14, copies="1-3") %}
{% trans trimmed sniper_rifle=card("Sniper Rifle") %}
An excellent long range strike, it can also be used as an alternative against long range
combat modules. In this case however, not too many copies can be included as it can jam
the hand. The press at superior {{ POT }} is a nice plus, especially against a crippling
{{ sniper_rifle }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Slam", decks=13, copies="1-5") %}
{% trans trimmed %}
A good strike by itself, the maneuver is useful for pure {{ pot }} modules that do not
have better options for maneuvers.
{% endtrans %}
{% endcall %}

{% endblock %}