{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ pre }} Presence</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        {{ pre }} is a versatile discipline. It provides a strong bleed,
        a defensive combat module with <em>Strike: combat ends</em> and good
        modifiers for votes.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Entrancement", decks=150, copies="1-3") %}
{% trans trimmed far_mastery=card("Far Mastery") %}
A versatile action. Included for its dreadful superior {{ PRE }} effect that can steal a
powerful ally, its simple bleed action at inferior {{ pre }} makes it far more flexible
than {{ dom }} {{ far_mastery }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Majesty", decks=149, copies="3-7") %}
{% trans trimmed
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB")
%}
The most played <em>combat ends</em> of {{ pre }}, the unlock effect as superior
{{ PRE }} is an excellent asset and augments {{ a_b }}, both offensively and
defensively.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Voter Captivation", decks=102, copies="3-7") %}
{% trans trimmed minion_tap=card("Minion Tap") %}
A powerful bloat for vote oriented decks. With enough votes on the table, it can
resplenish a vampire easily and make it ready for another {{ minion_tap }} and
constitues a formidable defense.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Perfect Paragon", decks=72, copies="1-4") %}
{% trans trimmed %}
A versatile tool for big capacity vote decks:
more votes or a good modifier to help get an action through.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Enchant Kindred", decks=55, copies="2-8") %}
{% trans trimmed govern_the_unaligned=card("Govern the Unaligned") %}
A weaker version of the popular {{ dom }} {{ govern_the_unaligned }}, it has the same
advantages: a good accelerator in the beginning to get more vampires out cheaply, a nice
bleed action later on.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Aire of Elation", decks=54, copies="2-5") %}
{% trans trimmed
conditioning=card("Conditioning")
%}
The best bleed modifier of {{ pre }}, it is inferior to {{ dom }} {{ conditioning }},
except for Toreador {{ toreador }}. Still, such a strong bleed modifier is
worth it for decks with no access to {{ dom }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Enchanting Gaze", decks=49, copies="3-6") %}
{% trans trimmed
the_platinum_protocol=card("The Platinum Protocol"),
the_unnamed=card("The unnamed"),
viktor_the_night_general=card("Viktor, The Night General"),
adana_de_sforza=card("Adana de Sforza")
%}
A great stealth tool, especially when combined with {{ the_platinum_protocol }}
to put som corruption counters down in the first place. It is, of course, a favorite
for Ministry {{ ministry }}, but some other stars field it too, like {{ the_unnamed }},
{{ viktor_the_night_general }} or {{ adana_de_sforza }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Revelation of the Serpent", decks=48, copies="4-11") %}
{% trans trimmed
the_platinum_protocol=card("The Platinum Protocol"),
enchanting_gaze=card("Enchanting Gaze"),
bonding=card("Bonding")
%}
Often paired with {{ enchanting_gaze }} and, of course, {{ the_platinum_protocol }}
for Anarchs, it's a Ministry {{ ministry }} favorite on par with {{ bonding }}.
Any {{ PRE }}{{ PRO }} deck can easily include a few of those.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Awe", decks=42, copies="1-5") %}
{% trans trimmed
bewitching_oration=card("Bewitching Oration"),
voter_captivation=card("Voter Captivation")
%}
A bit more expensive than {{ bewitching_oration }}, it gives a better guarantee to be
able to get a vote through and its cost can be mitigated if paired with
{{ voter_captivation }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Bewitching Oration", decks=41, copies="2-4") %}
{% trans trimmed %}
One of the best vote modifier of the game with 4 votes at no cost at superior {{ PRE }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Force of Personality", decks=28, copies="1-4") %}
{% trans trimmed %}
An interesting strike: combat ends because it can be cycled easily if not needed,
and also help some actions to go through occasionally.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Heart of the City", decks=24, copies="1-2") %}
{% trans trimmed pulse_of_the_canaille=card("Pulse of the Canaille") %}
A solid permanent bleed enhancer. The cost is reasonable, lower than the comparable
{{ pulse_of_the_canaille }}.
{% endtrans %}
{% endcall %}

{% endblock %}