{% macro declining() -%}
<p>
    {% trans trimmed
        meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta"))
    %}
    This archetype has been historically successful but did not register significant wins since the latest expansions:
    it might be less relevant today depending on your {{ meta }}.
    {% endtrans %}
</p>
{%- endmacro %}

{% macro pentextmsubversion( solution = "remove" ) -%}
<p>
    {% trans trimmed
        pentex=card('Pentex™ Subversion')
    %}
    {{ pentex }} has been modified by an <em>errata</em> in September 2019.
    It does not prevent a vampire to act anymore, so it is less powerful
    {% endtrans %}
    {% if solution == 'remove' %}
    {{ _('and should probably not be included in the deck anymore.') }}
    {% elif solution == 'undecided' %}
    {{ _('. Its ability to disable a strong blocker is still an important aspect so it can have its place here.') }}
    {% else %}
    {{ _('but still has its place in the deck, as it was mainly used as a way to disable a blocker anyway.') }}
    {% endif %}
</p>
{%- endmacro %}

{% macro ashur( solution = "adjust" ) -%}
<p>
    {% trans trimmed
        ashur_tablets=card('Ashur Tablets')
    %}
    {{ ashur_tablets }} has been modified by an <em>errata</em> in February 2024.
    Only one can be played per turn now,
    {% endtrans %}
    {% if solution == 'adjust' %}
    {{ _('so less copies should be included, and the deck is markedly less powerful.') }}
    {% elif solution == 'undecided' %}
    {{ _('but how much impact it does have on that deck is unclear.') }}
    {% else %}
    {{ _('but that should not change much in this deck.') }}
    {% endif %}
</p>
{%- endmacro %}

{% macro emerald( solution = "adjust" ) -%}
<p>
    {% trans trimmed
        emerald_legionnaire=card('Emeral Leegionnaire')
    %}
    {{ emerald_legionnaire }} has been modified by an <em>errata</em> in February 2024.
    Their ability can only be triggered with enough Harbingers {{ harbinger_of_skulls }},
    {% endtrans %}
    {% if solution == 'adjust' %}
    {{ _('which makes them, and this deck, markedly less powerful.') }}
    {% elif solution == 'undecided' %}
    {{ _('but how much impact it does have in nthis deck is unclear.') }}
    {% else %}
    {{ _('but that should not change much in this deck.') }}
    {% endif %}
</p>
{%- endmacro %}

{% macro villein() -%}
<p>
    {% trans trimmed
        villein=card('Villein')
    %}
    {{ villein }} has been modified by an errata in June 2018 to limit the blood taken
    to a maximum of 5. It should still be as efficient as ever in this archetype, though.
    {% endtrans %}
</p>
{%- endmacro %}

{% macro parityshift() -%}
<p>
    {% trans trimmed
        parity_shift=card('Parity Shift')
    %}
    {{ parity_shift }} has been modified in the September 2019 <em>errata</em>.
    The amount of pool is no longer equal to the number of Methusalah, but is stable at 3.
    The card is then less powerful in the game beginning, but is still a good fit in this deck.
    {% endtrans %}
</p>
{%- endmacro %}

{% macro antheliostheredstar() -%}
<p>
    {% trans trimmed
        anthelios=card('Anthelios, The Red Star')
    %}
    {{ anthelios }} has been banned in 2016.
    Its removal may have a bit of impact on the Master module.
    {% endtrans %}
</p>
{%- endmacro %}

{% macro lilithsblessing() -%}
<p>
    {% trans trimmed
        liliths_blessing=card("Lilith's Blessing")
    %}
    {{ liliths_blessing }} has been banned in 2016.
    {% endtrans %}
</p>
{%- endmacro %}

{% macro temptationofgreaterpower() -%}
<p>
    {% trans trimmed
        temptation_of_greater_power=card('Temptation of Greater Power')
    %}
    {{ temptation_of_greater_power }} has been banned in 2016.
    {% endtrans %}
</p>
{%- endmacro %}
