{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/decklist.js') }}"></script>
{% endblock %}

{% block content %}
{% block archetype_name %}{% endblock %}
<div id="decklist" class="decklist" style="display: none">
	<h2 id="deck-name"><a id="deck-link" target="_blank"></a></h2>
	<a class="hyperlink-button vdb-color" id="vdb-button" target="_blank" rel="external">
		<img src="https://vdb.im/favicon.ico">
		{{ _('VDB') }}
	</a>
	<p class="subtitle" id="deck-header"></p>
	<h3 id="crypt-header"></h3>
	<ul id="crypt-list">
	</ul>
	<h3 id="library-header"></h3>
	<ul id="library-list">
	</ul>
</div>
{% block archetype %}{% endblock %}
{% block errata %}{% endblock %}
{% endblock %}