{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/black-hand.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">Black Hand</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
    blood_awakening=card("Blood Awakening"),
    break_the_code=card("Break the Code"),
    elimelech_the_twice_damned=card("Elimelech the Twice Damned"),
    kindred_spirits=card("Kindred Spirits"),
    loss=card("Loss"),
    no_trace=card("No Trace"),
    recruitment_exercise=card("Recruitment Exercise"),
    reunion_kamut=card("Reunion Kamut"),
    seraphs_second=card("Seraph's Second"),
    tattoo_signal=card("Tattoo Signal"),
    the_art_of_memory=card("The Art of Memory"),
    the_fourth_cycle=card("The Fourth Cycle"),
    truth_in_ink=card("Truth in Ink"),
    watchtower_the_wolves_feed=card("Watchtower: The Wolves Feed"),
    a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB"),
    mark_loughmans_deck=link("/deck-search", _("Mark Loughman's deck"), twda_id="2018ot2co"),
    carlo_danieles_deck=link("/deck-search", _("Carlo Daniele's deck"), twda_id="2019nbbi")
%}
<h2>Highlights</h2>
<p>
    This is a <em>stealth & bleed</em> deck using
    {{ reunion_kamut }} and {{ recruitment_exercise }} to get more vampires out fast and cheap.
    Bleed is done using {{ loss }}, with {{ obf }} modifiers for stealth.
</p>
<p>
    Black Hand Seraphs have acces to the {{ a_b }} enhancers {{ tattoo_signal }} and
    {{ seraphs_second }}, allowing the same vampire to run both bloat and bleed actions in a single turn.
</p>
<p>
    {{ watchtower_the_wolves_feed }} hits the table at some point to improve bleed power,
    after an innocuous Gehenna card like {{ break_the_code }} has been played.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ the_art_of_memory }} is a versatile modifier and provides a bit of recursion.
    It can be used to get a {{ loss }}, {{ seraphs_second }} or {{ reunion_kamut }} back,
    depending on the hand.
</p>
<p>
    {{ blood_awakening }} can be used to improve stealth or to intercept a key action,
    depending on the context.
</p>
<p>
    The deck should avoid combat until {{ watchtower_the_wolves_feed }} hits the table,
    as it has nothing else to help combat.
</p>
<p>
    {{ the_fourth_cycle }} is used as a last resort safety line to avoid dying from
    {{ watchtower_the_wolves_feed }} if too many Gehenna cards hit the table.
</p>
<h2>Variants</h2>
<p>
    The Assamite version as given in example is the most common.
    {{ truth_in_ink }} can be added along some wakes for bleed defence
    and {{ no_trace }} for combat ends.
</p>
<p>
    A common variation uses a mid capacity multi-clan Black Hand crypt with {{ dom }}.
    It looses the {{ obf }} stealth but can be more toolboxy and even include a decent combat module.
    {{ mark_loughmans_deck }} from 2018 is a recent example.
</p>
<p>
    {{ elimelech_the_twice_damned }} can be the star of a similar construct using
    {{ AUS }} and even {{ DEM }} atop {{ obf }}. It looses the access to {{ loss }}
    but gets bounces with {{ AUS }} and can even get {{ kindred_spirits }} if {{ DEM }}
    is present enough in the crypt. {{ carlo_danieles_deck }} from 2019 is a recent example.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
