{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/council-of-doom.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>Council of Doom</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>stealth vote & bleed</em> deck using
    <strong>M</strong>ulti <strong>M</strong>aster <strong>P</strong>hase <strong>A</strong>ctions (MMPA).
    It uses {{ card("Huitzilopochtli") }},
    {{ card("The Parthenon") }} and
    {{ card("Rumors of Gehenna") }} to get more Master actions,
    then
    {{ card("Villein") }}
    and
    {{ card("Information Highway") }} to get big capacity
    vampires into play fast and cheap.
</p>
<p>
    {{ card("Ashur Tablets") }} and
    {{ card("Liquidation") }} are used to bloat and get some recursion to
    adapt the deck content to the table context for maximum efficiency.
</p>
<p>
    The deck delivers bool damage from stealthed naked bleeds from the <em>Inner Circle</em>
    {{ card("Arika") }} and
    {{ card("Leandro") }}, and also damage-dealing votes.
</p>
<p>
    {{ card("Majesty") }} is used for combat protection,
    {{ card("Deflection") }} to bounce bleeds and
    <i>O</i> for high stealth using
    {{ card("Into Thin Air") }} and
    {{ card("Elder Impersonation") }}.
</p>
<h2>Tips & Tricks</h2>
<p>
    If drawn, getting
    {{ card("Huitzilopochtli") }} into play first for more
    Master actions is best.
</p>
<p>
    This is an old archetype (hence the example deck name), and this version uses many cards since banned:
    {{ card("Anthelios, The Red Star") }},
    {{ card("Temptation of Greater Power") }} and
    {{ card("Lilith's Blessing") }}.
    No doubt removing them makes the deck less efficient, and modifications would have to be made.
</p>
<h2>Variants</h2>
<p>
    No variant of this deck exist <em>per se</em>, although one could argue
    that the {{ link("/archetypes/girls-will-find-inner-circle", _("Girls Will Find Inner Circle")) }} archetype
    is a more or less direct heir to this archetype.
</p>
<p>
    Many minor variations on the crypt or minion cards exist.
    Including {{ card("Etrius") }},
    {{ card("Obedience") }} for combat defence,
    {{ card("Zillah's Valley") }} for crypt acceleration,
    some <i>d</i> bleed enhancers like {{ card("Conditioning") }} or
    {{ card("Carlton Van Wyk") }} for defence, are quite usual.
    {{ link("/deck-search", _("Ruben Feldman's deck"), twda_id="2k9lvmq") }} from 2009 is a good example.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
</div>
{% endblock %}
