{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/emerald-legion.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-harbingers.svg') }}"> Emerald Legion</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>allies toolbox</em> deck using
    {{ card("Emerald Legionnaire") }}.
</p>
<p>
    This version uses {{ card("Erlik") }} as a star: his ability
    let the player get another Harbinger out fast and cheap. The fact that he has <i>C</i> let him use
    the excellent {{ card("Forced March") }} for stealth and unlock.
</p>
<p>
    The idea is to defend and get an
    {{ card("Emerald Legionnaire") }} out,
    then bring the others back from the ash heap if they are there.
    Once {{ card("The Unmasking") }} and
    {{ card("FBI Special Affairs Division") }}
    hit the table, they're a solid defence.
</p>
<p>
    {{ card("Liquidation") }} is used to bloat and can put some
    {{ card("Emerald Legionnaire") }} but also the cards
    to power their ability in the ash heap.
</p>
<p>
    As the game progresses,
    {{ card("Emerald Legionnaire") }} are used to bleed.
    {{ card("Vengeful Spirit") }} helps to boost
    the Harbinger bleeds, too.
    {{ card("Inevitability of the Void") }} is used to lunge.
</p>
<h2>Tips & Tricks</h2>
<p>
    To be able to use their ability,
    an {{ card("Emerald Legionnaire") }} must be put into play
    by recruiting it: the ones in the ash heap can not have their effect used — their card text is ignored as long
    as they are in the ash heap. In order to manage to get at least one into play, the deck packs quite a bit of
    stealth, and uses recruitment specialized modifiers like
    {{ card("Shroud Mastery") }} and
    {{ card("Breath of Thanatos") }}.
</p>
<p>
    A key feature of this deck is the versatility of its cards:
    {{ card("Spectral Divination") }} can be used for stealth or
    intercept,
    {{ card("Breath of Thanatos") }} for stealth or a deadly strike,
    and so on.
</p>
<p>
    The deck has quite a bit of intercept, but nothing close to what a <em>wall</em> construct can display.
    It will be happy enough to redirect the bleed with <i>A</i> bounces if given the chance.
</p>
<h2>Variants</h2>
<p>
    A variant uses {{ card("The Capuchin") }} as star,
    {{ link("/deck-search", _("Richard Stefan Utner's deck"), twda_id="2019gbzzc") }} from 2019
    is a good example of it.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
</div>
{% endblock %}
