{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/hunters.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/creed-visionary.svg') }}"> Hunters</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> Imbued deck. They are mortal allies and follow
    <a href="http://www.vekn.net/rulebook/appendix-imbued-rules">specific rules</a>.
    They use <em>Conviction</em> and <em>Power</em> cards.
</p>
<p>
    The idea of the deck is to get some Imbued out,
    {{ card("Jennie") }} first if she's drawn,
    then equip them with weapons and armors to be able to hunt and take down vampires around the table.
    {{ card("Angel of Berlin") }} and
    {{ card("NRA PAC") }} are used to help equip them quickly.
</p>
<p>
    As the game progresses, <em>Powers</em> make the Imbued more powerful.
    {{ card("Vigilance") }} is the most important, as it enhances
    {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }} a lot.
    {{ card("Champion") }} and
    {{ card("Discern") }} help bump up the defence.
</p>
<p>
    {{ card("Talbot's Chainsaw") }} is the key here,
    as its rush ability combined with its damage is very potent, and its disadvantage can be mitigated by
    {{ card("Rejuvenate") }} and
    {{ card("Jennie") }}'s ability
</p>
<p>
    Finally, {{ card("Travis") }},
    {{ card("The Church of Vindicated Faith") }} and
    {{ card("Inspire") }} are used to bloat and accelerate the crypt.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("React with Conviction") }} is always the first
    <em>Conviction</em> an Imbued should fetch when he comes into play, as it protects them against
    anti-ally actions like {{ card("Entrancement") }}.
</p>
<p>
    {{ card("Smiling Jack, The Anarch") }},
    {{ card("Tension in the Ranks") }} and
    {{ card("Dragonbound") }} can improve pool damage a bit,
    but most damage come from bleed using
    {{ card("Strike with Conviction") }}.
    If the bleed action of
    {{ card("Strike with Conviction") }} is blocked,
    the <em>Conviction</em> is not lost, as its burn effect is the <em>cost</em> of the action, only payed
    if it is successul. It can then be used as a strike during the follow-up combat.
</p>
<h2>Variants</h2>
<p>
    Decks in this archetype use different weapons and combat modules: the use of
    {{ card("Talbot's Chainsaw") }} is rare.
    {{ card("Target Vitals") }} is a common inclusion,
    and {{ card("Sniper Rifle") }} is a more common weapon, as in
    {{ link("/deck-search", _("Cory Busch Kendall's deck"), twda_id="2010reunionkamutco") }} from 2010.
</p>
<p>
    The <strong>Paralyze</strong> variant uses the
    {{ card("Concealed Weapon") }} &
    {{ card("Flash Grenade") }} combination and has been played by
    {{ link("/deck-search", _("John Newquist in a 2008 NAC Qualifier"), twda_id="2k8originsnaq") }}.
</p>
<p>
    The <strong>Apocalypse</strong> variant include more <em>Gehenna</em> events to cripple vampires
    around the table, as Imbued stay immuned to their effects.
    {{ link("/deck-search", _("Sergio Gracia's deck"), twda_id="2010famousims") }} from 2010 is a good example.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
</div>
{% endblock %}
