{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}
{% block head %}
{{ super() }}
<!-- Adding needed scripts -->
<!-- No needed script -->
{% endblock %}

{% block content %}
<h1 id="archetypes">{{ _('Archetypes') }}</h1>
{{ sponsor }}
{% trans trimmed
twda=external("http://www.vekn.fr/decks/twd.htm", "Tournament Winning Deck Archive (TWDA)")
%}
<h2>Top Tier</h2>
<p>
	Here is a list of the best <strong>Vampire: the Eternal Struggle</strong> deck archetypes.
	Every archetype is presented with {{ twda }} deck list examples, main variations, and a play guide.
</p>
<p>
	Only archetypes having proven themselves against at least 20 players twice in the last 3 years are taken into
	account,
	and only if one of these wins is a Continental Championship or if they have at least a third win.
	Example decklists are the most recent Continental Championship win, National win otherwise, or just the latest win.
	Decks relying heavily on mechanics that have since been errated are not included.
</p>
<p>
	The starred ⭐️ archetypes have score over 50% more wins than any other: they can be considered
	as the current "top dogs".
</p>
<p>
	Please note that this list is built purely on TWDA statistics: more than a third of tournaments wins are achieved
	with unrelated decks.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link("/archetypes/brujah-resistance") }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>⭐️ {{ link('/archetypes/gangrel-thing') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/guruhi-rush') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>⭐️ {{ link('/archetypes/haqim-royalty') }}</td>
			<td>(Bruise & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/infernal-barons') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/lasombra-nocturn') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/lutz-politics') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/malk-22') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/mistress') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/nananimalism') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/platinum-revelation') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/princess-toolbox') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/stanislava') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
	</tbody>
</table>

{% trans trimmed %}
<h2>Runner-ups</h2>
<p>
	These archetypes are not currently top tier, but they have potential. They have either
	been successful in the past, or have recently gotten some victories in tournaments. Keep an eye out
	for them, tinker and experiment to reveal their full potential.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/blind-spot') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/reign-of-lasombra') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/the-unnamed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/tupdogs-nephandus') }}</td>
			<td>(Rush)</td>
		</tr>
	</tbody>
</table>

{% trans trimmed %}
<h2>New Kids</h2>
<p>
	These archetypes are new constructions that have been noticed in tournaments.
	If they make this list, it's usually because they performed, surprised, or showed potential.
</p>
<p>
	They usually have a single victory to their account, if any, but they might just need
	your personal touch or a bit of promotion to become the next big hit.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/animals') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/banu-politics') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/chameleon') }}</td>
			<td>(Combo)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/heshas-emporium') }}</td>
			<td>(Powerbleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/ravnos-break') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/salubri-powerbleed') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/savannah-salt') }}</td>
			<td>(Swarm)</td>
		</tr>
	</tbody>
</table>
{% trans trimmed
french_vekn_forum=external("http://www.vekn.fr/forum/viewforum.php?f=49", _("French VEKN Forum")),
google_drive=external("https://drive.google.com/drive/folders/0B32R3iejqMPTaXNDd2d1b01lR1k", "Google Drive"),
the_vtes_one_blog=external("https://vtesone.wordpress.com/decks/deck-archetypes/", _("the VTES One blog")),
vtes_discord=external("https://discord.gg/cafUcrDP8k", _("V:TES Discord"))
%}
<h2>Archive</h2>
<p>
	For your enjoyment, you'll find here a collection of archetypes that did not make it
	to the previous lists, but are still very much viable.
</p>
<p>
	If you know of a decklist you'd like to see included,
	please reach out on the {{ vtes_discord }}.
</p>
<p>
	You can also consult other archetypes list,
	like the « Bibliodèque »: a French project with more than a hundred decklists,
	the project history is on the {{ french_vekn_forum }}
	and the final decklists with proxies on {{ google_drive }}.
</p>
<p>
	Another list of archetypes is maintained on {{the_vtes_one_blog}}.
</p>
{% endtrans %}

<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/akunanse-toolbox') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/amaravati-politics') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/anson-guns') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/anti-ventrue-grinder') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/baltimore-purge') }}</td>
			<td>(Combo)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bima-dominate') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/black-hand') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/cats') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/council-of-doom') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/cybelotron') }}</td>
			<td>(Combo)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/daughters-politics') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/dbr') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/death-star') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/dementation-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/dmitris-big-band') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/emerald-legion') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/enkidu-multirush') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/euro-brujah') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/fear-factor') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/gentlemen-with-sticks') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/ghede-typhonic-beast') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/giovanni-powerbleed') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/girls-will-find-inner-circle') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/goratrix-high-tower') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/guillaume-real-estate') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/hunters') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/infernal-princes') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/ishtarri-politics') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/khazars-diary') }}</td>
			<td>(Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/kiasyd-stealth-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/legacy-of-pander') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/madness-reversal') }}</td>
			<td>(Special)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/malgorzata') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/malk-94') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/mind-rape') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/mmpa-politics') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/nosferatu-royalty') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/palla-grande') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/parliament-of-shadows') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/rachel-madness') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/ravnos-clown-car') }}</td>
			<td>(Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/rebekka-jost') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/renegade-assault') }}</td>
			<td>(Allies Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/samedi-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/saulot-wall') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/scout') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/shadow-court-satyrs') }}</td>
			<td>(Allies Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/shalmath-history') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/shambling-hordes') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/spell-of-life') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/spirit-marionette') }}</td>
			<td>(Lock & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/tariq-eats-the-world') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/the-bleeding-vignes') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/the-dark-side-of-politics') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/tunnel-runners') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/tzimisce-toolbox') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/war-ghouls') }}</td>
			<td>(Allies Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/weenie-aus') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/weenie-dom') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
	</tbody>
</table>
{% endblock %}