{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}

{% block head %}
{{ super() }}
<!-- Adding needed scripts -->
<!-- No needed script -->
{% endblock %}

{% block content %}
<h1 id="archetypes">{{ _('Archetypes') }}</h1>
{{ sponsor }}
{% trans trimmed
    twda=external("http://www.vekn.fr/decks/twd.htm", "Tournament Winning Deck Archive (TWDA)")
%}
<h2>Tournament Archetypes</h2>
<p>
	Here is a list of <strong>Vampire: the Eternal Struggle</strong> deck archetypes.
	Every archetype is presented with {{ twda }} deck list examples, main variations,
	and a play guide.
</p>
<p>
	Only archetypes having proven themselves against at least 25 players since 2008 are taken into account,
	with the exception of some original designs for strategic reference.
	Example decklists are the most recent ones, or the ones with a Continental Championship win.
</p>
{% endtrans %}
<div class="align-left">
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link("/archetypes/aaa") }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/akunanse-wall') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/amaravati-politics') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/anti-ventrue-grinder') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/baltimore-purge') }}</td>
				<td>(Special)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bima-dominate') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/black-hand') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/cats') }}</td>
				<td>(Wall / Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/council-of-doom') }}</td>
				<td>(Bleed & Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/cybelotron') }}</td>
				<td>(Special)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/daughters-politics') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/death-star') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/dmitris-big-band') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/emerald-legion') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/euro-brujah') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/girls-will-find-inner-circle') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/goratrix-high-tower') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/guruhi-rush') }}</td>
				<td>(Rush / Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/hunters') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/ishtarri-politics') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/jost-powerbleed') }}</td>
				<td>(Powerbleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/khazars-diary') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/kiasyd-stealth-bleed') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/lasombra-nocturn') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/lutz-politics') }}</td>
				<td>(Bleed & Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/madness-reversal') }}</td>
				<td>(Special)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/mind-rape') }}</td>
				<td>(Special)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/mistress') }}</td>
				<td>(Bleed & Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/nananimalism') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/nephandii') }}</td>
				<td>(Toolbox)</td>
			</tr>
		</tbody>
	</table>
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link('/archetypes/nosferatu-royalty') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/rachel-madness') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/ravnos-clown-car') }}</td>
				<td>(Swarm Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/renegade-assault') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/saulot-friends') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/scout') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/shambling-hordes') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/spirit-marionette') }}</td>
				<td>(Special)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/stanislava') }}</td>
				<td>(Bleed & Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/team-jacob') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/the-bleeding-vignes') }}</td>
				<td>(Powerbleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/the-dark-side-of-politics') }}</td>
				<td>(Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/the-unnamed') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/tupdogs') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/tzimisce-toolbox') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/tzimisce-wall') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/ventrue-royalty') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/war-chantry') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/war-ghouls') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/weenie-aus') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/weenie-dem') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/weenie-dom') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
		</tbody>
	</table>
</div>

{% trans trimmed
    french_vekn_forum=external("http://www.vekn.fr/forum/viewforum.php?f=49", _("French VEKN Forum")),
    google_drive=external("https://drive.google.com/drive/folders/0B32R3iejqMPTaXNDd2d1b01lR1k", "Google Drive")
%}
<h2>Bibliodèque</h2>
<p>
	The « Bibliodèque » is a French project made of more than a hundred decklists
	based on Tournament winning decklists or archetypes to help people building
	decks for their casual play or tournaments, and ultimately print those decks
	in proxy to have a library of decks available for their playgroup.
</p>
<p>
	Much thanks for the French people helping in various ways:
	<strong>TTC_master</strong> acting as lead designer, Ezra, Tim, Cordovader,
	Darkal, Stone and so on... and to the players which decks have served as basis
	for the decks presented (or were shamelessly copied directly).
</p>
<p>
	You may find the complete historic of the project in the {{ french_vekn_forum}}
	and check the final Bibliodèque with proxies on {{ google_drive }}.
</p>
{% endtrans %}

<div class="align-left">
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/419-operation') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/akunanse-classic') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/anson-grooming') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/anson-guns') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/anu-diptinatpa') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/armin-the-hammer') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/army-of-allah') }}</td>
				<td>(Swarm Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/aviary') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/ayo-igoli') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/baltimore-purge') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/better-gentlemen') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/big-cock') }}</td>
				<td>(Bruise & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/bima-dominate') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/brujah-debate') }}</td>
				<td>(Swarm Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/carna') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/carnivalesque') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/collier-of-love') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/cybele-great-beast') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/cybele-maleficia') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/daughters') }}</td>
				<td>(Swarm Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/death-seekers') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/dekox-ultimus') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/dominarium') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/dragons-breath-rounds') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/emerald-legionnaire') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/enkidu-multirush') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/euro-brujah') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/extreme-violence') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/family-business') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/fat-usurper') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/fear-factor') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/fear-of-the-dard') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/first-tradition') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/frosties-gogo') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/ghede-typhonic-beast') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/girls-immortal-grapple') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/girls-will-find-inner-circle') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/guillaume-giovanni') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/hakuna-matata') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/hewhoshallnotbenamed') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/hermanas') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/howler-friends') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/imbued') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/isabel-boys') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/kiev-circle') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/knaves-revenge') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/koudeta') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/legacy-of-pander') }}</td>
				<td>(Swarm Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/lorrie-superstar') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/lutzs-coopt') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/malgorzata-friends') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/malkavian-royalty') }}</td>
				<td>(Vote)</td>
			</tr>
		</tbody>
	</table>
	<table class="wide-column">
		<tbody>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/matasuntha') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/meat-shields') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/midcap-dem') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/miller-delmo') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/mono-valeren') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/muricia-friends') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/nagagrinder') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/nakhtoreb') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/nephandii') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/no-secret-box-of-tools') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/nosferatu-royalty') }}</td>
				<td>(Toolbox)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/nuriel') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/order-66') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/ozmo-94') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/palla-grande') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/piper-war-ghoul') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/red-army') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/reversal') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/richter-friends') }}</td>
				<td>(Bruise & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/rock-cats') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/sarrasine-velvet-tongue') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/seraphs-ambitions') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/shas-trio') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/shadow-court-satyrs') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/slaughtermanship') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/spell-of-life') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/spirit-marionette') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/stanislava') }}</td>
				<td>(Bleed & Politics)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/storia-di-buratino') }}</td>
				<td>(Lock & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/summon-a-shal') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/tariq-eats-the-world') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/tongue-of-the-serpent') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/torchon-brulant') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/trap-horrid') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/trapappa') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/tuna-tunnel') }}</td>
				<td>(Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/tunnel-runners') }}</td>
				<td>(Allies)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/tupdogs') }}</td>
				<td>(Rush)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/turbo-sensory') }}</td>
				<td>(Other)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/ublos-harem') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/una-circus') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/unmada-crescendo') }}</td>
				<td>(Star)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/unacceptable-boon') }}</td>
				<td>(Swarm Vote)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/warding-pan') }}</td>
				<td>(Stealth & Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/weenie-ani') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/weenie-aus') }}</td>
				<td>(Wall)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/weenie-dem') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/weenie-pre') }}</td>
				<td>(Swarm Bleed)</td>
			</tr>
			<tr>
				<td>{{ link('/archetypes/bibliodeque/weenie-vic') }}</td>
				<td>(Bruise & Bleed)</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}
