{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}
{% block head %}
{{ super() }}
<!-- Adding needed scripts -->
<!-- No needed script -->
{% endblock %}

{% block content %}
<h1 id="archetypes">{{ _('Archetypes') }}</h1>
{{ sponsor }}
{% trans trimmed
twda=external("http://www.vekn.fr/decks/twd.htm", "Tournament Winning Deck Archive (TWDA)")
%}
<h2>Top Tier</h2>
<p>
	Here is a list of the best <strong>Vampire: the Eternal Struggle</strong> deck archetypes.
	Every archetype is presented with {{ twda }} deck list examples, main variations, and a play guide.
</p>
<p>
	Only archetypes having proven themselves against at least 20 players twice in the last 5 years are taken into account,
	and only if one of these wins is a Continental Championship or if they have at least a third win.
	Example decklists are the most recent ones, or the ones with a Continental Championship win.
	Decks relying heavily on mechanics that have since been errated are not included.
</p>
<p>
	Please note that this list is built purely on TWDA statistics: more than a third of tournaments wins are achieved
	with unrelated decks.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link("/archetypes/anson-guns") }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/anti-ventrue-grinder') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/cats') }}</td>
			<td>(Wall / Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/dementation-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/gangrel-barons') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/gentlemen-with-sticks') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/guruhi-rush') }}</td>
			<td>(Rush / Toolbox)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/haqim-royalty') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/infernal-ministry') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/infernal-princes') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/lasombra-nocturn') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/lutz-politics') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/malgorzata') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/malkav-22') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/mistress') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/parliament-of-shadows') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>⬆︎ {{ link('/archetypes/platinum-protocol') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/rebekka-jost') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/stanislava') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/the-unnamed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/tzimisce-toolbox') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/war-chantry') }}</td>
			<td>(Toolbox)</td>
		</tr>
	</tbody>
</table>

{% trans trimmed vtes_discord=external("https://discord.gg/cafUcrDP8k", _("V:TES Discord")) %}
<h2>Runner-ups</h2>
<p>
	These archetypes are not currently top tier, but they have potential. They have either
	been successful in the past, or have recently gotten some victories in tournaments. Keep an eye out
	for them, tinker and experiment to reveal their full potential.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/runner-ups/black-hand') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/runner-ups/blind-spot') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>⬇︎ {{ link('/archetypes/runner-ups/goratrix-high-tower') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/runner-ups/guillaume-real-estate') }}</td>
			<td>(Powerbleed)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/runner-ups/hunters') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>⬇︎ {{ link('/archetypes/runner-ups/nananimalism') }}</td>
			<td>(Rush / Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/runner-ups/palla-grande') }}</td>
			<td>(Swarm)</td>
		</tr>		
		<tr>
			<td>{{ link('/archetypes/runner-ups/saulot-wall') }}</td>
			<td>(Wall)</td>
		</tr>
	</tbody>
</table>

{% trans trimmed vtes_discord=external("https://discord.gg/cafUcrDP8k", _("V:TES Discord")) %}
<h2>Neonate Archetypes (BCP print only)</h2>
<p>
	These archetypes are built using only cards that are currently in print by BCP.
	It is a growing project contributed to by seasoned players - reach out on the {{ vtes_discord }}
	for feedback or additional ideas.
</p>
<p>
	All decks included are built to be tournament worthy. They include variations and options ideas.
	Approaching these builds is often easily done with only a few bundle packs for cheaper versions.
</p>
{% endtrans %}
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/neonate/aching-beauty') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/giovanni-powerbleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/harbinger-legionnaires') }}</td>
			<td>(Allies Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/infernal-royalty') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/lasombra-nocturn') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/lutz-vote') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/malkavian-dementation') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/malkavian-dominate') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/nephandus') }}</td>
			<td>(Allies Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/nosferatu-primogens') }}</td>
			<td>(Rush)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/neonate/ravnos-clown-car') }}</td>
			<td>(Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/samedi-rush') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/stanislava') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/the-capuchin') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/the-unnamed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/tremere-grinder') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/tremere-wall') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/tzimisce-toolbox') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/ventrue-grinder') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/neonate/ventrue-lawfirm') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
	</tbody>
</table>
{% trans trimmed
french_vekn_forum=external("http://www.vekn.fr/forum/viewforum.php?f=49", _("French VEKN Forum")),
google_drive=external("https://drive.google.com/drive/folders/0B32R3iejqMPTaXNDd2d1b01lR1k", "Google Drive")
%}
<h2>Archive</h2>
<p>
	For your enjoyment, you'll find here a collection of archetypes that did not make it
	to the top tier lists, but are still very much viable. 
</p>
<p>
	Quite a few of these lists come from the « Bibliodèque »: a French project
	made of more than a hundred decklists based on Tournament winning decklists
	or archetypes to help people build decks for their casual play or tournaments,
	and ultimately print those decks in proxy to have a library of decks available
	for their playgroup.
</p>
<p>
	Many thanks to the French people helping in various ways:
	<strong>TTC_master</strong> acting as lead designer, Ezra, Tim, Cordovader,
	Darkal, Stone and so on... and to the players whose decks have served as a basis
	for the decks presented here (or were shamelessly copied directly).
</p>
<p>
	You may find the complete historic of the project in the {{ french_vekn_forum }}
	and the final Bibliodèque with proxies on {{ google_drive }}.
</p>
{% endtrans %}

<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/419-operation') }}</td>
			<td>(Special)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/akunanse-toolbox') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/amaravati-politics') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/anson-grooming') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/anu-diptinatpa') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/arika-friends') }}</td>
			<td>(Bleed & Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/armin-the-hammer') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/ayo-igoli') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/baltimore-purge') }}</td>
			<td>(Other)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/bima-dominate') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/brujah-debate') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/carnivalesque') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/council-of-doom') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/cybele-maleficia') }}</td>
			<td>(Lock & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/cybelotron') }}</td>
			<td>(Special)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/daughters-politics') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/death-seekers') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/death-star') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/dekox-ultimus') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/dmitris-big-band') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/dragons-breath-rounds') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/emerald-legion') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/enkidu-multirush') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/euro-brujah') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/extreme-violence') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/fear-factor') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/first-tradition') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/ghede-typhonic-beast') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/giovanni-powerbleed') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/girls-will-find-inner-circle') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/hakuna-matata') }}</td>
			<td>(Star)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/hermanas') }}</td>
			<td>(Other)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/ishtarri-politics') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/khazars-diary') }}</td>
			<td>(Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/kiasyd-stealth-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/kiev-circle') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/knaves-revenge') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/legacy-of-pander') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/lorrie-superstar') }}</td>
			<td>(Star)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/lutzs-coopt') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/madness-reversal') }}</td>
			<td>(Special)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/malkav-94') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/matasuntha') }}</td>
			<td>(Wall)</td>
		</tr>
	</tbody>
</table>
<table class="column-2">
	<tbody>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/meat-shields') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/miller-delmo') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/mind-rape') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/mono-valeren') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/mmpa-politics') }}</td>
			<td>(Vote & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/nagagrinder') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/nakhthorheb') }}</td>
			<td>(Other)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/nosferatu-royalty') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/nuriel') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/rachel-madness') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/ravnos-clown-car') }}</td>
			<td>(Swarm)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/renegade-assault') }}</td>
			<td>(Allies Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/richter-friends') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/rock-cats') }}</td>
			<td>(Allies Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/samedi-bleed') }}</td>
			<td>(Stealth & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/sarrasine-velvet-tongue') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/scout') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/shadow-court-satyrs') }}</td>
			<td>(Allies Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/shalmath-history') }}</td>
			<td>(Toolbox)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/shambling-hordes') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/shas-trio') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/slaughtermanship') }}</td>
			<td>(Special)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/spell-of-life') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/spirit-marionette') }}</td>
			<td>(Lock & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/storia-di-buratino') }}</td>
			<td>(Lock & Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/tariq-eats-the-world') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/the-bleeding-vignes') }}</td>
			<td>(Powerbleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/the-dark-side-of-politics') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/tongue-of-the-serpent') }}</td>
			<td>(Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/trap-horrid') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/trapappa') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/tunnel-runners') }}</td>
			<td>(Allies)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/tupdogs-nephandus') }}</td>
			<td>(Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/turbo-sensory') }}</td>
			<td>(Other)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/ublos-harem') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/unacceptable-boon') }}</td>
			<td>(Swarm Vote)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/war-ghouls') }}</td>
			<td>(Allies Rush)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/weenie-aus') }}</td>
			<td>(Wall)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/weenie-dem') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/weenie-dom') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/weenie-pre') }}</td>
			<td>(Swarm Bleed)</td>
		</tr>
		<tr>
			<td>{{ link('/archetypes/bibliodeque/weenie-vic') }}</td>
			<td>(Bruise & Bleed)</td>
		</tr>
	</tbody>
</table>
{% endblock %}