{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/kiasyd-stealth-bleed.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-kiasyd.svg') }}"> Kiasyd Stealth & Bleed</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>stealth & bleed</em> deck using the Kiasyd clan and their unique <i>x</i> discipline.
    During the beginning, it uses {{ card("Govern the Unaligned") }}
    to get vampires out faster and cheaper. When enough minions are into play, it switches to delivering
    strong bleed actions using <i>£</i> and <i>X</i> for stealth.
</p>
<p>
    The deck uses
    {{ card("Nocturn") }} and
    {{ card("Carlton Van Wyk") }} to protect its vampires
    from agression, but has also access to
    {{ card("Shadow Body") }} in case of a combat.
</p>
<p>
    Stealth is high, with 16 stealth modifiers, but still uses
    {{ card("Pentex™ Subversion") }} and
    {{ card("Anarch Troublemaker") }} on top of it all
    to prevent interception.
</p>
<p>
    The vampires use their blood quite fast,
    so no {{ link("/strategy/fundamentals", _("leeching"), _anchor="leeching") }}
    takes place and
    {{ card("Jake Washington") }},
    {{ card("The Coven") }} and
    {{ card("Life in the City") }} are used to get some blood back
    on the vampires.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Command of the Beast") }} is used to make it
    harder for the opponents to figure out exactly how much bleed power the deck can have in hand.
    As its bonus does not count against the limit, it can be used along a
    {{ card("Conditioning") }}.
</p>
<p>
    {{ card("Nocturn") }} can also be used as a bleed enhancer,
    as it can act the turn it gets into play.
</p>
<h2>Creator Insights</h2>
<p>
    <em>Tomàs López Jiménez</em> was kind enough to provide the following insights:
</p>
<p>
    Stay calm during the firsts turns
    ({{ card("Govern") }} at superior <i>D</i>, bleed for one,
    <em>etc.</em>). If you're too agressive, your prey will only influence one vampire,
    and you want the prey to play and do something to the grandprey. It's not a problem if the prey gains 1PV.
    When you have 3 or more Kiasyds and the prey has less than 15 pool, then it is the moment to bleed.
</p>
<p>
    If you have a lot of stealth in hand and a wall deck on the table,
    one option is to figure out something to do to the wall player (steal
    {{ card("The Rack") }}, for exemple).
</p>
<p>
    If you predator has high intercept, do not undertake non-directed actions
    unless you have a lot of stealh in hand.
</p>
<h2>Variants</h2>
<p>
    Including more {{ card("Nocturn") }} is an option,
    as is using some {{ card("Sudden Reversal") }}
    to disable the prey's Master bloat
    ({{ card("Villein") }},
    {{ card("Vessel") }}, <em>etc.</em>).
</p>
<p>
    The <strong>Fastball</strong> variant uses the
    {{ card("Gremlins") }} +
    {{ card("Bonding") }} combination for 3 pool, 2 stealth bleeds.
    {{ link("/deck-search", _("Ben Peal's deck"), twda_id="2010slovakecq") }} from 2010 is a good example.
</p>
<p>
    In a sense, this archetype is very close to the
    {{ link("/archetypes/lasombra-nocturn", _("Lasombra Nocturn")) }} archetype,
    as they both use <i>D</i> and <i>£</i> to the same effect.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
