{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/lutz-politics.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ malkavian }} Lutz Politics</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
unmada=card("Unmada"),
lutz_von_hohenzollern=card("Lutz von Hohenzollern"),
undele=card("Undele"),
zillah_s_valley=card("Zillah's Valley"),
parity_shift=card("Parity Shift"),
villein=card("Villein"),
mental_maze=card("Mental Maze"),
telepathic_misdirection=card("Telepathic Misdirection"),
voter_captivation=card("Voter Captivation"),
banishment=card("Banishment"),
rafael_de_corazon=card("Rafael de Corazon"),
dmitra_ilyanova=card("Dmitra Ilyanova"),
forced_march=card("Forced March"),
maris_streck=card("Maris Streck"),
madness_network=card("Madness Network"),
alastor=card("Alastor"),
helicopter=card("Helicopter"),
derange=card("Derange"),
malkavian_dementia=card("Malkavian Dementia"),
heidelberg_castle_germany=card("Heidelberg Castle, Germany"),
golconda_inner_peace=card("Golconda: Inner Peace"),
cybele=card("Cybele"),
the_parthenon=card("The Parthenon"),
danilo_torrisi_s_deck=link("/deck-search", _("Danilo Torrisi's deck"), id="2016eclvgi"),
fabien_garcia_s_deck=link("/deck-search", _("Fabien Garcia's deck"), id="2014ecfcqmg"),
otso_saariluoma_s_deck=link("/deck-search", _("Otso Saariluoma's deck"), id="2010finnishecq")
%}
<h2>Highlights</h2>
<p>
    This is a <em>stealth bleed & vote</em> deck starring
    {{ unmada }}, {{ lutz_von_hohenzollern }} and {{ undele }}.
    It uses {{ zillah_s_valley }}
    to get these big capacity vampires in play quickly, then
    {{ parity_shift }} and {{ villein }} to get some pool back.
</p>
<p>
    The sheer number of votes the vampire have makes sure they get the vote lock around the table.
    Stealth is high, with 16 stealth modifiers, and allows the vampire to bleed and vote safely.
</p>
<p>
    {{ mental_maze }} is used to defend against rush actions
    and {{ telepathic_misdirection }}
    against too powerful bleeds.
</p>
<p>
    The deck is slow but sturdy and applies constant high pressure to its prey.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ voter_captivation }} is used to get pool back on the
    vampires after {{ villein }}.
</p>
<p>
    {{ banishment }} is used to get rid of cumbersome vampires.
    It can either weaken the prey, slow down the predator, or even be used cross table to maintain
    the table balance if necessary.
</p>
<p>
    The deck is deliberately compact with only 70 cards.
    This enhances the chances to get the many cards that are played in only one copy.
    As the game progresses, {{ undele }}'s ability
    can be used for recursion, getting the cards most adapted to the table context back in hand.
</p>
<p>
    Many Master cards cost quite a bit of pool, but this is in fact a feature of the deck: this allows the
    player to get its own pool down in order to be able to play a
    {{ parity_shift }} on his prey.
</p>
<h2>Creator Insights</h2>
<p>
    <em>Maxime Socroun</em> was kind enough to provide the following insights:
</p>
<p>
    Since the <em>errata</em> on {{ parity_shift }},
    I feel like this version of the deck is not playable anymore and it drives me crazy.
</p>
<p>
    There may still be a way to make the <strong>Maris Lutz</strong> variant work, though.
</p>
<h2>Variants</h2>
<p>
    Replacing {{ rafael_de_corazon }} by a second {{ dmitra_ilyanova }}
    allows for the inclusion of {{ forced_march }} as she,
    {{ unmada }} and {{ undele }} can use it.
</p>
<p>
    The <strong>Maris Lutz</strong> variant uses a group 3-4 crypt with
    {{ maris_streck }}, like {{ danilo_torrisi_s_deck }} from the 2016 EC.
    Using more Malkavian in the crypt makes
    {{ madness_network }} a useful inclusion.
</p>
<p>
    The <strong>Helicopter</strong> variant uses the {{ alastor }} +
    {{ helicopter }} combination to enable
    {{ lutz_von_hohenzollern }} to vote <em>and</em> bleed in the same turn,
    like in {{ fabien_garcia_s_deck }} from 2014 EC FCQ.
</p>
<p>
    The <strong>AD&D</strong> variant uses
    {{ derange }} and {{ malkavian_dementia }},
    like {{ otso_saariluoma_s_deck }} from 2010.
    This combination can steal any vampire, robbing them of their blood and equipment using
    {{ heidelberg_castle_germany }}, or even destroying them for pool with
    {{ golconda_inner_peace }}, provided one can get a second Master Action with
    {{ cybele }} or {{ the_parthenon }}.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="insert warn">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
