{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/mistress.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tremere.svg') }}"> Mistress</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>stealth bleed & vote</em> deck starring
    {{ card("Mistress Fanchon") }}.
    Her ability lets her fetch an {{ card("Alastor") }} to equip with
    an {{ card("Helicopter") }}, paying only 1 pool.
</p>
<p>
    {{ card("Villein") }},
    {{ card("Zillah's Valley") }} and
    {{ card("Information Highway") }} are used to get
    multiple big capacity vampires into play.
</p>
<p>
    This version uses only the <i>DO</i> disciplines, a dreadful combination.
    {{ card("Obedience") }} and
    {{ card("Mental Maze") }} are used for combat defence.
</p>
<h2>Tips & Tricks</h2>
<p>
    The key idea of this archetype is to abuse
    {{ card("Mistress Fanchon") }}'s ability to fetch the right card
    at the right time. The focus of the deck is to make sure she can do that <em>and bleed</em> every turn.
</p>
<p>
    {{ card("Scourge of the Enochians") }} is included
    to cripple breed constructs, as they can be overwhelming for this slower deck.
</p>
<h2>Variants</h2>
<p>
    The
    {{ card("Alastor") }} +
    {{ card("Helicopter") }} combination is not mandatory.
    Other methods can be found to improve {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }}, for example
    using
    {{ card("Flurry of Action") }} like in
    {{ link("/deck-search", _("Benoît Moyen's deck"), twda_id="2010eternalvigilancelf") }} from 2010.
</p>
<p>
    Danilo Torrisi played a {{ link("/deck-search", _("nice combination"), twda_id="2018bgpmb") }} in 2018:
    The {{ card("Might of the Camarilla") }} alongside
    {{ card("Possession") }} to get more Inner Circle into play
    fast and cheap.
</p>
<p>
    Although this is a different archetype,
    {{ card("Mistress Fanchon") }} can be used for her <i>AV</i>
    combination, alongside
    {{ card("Malgorzata") }},
    {{ card("Sha‑Ennu") }} or
    {{ card("Unmada") }} for a variation
    of the {{ link("/archetypes/tzimisce-wall", _("Tzimisce Wall")) }} archetype.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
