{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/mistress.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ tremere }} Mistress</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
mistress_fanchon=card("Mistress Fanchon"),
alastor=card("Alastor"),
helicopter=card("Helicopter"),
villein=card("Villein"),
zillah_s_valley=card("Zillah's Valley"),
information_highway=card("Information Highway"),
obedience=card("Obedience"),
mental_maze=card("Mental Maze"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
flurry_of_action=card("Flurry of Action"),
might_of_the_camarilla=card("Might of the Camarilla"),
possession=card("Possession"),
malgorzata=card("Malgorzata"),
sha_ennu=card("Sha‑Ennu"),
unmada=card("Unmada"),
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB"),
benoît_moyen_s_deck=link("/deck-search", _("Benoît Moyen's deck"), id="2010eternalvigilancelf"),
nice_combination=link("/deck-search", _("nice combination"), id="2018bgpmb")
%}
<h2>Highlights</h2>
<p>
    This is a <em>bleed & vote</em> deck starring {{ mistress_fanchon }}.
    Her ability lets her fetch an {{ alastor }} to equip with
    an {{ helicopter }}, paying only 1 pool.
</p>
<p>
    {{ villein }}, {{ zillah_s_valley }} and {{ information_highway }} are used to get
    multiple big capacity vampires into play.
</p>
<p>
    This version uses only the {{ DOM }}{{ OBF }} disciplines, a dreadful combination.
    {{ obedience }} and {{ mental_maze }} are used for combat defence.
</p>
<h2>Tips & Tricks</h2>
<p>
    The key idea of this archetype is to abuse {{ mistress_fanchon }}'s ability
    to fetch the right card at the right time.
    The focus of the deck is to make sure she can do that <em>and bleed</em> every turn.
</p>
<p>
    {{ scourge_of_the_enochians }} is included to cripple breed constructs,
    as they can be overwhelming for this slower deck.
</p>
<h2>Variants</h2>
<p>
    The {{ alastor }} + {{ helicopter }} combination is not mandatory.
    Other methods can be found to improve {{ a_b }}, for example using
    {{ flurry_of_action }} like in {{ benoît_moyen_s_deck }} from 2010.
</p>
<p>
    Danilo Torrisi played a {{ nice_combination }} in 2018:
    The {{ might_of_the_camarilla }} alongside {{ possession }}
    to get more Inner Circle into play fast and cheap.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="insert warn">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
