{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/nephandii.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tremere-anti.svg') }}"> Nephandii</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed 
    nephandus=card("Nephandus"),
    antonio_d_erlette=card("Antonio d'Erlette"),
    molotov_cocktail=card("Molotov Cocktail"),
    target_vitals=card("Target Vitals"),
    the_parthenon=card("The Parthenon"),
    ashur_tablets=card("Ashur Tablets"),
    liquidation=card("Liquidation"),
    haven_uncovered=card("Haven Uncovered"),
    frontal_assault=card("Frontal Assault"),
    the_unmasking=card("The Unmasking"),
    fame=card("Fame"),
    tension_in_the_ranks=card("Tension in the Ranks"),
    dragonbound=card("Dragonbound"),
    tupdog=card("Tupdog"),
    deflection=card("Deflection"),
    delaying_tactics=card("Delaying Tactics"),
    secure_haven=card("Secure Haven"),
    the_slow_withering=card("The Slow Withering"),
    fortschritt_library=card("Fortschritt Library"),
    direct_intervention=card("Direct Intervention"),
    entrancement=card("Entrancement"),
    magic_of_the_smith=card("Magic of the Smith"),
    empowering_the_puppet_king=card("Empowering the Puppet King"),
    palla_grande=card("Palla Grande"),
    béatrice_oracle171_tremblay=card("Béatrice \"Oracle171\" Tremblay", "Béatrice"),
    hugh_angseeing_s_deck=link("/deck-search", _("Hugh Angseeing's deck"), twda_id="2k8originsfridayam"),
    greg_williams_deck=link("/deck-search", _("Greg Williams' deck"), twda_id="2k8wonwednesday"),
    jordi_tomás_deck=link("/deck-search", _("Jordi Tomás' deck"), twda_id="2010badiafeb"),
    jonathan_sanchez_rios_deck=link("/deck-search", _("Jonathan Sanchez Rios' deck"), twda_id="2011lvdsbdvs"),
    tupdogs=link("/archetypes/tupdogs"),
    img_clan_assamite='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-assamite.svg'))|safe,
    img_clan_toreador_anti='<img src="%(url)s" />'|format(url=url_for('static', filename='img/icons/clan-toreador-anti.svg'))|safe
    %}
<h2>Highlights</h2>
<p>
    This is an <em>allies toolbox</em> deck focused on the {{ nephandus }} ally.
    {{ antonio_d_erlette }} is the star of the deck:
    he gets some {{ nephandus }} out without even
    taking an action someone could block.
</p>
<p>
    The combat module is designed to be playable by the
    {{ nephandus }} themselves, using presses, {{ molotov_cocktail }} and
    {{ target_vitals }}.
</p>
<p>
    The Master module uses {{ the_parthenon }} to play
    two Master cards per turn, allowing for the efficient use of
    {{ ashur_tablets }} and {{ liquidation }} to bloat and adapt the deck to the table
    context as the game progresses.
</p>
<p>
    {{ haven_uncovered }} and {{ frontal_assault }} are used to let the
    {{ nephandus }} rush the opponents minions, while
    {{ the_unmasking }} improves their interception capabilities.
</p>
<p>
    {{ fame }}, {{ tension_in_the_ranks }} and
    {{ dragonbound }} are used to improve pool damage.
</p>
<p>
    Some {{ tupdog }} are used to rush even more, although their
    disciplines are not used at all.
</p>
<p>
    {{ antonio_d_erlette }} or a sidekick can use {{ deflection }} and
    {{ delaying_tactics }} for defence.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ secure_haven }} can be used to protect
    {{ antonio_d_erlette }}, but also to contest another one if need be.
</p>
<p>
    Disciplines are not much used in the deck,
    so {{ the_slow_withering }} is a nice inclusion
    to cripple opponents decks, plus it is another Gehenna event
    {{ fortschritt_library }} can fetch.
</p>
<p>
    {{ direct_intervention }} should be kept in hand
    to counter anti-ally actions like {{ entrancement }}.
</p>
<h2>Variants</h2>
<p>
    The <strong>Mafioso</strong> variant ditches the heavy Master module
    {{ the_parthenon }}, {{ ashur_tablets }} and {{ liquidation }} to use
    {{ magic_of_the_smith }} and {{ empowering_the_puppet_king }} instead, like in
    {{ hugh_angseeing_s_deck }} from 2008.
</p>
<p>
    Other variants complete the crypt in original ways,
    to get more bloat with Assamite {{ img_clan_assamite }} vampires like in
    {{ greg_williams_deck }} from 2008, or some bloat but also more bleed with
    Toreador antitribu {{ img_clan_toreador_anti }} and {{ palla_grande }}, like in
    {{ jordi_tomás_deck }} from 2010. {{ jonathan_sanchez_rios_deck }} from 2011 even
    includes the Imbued {{ béatrice_oracle171_tremblay }} for cheap additional bleed.
</p>
<p>
    Although this is a different archetype, {{ nephandus }} can also be used alongside
    {{ tupdog }} in the {{ tupdogs }} archetype.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.antheliostheredstar() }}
</div>
{% endblock %}
