{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/nephandii.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tremere-anti.svg') }}"> Nephandii</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is an <em>allies toolbox</em> deck focused on the
    {{ card("Nephandus") }} ally.
    {{ card("Antonio d'Erlette") }} is the star of the deck:
    he gets some {{ card("Nephandus") }} out without even
    taking an action someone could block.
</p>
<p>
    The combat module is designed to be playable by the
    {{ card("Nephandus") }} themselves, using presses,
    {{ card("Molotov Cocktail") }} and
    {{ card("Target Vitals") }}.
</p>
<p>
    The Master module uses {{ card("The Parthenon") }} to play
    two Master cards per turn, allowing for the efficient use of
    {{ card("Ashur Tablets") }} and
    {{ card("Liquidation") }} to bloat and adapt the deck to the table
    context as the game progresses.
</p>
<p>
    {{ card("Haven Uncovered") }} and
    {{ card("Frontal Assault") }} are used to let the
    {{ card("Nephandus") }} rush the opponents minions, while
    {{ card("The Unmasking") }} improves their interception capabilities.
</p>
<p>
    {{ card("Fame") }},
    {{ card("Tension in the Ranks") }} and
    {{ card("Dragonbound") }} are used to improve pool damage.
</p>
<p>
    Some {{ card("Tupdog") }} are used to rush even more, although their
    disicplines are not used at all.
</p>
<p>
    {{ card("Antonio d'Erlette") }} or a sidekick can use
    {{ card("Deflection") }} and
    {{ card("Delaying Tactics") }} for defence.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Secure Haven") }} can be used to protect
    {{ card("Antonio d'Erlette") }}, but also to contest another one
    if need be.
</p>
<p>
    Disciplines are not much used in the deck,
    so {{ card("The Slow Withering") }} is a nice inclusion
    to cripple opponents decks, plus it is another Gehenna event
    {{ card("Fortschritt Library") }} can fetch.
</p>
<p>
    {{ card("Direct Intervention") }} should be kept in hand
    to counter anti-ally actions like {{ card("Entrancement") }}.
</p>
<h2>Variants</h2>
<p>
    The <strong>Mafioso</strong> variant ditches the heavy Master module
    {{ card("The Parthenon") }},
    {{ card("Ashur Tablets") }} and
    {{ card("Liquidation") }}
    to use
    {{ card("Magic of the Smith") }} and
    {{ card("Empowering the Puppet King") }}
    instead, like in
    {{ link("/deck-search", _("Hugh Angseesing's deck"), twda_id="2k8originsfridayam") }} from 2008.
</p>
<p>
    Other variants complete the crypt in original ways,
    to get more bloat with Assamite vampires like in
    {{ link("/deck-search", _("Greg Williams' deck"), twda_id="2k8wonwednesday") }} from 2008,
    or some bloat but also more bleed with Toreador antitribu and
    {{ card("Palla Grande") }}, like in
    {{ link("/deck-search", _("Jordi Tomás' deck"), twda_id="2010badiafeb") }} from 2010.
    {{ link("/deck-search", _("Jonathan Sanchez Rios' deck"), twda_id="2011lvdsbdvs") }} from 2011
    even includes the Imbued
    {{ card("Béatrice \"Oracle171\" Tremblay") }}
    for cheap additional bleed.
</p>
<p>
    Although this is a different archetype,
    {{ card("Nephandus") }} can also be used alongside
    {{ card("Tupdog") }} in the {{ link("/archetypes/tupdogs", _("Tupdogs")) }} archetype.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.antheliostheredstar() }}
</div>
{% endblock %}
