{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/nosferatu-royalty.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-nosferatu.svg') }}"> Nosferatu Royalty</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck using Nosferatu <em>Princes</em> and <em>Justicar</em>,
    and the <i>OI</i> disciplines. It has an efficient combat module using <i>I</i> classic
    {{ card("Aid from Bats") }} &
    {{ card("Carrion Crows") }} combination.
</p>
<p>
    Pool damage is done by using {{ card("Deep Song") }} to bleed,
    together with damage dealing votes and {{ card("Fame") }} if it is drawn.
    <i>O</i> provides good stealth, as usual.
</p>
<p>
    The deck has good intercept using a lot of
    {{ card("Second Tradition: Domain") }}, together with
    {{ card("Underbridge Stray") }} and
    {{ card("Raven Spy") }}
</p>
<p>
    {{ card("Cock Robin") }} is the star of the deck and his ability
    is used to the maximum, with {{ card("Deep Song") }} and <i>i</i>
    allies and retainers.
</p>
<h2>Tips & Tricks</h2>
<p>
    <em>Maxime Socroun</em> indicates that {{ card("Warsaw Station") }}
    is the most important card in the deck. Indeed its effect seconds
    {{ card("Cock Robin") }}'s ability beautifully and provides a nice
    increase in {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }}.
</p>
<p>
    {{ card("Scourge of the Enochians") }} is a tactical
    counter against breed constructs, as they can quickly become overwhelming.
</p>
<p>
    As the game progresses,
    {{ card("Tier of Souls") }} and
    {{ card("Enkil Cog") }} will improve bleeds.
    Moreover, {{ card("Enkil Cog") }} will let
    {{ card("Cock Robin") }} use his ability twice in successive turns
    and as {{ card("Tier of Souls") }} is an <i>i</i> action,
    it lets {{ card("Cock Robin") }} unlock and bleed afterwards
    immediately.
</p>
<p>
    {{ card("Deep Song") }} can be used to bleed or to rush
    cumbersome vampires, depending on the context.
</p>
<p>
    The combat module is strong, but not the primary focus of the deck.
    {{ card("Kevlar Vest") }},
    {{ card("Heroic Might") }} and
    {{ card("Preternatural Strength") }} can come in handy
    against adverse combat modules.
</p>
<p>
    The deck does not include so many votes as it is really not sure about getting the vote lock on the table.
    Any dedicated political deck will get more votes than the 5-7 this one can put into play.
</p>
<h2>Variants</h2>
<p>
    Variants include the use of a group 2 crypt and a <i>P</i> combat module, like in
    {{ link("/deck-search", _("Gyula Erdõs' deck"), twda_id="2k8czechnational") }} from the 2008 Czech NC.
</p>
<p>
    More votes can also be used, alongside
    {{ card("Fourth Tradition: The Accounting") }} and
    {{ card("Grooming the Protégé") }} for crypt acceleration
    to get more votes on the table,
    like in {{ link("/deck-search", _("Iñaki Jimenez's deck"), twda_id="2k8spanishnatday2") }} from the 2008
    Spanish NC.
</p>
<p>
    Some variants even discard the combat side of things to focus on a full political deck, like in
    {{ link("/deck-search", _("Pascal Bertrand's deck"), twda_id="2013qcfeelblpf") }} from 2013,
    using {{ card("Mental Maze") }} instead.
    In this case, this makes some room for a
    {{ card("Third Tradition: Progeny") }} plus
    {{ card("Consanguineous Boon") }} combination
    to bloat and get more vampires (and more votes) out.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
