{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/rachel-madness.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-malkavian.svg') }}"> Rachel Madness</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>stealth & bleed</em> deck starring
    {{ card("Rachel Brandywine") }}.
    The idea is to use her <i>J</i> discipline to fetch an
    {{ card("Homunculus") }} which, alongside
    {{ card("Madness Network") }}, will let her bleed during
    multiple consecutive turns.
</p>
<p>
    Stealth is high, with 15 modifiers and {{ card("Form of Mist") }}.
</p>
<p>
    On the defence side, {{ card("Second Tradition: Domain") }}
    and {{ card("Eyes of Argus") }} are used to intercept and
    protect the {{ card("Madness Network") }},
    with many copies of {{ card("Earth Meld") }} to avoid combat and
    stay unlocked.
</p>
<p>
    The deck is slow in the beginning but has a decent defence, and once the combination hits the table,
    it can finish a prey very quickly.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Enkil Cog") }} is a cheap way to have
    {{ card("Rachel Brandywine") }} bleed for 3 instead of 2.
    Moreover, it can replace {{ card("Madness Network") }} a bit
    if it is destroyed.
</p>
<p>
    {{ card("Homunculus") }} costs blood, so
    {{ card("Perfectionist") }},
    {{ card("Giant's Blood") }} and
    {{ card("The Rack") }} are essential to feeding the combination.
</p>
<p>
    {{ card("Greger Anderssen") }} is an excellent sidekick
    as he also has <i>j</i> and can therefore use an {{ card("Homunculus") }}
    too. Moreover, he is also <em>Prince</em>, meaning he gets to play
    {{ card("Parity Shift") }} and
    {{ card("Second Tradition: Domain") }} too.
    If {{ card("Protean") }} is drawn, he can even use
    {{ card("Earth Meld") }} at its full potential.
</p>
<p>
    {{ card("Blessing of Chaos") }} is a useful addition,
    as it can cripple bleed modules a bit, forcing them to use their
    bleed modifiers <em>before</em> blocks are announced.
</p>
<h2>Variants</h2>
<p>
    There are only slight variations of the crypt and library for this archetype.
    {{ card("Heart of Nizchetus") }},
    {{ card("Sport Bike") }},
    {{ card("Camera Phone") }} and
    {{ card("Fifth Tradition: Hospitality") }}
    are often used, as well as
    {{ card("Shadow of the Beast") }} and
    {{ card("Powerbase: Zürich") }}.
    On the crypt side,
    {{ card("Maris Streck") }} is often included too.
</p>
<p>
    Using this mechanic of bleeding during multiple turns can also be seen in the
    {{ link("/archetypes/the-unnamed", _("The unnamed")) }} archetype, which also uses
    {{ card("Homunculus") }} and
    {{ card("Enkil Cog") }}.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
