{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/shambling-hordes.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-giovanni.svg') }}"> Shambling Hordes</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is an <em>allies rush</em> deck using
    {{ card("Shambling Hordes") }}.
    The idea is to use {{ card("Liquidation") }} to put some
    {{ card("Shambling Hordes") }} in the ash heap,
    the recruit other ones, paying for it with the discarded ones.
    They then proceed to taking down opponents vampires while the vampires bleed.
</p>
<p>
    Most Master cards are used to get some blood back on the vampires or cheapen the cost of
    {{ card("Shambling Hordes") }}.
</p>
<p>
    As the deck has a solid rush potential, {{ card("Dragonbound") }}
    and {{ card("Fame") }} can help deliver more pool damage.
</p>
<p>
    {{ card("Sudario Refraction") }} is used to get the cards
    discarded by {{ card("Liquidation") }} back into hand,
    providing a nice recursion for this deck.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Call of the Hungry Dead") }} and
    {{ card("Spectral Divination") }} help to bring out
    the {{ card("Shambling Hordes") }} without being blocked.
</p>
<p>
    {{ card("Trap") }} can be used to take down big capacity vampires
    or allies with a defending ability like
    {{ card("Carlton Van Wyk") }}.
</p>
<p>
    {{ card("The Unmasking") }} and
    {{ card("FBI Special Affairs Division") }}
    improve the allies quite a bit.
</p>
<h2>Variants</h2>
<p>
    Many variants have a little bit more combat cards and do not bother with
    {{ card("The Parthenon") }}, like
    {{ link("/deck-search", _("Andrzej Jagla's deck"), twda_id="2013wbdpp") }} from 2013.
</p>
<p>
    The <strong>Swedish</strong> variant uses
    {{ card("Tupdog") }} for additional minions in the ash heap,
    {{ card("Life in the City") }} to add blood to the vampires, and
    {{ card("Trochomancy") }}
    to help disrupt the recursion of decks using
    {{ card("Ashur Tablets") }}.
    {{ link("/deck-search", _("Otto Kukkasniemi's deck"), twda_id="2011snc") }}
    from the 2011 Swedish NC is a good example.

</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.antheliostheredstar() }}
</div>
{% endblock %}
