{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/stanislava.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ gangrel }} Stanislava</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
stanislava=card("Stanislava"),
govern_the_unaligned=card("Govern the Unaligned"),
villein=card("Villein"),
ingrid_rossler=card("Ingrid Rossler"),
parity_shift=card("Parity Shift"),
form_of_mist=card("Form of Mist"),
earth_control=card("Earth Control"),
rapid_change=card("Rapid Change"),
deflection=card("Deflection"),
sense_the_savage_way=card("Sense the Savage Way"),
forced_march=card("Forced March"),
instantaneous_transformation=card("Instantaneous Transformation"),
murmur_of_the_false_will=card("Murmur of the False Will"),
archon_investigation=card("Archon Investigation"),
papillon=card("Papillon"),
pentex_subversion=card("Pentex™ Subversion"),
jake_washington=card("Jake Washington"),
seal_of_veddartha=card("Seal of Veddartha"),
guard_dogs=card("Guard Dogs"),
kine_resources_contested=card("Kine Resources Contested"),
vele_s_hunt=card("Vele's Hunt"),
claws_of_the_dead=card("Claws of the Dead"),
ecoterrorists=card("Ecoterrorists"),
rachel_brandywine=card("Rachel Brandywine"),
iliana=card("Iliana"),
caitlin=card("Caitlin"),
angus_the_unruled=card("Angus the Unruled"),
don_cruez_the_idealist=card("Don Cruez, The Idealist"),
second_tradition_domain=card("Second Tradition: Domain"),
fourth_tradition_the_accounting=card("Fourth Tradition: The Accounting"),
janne_lonnqvist_s_deck=link("/deck-search", _("Janne Lönnqvist's deck"), id="2016rfehf"),
giulio_de_cicco_s_deck=link("/deck-search", _("Giulio De Cicco's deck"), id="2014gtdtigi"),
sebastien=link("/deck-search", _("Sébastien Ragache's deck"), id="2019botgmf")
%}
<h2>Highlights</h2>
<p>
    This is a <em>stealth vote & bleed</em> deck with {{ stanislava }} as a star.
    She uses {{ govern_the_unaligned }} to help get other vampires out and {{ villein }}
    is used to get some pool back. The second vampire should be a <em>Prince</em>,
    preferrably {{ ingrid_rossler }}, to be able to play some {{ parity_shift }}.
</p>
<p>
    As the game progresses, more big capacity titled vampires get out and
    {{ parity_shift }} is used both to deliver pool damage and to
    bloat. Vampires begin to bleed, using {{ pro }} for stealth with
    {{ form_of_mist }}, {{ earth_control }} and {{ rapid_change }}.
<p>
    {{ deflection }} is used for bleed defence, with some
    {{ sense_the_savage_way }} to unlock if need be.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ forced_march }} and {{ instantaneous_transformation }} are
    extremely versatile as they can be used both for stealth or additional action,
    allowing a vampire to bleed and call a vote in the same turn.
    {{ stanislava }} can use both, but some other vampires in the crypt can use one or
    the other.
</p>
<p>
    {{ murmur_of_the_false_will }} can be used
    both for bounces and bleed enhancement, depending on the context.
    However, they're not supposed to be used
    with {{ stanislava }} herself, as bleeding for more than 3
    would expose her to {{ archon_investigation }},
    a chance one would be wary to take with this deck.
</p>
<p>
    A <em>Prince</em> is required, not only for {{ parity_shift }},
    but also for {{ papillon }}, an excellent device to bring some blood
    back on the vampires. {{ jake_washington }} is also a very
    efficient tool to that effect.
</p>
<p>
    The {{ seal_of_veddartha }} is an excellent
    equipment with this crypt, as most vampires miss either {{ DOM }} or {{ FOR }}.
    The +1 bleed bonus is nothing to cast aside either.
</p>
<h2>Variants</h2>
<p>
    The archetype is very much known for <em>Martin Weinmayer's</em> build
    as he as been very successful with it and retained the top seat
    in the international classment for some years.
    The cards proportions may vary a little bit, some like to play some
    {{ guard_dogs }}, {{ kine_resources_contested }}, {{ vele_s_hunt }} and/or
    {{ claws_of_the_dead }}. {{ ecoterrorists }} is also a common inclusion.
    Some alterations have been seen in the crypt too, like ditching
    {{ rachel_brandywine }} for an additional {{ ingrid_rossler }} or including
    {{ iliana }} or {{ caitlin }},
    as they have excellent disciplines combination for a low pool,
    although no title to support the political side of the deck.
    {{ janne_lonnqvist_s_deck }} from 2016 is a good example.
</p>
<p>
    The <strong>Old School</strong> variant uses groups 1 and 2 in the crypt instead of
    the group 2-3 used here. It provides {{ angus_the_unruled }} and
    {{ don_cruez_the_idealist }}, two justicars with a nice sets of disciplines.
    It allows for more Royalty cards like {{ second_tradition_domain }} and
    {{ fourth_tradition_the_accounting }}. {{ giulio_de_cicco_s_deck }} from 2014
    is a good example.
</p>
<p>
    Since September 2019, the deck must accomodate the changes in both
    {{ parity_shift }} and {{ pentex_subversion }}. Although its long lasting position
    in the top tier list has been more and more debated, it is still a powerful build,
    as demonstrated by {{ sebastien }} in 2019, a few weeks after the change.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="insert warn">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
