{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/team-jacob.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-akunanse.svg') }}"> Team Jacob</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a stealth & bleed deck using {{ card("Tunnel Runner") }}.
    An Akunanse is required to get the weremoles out, and
    {{ card("Jacob Fermor") }} is expected to come out and boost
    their bleed power. {{ card("Computer Hacking") }} is used to
    help them bleed harder, too.
</p>
<p>
    The deck relies on additional vampires with <i>d</i> for
    {{ card("Deflection") }} bounces. As the deck does not block so much,
    this is essential for defence.
</p>
<h2>Tips & Tricks</h2>
<p>
    As the deck is supposed to get an Akunanse, {{ card("Jacob Fermor") }}
    then a low capacity vampire with <i>d</i>, it has a bit of each in the crypt and plays a bunch of
    {{ card("Wider View") }} and an
    {{ card("Anarch Convert") }} to rotate through them if necessary.
</p>
<p>
    {{ card("Tunnel Runner") }} are expensive allies.
    getting {{ card("Powerbase: Tshwane") }} and/or
    {{ card("Charisma") }} out fast is a lot of help.

</p>
<p>
    {{ card("Predator's Transformation") }}
    provides additional stealth to get the allies into play without being blocked.
</p>
<p>
    {{ card("Aid from Bats") }} is used as a defensive combat card.
    {{ card("Tunnel Runner") }} can use it, but most Akunanse also can.
    The allies have {{ card("The Unmasking") }} and the Akunanse their
    {{ card("Predator's Communion") }} for some tactical intercept
    — vampires that do not fight aggressively, as they have very few combat capabilities themselves.
</p>
<h2>Variants</h2>
<p>
    There is no variant to this deck. The decklist given in example won the 2013 North American Championship (NAC).
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
