{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/the-bleeding-vignes.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-ventrue.svg') }}"> The Bleeding Vignes</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>powerbleed</em> deck using {{ card("Edward Vignes") }}
    and low capacity vampires with the <i>dr</i> disciplines.
    {{ card("Edward Vignes") }} ability
    to counter rush actions with a discard is an excellent protection against combat-oriented decks.
</p>
<p>
    {{ card("Bonding") }} and
    {{ card("Seduction") }} are used to get the bleed through.
    {{ card("Anarch Troublemaker") }},
    {{ card("Misdirection") }} and
    {{ card("Pentex™ Subversion") }} are used to lock
    the prey vampires, together with the <i>R</i>
    {{ card("Mind Numb") }} +
    {{ card("Majesty") }} combination.
</p>
<p>
    {{ card("Deflection") }} and
    {{ card("Delaying Tactics") }} are used for defence.
</p>
<p>
    Getting some blood back on {{ card("Edward Vignes") }} is critical,
    as many cards he uses have a blood cost, so
    {{ card("The Coven") }},
    {{ card("Giant's Blood") }} and
    {{ card("Jake Washington") }} are included.
    Even {{ card("Blood Doll") }} can be used to move blood from the pool.
    In this example, {{ card("Life in the City") }} is added
    to get even more blood back on the table.
</p>
<h2>Tips & Tricks</h2>
<p>
    The name of the archetype is a wordplay referring to
    {{ card("Bleeding the Vine") }}.
</p>
<p>
    {{ card("Daring the Dawn") }} and
    {{ card("Foreshadowing Destruction") }}
    are used for the lunge.
    The use of {{ card("Direct Intervention") }} on a modifier
    like {{ card("Conditioning") }} prevents it to be played again on the
    same action (as a modifier can only be played once and, even if countered).
    Using an alternative bleed enhancer is permitted though
    (the modifier did not apply, so limited bleed enhancement is still possible).
    {{ card("Foreshadowing Destruction") }}
    can even save a lunge this way.
</p>
<p>
    The deck is expected to be very aggressive toward its prey and get a quick victory point in the game beginning,
    so {{ card("The Bitter and Sweet Story") }} makes sense
    as it will help keeping some momentum afterwards.
</p>
<h2>Variants</h2>
<p>
    There are not many variations to this archetype.
    {{ card("Life in the City") }} is an original inclusion,
    {{ card("Entrancement") }} and
    {{ card("Force of Personality") }} are often included.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
