{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/the-unnamed.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-baali.svg') }}"> The unnamed</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>stealth & bleed</em> deck starring
    {{ card("The unnamed") }}.
    The idea is to use his ability to bleed and bloat at the same time.
    {{ card("Tend the Flock") }} is used to improve the bloat.
</p>
<p>
    At some point in the game, he gets {{ card("Enkil Cog") }} and
    {{ card("Homunculus") }}, allowing him to bleed again
    during another turn, doubling his bleed and bloat power.
</p>
<p>
    The versatile
    {{ card("Instantaneous Transformation") }}
    is a great asset and other options are included to let him unlock as much as possible:
    {{ card("Homunculus") }}, but also
    {{ card("Eluding the Arms of Morpheus") }},
    {{ card("Mylan Horseed") }} and
    {{ card("Majesty") }}.
    The more he unlocks, the less the Methusalah has to pay for the <em>Infernal</em> penalty.
</p>
<p>
    His threatening combat ability makes unlocking and trying to block a real threat —
    {{ card("Sense the Sin") }} becomes more versatile than in most
    Baali decks.
</p>
<p>
    {{ card("Flurry of Action") }} is rarely played overall, but very
    typical of this archetype. It lets {{ card("The unnamed") }}
    bleed and unlock with a single card, at no cost. A bleed enhancement action is less useful than
    it can be in other decks, since
    {{ card("Sense the Sin") }},
    {{ card("True Love's Face") }},
    {{ card("Enkil Cog") }} and
    {{ card("The Horde") }} already provide enough bleed enhancement,
    and the deck never bleeds over 3 because of
    {{ card("Archon Investigation") }} anyway.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Rötschreck") }} is a nice surprise that can disable quite
    any combat module if used with {{ card("The unnamed") }}
    ability when blocking.
</p>
<p>
    {{ card("Infernal Servitor") }} is a powerful bleeder
    and can even use <i>o</i> for some stealth. Moreover, it can be played twice in a turn, back-to-back.
</p>
<p>
    {{ card("Shadow of the Beast") }} and
    {{ card("Kaymakli Fragment") }} are rare inclusions and
    <em>Darby Keeney</em> comments they could be cut.
</p>
<p>
    {{ card("Mask of a Thousand Faces") }} is seldom played,
    but here it lets {{ card("The unnamed") }} "takeover" when
    someone unexpectedly blocks a sidekick.
</p>
<p>
    The whole deck tends to cost a bit of blood, so
    {{ card("Perfectionist") }} and
    {{ card("Giant's Blood") }} are played to help restore
    {{ card("The unnamed") }}'s blood.
    {{ card("The Coven") }} is also common.
</p>
<p>
    {{ card("I am Legion") }} is versatile: it
    can be used to counter some <i>a</i> intercept or bounces
    but can also be used just for 1 pool on a successful action:
    the card text states <em>"and/<strong>or</strong> gain 1 pool"</em>.
</p>
<h2>Variants</h2>
<p>
    Many small variations exist over the minion cards.
    {{ card("Form of Mist") }} is often included for its versatility.
    and {{ card("D'habi Revenant") }} as a bleed enhancer.
</p>
<p>
    The <strong>Legal</strong> variant disregards the
    {{ card("Enkil Cog") }} and
    {{ card("Homunculus") }} combination and replaces
    {{ card("Flurry of Action") }} with
    {{ card("Legal Manipulations") }}.
</p>
<p>
    The <strong>Maleficia</strong> variant plays {{ card("Maleficia") }}
    and uses {{ card("Psalm of the Damned") }},
    {{ card("Greater Curse") }} and/or
    {{ card("Evil Eye") }} to improve the deck.
    {{ link("/deck-search", _("Fernando Naves Resck's deck"), twda_id="2017vplnebspb") }} from 2017
    Brazilian CCQ is a good example.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
