{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/the-unnamed.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ baali }} The unnamed</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
anarch_convert=card("Anarch Convert"),
archon_investigation=card("Archon Investigation"),
d_habi_revenant=card("D'habi Revenant"),
eluding_the_arms_of_morpheus=card("Eluding the Arms of Morpheus"),
enchanting_gaze=card("Enchanting Gaze"),
enkil_cog=card("Enkil Cog"),
evil_eye=card("Evil Eye"),
flurry_of_action=card("Flurry of Action"),
form_of_mist=card("Form of Mist"),
giant_s_blood=card("Giant's Blood"),
greater_curse=card("Greater Curse"),
homunculus=card("Homunculus"),
i_am_legion=card("I am Legion"),
illegalism=card("Illegalism"),
infernal_servitor=card("Infernal Servitor"),
instantaneous_transformation=card("Instantaneous Transformation"),
kaymakli_fragment=card("Kaymakli Fragment"),
legal_manipulations=card("Legal Manipulations"),
majesty=card("Majesty"),
maleficia=card("Maleficia"),
mask_of_a_thousand_faces=card("Mask of a Thousand Faces"),
mylan_horseed=card("Mylan Horseed"),
perfectionist=card("Perfectionist"),
power_of_one=card("Power of One"),
psalm_of_the_damned=card("Psalm of the Damned"),
revelation_of_the_serpent=card("Revelation of the Serpent"),
rötschreck=card("Rötschreck"),
sense_the_sin=card("Sense the Sin"),
shadow_of_the_beast=card("Shadow of the Beast"),
tend_the_flock=card("Tend the Flock"),
the_coven=card("The Coven"),
the_horde=card("The Horde"),
the_platinum_protocol=card("The Platinum Protocol"),
the_unnamed=card("The unnamed"),
true_love_s_face=card("True Love's Face"),
v5_ministry=external("https://www.blackchantry.com/products/vampire-the-eternal-struggle-fifth-edition/fifth-edition-the-ministry/", _("V5 Ministry")),
delmars_deck=link("/deck-search", _("Delmar Sittoni's deck"), id="2021bco"),
fernando_naves_resck_s_deck=link("/deck-search", _("Fernando Naves Resck's deck"), id="2017vplnebspb")
%}
<h2>Highlights</h2>
<p>
    This is a <em>stealth & bleed</em> deck starring {{ the_unnamed }}.
    The idea is to use his ability to bleed and bloat at the same time.
    {{ tend_the_flock }} is used to improve the bloat.
</p>
<p>
    At some point in the game, he gets {{ enkil_cog }} and
    {{ homunculus }}, allowing him to bleed again
    during another turn, doubling his bleed and bloat power.
</p>
<p>
    The versatile {{ instantaneous_transformation }}
    is a great asset and other options are included to let him unlock as much as possible:
    {{ homunculus }}, but also {{ eluding_the_arms_of_morpheus }},
    {{ mylan_horseed }} and {{ majesty }}.
    The more he unlocks, the less the Methusalah has to pay for the <em>Infernal</em> penalty.
</p>
<p>
    His threatening combat ability makes unlocking and trying to block a real threat —
    {{ sense_the_sin }} becomes more versatile than in most Baali decks.
</p>
<p>
    {{ flurry_of_action }} is rarely played overall, but very
    typical of this archetype. It lets {{ the_unnamed }}
    bleed and unlock with a single card, at no cost.
    A bleed enhancement action is less useful than
    it can be in other decks, since {{ sense_the_sin }}, {{ true_love_s_face }},
    {{ enkil_cog }} and {{ the_horde }} already provide enough bleed enhancement,
    and the deck rarely bleeds over 3 because of {{ archon_investigation }} anyway.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ rötschreck }} is a nice surprise that can disable quite
    any combat module if used with {{ the_unnamed }} ability when blocking.
</p>
<p>
    {{ infernal_servitor }} is a powerful bleeder
    and can even use {{ obf }} for some stealth.
    Moreover, it can be played twice in a turn, back-to-back.
</p>
<p>
    {{ shadow_of_the_beast }} and {{ kaymakli_fragment }} are rare inclusions and
    <em>Darby Keeney</em> comments they could be cut.
</p>
<p>
    {{ mask_of_a_thousand_faces }} is seldom played,
    but here it lets {{ the_unnamed }} "takeover" when
    someone unexpectedly blocks a sidekick.
</p>
<p>
    The whole deck tends to cost a bit of blood, so
    {{ perfectionist }} and {{ giant_s_blood }} are played to help restore
    {{ the_unnamed }}'s blood. {{ the_coven }} is also common.
</p>
<p>
    {{ i_am_legion }} is versatile: it can be used to counter
    some {{ aus }} intercept or bounces
    but can also be used just for 1 pool on a successful action:
    the card text states <em>"and/<strong>or</strong> gain 1 pool"</em>.
</p>
<h2>Variants</h2>
<p>
    Many small variations exist over the minion cards.
    {{ form_of_mist }} is often included for its versatility.
    and {{ d_habi_revenant }} as a bleed enhancer.
</p>
<p>
    The <strong>Legal</strong> variant disregards the
    {{ enkil_cog }} and {{ homunculus }} combination and replaces
    {{ flurry_of_action }} with {{ legal_manipulations }}.
</p>
<p>
    The <strong>Maleficia</strong> variant plays {{ maleficia }} and uses
    {{ psalm_of_the_damned }}, {{ greater_curse }} and/or {{ evil_eye }}.
    {{ fernando_naves_resck_s_deck }} from the 2017 Brazilian CCQ is a good example.
</p>
<p>
    The <strong>Anarch</strong> variant uses {{ anarch_convert }} to go anarch, which
    opens access to {{ illegalism }} and {{ power_of_one }}, as in {{ delmars_deck }}
    from 2021. Since the publishing of the {{ v5_ministry }} deck,
    {{ the_platinum_protocol }}, {{ revelation_of_the_serpent }} and {{ enchanting_gaze }}
    also deserve consideration.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="insert warn">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'undecided' ) }}
</div>
{% endblock %}
