{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/tupdogs.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tremere-anti.svg') }}"> Tupdogs</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
    tupdog=card("Tupdog"),
    brick_by_brick=card("Brick by Brick"),
    immortal_grapple=card("Immortal Grapple"),
    raking_talons=card("Raking Talons"),
    torn_signpost=card("Torn Signpost"),
    amaranth=card("Amaranth"),
    antonio_d_erlette=card("Antonio d'Erlette"),
    nephandus=card("Nephandus"),
    computer_hacking=card("Computer Hacking"),
    the_unmasking=card("The Unmasking"),
    deflection=card("Deflection"),
    channel_10=card("Channel 10"),
    krcg_news_radio=card("KRCG News Radio"),
    aranthebes_the_immortal=card("Aranthebes, The Immortal"),
    yawp_court=card("Yawp Court"),
    target_vitals=card("Target Vitals"),
    crawling_chamber=card("Crawling Chamber"),
    graverobbing=card("Graverobbing"),
    the_parthenon=card("The Parthenon"),
    ashur_tablets=card("Ashur Tablets"),
    rock_cat=card("Rock Cat"),
    autarkis_persecution=card("Autarkis Persecution"),
    nephandii=link("/archetypes/nephandii"),
    martin_weinmayer_s_deck=link("/deck-search", _("Martin Weinmayer's deck"), twda_id="2019tdclf"),
    danilo_torrisi_s_deck=link("/deck-search", _("Danilo Torrisi's deck"), twda_id="2013iecqbi")
%}
<h2>Highlights</h2>
<p>
    This is a <em>rush</em> deck using {{ tupdog }} and their
    {{ POT }}{{ VIS }} disciplines combination to dispose of opponents vampires.
    The crypt is spammed with {{ tupdog }} to an unusual 24 cards count.
    The size of the crypt alone is often enough for the opponents to recognize the archetype.
</p>
<p>
    The combat module uses {{ brick_by_brick }} to set the range,
    {{ immortal_grapple }} to prevent dodges and
    S:CE ("<strong>S</strong>trike: <strong>C</strong>ombat <strong>E</strong>nds") and
    {{ raking_talons }} for aggravated damage. {{ torn_signpost }} or
    {{ amaranth }} are used to destroy cumbersome vampires.
</p>
<p>
    As the {{ tupdog }} needs a master to be able to act,
    {{ antonio_d_erlette }} is a perfect fit.
    He also comes with his friends the {{ nephandus }},
    they're here to bleed the prey, helped by some {{ computer_hacking }}.
</p>
<p>
    The {{ nephandus }} can also defend a bit with {{ the_unmasking }}.
    Also, {{ deflection }} is used for bounces by {{ antonio_d_erlette }}.
</p>
<p>
    This is a fast and brutal deck, which must handle its predator sooner rather than later,
    as most opponents will gladely let her dispose of the deck if she can.
</p>
<h2>Tips & Tricks</h2>
<p>
    A bit of additional intercept is provided by permanents:
    {{ channel_10 }}, {{ krcg_news_radio }} and {{ aranthebes_the_immortal }}.
</p>
<p>
    Only 4 copies of {{ antonio_d_erlette }} are in the crypt as to not jam it.
</p>
<p>
    {{ yawp_court }} is an interesting counter against
    political constructs: as {{ tupdog }} are Sabbat, they can use it.
</p>
<h2>Variants</h2>
<p>
    {{ computer_hacking }} are not often used and
    {{ target_vitals }} is often included as it can be used by the {{ nephandus }}.
    Before 2010 (release date of <em>Heirs to the Blood</em> and
    {{ brick_by_brick }}), {{ crawling_chamber }} was used to maneuver,
    but it was less efficient.
</p>
<p>
    {{ graverobbing }} is often included instead of {{ amaranth }},
    to steal vampires to help oust the prey faster.
    It forces {{ antonio_d_erlette }} to take a risky action though: if he is disabled,
    the {{ tupdog }} can not act anymore.
</p>
<p>
    As for the {{ nephandii }} archetype, the deck works well with
    {{ the_parthenon }} and some {{ ashur_tablets }}.
    {{ martin_weinmayer_s_deck }} from 2019 is a good example.
</p>
<p>
    The <strong>Cats and Dogs</strong> variant replaces the commonly used
    {{ nephandus }} by some {{ rock_cat }} for additional rushes,
    like in {{ danilo_torrisi_s_deck }} from 2013.
    A bit of bloat is needed to pay for them though, Danilo's idea was to use
    {{ autarkis_persecution }}.
</p>
{% endtrans %}
{% endblock %}
