{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/tzimisce-wall.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tzimisce.svg') }}"> Tzimisce Wall</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>wall</em> deck using the Tzimisce and their <i>VAI</i> disciplines.
</p>
<p>
    The combat module uses
    {{ card("Chiropteran Marauder") }} and
    {{ card("Breath of the Dragon") }} to deliver
    aggravated damages,
    {{ card("Horrid Form") }} and
    {{ card("Carrion Crows") }} to improve damages and get a chance
    to burn some vampires,
    and {{ card("Telepathic Tracking") }} to cancel
    S:CE ("<strong>S</strong>trike: <strong>C</strong>ombat <strong>E</strong>nds").
</p>
<p>
    Pool damage is done by naked bleeds and
    {{ card("Smiling Jack, The Anarch") }} and
    {{ card("Dragonbound") }} later in the game.
</p>
<p>
    The intercept module is heavy, with only a few bounces.
    {{ card("Eternal Vigilance") }} is used
    to get as many wakes as needed.
</p>
<p>
    The deck has a bit of rush capabilities with
    {{ card("Haven Uncovered") }} and
    {{ card("Deep Song") }}.
</p>
<p>
    This is a very slow deck, patiently taking down vampires around the table and getting its victory
    once the rest of the table is crippled enough.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Eagle's Sight") }} can be used to block cross table actions
    or the prey's bleed, a good way to control the table.
</p>
<p>
    The Master module uses {{ card("Villein") }} to bloat and has many options
    to bring back some blood on the vampires so they do not get exhausted during the game.
</p>
<p>
    {{ card("Scourge of the Enochians") }} is a counter
    against breed constructs as they can become overwhelming for this deck.
</p>
<h2>Variants</h2>
<p>
    {{ card("Fame") }} and
    {{ card("Army of Rats") }} are often included
    to improve pool damage.
    The combat module can vary quite a bit, using <i>I</i> more with
    {{ card("Carrion Crows") }} or focusing on aggravated damage
    and using {{ card("Rötschreck") }}.
    {{ card("Abbot") }} and
    {{ card("Revenant") }} can be added to the intercept module,
    which often contains more
    {{ card("Telepathic Misdirection") }} to bounce bleeds.
<p>
    The <strong>Malgorzata</strong> variant is a Tremere variation to this build, dropping <i>i</i> to use
    {{ card("Malgorzata") }} alongside
    {{ card("Mistress Fanchon") }} and
    {{ card("Sha-Ennu") }}.
    {{ link("/deck-search", _("Nicola Lonardi's deck"), twda_id="2017igpbi") }} from 2017 is a good example.
</p>
<p>
    Although this is a different archetype, {{ link("/archetypes/goratrix-high-tower", _("Goratrix High Tower")) }}
    is a close one, also using the <i>AI</i> combination, but with <i>T</i> instead of <i>V</i>.
</p>
{% endblock %}
