{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/weenie-aus.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>Weenie AUS</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>wall</em> deck using low capacity vampires with the <i>A</i> discipline.
    {{ card("Anarch Convert") }} is used to make the vampires
    <em>Anarch</em> as soon as they come into play.
</p>
<p>
    Pool damage is done by putting
    {{ card("Anarch Revolt") }},
    {{ card("Smiling Jack, The Anarch") }} and
    {{ card("Constant Revolution") }} into play and
    defending them, and using {{ card("Monkey Wrench") }} for the lunge.
</p>
<p>
    The deck has very high intercept and wake capabilities. It uses the
    {{ card("Concealed Weapon") }} +
    {{ card("Sniper Rifle") }} combination for combat, and
    {{ card("Forced Awakening") }} and
    {{ card("My Enemy's Enemy") }} to bounce bleeds and increase
    pool damage to the prey.
</p>
<p>
    It has low bloat capacities, with only
    {{ card("Tribute to the Master") }} and
    {{ card("Powerbase: Montreal") }} at hand.
</p>
<p>
    The deck is slow and steady, grinding the opponents until it is in position to oust the whole table
    one prey after the other.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Ashur Tablets") }} are used only once for a bloat and
    a bit of recursion. If another deck on the table uses them though, one can try to negociate to use them
    alternatively on both side (a {{ link("/strategy/table-talk", _("classic deal"), _anchor="negociation") }}),
    thus blocking the opponent as long as he respects the deal.
</p>
<p>
    {{ card("Eagle's Sight") }} can be used to intercept any action,
    including the prey's bleed. It can be used to specifically target any <em>Anarch</em> vampire the prey
    could have to make sure the {{ card("Anarch Revolt") }}
    are fully operationnal.
</p>
<p>
    {{ card("The Parthenon") }} allows two Master cards
    per turn, potentially stacking {{ card("Anarch Revolt") }}
    more quickly.
</p>
<h2>Variants</h2>
<p>
    There are many small variations of this archetype.
    {{ card(".44 Magnum") }} and
    {{ card("Ivory Bow") }} are often used.
    The given example avoids any action that could be blocked, except for a lunge bleed using
    {{ card("Monkey Wrench") }} and two allies.
    However, {{ card("Aranthebes, the Immortal") }},
    {{ card("Mr. Winthrop") }},
    {{ card("Muddled Vampire Hunter") }} and
    {{ card("Bowl of Convergence") }} are often used in other
    decklists following this archetype.
</p>
<p>
    Non-anarch variants have been played, like
    {{ link("/deck-search", _("Christian Chénard's deck"), twda_id="2k8naqtroisrivieres") }} from 2008.
</p>
<p>
    The <strong>Madness</strong> variant focuses on Malkavian in the crypt and uses
    {{ card("Madness Network") }}.
    {{ link("/deck-search", _("Pascal Bertrand's deck"), twda_id="2k9eclcq") }} from 2009 is a good example.
    This let the vampires equip, recruit and bleed at the end of the predator minion phase.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
</div>
{% endblock %}
