{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context %}

{% block content %}
<h1>{{ ahrimane }} Ahrimanes</h1>
<div class="insert tip">
    {% trans trimmed
    howler=card("Howler"),
    the_siamese=card("The Siamese"),
    muricia=card("Muricia"),
    effie_lowery=card("Effie Lowery"),
    cats=link("/archetypes/cats"),
    sahana=card("Sahana")
    %}
    <p>
        Ahrimanes and their unique discipline {{ spi }} provide a stronger defence
        than the usual {{ ani }} builds. Moreover, the acces to {{ pre }} allow them
        more toolboxy constructs than mono {{ ani }}, for a little more bleed.
        They offer basically two possible crypts,
        a group 2 with {{ howler }} and {{ the_siamese }},
        and a group 4 with {{ muricia }} and {{ effie_lowery }}.
    </p>
    <p>
        This clan has only one main archetype: {{ cats }}.
        Some Ahrimaines are good picks for mono {{ ani }} archetypes
        as they offer {{ ANI }} vampires for good value like
        {{ effie_lowery }} and {{ sahana }}.
    </p>
    {% endtrans %}
</div>

{% call layout.card_column('Effie Lowery', decks=36, copies="1-3") %}
{% trans trimmed %}
Superior {{ ANI }} and {{ SPI }} at a very decent cost of 5,
she is even included in pure {{ ANI }} crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Muricia', decks=23, copies="2-4") %}
{% trans trimmed
aid_from_bats=card("Aid From Bats"),
carrion_crows=card("Carrion Crows")
%}
Leader of the group 4 crypt, she has all clan disciplines {{ SPI }}{{ ANI }}{{ PRE }} at superior
for a reasonnable cost of 7. The +1 strength bonus is always good to take: she can use a little less
{{ aid_from_bats }} for a little more {{ carrion_crows }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Howler', decks=17, copies="4-5") %}
{% trans trimmed %}
Leader of the group 2 crypt, she has all clan disciplines {{ SPI }}{{ ANI }}{{ PRE }} at superior
for a cost of 8. The maneuver combined with the +1 strength bonus makes her a good warrior on her
own.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Nose of the Hound', decks=41, copies="1-4") %}
{% trans trimmed
bums_rush=card("Bum's Rush"),
deep_song=card("Deep Song")
%}
A nice rush action, slightly better than {{ bums_rush }}.
It is often played in {{ aus }} constructs for its base effect, as {{ ani }} provides the
arguably better {{ deep_song }} already.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Speak with Spirits', decks=36, copies="6-11") %}
{% trans trimmed %}
An excellent unlock and intercept reaction, the core of most Ahrimanes defensive modules.
An unlock is better than a simple wake, and the card is cheap: it costs blood only if
both unlock and intercept are needed.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Swiftness of the Stag', decks=35, copies="5-9") %}
{% trans trimmed
aid_from_bats=card("Aid From Bats"),
carrion_crows=card("Carrion Crows"),
resist_earths_grasp=card("Resist Earth's Grasp")
%}
A versatile tool: it is decisive in combat and works well with the {{ ani }}
classic combination of {{ aid_from_bats }} and {{ carrion_crows }}.
Moreover, the optional +1 stealth is very useful to get critical actions through.
It is a straight upgrade over the similar {{ resist_earths_grasp }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Falcon's Eye", decks=34, copies="2-5") %}
{% trans trimmed
eagles_sight=card("Eagle's Sight"),
anneke=card("Anneke"),
wall_decks=link("/strategy/archetypes", _("wall decks"), _anchor="wall")
%}
The only card apart {{ aus }} {{ eagles_sight }} and {{ anneke }}
to allow cross-table blocks, it is a drastic improvement over the classical {{ ani }} intercept module.
The ability to intercept one's prey bleed or a cross-table vote is critical to {{ wall_decks }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ears of the Hare", decks=28, copies="2-4") %}
{% trans trimmed
enhanced_senses=card("Enhanced Senses"),
falcons_eye=card("Falcon's Eye"),
speak_with_spirits=card("Speak with Spirits"),
cats_guidance=card("Cat's Guidance")
%}
A strong intercept boost on par with {{ aus }} {{ enhanced_senses }},
this completes the {{ spi }} toolset for intercept. Combined with
{{ falcons_eye }} and {{ speak_with_spirits }}, along {{ ani }} {{ cats_guidance }},
it delivers an intercept module as solid as {{ aus }}.
{% endtrans %}
{% endcall %}

{% endblock %}