{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ banu_haqim }} Banu Haqim</h1>
<div class="insert tip">
    {% trans trimmed
    amaravati_politics=link("/archetypes/bibliodeque/amaravati-politics"),
    amaravati=card("Amaravati"),
    death_star=link("/archetypes/bibliodeque/death-star"),
    black_hand=link("/archetypes/black-hand"),
    dimitri_s_big_band=link("/archetypes/bibliodeque/dmitris-big-band"),
    dmitri_borodin=card("Dmitri Borodin"),
    v5_banu_haqim=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-banu-haqim/", _("V5 Banu Haqim"))
    %}
    <p>
        The Banu Haqim (previously named <em>Assamite</em>) provide some good clan cards
        and multiple strategies usually revolving around {{obf}} for stealth.
        This clan has four main archetypes:
    <ul>
        <li>
            {{ amaravati_politics }}, a political archetype with {{ amaravati }}.
        </li>
        <li>
            The {{ death_star }}, an anarch politics archetype.
        </li>
        <li>
            The {{ black_hand }} swarm archetype.
        </li>
        <li>
            {{ dimitri_s_big_band }}, a toolbox archetype using {{ dmitri_borodin }}
            and the {{AUS}}{{CEL}}{{QUI}} disciplines combination.
        </li>
    </ul>
    </p>
    <p>
    Note that before the 2021 release of the {{ v5_banu_haqim }} precon, they had {{ qui }} as clan discipline
    instead of {{ tha }}. The new vampires and cards released in this precon offer a whole new different area for
    deck building, and it's not yet clear what high level archetypes might emerge of it.
    </p>
    {% endtrans %}
</div>

{% call layout.card_column("Haqim's Law: Retribution") %}
{% trans trimmed
swallowed_by_the_night=card("Swallowed by the Night"),
resist_earths_grasp=card("Resist Earth's Grasp")
%}
A great master card for combat-oriented Banu Haqim {{ banu_haqim }} decks. It enables cycling combat cards for bleed
enhancement, a great way to make sure that the combat cards, even in high number, do not jam the hand.
It also synergizes well with multi-types cards like {{ swallowed_by_the_night }} and {{ resist_earths_grasp }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Hunger of Marduk") %}
{% trans trimmed
theft_of_vitae=card("Theft of Vitae"),
pursuit=card("Pursuit"),
blur=card("Blur"),
quickness=card("Quickness")
%}
A great combat cards and a direct upgrade from {{ tha }} {{ theft_of_vitae }}. It enables to use the strike multiple
times in the same round, allowing Banu Haqim {{ banu_haqim }} to use their {{ cel }} fully, with additional strikes from
{{ pursuit }}, {{ blur }} or {{ quickness }} for example.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Haqim's Law: Leadership", decks=28, copies="3-9") %}
{% trans trimmed %}
A good action card for bloating.
This action makes good use of the many low capacity Banu Haqim
one can have in swarm decks.
Even just a few copies already make for a good bloat.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Khabar: Glory", decks=28, copies="1-3") %}
{% trans trimmed %}
A bleed enhancer with a 4 pool bloat bonus if timely played.
Most Banu Haqim decks include one or two of these for the lunge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Yoruba Shrine", decks=26, copies="1") %}
{% trans trimmed
banishment = card("Banishment")
%}
An excellent defence against rush actions, but also against {{ banishment }},
an all-too-common option in big capacity vote decks.
The cost of 1 pool is fairly low.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alamut", decks=24, copies="1-4") %}
{% trans trimmed %}
An excellent vote enhancer at a fair cost for any archetype.
It is played for additional votes in political decks,
but also as a defensive tool against political actions in other decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Black Throne", decks=18, copies="1-2") %}
{% trans trimmed %}
Another cheap vote enhancer, 2 votes for 1 pool is quite worth it.
The contract part of the card is seldom used.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Web of Knives Recruit", decks=18, copies="3-6") %}
{% trans trimmed %}
An interesting breeding card: it is a bit slow as the new vampire
only comes out after 3 turns but, on the other hand,
the neonate has the three clan disciplines {{qui}}{{obf}}{{cel}} at basic level
and three blood, all for the low cost of 1 pool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Amaravati", decks=17, copies="2-4") %}
{% trans trimmed
amaravati_politics=link("/archetypes/amaravati-politics"),
web_of_knives_recruit=card("Web of Knives Recruit"),
alamut=card("Alamut"),
the_black_throne=card("The Black Throne"),
deflection=card("Deflection")
%}
The star of the {{ amaravati_politics }} archetype,
combined with {{ web_of_knives_recruit }}, {{ alamut }} and {{ the_black_throne }},
he builds up a strong vote lock.
Moreover, his superior {{DOM}} gets him bounce reactions like {{ deflection }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Djuhah, The Bronze Bow", decks=11, copies="2-3") %}
{% trans trimmed
black_hand=link("/archetypes/black-hand")
%}
One of the best Seraph of the game, Djuhah also has good company in his clan
as 5 Black Hand Banu Haqim are available in groups 4 and 5.
This led to the Banu Haqim variation of the {{ black_hand }} swarm archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Market Square", decks=11, copies="1") %}
{% trans trimmed %}
An excellent permanent intercept at low cost.
Used in all Banu Haqim decks when blocking is an option.
Swarm builds have no use for it though.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Loss", decks=26, copies="3-10") %}
{% trans trimmed %}
A strong bleed action, played in most legacy Banu Haqim decks.
The inferior {{qui}} option can also come in handy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Black Sunrise", decks=21, copies="2-8") %}
{% trans trimmed %}
An excellent reaction, which actually unlocks - not just wake - the vampire.
This can be better as the vampire stays unlocked if he fails to block the action,
but being forced to block can be tricky if the goal is to bounce a bleed.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Taste of Death", decks=13, copies="1-4") %}
{% trans trimmed
selective_silence=card("Selective Silence")
%}
Worth mentioning as it is the most played {{qui}} combat card,
it is still hard to include as excellent range management is necessary to make it work.
{{ selective_silence }} is a good option,
but two cards and two blood is a high price to pay for it.
{% endtrans %}
{% endcall %}

{% endblock %}
