{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ banu_haqim }} Banu Haqim</h1>
<div class="insert tip">
    {% trans trimmed
    assamite_legacy_page=link("/best-cards/clans/assamite-legacy.html"),
    haqim_royalty=link("/archetypes/haqim-royalty")
    %}
    <p>
        The Banu Haqim (previously named <em>Assamite</em>) provide some good clan cards
        and multiple strategies usually revolving around {{obf}} for stealth.
        Its main archetype, {{ haqim_royalty }}, has many variations.
    </p>
    <p>
        The legacy Assamite {{ assamite_legacy }} and their Quietus {{ qui }} discipline,
        can be found on a separate page: {{ assamite_legacy_page }}.
    </p>
    {% endtrans %}
</div>

{% call layout.card_column("Haqim's Law: Retribution", decks=41, copies="2-6") %}
{% trans trimmed
swallowed_by_the_night=card("Swallowed by the Night"),
resist_earths_grasp=card("Resist Earth's Grasp")
%}
A great master card for combat-oriented Banu Haqim {{ banu_haqim }} decks. It enables cycling combat cards for bleed
enhancement, a great way to make sure that the combat cards, even in high number, do not jam the hand.
It also synergizes well with multi-types cards like {{ swallowed_by_the_night }} and {{ resist_earths_grasp }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Priority Contract", decks=35, copies="2-4") %}
{% trans trimmed %}
A strong Trifle enabling both rush and bloat, even though it is limited to targeting the prey.
Always included in combat-able Banu Haqim decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Kassandra Tassaki", decks=34, copies="2-3") %}
{% trans trimmed
second_tradition_domain=card("Second Tradition: Domain"),
parity_shift=card("Parity Shift")
%}
Her relatively low cost combined with the Prince title (enabling {{ second_tradition_domain }} and {{ parity_shift }}),
makes her the most played vampire of the clan.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Warmaksan", decks=34, copies="1-2") %}
{% trans trimmed %}
Such a cheap Prince is always a good deal. Seen both in Banu Haqim {{ banu_haqim }} and multiclan Royalty decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Khadija Al-Kindi", decks=31, copies="1-2") %}
{% trans trimmed %}
Not so many group 6 Banu Haqim have all clan disciplines at superior, a solid vampire.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Hunger of Marduk", decks=29, copies="8-15") %}
{% trans trimmed
theft_of_vitae=card("Theft of Vitae"),
pursuit=card("Pursuit"),
blur=card("Blur"),
quickness=card("Quickness")
%}
A great combat cards and a direct upgrade from {{ tha }} {{ theft_of_vitae }}. It enables to use the strike multiple
times in the same round, allowing Banu Haqim {{ banu_haqim }} to use their {{ cel }} fully, with additional strikes from
{{ pursuit }}, {{ blur }} or {{ quickness }} for example.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Farah Sarroub", decks=22, copies="2") %}
{% trans trimmed %}
Another group 6 Banu Haqim {{ banu_haqim }} Prince, a tad more expensive with no big upside, but still useful.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Market Square", decks=25, copies="1") %}
{% trans trimmed %}
An excellent permanent intercept at low cost.
Used in all Banu Haqim decks when blocking is an option.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alamut", decks=19, copies="1-2") %}
{% trans trimmed %}
An excellent vote enhancer at a fair cost for any archetype.
It is played for additional votes in political decks,
but also as a defensive tool against political actions in other decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Khabar: Glory", decks=18, copies="1-3") %}
{% trans trimmed %}
A bleed enhancer with a 4 pool bloat bonus if timely played.
Most Banu Haqim decks include one or two of these for the lunge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Khabar: Community", decks=14, copies="1-2") %}
{% trans trimmed second_tradition_domain=card("Second Tradition: Domain") %}
A nice bonus for the bleed. Princes can help defend it with {{ second_tradition_domain }}.
{% endtrans %}
{% endcall %}


{% endblock %}