{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ brujah }} Brujah</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        euro_brujah=link("/archetypes/bibliodeque/euro-brujah"),
        armin_brenner=card("Armin Brenner")
        %}
        Brujah and their antitribu have some vampires with excellent abilities and
        good clan cards. Their {{pre}}{{pot}}{{cel}} disciplines combination
        give them access to excellent combat options (hindered by lack of damage prevention)
        and good political tricks. The most played archetype for the clan is the
        {{ euro_brujah }}, using Brujah princes with {{dom}}.
        The antitribu, especially with {{ armin_brenner }},
        gave birth to interesting vote constructs, too.
        {% endtrans %}
    </p>
</div>


{% call layout.card_column("Dmitra Ilyanova", decks=71, copies="1-4") %}
{% trans trimmed
forced_march=card("Forced March")
%}
Her Justicar title combined with {{ PRE }}, {{ obf }} and a good political ability
makes her an excellent tool in many vote constructs.
Her access to {{ FOR }} also gives her the ability to play
{{ forced_march }} for additional actions.
She is definitely the star of the clan.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Volker, The Puppet Prince", decks=65, copies="1-2") %}
{% trans trimmed
anson_guns=link("/archetypes/anson-guns")
%}
Volker is one of the cheapest Prince around, and he finds its place in many
Camarilla Royalty decks.
Its superior {{CEL}} also makes him a good asset in other {{CEL}} decks —
he founds an easy place in Toreador {{ toreador }} {{ anson_guns }} archetype for
example.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Adana de Sforza", decks=54, copies="1-2") %}
{% trans trimmed %}
With the {{OBF}}{{PRE}} disciplines, she finds her place in Inner Circle
decks using these disciplines.
{% endtrans %}
{% endcall %}

{% call layout.card_column("New Carthage", decks=34, copies="1-2") %}
{% trans trimmed %}
As Brujah have a lot of good titled vampires among their ranks,
this location often finds its place amidst them as the cornerstone
of their offensive strategy.
The bonus in both vote and bleed is a definitive edge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Karen Suadela", decks=31, copies="1-3") %}
{% trans trimmed
dmitra_ilyanova=card("Dmitra Ilyanova"),
tara=card("Tara")
%}
A Prince with {{obf}}{{pre}} and bonus stealth on political action,
she makes a perfect partner for her Justicar {{ dmitra_ilyanova }},
often alongside {{ tara }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Sarah Brando", decks=26, copies="1-2") %}
{% trans trimmed %}
A cheap vampire with superior {{CEL}}, she gets a spot in many {{CEL}} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Waste Management Operation", decks=26, copies="1-2") %}
{% trans trimmed %}
A decent recursion helper, although getting the cards on the bottom of the library
is more useful if you get to shuffle it at some point.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Armin Brenner", decks=18, copies="2-4") %}
{% trans trimmed
forced_march=card("Forced March")
%}
A good voter with an excellent ability, his access to {{obf}} and {{FOR}}
are very strong points as he gets to play some stealth and {{ forced_march }}
for additional actions.
{% endtrans %}
{% endcall %}

{% endblock %}
