{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ caitiff }} Caitiff</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        Caitiff are rarely played on their own, but they often offer low capacity vampires
        that can complete crypts for other clans and builds.
        Now a clan, they were before considered as vampires without a clan:
        it explains why they have no library clan cards at all.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Anarch Convert", decks=214, copies="2-5") %}
{% trans trimmed %}
The most played Caitiff by far, he is an easy and relatively cheap way
to make vampires Anarch, and can even be used to smooth crypt rotation a bit.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Franciscus", decks=30, copies="1") %}
{% trans trimmed
zoe=card("Zöe"),
isabel_de_leon=card("Isabel de Leon"),
weenie_aus=link("/archetypes/runner-ups/weenie-aus")
%}
Seen in {{aus}} builds, alongside {{ zoe }} and {{ isabel_de_leon }},
he is often included in {{ weenie_aus }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Lisa Noble", decks=29, copies="1") %}
{% trans trimmed
zip=card("Zip"),
stick=card("Stick"),
aid_from_bats=card("Aid from Bats")
%}
Seen in {{ani}} builds, alongside {{ zip }} and {{ stick }},
her downside is not an issue when coupled with {{ aid_from_bats }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Maldavis", decks=26, copies="1") %}
{% trans trimmed
neighbor_john=card("Neighbor John")
%}
Often seen in {{AUS}} builds, sometimes alongside {{ neighbor_john }},
her downside is rarely a problem and 4 pool for superior {{AUS}} is relatively cheap.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Antoinette DuChamp", decks=23, copies="1") %}
{% trans trimmed %}
Two disciplines for 1 pool is relatively cheap
moreoever her group makes her an easy inclusion.
She is most often seen algonside other Caitiff in very fast crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Igo the Hungry", decks=23, copies="1") %}
{% trans trimmed
antoinette_du_champ=card("Antoinette DuChamp")
%}
Two disciplines for 1 pool is relatively cheap, he is often seen alongside
{{ antoinette_du_champ }}.
Combined with other Caitiff, he can provide a very fast crypt for swarm builds.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mukhtar Bey", decks=22, copies="1-2") %}
{% trans trimmed
victor_pelletier=card("Victor Pelletier")
%}
The oldest Caitiff, he is often seen alongside other titled Camarilla vampires.
His {{PRE}}{{obf}} disciplines combination is a nice fit for political decks
and his 7 pool cost is relatively low. A frequent companion of {{ victor_pelletier }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eddie Gaines", decks=19, copies="1-2") %}
{% trans trimmed
dementation_bleed=link("/archetypes/dementation-bleed")
%}
Althouth his downside can be a real bummer, his low cost for {{dem}} makes him a possible
inclusion in very fast versions of the {{ dementation_bleed }} archetype.
{% endtrans %}
{% endcall %}

{% endblock %}
