{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ daughter_of_cacophony }}
    {% trans trimmed %}Daughters of Cacophony{% endtrans %}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        daughters_politics=link("/archetypes/bibliodeque/daughters-politics"),
        scout=link("/archetypes/bibliodeque/scout"),
        scout_youngwood=card("Scout Youngwood")
        %}
        The Daughters of Cacophony and their unique {{mel}} discipline pack some nice surprises,
        especially on the political front. Two political archetypes features the clan:
        a pure {{ daughters_politics }} and {{ scout }}, a mix using {{ scout_youngwood }}.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("The Missing Voice", decks=14, copies="5-8") %}
{% trans trimmed %}
A nice stealth modifier, it can be really helpful against multiple unlocked allies.
Anyway, as no other discipline can really help the Daughters with stealth,
this is useful.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shattering Crescendo", decks=12, copies="5-21") %}
{% trans trimmed %}
An unusual effect. The ability to bring damage to your opponents vampires
with no combat is precious. Multiple copies are needed, but it is worth the trouble.
Some decks even spam this card.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Virtuosa", decks=10, copies="2-4") %}
{% trans trimmed %}
An excellent bleed enhancer, with a block denial option for critical actions.
Depending on the deck, it can come in very handy for a lunge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Siren's Lure", decks=8, copies="2-6") %}
{% trans trimmed
virtuosa=card("Virtuosa"),
the_missing_voice=card("The Missing Voice")
%}
A good way to get critical actions through. Combined with
{{ virtuosa }} and {{ the_missing_voice }},
it can build a good stealth - more of a « getting through » - module.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Lily Prelude", decks=6, copies="3-10") %}
{% trans trimmed
kine_resources_contested=card("Kine Resources Contested")
%}
Although only played in Vote archetypes, it is emblematic of the Daughters.
An improved {{ kine_resources_contested }}:
1 blood to get all 4 damages on one’s prey, plus bloat for 1 pool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Angela Preston", decks=15, copies="1-3") %}
{% trans trimmed %}
At only 5 pool with superior {{PRE}} and {{MEL}},
she is even played in mono {{pre}} decks.
Her ability to unlock another vampire is nice too.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Command Performance", decks=14, copies="1-2") %}
{% trans trimmed
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB")
%}
A permanent unlock option is very nice, and 2 pool is a bargain for such a bump in
{{ a_b }}. The burn option even ensures it does not jam one’s hand if the Daughters
are not at crypt majority.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Paris Opera House", decks=14, copies="1-3") %}
{% trans trimmed
the_labyrinth=card("The Labyrinth"),
opium_den=card("Opium Den")
%}
A bit pricey with its 2 pool cost, this permanent stealth location is still worth it
given the archetypes played with the clan. The cheaper
{{ the_labyrinth }} and {{ opium_den }} are comparatively less valuable
as their clan already has access to {{obf}}.
{% endtrans %}
{% endcall %}
{% endblock %}
