{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-followers-of-set.svg') }}"> Followers of Set</h1>
<p>
    The Followers of Set and their unique <i>s</i> discipline are devious experts of sin and stealth.
    They have given birth to ecclectic decks around politics and mummies but their most successful
    archetype is the {{ link("/archetypes/bima-dominate", _("Bima Dominate")) }}, using the
    {{ card("Bima") }} ally with <i>d</i>.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/opiumden.jpg">
        <h4>Opium Den</h4>
        <p class="center-subtitle">played in 57 decks, typically 1 copy</p>
    </div>
    <p>
        A nice permanent stealth enhancer at a low cost, a must have for the Followers.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/enticement.jpg">
        <h4>Enticement</h4>
        <p class="center-subtitle">played in 41 decks, typically 1-4 copies</p>
    </div>
    <p>
        Pool damage without a bleed: this makes it impervious
        to bounces and other anti-bleed tools.
        2 or 3 copies of the card to avoid a bounce on a lunge is common.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/temptation.jpg">
        <h4>Temptation</h4>
        <p class="center-subtitle">played in 37 decks, typically 2-9 copies</p>
    </div>
    <p>
        A versatile, if tricky, card. It can even be put on one's own vampires to get two actions in a
        single
        turn from time to time. On an opponent's vampire, he will think twice before getting too low on
        blood.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/formofcorruption.jpg">
        <h4>Form of Corruption</h4>
        <p class="center-subtitle">played in 36 decks, typically 1-2 copies</p>
    </div>
    <p>
        This can be a serious blow to a prey if it put into play early enough.
        Only a few cards can change the control of a vampire permanently.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/truthofathousandlies.jpg">
        <h4>Truth of a Thousand Lies</h4>
        <p class="center-subtitle">played in 32 decks, typically 2-6 copies</p>
    </div>
    <p>
        Although costly, this is a very versatile tool — enhacing bleed at <i>s</i> or getting another
        action
        at <i>S</i> are both excellent.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/nakhthorheb.jpg">
        <h4>Nakhthorheb</h4>
        <p class="center-subtitle">played in 30 decks, typically 1-4 copie</p>
    </div>
    <p>
        A star among the Followers, his ability to get two actions in a single turn is a serious asset.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/setscurse.jpg">
        <h4>Set's Curse</h4>
        <p class="center-subtitle">played in 24 decks, typically 1-3 copies</p>
    </div>
    <p>
        An excellent action against allies and breed constructs,
        it can get rid of a minion in a single blow, and give a minion back.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/renenet.jpg">
        <h4>Renenet</h4>
        <p class="center-subtitle">played in 22 decks, typically 1-2 copies</p>
    </div>
    <p>
        A powerful disciplines combination for just 5 pool. She can even find her place in a mono <i>r</i>
        deck.
    </p>
</div>
{% endblock %}
