{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ gangrel }} Gangrel</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        stanislava=link("/archetypes/stanislava"),
        renegade_assault=link("/archetypes/bibliodeque/renegade-assault"),
        renegade_garou=card("Renegade Garou")
        %}
        The Gangrel and their unique {{ pro }} discipline are versatile and provided
        many different archetypes. Some of the most successful were the {{ stanislava }}
        archetype and related Camarilla Royalty builds. Another one is
        {{ renegade_assault }}, using {{ renegade_garou }} as main minion.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Earth Meld", decks=134, copies="3-12") %}
{% trans trimmed %}
It is considered the best <em>« combat ends »</em> card of the game.
It comes at no cost at inferior {{ pro }}, plus gives an unlock option at superior
{{ PRO }}, still at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Form of Mist", decks=123, copies="3-8") %}
{% trans trimmed %}
An excellent combination of <em>« combat ends »</em> and stealth,
one of the most versatile tool of {{ pro }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Earth Control", decks=93, copies="3-6") %}
{% trans trimmed
form_of_mist=card("Form of Mist")
%}
2 stealth at superior {{ PRO }} is a strong stealth modifier, totally worth 1 blood.
Combined with {{ form_of_mist }}, this makes Gangrel and their antitribu
almost as stealthy as any vampire with {{ obf }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Claws of the Dead", decks=70, copies="1-6") %}
{% trans trimmed
immortal_grapple=card("Immortal Grapple")
%}
The most dreaded combat card of the {{ pro }} discipline, it is used
<strong>after</strong> strikes have been chosen by both vampires and never wasted
against a <em>dodge</em> or <em>combat ends</em>. The maneuver at superior {{ PRO }} can
come in handy. Finally, it works with a hand strike so {{ immortal_grapple }} is useless
against it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Bobby Lemon", decks=67, copies="1") %}
{% trans trimmed %}
An excellent disciplines combination for just 4 pool, he gets even included in mono
{{ ani }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Homunculus", decks=66, copies="1-3") %}
{% trans trimmed
madness_network=card("Madness Network"),
enkil_cog=card("Enkil Cog")
%}
A powerful tool, especially when combined with the cards that allow to act
during other players turn: {{ madness_network }} and {{ enkil_cog }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Aksinya Daclau", decks=62, copies="2-4") %}
{% trans trimmed
cybele=card("Cybele"),
girls_will_find_inner_circles=link("/archetypes/bibliodeque/girls-will-find-inner-circle")
%}
Star of the Gangrel antitribu, her ability is unique.
She gave birth, alongside {{ cybele }}, to the
{{ girls_will_find_inner_circles }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rapid Change", decks=59, copies="2-4") %}
{% trans trimmed
form_of_mist=card("Form of Mist"),
earth_control=card("Earth Control")
%}
Another stealth and <em>« combat ends »</em> combination. The cost of 1 blood is a bit
pricey, but it completes the stealth arsenal of {{ pro }} along {{ form_of_mist }} and
{{ earth_control }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ecoterrorists", decks=55, copies="1-2") %}
{% trans trimmed %}
A good bloat device, generating 1 pool per turn,
it can also help get vampires into play a bit faster early game.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Céleste Lamontagne", decks=50, copies="1-2") %}
{% trans trimmed %}
A nice discipline combination for just 5 pool, she gets a place even in mono {{ ani }}
decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Backways", decks=50, copies="1") %}
{% trans trimmed %}
Even if it is a little bit costly, the permanent stealth effect is a good one,
moreover if the deck relies on {{ pro }} for stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Instantaneous Transformation", decks=49, copies="3-7") %}
{% trans trimmed %}
A powerful and versatile stealth / unlock combination, mostly available to Gangrel
antitribu, but also to some rare vampires with access to the {{ PRO }}{{ CEL }}
combination.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ingrid Rossler", decks=43, copies="2-3") %}
{% trans trimmed %}
A star among Gangrel, the fact that she has {{ dom }} and is a Prince is a nice
combination. Moreover, her bonus in influence can be a very nice edge in the early game.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Stanislava", decks=37, copies="4-5") %}
{% trans trimmed
instantaneous_transformation=card("Instantaneous Transformation"),
govern_the_unaligned=card("Govern the Unaligned"),
deflection=card("Deflection"),
the_unmasking=card("The Unmasking")
%}
Star <em>Inner Circle</em> of the Gangrel Clan, Stanislava not only has {{ DOM }}
but also {{ CEL }}, giving her access to {{ instantaneous_transformation }}
alongside {{ govern_the_unaligned }} and {{ deflection }}. Her ability against
allies also is quite a nice advantage as many decks use them with
{{ the_unmasking }} for defence.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Enkidu, The Noah", decks=34, copies="1-5") %}
{% trans trimmed %}
The most dreaded Gangrel antitribu, he has such powerful disciplines and abilities
for combat he is often used as the star of a rush deck.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Flesh of Marble", decks=41, copies="2-7") %}
{% trans trimmed
earth_meld=card("Earth Meld"),
immortal_grapple=card("Immortal Grapple")
%}
A good damage prevention card, it can handle heavy damage-dealing modules,
even those using additonal strikes, with a single card.
It is often played alongside {{ earth_meld }}
as a solution against {{ pot }} combat modules using {{ immortal_grapple }}.
{% endtrans %}
{% endcall %}

{% endblock %}
