{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ gangrel }} Gangrel</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        stanislava=link("/archetypes/stanislava"),
        gangrel_thing=link("/archetypes/gangrel-thing")
        %}
        The Gangrel are versatile and provided
        many different archetypes. Some of the most successful were the {{ stanislava }}
        archetype and other Royalty builds. Nowadays, {{ gangrel_thing }}
        and all its variation are a huge top-tier ... thing.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Kuyén", decks=178, copies="1-2") %}
{% trans trimmed raven_spy=card("Raven Spy") %}
A cheap Baron with superior {{ PRO }}, and his ability allows for free {{ raven_spy }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Casey Snyder", decks=172, copies="1-2") %}
{% trans trimmed %}
Another cheap Baron with superior {{ PRO }}, fitting in many a crypt.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Massimiliano", decks=161, copies="1-2") %}
{% trans trimmed %}
A more expensive Baron, but his strength bonus is nothing to scoff at.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Kamile Paukstys", decks=145, copies="1-2") %}
{% trans trimmed %}
Superior {{ PRO }} and a bleed bonus lets her fit in many places.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Martina Srnankova", decks=89, copies="1") %}
{% trans trimmed %}
Superior {{ FOR }}{{ PRO }} and a bleed-intercept bonus make her a sturdy defensive body,
right at home walling for an Anarch Gangrel {{ gangrel }} build.
{% endtrans %}
{% endcall %}

{% call layout.card_column("André the Manipulator", decks=81, copies="1-2") %}
{% trans trimmed %}
The hand size bonus is huge, and his disciplines fit in a lot of decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ecoterrorists", decks=155, copies="1") %}
{% trans trimmed %}
A good bloat device, generating 1 pool per turn,
it can also help get vampires into play a bit faster early game.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Thing", decks=133, copies="5-14") %}
{% trans trimmed gangrel_thing=link("/archetypes/gangrel-thing") %}
The cornerstone of the very successful {{ gangrel_thing }} proposition.
It is free pool, and in enough numbers, can amount to some serious endgame pressure.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Backways", decks=127, copies="1") %}
{% trans trimmed %}
Even if it is a little bit costly, the permanent stealth effect is a good one,
moreover if the deck relies on {{ pro }} for stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eyes of the Wild", decks=107, copies="2-8") %}
{% trans trimmed %}
A strong unlock device, even more appreciated in non-Baron or non-Anarch builds.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rewilding", decks=105, copies="1-2") %}
{% trans trimmed %}
Although situational, it's a strong two-birds-one-stone deal there.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ennoia's Theater", decks=77, copies="1") %}
{% trans trimmed %}
No cost for a good effect: usually cycling, occasionally speeding up the influence.
{% endtrans %}
{% endcall %}
{% endblock %}