{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-gangrel.svg') }}"> Gangrel</h1>
<p>
    The Gangrel and their unique <i>j</i> discipline are versatile and provided many different archetypes.
    Some of the most successful were the {{ link("/archetypes/stanislava", _("Stanislava")) }} archetype
    and related Camarilla Royalty builds.
    Another one is {{ link("/archetypes/renegade-assault", _("Renegade Assault")) }}, using
    {{ card("Renegade Garou") }} as main minion.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/earthmeld.jpg">
        <h4>Earth Meld</h4>
        <p class="center-subtitle">played in 134 decks, typically 3-12 copies</p>
    </div>
    <p>
        It is considered the best <em>« combat ends »</em> card of the game.
        It comes at no cost at inferior <i>j</i>, plus gives an unlock option at superior <i>J</i>, still at
        no cost.
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/formofmist.jpg">
        <h4>Form of Mist</h4>
        <p class="center-subtitle">played in 123 decks, typically 3-8 copies</p>
    </div>
    <p>
        An excellent combination of <em>« combat ends »</em> and stealth,
        one of the most versatile tool of <i>j</i>.
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/earthcontrol.jpg">
        <h4>Earth Control</h4>
        <p class="center-subtitle">played in 93 decks, typically 3-6 copies</p>
    </div>
    <p>
        2 stealth at superior <i>J</i> is a strong stealth modifier, totally worth 1 blood.
        Combined with {{ card("Form of Mist") }},
        this makes Gangrel and their antitribu almost as stealthy as any vampire with <i>o</i>.
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/clawsofthedead.jpg">
        <h4>Claws of the Dead</h4>
        <p class="center-subtitle">played in 70 decks, typically 1-6 copies</p>
    </div>
    <p>
        The most dreaded combat card of the <i>j</i> discipline, it is used <strong>after</strong>
        strikes have been chosen by both vampires and never wasted against a
        <em>dodge</em> or <em>combat ends</em>. The maneuver at superior <i>J</i> can come in handy.
        Finally, it works with a hand strike so
        {{ card("Immortal Grapple") }} is useless against it.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/bobbylemon.jpg">
        <h4>Bobby Lemon</h4>
        <p class="center-subtitle">played in 67 decks, typically 1 copy</p>
    </div>
    <p>
        An excellent disciplines combination for just 4 pool, he gets even included in mono <i>i</i> decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/homunculus.jpg">
        <h4>Homunculus</h4>
        <p class="center-subtitle">played in 66 decks, typically 1-3 copies</p>
    </div>
    <p>
        A powerful tool, especially when combined with the cards that allow to act during other players
        turn:
        {{ card("Madness Network") }} and
        {{ card("Enkil Cog") }}
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/aksinyadaclau.jpg">
        <h4>Aksinya Daclau</h4>
        <p class="center-subtitle">played in 62 decks, typically 2-4 copies</p>
    </div>
    <p>
        Star of the Gangrel antitribu, her ability is unique.
        She gave birth, alongside {{ card("Cybele") }}, to the
        {{ link("/archetypes/girls-will-find-inner-circles", _("Girls Will Find Inner Circles")) }}
        archetype.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/rapidchange.jpg">
        <h4>Rapid Change</h4>
        <p class="center-subtitle">played in 59 decks, typically 2-4 copies</p>
    </div>
    <p>
        Another stealth and <em>« combat ends »</em> combination. The cost of 1 blood is a bit pricey, but
        it completes the stealth arsenal of <i>j</i> along
        {{ card("Form of Mist") }} and
        {{ card("Earth Control") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ecoterrorists.jpg">
        <h4>Ecoterrorists</h4>
        <p class="center-subtitle">played in 55 decks, typically 1-2 copies</p>
    </div>
    <p>
        A good bloat device, generating 1 pool per turn, it can also help get vampires into play a bit
        faster
        early game.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/celestelamontagne.jpg">
        <h4>Céleste Lamontagne</h4>
        <p class="center-subtitle">played in 50 decks, typically 1-2 copies</p>
    </div>
    <p>
        A nice discipline combination for just 5 pool, she gets a place even in mono <i>i</i> decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/backways.jpg">
        <h4>Backways</h4>
        <p class="center-subtitle">played in 50 decks, typically 1 copy</p>
    </div>
    <p>
        Even if it is a little bit costly, the permanent stealth effect is a good one,
        moreover if the deck relies on <i>j</i> for stealth.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/instantaneoustransformation.jpg">
        <h4>Instantaneous Transformation</h4>
        <p class="center-subtitle">played in 49 decks, typically 3-7 copies</p>
    </div>
    <p>
        A powerful and versatile stealth / unlock combination, mostly available to Gangrel antitribu,
        but also to some rare vampires with access to the <i>JC</i> combination.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ingridrossler.jpg">
        <h4>Ingrid Rossler</h4>
        <p class="center-subtitle">played in 43 decks, typically 2-3 copies</p>
    </div>
    <p>
        A star among Gangrel, the fact that she has <i>d</i> and is a Prince is a nice combination.
        Moreover, her bonus in influence can be a very nice edge in the early game.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/stanislava.jpg">
        <h4>Stanislava</h4>
        <p class="center-subtitle">played in 37 decks, typically 4-5 copies</p>
    </div>
    <p>
        Star Inner Circle of the Gangrel Clan, Stanislava not only has <i>D</i> but also <i>C</i>,
        giving her access to
        {{ card("Instantaneous Transformation") }}
        alongside {{ card("Govern the Unaligned") }} and
        {{ card("Deflection") }}. Her ability against allies also is
        quite a nice advantage as many constructs use them with
        {{ card("The Unmasking") }} for defence.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/enkiduthenoah.jpg">
        <h4>Enkidu, The Noah</h4>
        <p class="center-subtitle">played in 34 decks, typically 1-5 copies</p>
    </div>
    <p>
        The most dreaded Gangrel antitribu, he has such powerful disciplines and abilities for combat he
        is often used as the star of a rush deck.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/fleshofmarble.jpg">
        <h4>Flesh of Marble</h4>
        <p class="center-subtitle">played in 41 decks, typically 2-7 copies</p>
    </div>
    <p>
        A good damage prevention card, it can handle heavy damage-dealing modules,
        even those using additonal strikes, with a single card.
        It is often played alongside {{ card("Earth Meld") }}
        as a solution against <i>p</i> combat modules using
        {{ card("Immortal Grapple") }}
    </p>
</div>
{% endblock %}
