{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ gargoyle }} Gargoyles</h1>
<div class="insert tip">
    {% trans trimmed
    tupdogs_nephandus=link("/archetypes/tupdogs")
    %}
    <p>
        Gargoyles can be used to build good toolboxes, but their most successful archetype by far is
        {{ tupdogs_nephandus }}.
    </p>
    {% endtrans %}
</div>

{% call layout.card_column("Tupdog", decks=31, copies="1-24") %}
{% trans trimmed tupdogs=link("/archetypes/tupdogs") %}
An infamous rush device, only available as an offensive tool for Tremere antitribu.
They gave birth to the {{ tupdogs }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alabástrom", decks=6, copies="2-5") %}
{% trans trimmed %}
A good leader, with a great unlock ability, and he's no slave.
Being anarch, he also gets nice combat options.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Porphyry", decks=3, copies="1-2") %}
{% trans trimmed %}
A cheap 4-capacity Gargoyle with superior {{ POT }} and flight.
His extra bleed against location holders is a nice touch,
but he remains a Tremere slave.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Chalcedony", decks=3, copies="2-5") %}
{% trans trimmed %}
All four clan disciplines at superior {{ FOR }}{{ POT }}{{ THA }}{{ VIS }} and flight for 7,
with a discount on Gargoyle-only cards on top. A slave, but a very complete one.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Raking Talons", decks=24, copies="4-12") %}
{% trans trimmed %}
Free aggravated damage, neat.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Brick by Brick", decks=22, copies="5-12") %}
{% trans trimmed
tupdog=card("Tupdog"),
immortal_grapple=card("Immortal Grapple")
%}
An excellent tool to set the range at superior {{ VIS }}. {{ tupdog }} plays it for free
and can easily {{ immortal_grapple }} afterwards.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Stonestrength", decks=10, copies="1-8") %}
{% trans trimmed indomitability=card("Indomitability") %}
A good prevention card, a step above {{ indomitability }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rock Cat", decks=9, copies="4-10") %}
{% trans trimmed
immortal_grapple=card("Immortal Grapple"),
disarm=card("Disarm")
%}
A nice rusher, they can even use {{ immortal_grapple }} and {{ disarm }}.
{% endtrans %}
{% endcall %}
{% endblock %}
