{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ harbinger_of_skulls }}
    {% trans trimmed %} Harbingers of Skulls {% endtrans%}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lost_kindred_expansion=external(
        "https://www.blackchantry.com/products/current-products/lost-kindred/",
        _("Lost Kindred expansion")
        ),
        emerald_legionnaire=card("Emerald Legionnaire"),
        emerald_legion=link("/archetypes/bibliodeque/emerald-legion")
        %}
        The Harbingers of Skulls have excellent vampires with outstanding abilities.
        They grew increasingly popular since the release of the
        {{ lost_kindred_expansion }} in 2018, and the apparition of the excellent
        {{ emerald_legionnaire }}, giving birth to the {{ emerald_legion }} archetype.
        It was so successful the card got errated in 2024, to limit its power.
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Solomon Batanea", decks=27, copies="1-2") %}
{% trans trimmed %}
A cheap cost for the {{ AUS }}{{ FOR }} combination –
he even gets included in Ventrue antitribu {{ ventre_antitribu }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Emerald Legionnaire", decks=26, copies="7-12") %}
{% trans trimmed emerald_legion=link("/archetypes/bibliodeque/emerald-legion") %}
A good ally with an excellent ability that let him come back into play for free.
The {{ emerald_legion }} archetype is built around him.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Babalawo Alafin", decks=21, copies="1-3") %}
{% trans trimmed emerald_legionnaire=card("Emerald Legionnaire") %}
All clan disciplines {{ NEC }}{{ AUS }}{{ FOR }} at superior for a decent 7 pool,
his ability is useful for card rotation,
but also as a way to get more cards in the ash heap to pay for the
{{ emerald_legionnaire }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nicomedes", decks=20, copies="1-2") %}
{% trans trimmed %}
A decent disciplines combination and a great ability for cards rotation.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Zygodat", decks=17, copies="1-2") %}
{% trans trimmed
trochomancy=card("Trochomancy"),
inevitability_of_the_void=card("Inevitability of the Void")
%}
A good disciplines combination, and her ability has a nice synergy with
{{ trochomancy }} and {{ inevitability_of_the_void }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Erebus Mask", decks=16, copies="1") %}
{% trans trimmed %}
Only 1 pool for permanent stealth, this is a bargain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Erebus", decks=15, copies="2-4") %}
{% trans trimmed emerald_legionnaire=card("Emerald Legionnaire") %}
All clan disciplines at superior {{ NEC }}{{ AUS }}{{ FOR }},
combined with a nice ability that let him recruit
{{ emerald_legionnaire }} at a discount.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Capuchin", decks=14, copies="3-6") %}
{% trans trimmed saulot_the_wanderer=card("Saulot, The Wanderer") %}
Often seen in company with {{ saulot_the_wanderer }}
as they both have {{ AUS }}{{ FOR }}{{ THA }}, he is also a good star vampire
in Harbingers of Skulls decks.
{% endtrans %}
{% endcall %}

{% endblock %}
