{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ harbinger_of_skulls }}
    {% trans trimmed %} Harbingers of Skulls {% endtrans%}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lost_kindred_expansion=external(
        "https://www.blackchantry.com/products/current-products/lost-kindred/",
        _("Lost Kindred expansion")
        ),
        emerald_legionnaire=card("Emerald Legionnaire"),
        emerald_legion=link("/archetypes/emerald-legion")
        %}
        The Harbingers of Skulls have excellent vampires with outstanding abilities.
        They grew increasingly popular since the release of the
        {{ lost_kindred_expansion }} in 2018, and the apparition of the excellent
        {{ emerald_legionnaire }}, giving birth to the {{ emerald_legion }} archetype.
        It was so successful the card got errated in 2024, to limit its power.
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Emerald Legionnaire", decks=54, copies="7-13") %}
{% trans trimmed emerald_legion=link("/archetypes/emerald-legion") %}
Once the best ally of the game and cornester of the top-tier {{ emerald_legion }} archetype, its recent nerf (2024)
has signed its rapid decline.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Babalawo Alafin", decks=22, copies="1-3") %}
{% trans trimmed emerald_legionnaire=card("Emerald Legionnaire") %}
All clan disciplines {{ NEC }}{{ AUS }}{{ FOR }} at superior for a decent 7 pool,
his ability is useful for card rotation, but also as a way to get more cards in the ash heap to pay for the
{{ emerald_legionnaire }} (when it was still a thing).
{% endtrans %}
{% endcall %}

{% call layout.card_column("Solomon Batanea", decks=22, copies="1-2") %}
{% trans trimmed %}
A cheap cost for the {{ AUS }}{{ FOR }} combination –
he even gets included in Ventrue antitribu {{ ventre_antitribu }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Erlik", decks=20, copies="3-5") %}
{% trans trimmed emerald_legion=link("/archetypes/emerald-legion") %}
A unique ability, which made him the typical {{ emerald_legion }} leader back in the days.
He stays a strong vampire overall.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Acheron Vortex", decks=15, copies="2-5") %}
{% trans trimmed %}
A unique ability, which made him the typical {{ emerald_legion }} leader back in the days.
He stays a strong vampire overall.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Vengeful Spirit", decks=15, copies="2-4") %}
{% trans trimmed %}
A unique ability, which made him the typical {{ emerald_legion }} leader back in the days.
He stays a strong vampire overall.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mordechai Ben-Nun", decks=15, copies="1-3") %}
{% trans trimmed %}
Combining {{ AUS }} with a permanent intercept bonus makes for a great sidekick.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Khurshid", decks=12, copies="2-4") %}
{% trans trimmed %}
Star of the Harbinger, his stupendous strength makes him the ideal blocker.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shaal Fragment", decks=10, copies="1") %}
{% trans trimmed %}
A cheap Hand Size enhancer unique to Harbingers, a no-brainer.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Erebus Mask", decks=9, copies="1") %}
{% trans trimmed %}
Only 1 pool for permanent stealth, this is a bargain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Capuchin", decks=9, copies="3-6") %}
{% trans trimmed saulot_the_wanderer=card("Saulot, The Wanderer") %}
Often seen in company with {{ saulot_the_wanderer }}
as they both have {{ AUS }}{{ FOR }}{{ THA }}, he is also a good star vampire
in Harbingers decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Maabara", decks=9, copies="1-3") %}
{% trans trimmed %}
A cheap recursion device, although it has to be defended.
The ability to fetch the right card for the lunge can be game changing.
{% endtrans %}
{% endcall %}

{% endblock %}