{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>
    {% trans trimmed %} Imbued {% endtrans%}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        hunters=link("/archetypes/runner-ups/hunters")
        %}
        The Imbued have a special place in the game: they are not vampires, but mortal allies.
        They are organised in creeds instead of clans, and have virtues instead of disciplines.
        Their bizarre handling and specific ruleset makes them unique, and they have given birth to
        their own {{ hunters }} archetype.
        {% endtrans%}
    </p>
    <p>
        {% trans trimmed %}
        They have a unique access to Powers (an easy inclusion as they are fetched at +1 stealth with unlock)
        and Convictions {{ CONVICTION }} cards (all three played in imbued decks as they stack and have no downside).
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Second Sight", decks=63, copies="3-8") %}
{% trans trimmed beatrice=card('Béatrice "Oracle171" Tremblay', "Béatrice") %}
The most played <em>Conviction</em>.
Usually all three <em>Conviction</em> {{ CONVICTION }} cards are played in imbued decks,
but {{ beatrice }} is often added to vampire crypts for additional bleed,
and all she really needs is this <em>Conviction</em> {{ CONVICTION }} for a bit of stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("React with Conviction", decks=61, copies="3-6") %}
{% trans trimmed entrancement=card("Entrancement") %}
This is usually the first <em>Conviction</em> {{ CONVICTION }} any Imbued fetches when he comes into play,
as it protects them against anti-ally actions like {{ entrancement }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Strike with Conviction", decks=61, copies="3-8") %}
{% trans trimmed %}
An excellent <em>Conviction</em> {{ CONVICTION }} that boosts combat or bleed depending on the need.
As it is a <em>Conviction</em> {{ CONVICTION }}, it can be used every turn and come back into play
during the unlock phase.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Béatrice "Oracle171" Tremblay', decks=14, copies="1-3") %}
{% trans trimmed second_sight=card("Second Sight") %}
A good bleeding minion for just 3 pool, she gets included in vampire crypts
to help with the bleed, as her ability makes her impractical in Imbued crypts.
Helped by a {{ second_sight }} for stealth, she becomes an interesting minion.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Jennie "Cassie247" Orne', decks=50, copies="2-3") %}
{% trans trimmed %}
Her ability is the cornerstone of most Imbued decks.
Not only can the Imbued come back from Incapacity (their version of torpor) with only
two <em>Convictions</em> {{ CONVICTION_2 }} instead of three, they can also do so during any turn.
As Imbued are fragile, this additional protection is welcome.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Angel of Berlin", decks=50, copies="3-6") %}
{% trans trimmed %}
A versatile out-of-turn Master. It can be used as a wake,
but also as a way to bring equipment into play
without being blocked. As Imbued do not get so much stealth,
this is a real asset to gear them up.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Church of Vindicated Faith", decks=49, copies="1-2") %}
{% trans trimmed %}
A decent bloating device for Imbued decks, it is included in most of them,
sometimes in multiple copies.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Crusader Sword", decks=45, copies="1") %}
{% trans trimmed %}
A powerful weapon only Imbued can wield. It gets included in most Imbued decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Travis "Traveler72" Miller', decks=44, copies="2-3") %}
{% trans trimmed %}
His virtues are useful and his ability is an excellent bloat device,
so he gets included in many Imbued decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column('François "Warden" Loehr', decks=44, copies="1-2") %}
{% trans trimmed %}
Good virtues for a decent price, his ability is also quite nice
as it deters rush actions against him.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Vigilance", decks=44, copies="3-5") %}
{% trans trimmed a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB") %}
Jewel of the Justice {{ jus }} virtue,
the combination of <em>drive</em> and <em>wake</em> effects
makes for a very nice bonus in {{ a_b }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Jack "Hannibal137" Harmon', decks=43, copies="1-2") %}
{% trans trimmed %}
Excellent virtues with a good combat ability, he gets included in most Imbued decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Discern", decks=40, copies="2-4") %}
{% trans trimmed
vigilance=card("Vigilance"),
the_unmasking=card("The Unmasking")
%}
Second excellent Justice {{ jus }} power after {{ vigilance }},
it explains why the Justice {{ jus }} virtue is the most played among Imbued.
Combined with {{ the_unmasking }}, it transforms the Imbued in excellent blockers.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rejuvenate", decks=40, copies="2-4") %}
{% trans trimmed %}
This regeneration ability makes any Imbued with the Defense {{ def }} virtue quite sturdy.
As Imbued can not hunt, this is one of the few ways they can get some life back.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Determine", decks=34, copies="2-5") %}
{% trans trimmed jennie=card('Jennie "Cassie247" Orne', "Jennie") %}
The only bounce Imbued can use against bleeds, it is easy to include as
{{ jennie }} has the Vision {{ vin }} virtue.
It can also be used to cancel an action on the prey side, so it is very versatile.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Champion", decks=31, copies="1-2") %}
{% trans trimmed %}
Another good Defense {{ def }} power, as it can be used to "block" bleeds
without even needing intercept. The <em>Conviction</em> {{ CONVICTION }} cost is a bit high,
but the threat of it alone can slow down an aggressive predator.
{% endtrans %}
{% endcall %}

{% endblock %}
