{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-ishtarri.svg') }}"> Ishtarri</h1>
<p>
    The Ishtarri and their <i>fcr</i> disciplines combination have excellent titled vampires,
    so they've been included in political archetypes, as well as landed an archetype of their own:
    {{ link("/archetypes/ishtarri-politics", _("Ishtarri Politics")) }}.
    The <i>fc</i> combination let them use <span class="card" onclick="dC('forcedmarch')">Forced
        March</span>,
    one of the best combo cards out there.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/undele.jpg">
        <h4>Undele</h4>
        <p class="center-subtitle">played in 38 decks, typically 1-3 copies</p>
    </div>
    <p>
        With its magaji title and unique ability to fetch cards from the ash heap,
        he has been included not only in Ishtarri decks, but also as a secondary vampire in <i>ro</i> vote
        constructs.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ubende.jpg">
        <h4>Ubende</h4>
        <p class="center-subtitle">played in 30 decks, typically 1-3 copies</p>
    </div>
    <p>
        A magaji for only 7 pool, with an inferior <i>f</i> sufficient for
        {{ card("Forced March") }}
        and an additional <i>o</i> that can be used in many constructs.
        Alongside {{ card("Undele") }} and
        {{ card("Ayo Igoli") }}, she makes for a nice crypt.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/uncontrolledimpulse.jpg">
        <h4>Uncontrolled Impulse</h4>
        <p class="center-subtitle">played in 21 decks, typically 2-5 copies</p>
    </div>
    <p>
        An excellent stealth enhancer, although only usable on the first action,
        it is very valuable since the clan as few other stealth alternatives.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ishtarrikholo.jpg">
        <h4>Ishtarri Kholo</h4>
        <p class="center-subtitle">played in 21 decks, typically 1-2 copies</p>
    </div>
    <p>
        A good title unlikely to be contested, it is a worthy inclusion in a political deck,
        and an excellent addition for {{ card("Ayo Igoli") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/shasaabubadr.jpg">
        <h4>Shasa Abu Badr</h4>
        <p class="center-subtitle">played in 21 decks, typically 1-2 copies</p>
    </div>
    <p>
        An excellent ability alongside <i>R</i> for a cheap 5 pool. She finds her place even in mono
        <i>r</i> decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/glutton.jpg">
        <h4>Glutton</h4>
        <p class="center-subtitle">played in 16 decks, typically 1 copy</p>
    </div>
    <p>
        Another source of additional actions for Ishtarri, always welcome.
        It is a little bit fragile so it is more playable if the deck has at least some intercept
        capacities.
        But even making an opponent waste an action to take it out may be good enough.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ayoigoli.jpg">
        <h4>Ayo Igoli</h4>
        <p class="center-subtitle">played in 16 decks, typically 2-4 copies</p>
    </div>
    <p>
        Yet another Ishtarri with <i>o</i>, she is an excellent complement to a political crypt.
        Her capacity and ability makes her an ideal candidate for the Kholo title using
        {{ card("Ishtarri Kholo") }}
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/kenyatta.jpg">
        <h4>Kenyatta</h4>
        <p class="center-subtitle">played in 11 decks, typically 1-2 copies</p>
    </div>
    <p>
        All clan disciplines at inferior for 4 pool, a decent side-kick.
    </p>
</div>
{% endblock %}
