{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ lasombra }} Lasombra</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lasombra_nocturn=link("/archetypes/lasombra-nocturn"),
        parliament_of_shadows=link("/archetypes/parliament-of-shadows")
        %}
        The Lasombra and their rare Obtenebration {{ obt }} discipline are quite close
        to the Kiasyd {{ kiasyd }}, but a little more played. They have given birth
        to the infamous {{ lasombra_nocturn }} archetype,
        one of the strongest stealth & bleed archetypes of the game
        using the {{ DOM }}{{ OBT }} disciplines combination.
        They also can be used for political builds like {{ parliament_of_shadows }},
        or even toolbox builds, but this is a rarer occurrence.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("María del Toro", decks=22, copies="1-3") %}
{% trans trimmed %}
A cheap Prince carrying the clan's core {{ DOM }}{{ OBL }} at superior,
a solid crypt anchor for stealth & bleed with a vote thrown in.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Kamaluddin", decks=21, copies="1-2") %}
{% trans trimmed freak_drive=card("Freak Drive") %}
The core {{ DOM }}{{ OBL }} at superior, plus {{ for }} for the occasional {{ freak_drive }},
a nice proposition.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Yewon Ong", decks=21, copies="1-3") %}
{% trans trimmed freak_drive=card("Freak Drive") %}
A Prince with all clan disciplines at superior, plus {{ for }} for {{ freak_drive }},
and an ability that helps both the vote and preventing hand jam. What's not to like?
{% endtrans %}
{% endcall %}

{% call layout.card_column("Azucena", decks=19, copies="1-2") %}
{% trans trimmed %}
At just 5 capacity with superior {{ DOM }}{{ OBL }}, she is the bargain
body of the clan.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rinaldo Albizzi", decks=19, copies="1-2") %}
{% trans trimmed %}
Superior {{ DOM }}{{ OBL }}{{ POT }} with a Primogen vote and a permanent +1 intercept,
a versatile mid-cost pick.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gratiano", decks=15, copies="1-3") %}
{% trans trimmed %}
The bleed bonus along {{ DOM }}{{ OBT }} is strong,
and its unique <em>Priscus</em> ability means he will always
provide 3 votes unless they are <em>two</em> other prisci on the table.
All in all a rather strong combination for 8 pool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gnaeus Aemilius Augustinus", decks=12, copies="1-3") %}
{% trans trimmed %}
A heavy Prince stacking every clan discipline at superior plus {{ PRO }},
and a recurring point of unpreventable damage aimed at the prey's minions.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Carolina Vález", decks=11, copies="1-2") %}
{% trans trimmed %}
A heavy Sabbat Archbishop bridging the legacy {{ OBT }} with superior {{ PRE }}
for votes; a great inclusion in many legacy political decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Elysian Fields", decks=44, copies="1") %}
{% trans trimmed %}
An excellent permanent stealth enhancer for a reasonable 2 pool cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shadow Play", decks=39, copies="4-6") %}
{% trans trimmed
lost_in_crowds=card("Lost in Crowds"),
into_thin_air=card("Into Thin Air")
%}
The strongest stealth for {{ obt }}, pricier than the {{ obf }} equivalents
{{ lost_in_crowds }} and {{ into_thin_air }} of course.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shroud of Night", decks=27, copies="2-4") %}
{% trans trimmed %}
Yet another stealth enhancer, this one only really useful at superior {{ OBT }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tenebrous Form", decks=22, copies="1-3") %}
{% trans trimmed %}
Completing the stealth arsenal of {{ obt }}, this one as a nice side-effect
at superior {{ OBT }}: it prevents allies to block the action,
as they do not have blood to pay (and as it is not a card <em>they</em> use,
cannot use life instead).
{% endtrans %}
{% endcall %}

{% call layout.card_column("Blanket of Night", decks=20, copies="1-2") %}
{% trans trimmed a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB") %}
Yet another stealth enhancer, the superior {{ OBT }} effect can be a useful block denial,
although locking two vampires to get a single action through is really expensive
in terms of {{ a_b }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Oubliette", decks=17, copies="2-5") %}
{% trans trimmed shadow_body=card("Shadow Body") %}
An excellent combat defence with the "combat ends" effect, its superior {{ OBT }}
is also a good deterrent. Depending on the deck, it might be better or worse than
its alternative, {{ shadow_body }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shadow Body", decks=17, copies="2-5") %}
{% trans trimmed oubliette=card("Oubliette") %}
An excellent combat defence with the "combat ends" effect, it can also come in handy
at superior {{ OBT }}. To compare with {{ oubliette }}, depending whether the deck uses
a lot of undirected actions or not.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Power Structure", decks=17, copies="1-2") %}
{% trans trimmed
parliament_of_shadows=link("/archetypes/parliament-of-shadows"),
amici_noctis=card("Amici Noctis"),
ominous_chorus=card("Ominous Chorus")
%}
A nice votes boost, typical of {{ parliament_of_shadows }}. It might rise in the ranks
with the new V5 Lasombra, now Camarilla, and their additional vote cards,
{{ amici_noctis }} and {{ ominous_chorus }}.
{% endtrans %}
{% endcall %}
{% endblock %}