{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ lasombra }} Lasombra</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lasombra_nocturn=link("/archetypes/runner-ups/lasombra-nocturn")
        %}
        The Lasombra and their rare {{ obt }} discipline are quite close to the
        Kiasyd {{ kiasyd }}, but a little more played. They have given birth
        to the infamous {{ lasombra_nocturn }} archetype,
        one of the strongest stealth & bleed archetypes of the game
        using the {{ DOM }}{{ OBT }} disciplines combination.
        They also can be used for political or even toolbox builds,
        but this is a rarer occurence.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Shadow Play", decks=122, copies="2-6") %}
{% trans trimmed
lost_in_crowds=card("Lost in Crowds"),
into_thin_air=card("Into Thin Air")
%}
The strongest stealth for {{ obt }}, pricier than the {{ obf }} equivalents
{{ lost_in_crowds }} and {{ into_thin_air }} of course.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shroud of Absence", decks=105, copies="2-4") %}
{% trans trimmed %}
Another stealth modifier, this one at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shroud of Night", decks=77, copies="1-5") %}
{% trans trimmed %}
Yet another stealth enhancer, this one only really useful at superior {{ OBT }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ermenegildo, The Rake", decks=69, copies="1-2") %}
{% trans trimmed %}
Only 5 pool for {{ DOM }}{{ OBT }}, plus he is Black Hand. He gets included in a lot of
decks, Lasombra, Kiasyd {{ kiasyd }} or Black Hand alike.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Elysian Fields", decks=68, copies="1") %}
{% trans trimmed %}
An excellent permanent stealth enhancer for a reasonable 2 pool cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nocturn", decks=58, copies="4-14") %}
{% trans trimmed
the_path_of_night=card("The Path of Night"),
the_unmasking=card("The Unmasking"),
fbi_special_affairs_division=card("FBI Special Affairs Division")
%}
Although he lasts only one turn, he can either bleed for 1 or be kept for defence.
Also, {{ the_path_of_night }} can be used to get him cheap and
{{ the_unmasking }} and {{ fbi_special_affairs_division }} can be used to enhance him.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shadow Body", decks=57, copies="1-4") %}
{% trans trimmed oubliette=card("Oubliette") %}
An excellent combat defence with the "combat ends" effect, it can also come in handy
at superior {{ OBT }}. This effect explains why it is often preferred
to its alternative the {{ oubliette }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Blanket of Night", decks=56, copies="1-3") %}
{% trans trimmed a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB") %}
Yet another stealth enhancer, the superior {{ OBT }} effect can be a useful block denial,
although locking two vampires to get a single action through is really expensive
in terms of {{ a_b }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tenebrous Form", decks=48, copies="1-3") %}
{% trans trimmed %}
Completing the stealth arsenal of {{ obt }}, this one as a nice side-effect
at superior {{ OBT }}: it prevents allies to block the action,
as they do not have blood to pay (and as it is not a card <em>they</em> use,
cannot use life instead).
{% endtrans %}
{% endcall %}

{% call layout.card_column("Onaedo", decks=48, copies="1-2") %}
{% trans trimmed %}
The precious {{ OBT }}{{ DOM }} combination for 6 pool,
a common inclusion in Lasombra crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Banjoko", decks=45, copies="1-2") %}
{% trans trimmed the_admonitions=card("The Admonitions")%}
Superior {{ DOM }} for 5 pool is already good, even with only inderior {{ obt }}.
The <em>Black Hand</em> and <em>Seraph</em> traits can be useful,
either as an enhancer when playing {{ the_admonitions }},
or in full-fledged Black Hand constructs, where such a cheap Seraph really shines.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Path of Night", decks=37, copies="2-4") %}
{% trans trimmed nocturn=card("Nocturn")%}
Often used in {{ obt }} heavy builds, as some {{ obt }} stealth modifiers cost a blood.
It becomes even more powerful when used in conjunction with some {{ nocturn }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Andrew Emory", decks=34, copies="1-2") %}
{% trans trimmed %}
A nice {{ OBT }}{{ dom }} combination for just 5 pool,
he is often included in stealth & bleed decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Lord Vauxhall", decks=32, copies="1-2") %}
{% trans trimmed %}
He may be considered a bit pricey, but all clan disciplines at superior for 7 pool
is really reasonable.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Arms of the Abyss", decks=31, copies="2-7") %}
{% trans trimmed entombment=card("Entombment") %}
Although combat is rarely used in Lasombra builds, they still have the combat-oriented
{{ pot }} discipline, and this <em>dodge + additional</em> strike combination
can be very efficient. Combined with {{ entombment }}, it becomes frightening.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gratiano", decks=29, copies="1-3") %}
{% trans trimmed %}
The bleed bonus along {{ DOM }}{{ OBT }} is strong,
and its unique <em>Priscus</em> ability means he will always
provide 3 votes unless they are <em>two</em> other priscii on the table.
All in all a rather strong combination for 8 pool.
{% endtrans %}
{% endcall %}

{% endblock %}
