{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ lasombra }} Lasombra</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lasombra_nocturn=link("/archetypes/lasombra-nocturn"),
        parliament_of_shadows=link("/archetypes/parliament-of-shadows")
        %}
        The Lasombra and their rare Obtenebration {{ obt }} discipline are quite close
        to the Kiasyd {{ kiasyd }}, but a little more played. They have given birth
        to the infamous {{ lasombra_nocturn }} archetype,
        one of the strongest stealth & bleed archetypes of the game
        using the {{ DOM }}{{ OBT }} disciplines combination.
        They also can be used for political builds like {{ parliament_of_shadows }},
        or even toolbox builds, but this is a rarer occurence.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Shroud of Absence", decks=35, copies="2-5") %}
{% trans trimmed %}
Another stealth modifier, this one at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shadow Play", decks=32, copies="3-6") %}
{% trans trimmed
lost_in_crowds=card("Lost in Crowds"),
into_thin_air=card("Into Thin Air")
%}
The strongest stealth for {{ obt }}, pricier than the {{ obf }} equivalents
{{ lost_in_crowds }} and {{ into_thin_air }} of course.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Elysian Fields", decks=27, copies="1") %}
{% trans trimmed %}
An excellent permanent stealth enhancer for a reasonable 2 pool cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shroud of Night", decks=22, copies="2-4") %}
{% trans trimmed %}
Yet another stealth enhancer, this one only really useful at superior {{ OBT }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tenebrous Form", decks=20, copies="1-3") %}
{% trans trimmed %}
Completing the stealth arsenal of {{ obt }}, this one as a nice side-effect
at superior {{ OBT }}: it prevents allies to block the action,
as they do not have blood to pay (and as it is not a card <em>they</em> use,
cannot use life instead).
{% endtrans %}
{% endcall %}

{% call layout.card_column("Blanket of Night", decks=18, copies="1-3") %}
{% trans trimmed a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB") %}
Yet another stealth enhancer, the superior {{ OBT }} effect can be a useful block denial,
although locking two vampires to get a single action through is really expensive
in terms of {{ a_b }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ermenegildo, The Rake", decks=15, copies="1-2") %}
{% trans trimmed %}
Only 5 pool for {{ DOM }}{{ OBT }}, plus he is Black Hand. He gets included in a lot of
decks, Lasombra, Kiasyd {{ kiasyd }} or Black Hand alike.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Oubliette", decks=15, copies="2-7") %}
{% trans trimmed shadow_body=card("Shadow Body") %}
An excellent combat defence with the "combat ends" effect, its superior {{ OBT }}
is also a good deterrent. Depending on the deck, it might be better or worse than
its alternative, {{ shadow_body }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Shadow Body", decks=14, copies="2-4") %}
{% trans trimmed oubliette=card("Oubliette") %}
An excellent combat defence with the "combat ends" effect, it can also come in handy
at superior {{ OBT }}. To compare with {{ oubliette }}, depending whether the deck uses
a lot of undirected actions or not.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Path of Night", decks=13, copies="2-4") %}
{% trans trimmed nocturn=card("Nocturn")%}
Often used in {{ obt }} heavy builds, as some {{ obt }} stealth modifiers cost a blood.
It becomes even more powerful when used in conjunction with some {{ nocturn }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nocturn", decks=12, copies="5-11") %}
{% trans trimmed
the_path_of_night=card("The Path of Night"),
the_unmasking=card("The Unmasking"),
fbi_special_affairs_division=card("FBI Special Affairs Division")
%}
Although he lasts only one turn, he can either bleed for 1 or be kept for defence.
Also, {{ the_path_of_night }} can be used to get him cheap and
{{ the_unmasking }} and {{ fbi_special_affairs_division }} can be used to enhance him.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Banjoko", decks=11, copies="1-2") %}
{% trans trimmed the_admonitions=card("The Admonitions")%}
Superior {{ DOM }} for 5 pool is already good, even with only inderior {{ obt }}.
The <em>Black Hand</em> and <em>Seraph</em> traits can be useful,
either as an enhancer when playing {{ the_admonitions }},
or in full-fledged Black Hand constructs, where such a cheap Seraph really shines.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Entombment", decks=10, copies="1-3") %}
{% trans trimmed entombment=card("Entombment") %}
A dreadful strike: it is not even damage, so prevention is useless.
If the opponent is close and do not dodge or combat ends, they just go to torpor.
It can be an efficient deterrent.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gratiano", decks=9, copies="1-2") %}
{% trans trimmed %}
The bleed bonus along {{ DOM }}{{ OBT }} is strong,
and its unique <em>Priscus</em> ability means he will always
provide 3 votes unless they are <em>two</em> other priscii on the table.
All in all a rather strong combination for 8 pool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Badr, Shadow of Granada", decks=9, copies="1-3") %}
{% trans trimmed %}
Given the cost of Obtenebration {{ obt }} cards, his ability makes him very desireable.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Power Structure", decks=9, copies="1-2") %}
{% trans trimmed
parliament_of_shadows=link("/archetypes/parliament-of-shadows"),
amici_noctis=card("Amici Noctis"),
ominous_chorus=card("Ominous Chorus")
%}
A nice votes boost, typical of {{ parliament_of_shadows }}. It might rise in the ranks
with the new V5 Lasombra, now Camarilla, and their additional vote cards,
{{ amici_noctis }} and {{ ominous_chorus }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Zaire River Ferry", decks=9, copies="1") %}
{% trans trimmed %}
A great haven. Solid defense against rush decks, and the additional stealth can be very handy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Montano", decks=8, copies="3-5") %}
{% trans trimmed
parliament_of_shadows=link("/archetypes/parliament-of-shadows"),
baltimore_purge=link("/archetypes/baltimore-purge")
%}
Star of the Lasombra, he can lead a {{ parliament_of_shadows }} as well as the obnoxious
{{ baltimore_purge }}. Not only can does he pay less for {{ obt }},
he also provides stealth to all, including himself.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Amici Noctis") %}
{% trans trimmed
parliament_of_shadows=link("/archetypes/parliament-of-shadows"),
voter_captivation=card("Voter Captivation")
%}
This new modifier is a great help for vote decks like {{ parliament_of_shadows }},
and can be compared to {{ voter_captivation }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ominous Chorus") %}
{% trans trimmed
parliament_of_shadows=link("/archetypes/parliament-of-shadows")
%}
A nice votes boost, usable both actively and defensively. Useful in
{{ parliament_of_shadows }} dekcs.
{% endtrans %}
{% endcall %}

{% endblock %}