{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ malkavian }}
    {% trans trimmed %} Malkavian {% endtrans%}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        lutz_politics=link("/archetypes/lutz-politics"),
        rachel_madness=link("/archetypes/rachel-madness"),
        lutz_von_hohenzollern=card("Lutz von Hohenzollern"),
        rachel_brandywine=card("Rachel Brandywine"),
        weenie_dem=link("/archetypes/dementation-bleed"),
        weenie_aus=link("/archetypes/weenie-aus"),
        malk_94=link("/archetypes/malk-94"),
        malk_22=link("/archetypes/malk-22")
        %}
        The Malkavian are a prominent clan. With their unique {{ dem }} discipline
        beside the excellent {{ obf }}{{ aus }} disciplines,
        plus some really good vampires, they have led to many archetypes.
        {{ lutz_politics }} and {{ rachel_madness }} are two archetypes revolving around
        the powerful vampires {{ lutz_von_hohenzollern }}
        and {{ rachel_brandywine }} respectively. On the other hand,
        Malkavian and their antitribu are also used into two strong weenie constructs:
        {{ weenie_dem }} and {{ weenie_aus }}.
        The "classic" group 1 and new group 6 Malkavians provide solid
        {{ DOM }}{{ OBF }} bleed decks, {{ malk_94 }} and {{ malk_22 }}.
        {% endtrans%}
    </p>
    <p>
        {% trans trimmed
        mind_rape_arch=link("/archetypes/mind-rape"),
        mind_rape=card("Mind Rape"),
        fifth_edition=external(
        "https://www.blackchantry.com/products/current-products/vampire-the-eternal-struggle-fifth-edition/",
        _("fifth edition")
        )
        %}
        Group 1 Malkavian have the {{ dom }}{{ obf }}{{ aus }} disciplines combination,
        making them the only vampires of the game with {{ dom }}{{ obf }}
        as clan disciplines. That got them into other archetypes, like the
        {{ mind_rape_arch }} archetype, using {{ mind_rape }}
        to take control of opponents vampires. Malkavian and their antitribu
        got {{ dem }} instead of {{ dom }} on group 2 to 5, an evolution right on
        tracks with the roleplaying game <em>Vampire: the Masquerade</em>.
        They got {{ dom }} back on group 6 with the release of the {{ fifth_edition }}.
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Lutz von Hohenzollern", decks=36, copies="1-3") %}
{% trans trimmed voter_captivation=card("Voter Captivation") %}
Star of the Malkavian clan, he has a really powerful ability,
4 votes and +2 bleed like many <em>Inner Circle</em>, combined with all clan disciplines
plus the useful {{ PRE }} that gives acces to excellent
vote modifiers like {{ voter_captivation }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Andi Liu", decks=26, copies="1-2") %}
{% trans trimmed voter_captivation=card("Voter Captivation") %}
A cheap Prince with great disciplines, she's the most played Malkavian {{ malkavian }}
Prince. Her inferior {{ pre }} gives her a spot in multiclan {{ obf }}{{ pre }} political decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Kindred Spirits", decks=25, copies="9-23") %}
{% trans trimmed %}
This bleed action is central to the {{ dem }} discipline.
It can deliver a bleed of 2 in combination with a 1 pool bloat.
Moreover, the bleed can be directed to any Methusalah, not only the prey,
offering additional table control.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Confusion", decks=24, copies="4-13") %}
{% trans trimmed %}
An excellent bleed modifier at no cost, it provides stealth at superior {{ DEM }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eyes of Chaos", decks=24, copies="4-11") %}
{% trans trimmed conditioning=card("Conditioning") %}
A powerful bleed enhancer at no cost, although a bit less efficient than
{{ conditioning }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gilbert Duane (G6)", decks=21, copies="1-2") %}
{% trans trimmed %}
The "new" (2021) Gilbert quickly made the raking: a decent 7 for all clan disciplines,
plus a Baron title, he fits in many Malkavian {{ malkavian }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Abraham Mellon", decks=18, copies="1-4") %}
{% trans trimmed %}
A solid 8-cap for the top of the {{ govern }} chain, the hand size bonus is nothing to scoff at.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Zöe", decks=16, copies="1-2") %}
{% trans trimmed telepathic_misdirection=card("Telepathic Misdirection") %}
Superior {{ AUS }} at 3 pool is really a bargain. She has access to
{{ telepathic_misdirection }} for the cheapest price.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Muddled Vampire Hunter", decks=15, copies="1") %}
{% trans trimmed %}
An excellent ally with good combat abilities at a reasonable price.
He can help take down a cumbersome minion or deter an aggressive predator.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Deny", decks=16, copies="2-7") %}
{% trans trimmed trap=card("Trap") %}
A good stealth enhancer at superior {{ DEM }}, its inferior ability is seldom used
but can still come in handy to get out of a {{ trap }}, for example.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Stavros", decks=14, copies="1-2") %}
{% trans trimmed lutz_von_hohenzollern=card("Lutz von Hohenzollern") %}
Although he does not have superior {{ DEM }}, his superior {{ PRE }} and title
makes him a natural companion to {{ lutz_von_hohenzollern }}
in a political deck, or any {{ OBF }}{{ PRE }} political construct, for that matter.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alexander Silverson", decks=14, copies="1-2") %}
{% trans trimmed govern=card("Govern the Unaligned", "Govern") %}
A solid Prince with all clan disciplines at superior, he sit comfortably on top
of the {{ govern }} chain. His inferior Presence {{ pre }} can be useful in political builds.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Leandro", decks=12, copies="1-3") %}
{% trans trimmed
council_of_doom=link("/archetypes/council-of-doom"),
the_dark_side_of_politics=link("/archetypes/the-dark-side-of-politics")
%}
An Inner Circle with {{ OBF }}{{ PRE }} and an obnoxious ability, he is included in many Inner Circle builds,
like {{ council_of_doom }} or {{ the_dark_side_of_politics }}, but can also run his own show.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Jason "Son" Newberry', decks=12, copies="1-2") %}
{% trans trimmed govern=card("Govern the Unaligned", "Govern") %}
All clan disciplines at superior, a decent 7 sitting well in the {{ govern }} chain, the bleed bonus is really nice.
{% endtrans %}
{% endcall %}

{% call layout.card_column('Evan Klein (G6)', decks=12, copies="1-2") %}
{% trans trimmed govern=card("Govern the Unaligned", "Govern") %}
Ideal low end of the {{ govern }} chain, his ability is a nice anti-rush protection.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mind Tricks", decks=12, copies="1-4") %}
{% trans trimmed
deny=card("Deny"),
confusion=card("Confusion")
%}
+1 stealth for 1 blood: this is expensive.
It is included in decks where {{ obf }} is not much available.
Alongside {{ deny }} and {{ confusion }}, it can make for a very decent
stealth & bleed module using just the {{ DEM }} discipline.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Touch of Clarity", decks=12, copies="2-5") %}
{% trans trimmed deflection=card("Deflection") %}
The only card in the game that can counter {{ dom }} bounces like
{{ deflection }}: depending on the environment,
it can be a powerful device in the {{ dem }} arsenal when used sparingly.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Uncle George", decks=11, copies="1") %}
{% trans trimmed persia=card("Persia, The Beautiful Statue", "Persia") %}
5 pool is a good price for the {{ DEM }}{{ obf }} combination.
He is almost always paired with {{ persia }} in stealth & bleed decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Morel", decks=11, copies="1-2") %}
{% trans trimmed %}
All clan disciplines at superior for just 6 pool, this is a bargain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Victoria", decks=11, copies="1-3") %}
{% trans trimmed madness_network=card("Madness Network") %}
Superior {{ AUS }} for 5 pool gets her included in many crypts,
often when {{ obf }} or {{ cel }} can be used. Moreover,
her ability makes for a nice bloat when she's combined with {{ madness_network }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Midget", decks=10, copies="1-2") %}
{% trans trimmed
kaymakli_fragment=card("Kaymakli Fragment"),
sibyl_s_tongue=card("Sibyl's Tongue")
%}
3 pool is a low price to pay for the {{ DEM }}{{ obf }} combination.
Its <em>Infernal</em> trait is a bummer, but he is still excellent
for stealth & bleed decks, where speed matters more than cost. It can also bloat with
{{ kaymakli_fragment }}, which he can fetch with {{ sibyl_s_tongue }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Jackie", decks=10, copies="1-2") %}
{% trans trimmed %}
The cheapest {{ DEM }} of the game at only 3 pool,
she gets included in many {{ dem }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Madness Network", decks=9, copies="1-4") %}
{% trans trimmed
homunculus=card("Homunculus"),
reversal_of_fortunes=card("Reversal of Fortunes")
%}
A rare effect for this infamous clan card. It enables Malkavians to stay in defence and
only bleed at the end of their predator's turn, but it can also be used to act multiple
times during the successive turns of other players.
I can become a cornerstone of the deck when combined with other tricks, like
{{ homunculus }} or {{ reversal_of_fortunes }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Maris Streck", decks=9, copies="2-3") %}
{% trans trimmed %}
A <em>Justicar</em> with a very powerful ability she can use <em>multiple times</em>
during an action.
She gets included even in other clans crypts just for her ability and title.
{% endtrans %}
{% endcall %}

{% endblock %}