{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ nosferatu }} Nosferatu</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        nananimalism=link("/archetypes/nananimalism"),
        the_dark_side_of_politics=link("/archetypes/the-dark-side-of-politics"),
        nosferatu_royalty=link("/archetypes/nosferatu-royalty")
        %}
        The Nosferatu and their antitribu use the {{ obf }}{{ ani }}{{ pot }} disciplines.
        Some good vampires of theirs are used in multi-clan crypts,
        like {{ nananimalism }} or {{ the_dark_side_of_politics }}.
        They are seen on their own in only one prominent archetype: the
        {{ nosferatu_royalty }}, a toolbox using Camarilla
        <em>Princes</em> and <em>Justicars</em>.
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Jacques Rouge", decks=28, copies="1-2") %}
{% trans trimmed %}
A cheap Baron, and {{ OBF }}{{ pre }} is a great combination for political decks, even out of the clan.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Benedito, a Lanterna", decks=14, copies="1-3") %}
{% trans trimmed
bait_and_switch=card("Bait and Switch"),
organized_resistance=card("Organized Resistance")
%}
Another cheap Baron, his disciplines may not be the best, but providing access to {{ bait_and_switch }} and
{{ organized_resistance }} make up for it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Belinde", decks=14, copies="1-2") %}
{% trans trimmed
creeping_sabotage=card("Creeping Sabotage"),
benjamin_rose=card("Benjamin Rose")
%}
A cheap Prince with superior Obfuscate {{ OBF }}, pretty neat. Even her inferior {{ aus }} can come in handy
to defend {{ creeping_sabotage }}. A good partner to {{ benjamin_rose }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nathaniel Bordruff", decks=12, copies="1-3") %}
{% trans trimmed %}
With his rush ability and superior {{ POT }}, he makes for a superb fighter.
Superior {{ DOM }}{{ OBF }} does not hurt, either, he often pairs with Malkavians {{ malkavian }}
in pure stealth & bleed decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Benjamin Rose", decks=10, copies="1-3") %}
{% trans trimmed
creeping_sabotage=card("Creeping Sabotage"),
second_tradition=card("Second Tradition: Domain", "Second Tradition"),
eyes_of_argus=card("Eyes of Argus")
%}
A great Prince for {{ creeping_sabotage }} defense. He has access to {{ second_tradition }}
 as well as {{ eyes_of_argus }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alonso Petrodon", decks=10, copies="2-4") %}
{% trans trimmed gustaphe_brunnelle=card("Gustaphe Brunnelle"), mistress_fanchon=card("Mistress Fanchon") %}
A strong leader for Nosferatu political decks. He is often seen alongside {{ mistress_fanchon }},
but he can also run his own show with {{ gustaphe_brunnelle }} or group 6 Princes for support.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Dowager", decks=7, copies="1-2") %}
{% trans trimmed protected_district=card("Protected District"), the_warrens=card("The Warrens") %}
A Primogen title that lets her use {{ protected_district }}, she can net 4 intercept with just {{ the_warrens }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Larissa Moreira", decks=7, copies="2-3") %}
{% trans trimmed deep_song=card("Deep Song") %}
A great Primogen. Her ability is great when running
enough Animalism {{ ani }} and can let her bleed for 3 with {{ deep_song }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Warsaw Station", decks=26, copies="1-3") %}
{% trans trimmed
raven_spy=card("Raven Spy"),
creeping_sabotage=card("Creeping Sabotage")
%}
A superb unlock effect, usable after a {{ raven_spy }} recruitment, {{ creeping_sabotage }},
or even a political action. The out-of-torpor effect can also come in handy, if nothing else to deter diablerie.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Creeping Sabotage", decks=22, copies="2-6") %}
{% trans trimmed army_of_rats=card("Army of Rats") %}
A relatively new (2020) clan card, now well-seated in the rankings. Tricky to protect,
but even just a few accompanied by {{ army_of_rats }} can oust preys one after the other.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Labyrinth", decks=21, copies="1") %}
{% trans trimmed
opium_den=card("Opium Den")
%}
One pool for permanent stealth is really a bargain. Only the Ministry{{ ministry }}
have a similar tool with {{ opium_den }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Warrens", decks=6, copies="2-4") %}
{% trans trimmed %}
A very solid intercept device, the +3 bonus in unequaled, even though it is reserved to directed actions.
{% endtrans %}
{% endcall %}
{% endblock %}