{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ nosferatu }} Nosferatu</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        nananimalism=link("/archetypes/nananimalism"),
        the_dark_side_of_politics=link("/archetypes/runner-ups/the-dark-side-of-politics"),
        nosferatu_royalty=link("/archetypes/bibliodeque/nosferatu-royalty")
        %}
        The Nosferatu and their antitribu use the {{ obf }}{{ ani }}{{ pot }} disciplines.
        Some good vampires of theirs are used in multi-clan crypts,
        like {{ nananimalism }} or {{ the_dark_side_of_politics }}.
        They are seen on their own in only one prominent archetype: the
        {{ nosferatu_royalty }}, a toolbox using Camarilla
        <em>Princes</em> and <em>Justicars</em>.
        {% endtrans%}
    </p>
</div>

{% call layout.card_column("Stick", decks=84, copies="1-2") %}
{% trans trimmed %}
The cheapest {{ ANI }} pool can buy, he gets included in many {{ ani }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Beetleman", decks=75, copies="1") %}
{% trans trimmed %}
A cheap {{ ANI }} minion, he also gets included in many {{ ani }} decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Petra", decks=41, copies="1") %}
{% trans trimmed
the_unnamed=card("The unnamed"),
cybele=card("Cybele")
%}
5 pool is a bit pricey for {{ ANI }} so she is less seen in mono {{ ANI }}
or multi-clan decks. Her ability can be useful against {{ the_unnamed }}
or {{ cybele }} though.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Labyrinth", decks=38, copies="1") %}
{% trans trimmed
opium_den=card("Opium Den")
%}
One pool for permanent stealth is really a bargain: other clans have to pay 2 pool
for this kind of device. Only the Followers of Set {{ follower_of_set }}
have a similar tool with {{ opium_den }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Warsaw Station", decks=31, copies="1-2") %}
{% trans trimmed
nosferatu_royalty=link("/archetypes/bibliodeque/nosferatu-royalty")
%}
A rare effect, quite useful in Nosferatu decks using political actions, like the
{{ nosferatu_royalty }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nikolaus Vermeulen", decks=27, copies="1-2") %}
{% trans trimmed
nosferatu_royalty=link("/archetypes/bibliodeque/nosferatu-royalty")
%}
The iconic vampire for {{ nosferatu_royalty }} decks, he has an excellent ability
that helps get other <em>Princes</em> out faster and cheaper, or bloat a bit.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Gustaphe Brunnelle", decks=25, copies="1-2") %}
{% trans trimmed guruhi_rush=link("/archetypes/guruhi-rush") %}
Appreciated for his rush ability, he is often included in combat-oriented
{{ POT }}{{ ANI }} decks like the {{ guruhi_rush }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Calebros, The Martyr", decks=25, copies="1-2") %}
{% trans trimmed %}
A <em>Prince</em> available for a really cheap price,
even though his ability can be a problem depending on the context.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Murat", decks=23, copies="1-2") %}
{% trans trimmed
nosferatu_royalty=link("/archetypes/bibliodeque/nosferatu-royalty"),
nikolaus_vermeulen=card("Nikolaus Vermeulen"),
calebros_the_martyr=card("Calebros, The Martyr")
%}
A <em>Prince</em> for the very reasonable price of 7 pool, he is often seen in
{{ nosferatu_royalty }} decks alongside {{ nikolaus_vermeulen }}
and {{ calebros_the_martyr }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Alonso Petrodon", decks=22, copies="2-4") %}
{% trans trimmed mistress=link("/archetypes/mistress") %}
His title and bleed bonus, combined with the rare {{ DOM }}{{ OBF }} discipline
combination, makes him a good pick in some political decks, like in the
{{ mistress }} archetype.
His ability can destroy low capacity Anarch decks single-handedly.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Selma the Repugnant", decks=17, copies="1-3") %}
{% trans trimmed the_dark_side_of_politics=link("/archetypes/runner-ups/the-dark-side-of-politics") %}
Yet another <em>Prince</em>, she is a bit expensive and does not even have
superior {{ ANI }}. Still, she can find her place in <em>Royalty</em> constructs using
{{ OBF }}, like in {{ the_dark_side_of_politics }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Beast, The Leatherface of Detroit", decks=15, copies="1-3") %}
{% trans trimmed
euro_brujah=link("/archetypes/bibliodeque/euro-brujah"),
theo_bell=card("Theo Bell")
%}
Always included for his ability and strength combined with {{ POT }}{{ cel }},
he gets included in {{ POT }} decks like for example in the
{{ euro_brujah }} archetype. He is often seen alongside {{ theo_bell }},
as they share similar abilities.
{% endtrans %}
{% endcall %}

{% endblock %}
