{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ salubri }} Salubri</h1>
<div class="insert tip">
    <p>
        {% trans trimmed salubri_powerbleed=link("/archetypes/salubri-powerbleed") %}
        New V5 Salubri have {{ dom }}{{ for }}{{ aus }} as clan disciplines.
        They have only a few tournament victories yet, mainly using variants of the
        {{ salubri_powerbleed }} archetype.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed
        salubri_legacy_cards=link("/best-cards/clans/salubri-legacy"),
        salubri_antitribu_cards=link("/best-cards/clans/salubri-antitribu")
        %}
        The legacy Salubri and Salubri Antitribu have differnt disciplines and archetypes,
        check them out on the {{ salubri_legacy_cards }} and {{ salubri_antitribu_cards }} pages.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Saulot, The Wanderer", decks=7, copies="4-5") %}
{% trans trimmed %}
Given he has all the necessary disciplines, Saulot stays the best star for the clan
in its V5 iteration. His abilities are all very useful.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Abaddon", decks=6, copies="2-3") %}
{% trans trimmed %}
His permanent maneuver and press makes him the best leader for the clan in most configurations.
Even when combat is not the focus, it is useful defensively.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ilonka", decks=6, copies="1-2") %}
{% trans trimmed govern=card("Govern the Unaligned", "Govern") %}
With her 7 capacity, she sits very well in the {{ govern }} chain,
and she has all clan disciplines at superior.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Malachi", decks=6, copies="1-2") %}
{% trans trimmed govern=card("Govern the Unaligned", "Govern") %}
All clan disciplines at superior for 6 capacity, solid value and place in the {{ govern }} chain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Sight Beyond Sight", decks=6, copies="1") %}
{% trans trimmed %}
A great permanent intercept boost at no cost, a no brainer.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Feast of the Soul's Secrets", decks=6, copies="3-9") %}
{% trans trimmed
govern=card("Govern the Unaligned", "Govern"),
freak_drive=card("Freak Drive")
%}
A strong bleed card, maybe even better than {{ govern }}. Both can even be played
alongside, using {{ freak_drive }} for a faster influnce.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Forced Confessional", decks=6, copies="3-7") %}
{% trans trimmed seduction=card("Seduction") %}
A super block denial device, that can be combined with {{ seduction }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Saulot's Avenging Fist", decks=4, copies="1-2") %}
{% trans trimmed seduction=card("Seduction") %}
A great archetype, providing both a permanent rush and increased strength.
Well worth the cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Saulot's Guiding Wisdom", decks=4, copies="1-2") %}
{% trans trimmed %}
Multiple interesting possibilities against votes and combats for a cheap 1 pool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Touch of Valeren", decks=4, copies="2-6") %}
{% trans trimmed rolling_with_the_punches=card("Rolling with the Punches") %}
A strong prevention, comparable and maybe even better than {{ rolling_with_the_punches }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Seraphina", decks=4, copies="1-2") %}
{% trans trimmed %}
An interesting potential leader for the clan, although less successful than {{ abaddon }} for now.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Unleashing the Bestial Soul", decks=4, copies="3-7") %}
{% trans trimmed deflection=card("Deflection") %}
An interesting modifier, that makes bouncing bleeds with something like {{ deflection }}
much more difficult. It makes for a great lunge device.
{% endtrans %}
{% endcall %}

{% endblock %}