{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-toreador.svg') }}"> Toreador</h1>
<p>
    The Toreador and their antitribu are a prominent clan in tournaments.
    They gave birth to two archetypes:
    {{ link("/archetypes/aaa", _("AAA")) }} using Toreador Camarilla Royalty and
    {{ link("/archetypes/jost-powerbleed", _("Jost Powerbleed")) }} using antitribu
    and their clan cards to deadly effects.
    Moreover, they are used in numbers in the
    {{ link("/archetypes/weenie-aus", _("Weenie AUS")) }} archetype.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anson.jpg">
        <h4>Anson</h4>
        <p class="center-subtitle">played in 82 decks, typically 2-5 copies</p>
    </div>
    <p>
        The definite star of the clan, his rare ability can completely reshape
        the way Master cards are handled in a deck. Using some
        {{ card("Ashur Tablets") }} with him becomes very
        efficient.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/rafaeldecorazon.jpg">
        <h4>Rafael de Corazon</h4>
        <p class="center-subtitle">played in 69 decks, typically 1-3 copies</p>
    </div>
    <p>
        With its superior <i>O</i> and <i>D</i> over its already powerful clan disciplines,
        he is the most played Inner Circle after
        {{ card("Lutz von Hohenzollern") }},
        a vampire he often accompanies anyway.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/isabeldeleon.jpg">
        <h4>Isabel de Leon</h4>
        <p class="center-subtitle">played in 67 decks, typically 1 copy</p>
    </div>
    <p>
        The cheapest <i>A</i> pool can buy. An easy inclusion in many constructs.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anneke.jpg">
        <h4>Anneke</h4>
        <p class="center-subtitle">played in 56 decks, typically 1-3 copies</p>
    </div>
    <p>
        Second "A" of the {{ link("/archetypes/aaa", _("AAA archetype")) }} after
        {{ card("Anson") }},
        her +1 bleed and unique ability to block cross table makes for a nice package
        in any construct with intercept capabilities.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/artmuseum.jpg">
        <h4>Art Museum</h4>
        <p class="center-subtitle">played in 51 decks, typically 1-2 copies</p>
    </div>
    <p>
        A nice bloat card providing 1 pool per turn, it can help get vampires out faster if it is drawn
        early on.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/francoisvillon.jpg">
        <h4>François Villon</h4>
        <p class="center-subtitle">played in 47 decks, typically 1-3 copies</p>
    </div>
    <p>
        Often side algonside {{ card("Anson") }} and
        {{ card("Anneke") }},
        his title combined with his nice ability makes for a good option.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/remilliarddevoutcrusader.jpg">
        <h4>Remilliard</h4>
        <p class="center-subtitle">played in 43 decks, typically 1 copy</p>
    </div>
    <p>
        A cheap <i>A</i> vampire with access to a useful inferior <i>r</i>, he gets included in many decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/alexandra.jpg">
        <h4>Alexandra</h4>
        <p class="center-subtitle">played in 40 decks, typically 2-3 copies</p>
    </div>
    <p>
        Last "A" of the {{ link("/archetypes/aaa", _("AAA archetype")) }} alongisde
        {{ card("Anson") }} and
        {{ card("Anneke") }}, her bleed bonus and title are good and her
        special unlock ability is very strong.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/andreleroux.jpg">
        <h4>Andre LeRoux</h4>
        <p class="center-subtitle">played in 39 decks, typically 1-2 copies</p>
    </div>
    <p>
        His unique ability makes him a good addition in many construct hoping
        to get an open road for bleed actions at some point.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/marcellus.jpg">
        <h4>Marcellus</h4>
        <p class="center-subtitle">played in 36 decks, typically 1-2 copies</p>
    </div>
    <p>
        A decent price for a <em>Prince</em> with this <i>AC</i> disciplines.
        More often than not, he is seen using range weapons like the
        {{ card(".44 Magnum") }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/delilaheaston.jpg">
        <h4>Delilah Easton</h4>
        <p class="center-subtitle">played in 29 decks, typically 1 copy</p>
    </div>
    <p>
        A cheap <i>r</i> vampire who finds her place in many decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/sheilamezarin.jpg">
        <h4>Sheila Mezarin</h4>
        <p class="center-subtitle">played in 33 decks, typically 1-2 copies</p>
    </div>
    <p>
        Only 6 pool for a +1 bleed with <i>AR</i>, this is a bargain.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/jostwerner.jpg">
        <h4>Jost Werner</h4>
        <p class="center-subtitle">played in 29 decks, typically 1-3 copies</p>
    </div>
    <p>
        The bonus stealth is quite strong combined with <i>R</i>, and the pool cost not so high.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/pallagrande.jpg">
        <h4>Palla Grande</h4>
        <p class="center-subtitle">played in 29 decks, typically 2-4 copies</p>
    </div>
    <p>
        The most played clan card for Toreador antitribu,
        it is an easy way to improve bleed for all vampires.
        The card is generally played in multiple copies in the deck,
        so as to make sure its destruction is not a stopping point for the construct.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/toreadorgrandball.jpg">
        <h4>Toreador Grand Ball</h4>
        <p class="center-subtitle">played in 28 decks, typically 3-7 copies</p>
    </div>
    <p>
        An iconic card of the Toreador clan, the cost of having a vampire locked is high,
        unless used in cunjonction with {{ card("Alexandra") }}.
        Anyway, even at this cost, making sure actions get through without even using stealth is very
        strong.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/marianagilbert.jpg">
        <h4>Mariana Gilbert</h4>
        <p class="center-subtitle">played in 27 decks, typically 1 copy</p>
    </div>
    <p>
        A cheap price for superior <i>R</i>, she gets included in many decks.
    </p>
</div>
{% endblock %}
