{% extends "best-cards/_layout.html" %}

{% block content %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-tremere.svg') }}"> Tremere</h1>
<p>
    The Tremere and their antitribu have access to the unique and versatile <i>t</i> discipline.
    Alongside <i>d</i> and <i>a</i>, it makes for a powerful combination,
    used in many successful archetypes:
<ul>
    <li>
        The {{ link("/archetypes/war-chantry", _("War Chantry")) }}, a toolbox using all
        three clan disciplines <i>adt</i>.
    </li>
    <li>
        {{ link("/archetypes/mistress", _("Mistress")) }}, an <em>Inner Circle</em> build
        using {{ card("Mistress Fanchon") }}
    </li>
    <li>
        The {{ link("/archetypes/nephandii", _("Nephandii")) }}, using
        {{ card("Antonio d'Erlette") }} to put multiple
        {{ card("Nephandus") }} into play
    </li>
    <li>
        The {{ link("/archetypes/goratrix-high-tower", _("Goratrix High Tower")) }}, a wall using
        {{ card("Goratrix") }} and its superior <i>I</i> as star.
    </li>
    <li>
        {{ link("/archetypes/tupdogs", _("Tupdogs")) }}, a rush archetype which uses Tremere
        antitribu
        to get some {{ card("Tupdog") }} into play and use them to
        dispose
        of the opponents minions.
    </li>
</ul>
</p>
<p>
    Finally, Tremere also appear in the
    {{ link("/archetypes/tzimisce-wall", _("Tzimisce Wall")) }} archetype as
    {{ card("Lord Tremere") }},
    {{ card("Mistress Fanchon") }} and
    {{ card("Malgorzata") }}
    all have <i>V</i> alongside powerful abilities.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/mirrorwalk.jpg">
        <h4>Mirror Walk</h4>
        <p class="center-subtitle">played in 156 decks, typically 2-8 copies</p>
    </div>
    <p>
        A good stealth enhancer, the only one available with the clan disciplines.
        Its combat avoidance effect at superior <i>T</i> can come in handy.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/magicofthesmith.jpg">
        <h4>Magic of the Smith</h4>
        <p class="center-subtitle">played in 141 decks, typically 2-5 copies</p>
    </div>
    <p>
        A rare effect in the game, the ability to fetch any equipment in the library is very strong.
        The +3 stealth bonus at superior <i>T</i> makes it very hard to block.
        Some decks use <i>T</i> for this card only.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/keithmoody.jpg">
        <h4>Keith Moody</h4>
        <p class="center-subtitle">played in 124 decks, typically 1-2 copies</p>
    </div>
    <p>
        The cheapest <i>D</i> pool can buy, he is played in many decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/theftofvitae.jpg">
        <h4>Theft of Vitae</h4>
        <p class="center-subtitle">played in 86 decks, typically 5-11 copies</p>
    </div>
    <p>
        An excellent combat card: as it <em>steals</em> blood there is no damage to prevent,
        and at the end of the round it is a 4 blood difference between the two vampires, at no cost.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/nephandus.jpg">
        <h4>Nephandus</h4>
        <p class="center-subtitle">played in 77 decks, typically 2-12 copies</p>
    </div>
    <p>
        An excellent ally: not so expensive, not unique so many of them can be into play, they strike 1R
        with a press and prevent one damage per strike, so this means they do not lose any life against a
        vampire that does not play any combat card.
        They gave birth to the {{ link("/archetypes/nephandii", _("Nephandii")) }} archetype.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/ponticulus.jpg">
        <h4>Ponticulus</h4>
        <p class="center-subtitle">played in 73 decks, typically 1 copy</p>
    </div>
    <p>
        A good ally at a cheap price: he is quite the defender and very resilient
        as aggravated damage is required to kill him.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/rutorshand.jpg">
        <h4>Rutor's Hand</h4>
        <p class="center-subtitle">played in 73 decks, typically 1-3 copies</p>
    </div>
    <p>
        An expensive but powerful device to augment {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }}.
        Its cost did not prevent it to be played in many <i>t</i> constructs, if only as an option.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/antonioderlette.jpg">
        <h4>Antonio d'Erlette</h4>
        <p class="center-subtitle">played in 69 decks, typically 2-5 copies</p>
    </div>
    <p>
        Second pillar of the {{ link("/archetypes/nephandii", _("Nephandii")) }} archetype, his capacity
        is
        exceptionnal. Being able to put some allies into play without even taking an action that could be
        blocked
        is a definitive edge.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/arcanelibrary.jpg">
        <h4>Arcane Library</h4>
        <p class="center-subtitle">played in 63 decks, typically 1-2 copies</p>
    </div>
    <p>
        A good bloat device at a decent price. Few clans have access to this kind of location, but it
        generates
        a pool per turn so it is quickly profitable.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/mistressfanchon.jpg">
        <h4>Mistress Fanchon</h4>
        <p class="center-subtitle">played in 63 decks, typically 1-3 copies</p>
    </div>
    <p>
        An <em>Inner Circle</em> with the classical 4 votes and +2 bleed bonus, she also has a unique
        ability to
        fetch the card she wants. Moreover, her <i>ODA</i> disciplines combination, alongside <i>TV</i>,
        is powerful in many decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/apportation.jpg">
        <h4>Apportation</h4>
        <p class="center-subtitle">played in 61 decks, typically 5-10 copies</p>
    </div>
    <p>
        A very versatile combat device: maneuver or press at no cost is a great tool.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/carnatheprincesswitch.jpg">
        <h4>Carna, the Princess Witch</h4>
        <p class="center-subtitle">played in 60 decks, typically 1-4 copies</p>
    </div>
    <p>
        A star among the Tremere, her +1 intercept an good disciplines for a decent cost makes her a
        favorite
        in many decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/tupdog.jpg">
        <h4>Tupdog</h4>
        <p class="center-subtitle">played in 57 decks, typically 2-16 copies</p>
    </div>
    <p>
        An infamous rush device, only available as an offensive tool for Tremere antitribu. They gave birth
        to the
        {{ link("/archetypes/tupdogs", _("Tupdogs")) }} archetype.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/saiz.jpg">
        <h4>Saiz</h4>
        <p class="center-subtitle">played in 58 decks, typically 1 copy</p>
    </div>
    <p>
        A good disciplines combination for only 3 pool, plus he is in the group 3 so
        he can be included in many crypts.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/emberwright.jpg">
        <h4>Ember Wright</h4>
        <p class="center-subtitle">played in 52 decks, typically 1 copy</p>
    </div>
    <p>
        Yet another <i>da</i> for 3, included in many crypts for the same reason as
        {{ card("Saiz") }}: she's cheap and has good disciplines.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/regomotum.jpg">
        <h4>Rego Motum (51 decks)</h4>
        <p class="center-subtitle">played in 51 decks, typically 1-5 copies</p>
    </div>
    <p>
        A very decent damage prevention card, even if not as powerful as <i>f</i>
        {{ card("Rolling With the Punches") }},
        it is the only damage prevention available to the Tremere.
    </p>
</div>
{% endblock %}
