{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ tremere }} Tremere</h1>
<div class="insert tip">
    {% trans trimmed
    war_chantry=link("/archetypes/war-chantry"),
    mistress=link("/archetypes/mistress"),
    nephandii=link("/archetypes/tupdogs-nephandus"),
    goratrix_high_tower=link("/archetypes/goratrix-high-tower"),
    antonio_d_erlette=card("Antonio d'Erlette"),
    malgorzata_arch=link("/archetypes/malgorzata_arch"),
    nephandus=card("Nephandus"),
    goratrix=card("Goratrix"),
    tupdogs=card("Tupdog", "Tupdogs"),
    lord_tremere=card("Lord Tremere"),
    mistress_fanchon=card("Mistress Fanchon"),
    malgorzata=card("Malgorzata")
    %}
    <p>
        The Tremere and their antitribu have access to the unique and versatile
        {{ tha }} discipline. Alongside {{ dom }} and {{ aus }}, it makes for a powerful
        combination, used in many successful archetypes:
    <ul>
        <li>
            The {{ war_chantry }}, a toolbox using all
            three clan disciplines {{ aus }}{{ dom }} {{ tha }}.
        </li>
        <li>
            {{ mistress }}, an <em>Inner Circle</em> build using {{ mistress_fanchon }}.
        </li>
        <li>
            The {{ nephandii }}, using {{ antonio_d_erlette }} to put multiple
            {{ nephandus }} into play and {{ tupdogs }} to dispose
            of the opponents minions.
        </li>
        <li>
            The {{ goratrix_high_tower }}, a wall using
            {{ goratrix }} and its superior {{ ANI }} as star.
        </li>
        <li>
            {{ malgorzata_arch }}, a toolbox archetype which uses Tremere with {{ VIC }}
            and powerful abilities, like {{ lord_tremere }}, {{ mistress_fanchon }} and
            {{ malgorzata }}.
        </li>
    </ul>
    </p>
    {% endtrans %}
</div>

{% call layout.card_column("Mirror Walk", decks=156, copies="2-8") %}
{% trans trimmed %}
A good stealth enhancer, the only one available with the clan disciplines.
Its combat avoidance effect at superior {{ THA }} can come in handy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Magic of the Smith", decks=141, copies="2-5") %}
{% trans trimmed %}
A rare effect in the game, the ability to fetch any equipment in the library
is very strong. The +3 stealth bonus at superior {{ THA }} makes it very hard to block.
Some decks use {{ THA }} for this card only.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Keith Moody", decks=124, copies="1-2") %}
{% trans trimmed %}
The cheapest {{ DOM }} pool can buy, he is played in many decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Theft of Vitae", decks=86, copies="5-11") %}
{% trans trimmed %}
An excellent combat card: as it <em>steals</em> blood there is no damage to prevent,
and at the end of the round it is a 4 blood difference between the two vampires,
at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Nephandus", decks=77, copies="2-12") %}
{% trans trimmed nephandii=link("/archetypes/bibliodeque/nephandii") %}
An excellent ally: not so expensive, not unique so many of them can be into play,
they strike 1R with a press and prevent one damage per strike,
so this means they do not lose any life against a vampire
that does not play any combat card.
They gave birth to the {{ nephandii }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ponticulus", decks=73, copies="1") %}
{% trans trimmed %}
A good ally at a cheap price: he is quite the defender and very resilient
as aggravated damage is required to kill him.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rutor's Hand", decks=73, copies="1-3") %}
{% trans trimmed a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB") %}
An expensive but powerful device to augment {{ a_b }}.
Its cost did not prevent it to be played in many {{ tha }} decks, if only as an option.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Antonio d'Erlette", decks=69, copies="2-5") %}
{% trans trimmed nephandii=link("/archetypes/bibliodeque/nephandii") %}
Second pillar of the {{ nephandii }} archetype, his capacity is exceptionnal.
Being able to put some allies into play without even taking an action that could be
blocked is a definitive edge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Arcane Library", decks=63, copies="1-2") %}
{% trans trimmed %}
A good bloat device at a decent price. Few clans have access to this kind of location,
but it generates a pool per turn so it is quickly profitable.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mistress Fanchon", decks=63, copies="1-3") %}
{% trans trimmed %}
An <em>Inner Circle</em> with the classical 4 votes and +2 bleed bonus,
she also has a unique ability to fetch the card she wants.
Moreover, her {{ AUD }}{{ DOM }}{{ OBF }} disciplines
combination, alongside {{ THA }}{{ VIC }}, is powerful in many decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Apportation", decks=61, copies="5-10") %}
{% trans trimmed %}
A very versatile combat device: maneuver or press at no cost is a great tool.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Carna, the Princess Witch", decks=60, copies="1-4") %}
{% trans trimmed %}
A star among the Tremere, her +1 intercept an good disciplines for a decent cost
makes her a favorite in many decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tupdog", decks=57, copies="2-16") %}
{% trans trimmed tupdogs=link("/archetypes/tupdogs-nephandus") %}
An infamous rush device, only available as an offensive tool for Tremere antitribu.
They gave birth to the {{ tupdogs }} archetype.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Saiz", decks=58, copies="1") %}
{% trans trimmed %}
A good disciplines combination for only 3 pool, plus he is in the group 3 so
he can be included in many crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ember Wright", decks=52, copies="1") %}
{% trans trimmed saiz=card("Saiz") %}
Yet another {{ dom }}{{ aus }} for 3, included in many crypts for the same reason as
{{ saiz }}: she's cheap and has good disciplines.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rego Motum", decks=51, copies="1-5") %}
{% trans trimmed rolling_with_the_punches=card("Rolling With the Punches") %}
A very decent damage prevention card, even if not as powerful as {{ for }}
{{ rolling_with_the_punches }}, it is the only damage prevention available
to the Tremere.
{% endtrans %}
{% endcall %}
{% endblock %}
