{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ true_brujah }}
    {% trans trimmed %}
    True Brujah
    {% endtrans %}
</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        summon_history=card("Summon History"),
        fernando_grossi_s_deck=link("/deck-search", _("Fernando Grossi's deck"), id="2011sac")
        %}
        The True Brujah and their unique {{ tem }} discipline
        have some powerful vampires among their ranks.
        The use of {{ summon_history }} to put vampires or allies into play
        fast and cheap has given birth to interesting decklists,
        like {{ fernando_grossi_s_deck }} from 2011.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Domain of Evernight", decks=58, copies="1-8") %}
{% trans trimmed outside_the_hourglass=card("Outside the Hourglass") %}
Often played for its additional stealth at inferior {{ obf }} outside of the clan,
its {{ tem }} and {{ TEM }} effects makes it a useful tool in virtually all
True Brujah decks. Combined with {{ outside_the_hourglass }},
it forms the most dreadful combat combination of the game.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tabriz Assembly", decks=21, copies="1") %}
{% trans trimmed %}
A Hunting Ground giving +1 hand size at no cost is awesome,
the fact that it is removable is not really an issue.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Tangle Atropos' Hand", decks=20, copies="1-5") %}
{% trans trimmed %}
An excellent stealth device at superior {{ TEM }}, as it not only adds stealth
but also tends to consume wakes on the opponents side. The {{ pot }} is useful
when a bleed is bounced: a block attempt, even non succesful,
allows it to cancel the action.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Outside the Hourglass", decks=17, copies="6-11") %}
{% trans trimmed
domain_of_evernight=card("Domain of Evernight"),
disarm=card("Disarm")
%}
A unique effect: combined with {{ domain_of_evernight }} it can deliver
aggravated damage <em>before</em> the strikes.
Hard to prevent as it is not a strike, and oblivious to "combat ends",
it can be combined with {{ disarm }} as it is not environmental.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Summon History", decks=16, copies="3-9") %}
{% trans trimmed
the_ankara_citadel=card("The Ankara Citadel, Turkey", "The Ankara Citadel")
%}
A unique effect both at inferior {{ tem }} and superior {{ TEM }}.
Combined with {{ the_ankara_citadel }}, it can put allies and vampires into play
for half the price.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Al-Muntathir, God's Witness", decks=15, copies="3-5") %}
{% trans trimmed freak_drive=card("Freak Drive") %}
The most played vampire of the clan, its superior {{ FOR }} is often the reason
of its presence in a crypt. As True Brujah are scarce, the ability to play
{{ freak_drive }} is a good asset.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Clotho's Gift", decks=14, copies="1-5") %}
{% trans trimmed
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB")
%}
Also used in {{ obf }} constructs to help get more vampires out of the crypt,
its superior {{ TEM }} effect is an obvious {{ a_b }} increase at a very cheap cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Vaticination", decks=14, copies="2-7") %}
{% trans trimmed %}
An excellent clan card: the +3 stealth bonus makes it virtually unblockable,
and its effect is excellent at controlling the table. Both neighbours can quickly loose
their bleed bounces or lunge cards, plus it can be used to deal across the table.
{% endtrans %}
{% endcall %}

{% endblock %}
