{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ tzimisce }} Tzimisce</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        animals=link("/archetypes/animals"),
        living_museum=link("/archetypes/living-museum")
        %}
        The V5 Tzimisce are now Anarch and have {{ ani }}{{ pro }}{{ dom }} as clan disciplines.
        They allow for efficient bleed decks, like the {{ living_museum }},
        and can also work with Gangrels {{ gangrel }} for {{ PRO }}{{ ANI }} Baron builds like in {{ animals }}.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed tzimisce_legacy_cards=link("/best-cards/clans/tzimisce-legacy") %}
        Legacy Tzimisce have their own page, {{ tzimisce_legacy_cards }}.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Ángel Guerrero", decks=35, copies="1-3") %}
{% trans trimmed %}
All clan disciplines and a Baron title, well worth the cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Branimira", decks=31, copies="1-2") %}
{% trans trimmed %}
Cheapest Baron of the clan, his disciplines are not the best, but his ability is useful.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Adrino Manauara", decks=31, copies="1-3") %}
{% trans trimmed carrion_crows=card("Carrion Crows") %}
He's on the expensive side, but his press works well with {{ carrion_crows }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Clara Hjortshøj", decks=24, copies="1") %}
{% trans trimmed carrion_crows=card("Carrion Crows") %}
An ideal midcap, with {{ dom }} to bleed and {{ PRO }} for stealth.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Marialena", decks=23, copies="1-2") %}
{% trans trimmed form_of_mist=card("Form of Mist") %}
A troublesome drawback that makes {{ form_of_mist }} a costly option for her.
But with {{ DOM }}{{ PRO }} for only 5, she is still worth it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("One With the Land", decks=13, copies="2-6") %}
{% trans trimmed form_of_mist=card("Form of Mist") %}
A solid intercept device, the superior {{ PRO }} unlock effect is interesting to stop {{ form_of_mist }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Living Manse", decks=9, copies="2-7") %}
{% trans trimmed the_british_museum=card("The British Museum") %}
A strong permanent bleed enhancer, especially interesing in conjunction with {{ the_british_museum }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Sculpt the Flesh", decks=6, copies="2-4") %}
{% trans trimmed form_of_mist=card("Form of Mist") %}
A nice strike for free aggravated damage, the superior {{ PRO }} option
can be useful against an ally or to slow down an opponent.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Vozhd of Sofia", decks=6, copies="1-2") %}
{% trans trimmed war_ghoul=card("War Ghoul") %}
A strong ally, one step above the infamous {{ war_ghoul }}, but unique.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Asanbonsam Ghoul", decks=5, copies="1-5") %}
{% trans trimmed war_ghoul=card("War Ghoul") %}
A nice intercept ally, often seen alongside {{ war_ghoul }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("War Ghoul", decks=5, copies="2-7") %}
{% trans trimmed piper=card("Piper") %}
A brutal ally, that can even be recruited through {{ piper }} to avoid blocks.
A sacrifice is required, but it is well worth the hassle.
{% endtrans %}
{% endcall %}

{% endblock %}