{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>{{ ventrue }} Ventrue</h1>
<div class="insert tip">
    {% trans trimmed
    anti_ventrue_grinder=link("/archetypes/anti-ventrue-grinder"),
    ventrue_royalty=link("/archetypes/gentlemen-with-sticks"),
    the_bleeding_vignes=link("/archetypes/bibliodeque/the-bleeding-vignes"),
    edward_vignes=card("Edward Vignes"),
    weenie_dom=link("/archetypes/bibliodeque/weenie-dom")
    %}
    <p>
        The Ventrue with {{ pre }}{{ dom }}{{ for }} and their antitribu with
        {{ aus }}{{ dom }}{{ for }} have powerful disciplines and abilities.
        They are a prominent clan in tournaments and are seen in a number of Archetypes:
    <ul>
        <li>
            The {{ anti_ventrue_grinder }}, a toolbox using Ventrue antitribu.
        </li>
        <li>
            The {{ ventrue_royalty }}, a toolbox using titled Camarilla Ventrue.
        </li>
        <li>
            {{ the_bleeding_vignes }}, a powerbleed deck starring {{ edward_vignes }}.
        </li>
        <li>
            {{ weenie_dom }}, a Weenie bleed deck using {{ dom }}.
        </li>
    </ul>
    </p>
    {% endtrans %}
</div>

{% call layout.card_column("Neighbor John", decks=94, copies="1-2") %}
{% trans trimmed %}
{{ AUS }} with a permanent intercept bonus for just 5 pool,
he finds his place in many {{ AUS }} crypts,
including in non-Ventrue toolbox and wall decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Jephta Hester", decks=88, copies="1") %}
{% trans trimmed neighbor_john=card("Neighbor John") %}
A cheap cost for the {{ FOR }}{{ DOM }} combination, she often gets included alongside
{{ neighbor_john }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ventrue Headquarters", decks=85, copies="1-2") %}
{% trans trimmed %}
A powerful edge for Ventrue political decks, it often gets included
if there is the slightest chance some additional votes can come in handy,
even defensively.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Owain Evans, The Wanderer", decks=77, copies="2-3") %}
{% trans trimmed %}
All clan disciplines {{ AUS }}{{ DOM }}{{ FOR }} at superior for a decent cost,
he also has a convenient ability. It is used to get some blood on the owner vampires,
but can also be a bargaining chip with the other players.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ulrike Rothbart", decks=76, copies="1") %}
{% trans trimmed
jephta_hester=card("Jephta Hester"),
neighbor_john=card("Neighbor John")
%}
A cheap cost for {{ for }}{{ dom }}, she often gets included alongside
{{ jephta_hester }} and {{ neighbor_john }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Blackhorse Tanner", decks=76, copies="1-2") %}
{% trans trimmed owain_evans=card("Owain Evans, The Wanderer", "Owain Evans")%}
All clan disciplines {{ AUS }}{{ DOM }}{{ FOR }} at superior for a reasonable 7 pool,
he also has a good ability for card rotation. He often gets included algonside
{{ owain_evans }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Graham Gottesman", decks=65, copies="1-2") %}
{% trans trimmed %}
A cheap <em>Prince</em> in group 5, he finds his place in many political decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Jefferson Foster", decks=66, copies="1") %}
{% trans trimmed %}
A good disciplines combination for 6 pool,
he finds his place in many Ventre antitribu crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Victor Pelletier", decks=63, copies="1-2") %}
{% trans trimmed %}
Superior {{ PRE }} with an ability that easily let him get some votes,
he is an easy inclusion in any {{ PRE }} based deck.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Arika", decks=57, copies="1-5") %}
{% trans trimmed
council_of_doom=link("/archetypes/bibliodeque/council-of-doom"),
the_dark_side_of_politics=link("/archetypes/runner-ups/the-dark-side-of-politics")
%}
The infamous Ventrue <em>Inner Circle</em>, her ability and access to {{ DOM }}{{ OBF }}
gets her included in many <em>Inner Circle</em> constructs, like in the
{{ council_of_doom }} or {{ the_dark_side_of_politics }} archetypes.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mustafa, The Heir", decks=56, copies="1-2") %}
{% trans trimmed %}
A cheap <em>Prince</em> in group 4 with good disciplines,
he gets included in many political decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Lana Butcher", decks=54, copies="1") %}
{% trans trimmed %}
A cheap cost for {{ dom }}{{ for }}, she gets included in many Ventrue
and Ventrue antitribu decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Lodin (Olaf Holte)", decks=51, copies="1-3") %}
{% trans trimmed
ventrue_royalty=link("/archetypes/gentlemen-with-sticks")
%}
Star of the modern variant of the {{ ventrue_royalty }} archetype,
he has all clan disciplines at superior {{ DOM }}{{ PRE }}{{ FOR }} and
his ability to prevent damage makes him quite sturdy.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Marcus Vitel", decks=49, copies="1-3") %}
{% trans trimmed %}
Although he is a bit pricey, his title and access to {{ DOM }}{{ OBF }},
and in some cases {{ OBT }}, gets him included in many crypts.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Emily Carson", decks=46, copies="1") %}
{% trans trimmed %}
A decent 5 pool for superior {{ DOM }}, she still has {{ for }}
and her unlock ability can be useful.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Victor Donaldson", decks=45, copies="1-2") %}
{% trans trimmed
ventrue_royalty=link("/archetypes/gentlemen-with-sticks")
%}
A cheap <em>Prince</em> in group 5, with superior {{ DOM }}, he easily gets included in
{{ ventrue_royalty }} decks.
{% endtrans %}
{% endcall %}

{% endblock %}
