{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/aaa.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-toreador.svg') }}"> AAA</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed 
    anson=card("Anson"),
    alexandra=card("Alexandra"),
    anneke=card("Anneke"),
    second_tradition_domain=card("Second Tradition: Domain"),
    concealed_weapon=card("Concealed Weapon"),
    magnum=card("44 Magnum"), 
    parity_shift=card("Parity Shift"),
    aire_of_elation=card("Aire of Elation"),
    ashur_tablets=card("Ashur Tablets"),
    liquidation=card("Liquidation"),
    resist_earths_grasp=card("Resist Earth's Grasp"),
    heart_of_the_city=card("Heart of the City"),
    codex_of_the_edenic_groundskeepers=card("Codex of the Edenic Groundskeepers"),
    entrancement=card("Entrancement"),
    scourge_of_the_enochians=card("Scourge of the Enochians"),
    toreador_grand_ball=card("Toreador Grand Ball"),
    majesty=card("Majesty"),
    aching_beauty=card("Aching Beauty"),
    alastor=card("Alastor"),
    assault_rifle=card("Assault Rifle"),
    tomasz_deck=link("/deck-search", _("Tomasz Izydorczyk's deck"), twda_id="2019pncwp"),
    martin_deck=link("/deck-search", _("Martin Miller's deck"), twda_id="2013cncpf2"),
    laszlo_deck=link("/deck-search", _("László Walter's deck"), twda_id="2012ecsod"),
    izaak_deck=link("/deck-search", _("Izaak Havelaar's deck"), twda_id="2010kaldecq")
%}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck starring {{ anson }} alongside
    {{ alexandra }} and {{ anneke }}, hence the "AAA" name.
</p>
<p>
    The deck is well-balanced, using {{ second_tradition_domain }}
    for wake and intercept, {{ concealed_weapon }} + {{ magnum }}
    with {{ CEL }} for combat, {{ parity_shift }} and {{ aire_of_elation }}
    for pool damage and {{ anson }}'s ability to bloat and use recursion with
    {{ ashur_tablets }} and {{ liquidation }}.
</p>
<p>
    {{ resist_earths_grasp }} can provide a bit of stealth
    or be used in combat if required.
</p>
<p>
    {{ heart_of_the_city }} and {{ codex_of_the_edenic_groundskeepers }}
    are good bleed enhancers for the late game.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ entrancement }} can help get rid of cumbersome allies,
    {{ scourge_of_the_enochians }} is there to deal with breed constructs.
</p>
<p>
    As the game progresses, {{ ashur_tablets }} are used for recursion
    to adapt the deck content to the table context,
    bringing back more of what is really needed in the deck.
</p>
<h2>Variants</h2>
<p>
    The <strong>Anson Guns</strong> variant focuses on {{ anson }}
    and drops its Toreador companions to get cheaper vampires with {{ CEL }},
    like in {{ tomasz_deck }} from 2019.
</p>
<p>
    The <strong>Grand Ball</strong> variant ditches the combat module and uses
    {{ alexandra }}'s ability with {{ toreador_grand_ball }} to provide unblockable
    votes, like in {{ martin_deck }} from 2013.
</p>
<p>
    The <strong>Aching Beauty</strong> variant also replaces the combat module
    with defensive {{ majesty }}, but uses {{ aching_beauty }} in numbers
    to make the vampires actions hard to block, like in {{ laszlo_deck }} from 2012.
</p>
<p>
    The <strong>AAAAA</strong> variant keeps {{ alexandra }} and {{ anneke }}
    and uses the {{ alastor }} + {{ assault_rifle }} combination (hence the five "A"),
    like in {{ izaak_deck }} from 2010.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
    {{ erratum.parityshift() }}
    {{ erratum.antheliostheredstar() }}
</div>
{% endblock %}
