{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/akunanse-wall.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-akunanse.svg') }}"> Akunanse Wall</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is an Akunanse <em>wall</em> deck, using <i>WIF</i>. It leans on the <em>toolbox</em> side of things.
    Depending on the build, it can be a pure wall or use <em>Magaji</em> and include some political cards.
    The idea is to use the classical big capacity <i>i</i> Intercept combination
    ({{ card("Raven Spy") }}, {{ card("Cat's Guidance") }}, {{ card("Sense the Savage Way") }})
    combined with the excellent <i>w</i> wake/intercept card: {{ card("Predator's Communion") }}.
</p>
<p>
    The combat module is short-ranged, using
    {{ card("Invoking the Beast") }} in combination with {{ card("Carrion Crows") }}.
    <i>f</i> provides a welcome damage prevention for more sturdiness.
</p>
<p>
    This is a slow play, slowing down the prey and predator and bloating a bit with Master cards,
    all the while bleeding when possible with {{ card("Deep Song") }} and {{ card("Predator's Mastery") }}.
</p>
<h2>Tips & Tricks</h2>
<p>
    As Akunanse are Laibon, they have access to some niche cards:
    {{ card("Powerbase: Luanda") }} is invaluable for
    increasing the rush power,
    {{ card("Well-Marked") }} helps with damage mitigation
    and {{ card("Shaman") }} is slightly better than a
    {{ card("Raven Spy") }}.
</p>
<p>
    <i>f</i> provides the excellent {{ card("Freak Drive") }},
    improving {{ link("/strategy/fundamentals", _("A&B"), _anchor="AB") }} quite a bit.
</p>
<p>
    Combining the big capacity vampires access to
    {{ card("Sense the Savage Way") }} with
    {{ card("Predator's Communion") }} and
    {{ card("Cats' Guidance") }} means every reaction card is a wake
    of some kind. This makes for a strong wall.
</p>
<p>
    Both {{ card("Fakir al Sidi") }} and
    {{ card("Matata") }} have a +1 strength bonus and a press,
    a nice combination for the short-ranged combat module.
</p>
<h2>Creator Insights</h2>
<p>
    <em>Dávid Farkas</em> was kind enough to provide the following insights:
</p>
<p>
    The biggest strenght of the deck are <strong>permanency</strong> and <strong>versatility</strong>.
</p>
<p>
    By <strong>permanency</strong>, I mean that even with 100% hand jam, the deck can function just fine.
    {{ card("Fakir al Sidi") }} and {{ card("Matata") }} can both fight a combat and deal a total of
    4 damage without a single card. Permanent intercept is also awesome.
</p>
<p>
    As for <strong>versatility</strong>, every single intercept reaction is also a form of wake.
    The fact that {{ card("Deep Song") }} is both a rush and a bleed means
    that the deck has an usual lunge potential, as he can bleed for 9 with 3 minions.
</p>
<h2>Variants</h2>
<p>
    Minor variations exist for the combat module, as it can also contain
    {{ card("Devil-Channel: Back") }} and/or {{ card("Devil-Channel: Hands") }}.
</p>
<p>
    An original module played by {{ link("/deck-search", _("Michael Bartsch"), twda_id="2012ghn") }} in
    2015 uses
    {{ card("Pack Alpha") }} alongside {{ card("Duma Rafiki") }} and
    {{ card("Elephant Guardian") }}.
</p>
<p>
    Many versions of this deck also include the {{ card("Abombwe") }}
    discipline card: as it's a <em>Trifle</em>, hence a cheap card to improve
    {{ card("Fakir al Sidi") }} or {{ card("Sanjo") }}.
</p>
<p>
    The <strong>Magaji</strong> variant disregards
    {{ card("Fakir al Sidi") }} and
    {{ card("Matata") }} to use
    the <em>Magaji</em> {{ card("Umdava") }} and
    {{ card("Nkule Galadima") }} instead.
    Together with {{ card("Uchenna") }}, they all can play
    {{ card("No Secrets From the Magaji") }},
    a powerful addition to the intercept module. Furthermore, this allows the inclusion of some political actions
    for a bit more versatility. To free some slots up, the bleed power of the deck is toned down.
    {{ link("/deck-search", _("Noel Giménez Infante's deck"), twda_id="2012secqbdvs") }} from the 2012
    Spanish ECQ is a good example of this variant.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
</div>
{% endblock %}
