{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/amaravati-politics.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">Amaravati Politics</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>breed & boon</em> political deck using
    {{ card("Amaravati") }} as a star for his ability, then creating
    a swarm of Assamite with {{ card("The Embrace") }} and
    {{ card("Web of Knives Recruit") }}, bloating with {{ card("Consanguineous Boon") }} and
    {{ card("Haqim's Law: Leadership") }}.
</p>
<p>
    The deck has a rather slow build-up but a high bloat that makes him sturdy. Furthermore, it delivers
    consistent pool damage with votes on one hand
    ({{ card("Reckless Agitation") }} and
    {{ card("Kine Resources Contested") }})
    and bleed actions on the other hand
    (either naked bleeds or with the {{ card("Loss") }} action).
</p>
<p>
    The deck has a strong stealth as <i>O</i> is one of his core disciplines.
</p>
<h2>Tips & Tricks</h2>
<p>
    During the first half of the game, the deck should focus on breeding and bloating, surviving its predator.
    {{ card("Heart of Nizchetus") }} must come in play as
    early as possible, in order to cycle the aggressive actions foe the time being, and
    {{ card("Information Highway") }} can speed up this first phase.
</p>
<p>
    Once a dozen Assamite are out, aggressive votes are used to destroy the prey's pool.
    {{ card("The Sargon Fragment") }} can be used to fetch {{ card("Reckless Agitation") }} or {{ card("Loss") }} back
    from the ash heap. </p>
<p>
    {{ card("Amaravati") }} should be well protected, using
    {{ card("Yoruba Shrine") }} and
    {{ card("Direct Intervention") }} or sacrificing neonates
    to counter rush actions.
</p>
<p>
    {{ card("Alamut") }} should be resplenished as much as possible.
    Vampires with <i>o</i> are supposed to get some bleed through (even for 1 pool) to get tokens on it fast.
</p>
<h2>Variants</h2>
<p>
    Regarding the decklist example, some other cards can been included:
    <li>
        {{ card("The Uncoiling") }} to defend against
        {{ card("Scourge of the Enochians") }}, a common
        counter against breed decks like this one.
    </li>
    <li>
        {{ card("The Khabar: Community") }} to help get the
        neonates bleed through.
    </li>
    <li>
        {{ card("Perfectionist") }} and/or
        {{ card("The Coven") }} to help get some blood back on
        {{ card("Amaravati") }}.
    </li>
    <li>
        Some {{ card("Deflection") }} and
        {{ card("Black Sunrise") }} to bump up the defence a bit.
    </li>
</p>
<p>
    There is a <strong>Laibon</strong> variant to this deck, using more copies of
    {{ card("Olugbenga") }} and
    {{ card("Kamau Jafari") }}, then replacing
    {{ card("The Embrace") }} by the cheaper
    {{ card("Bamba") }}.
    This also allows the use of some good Laibon cards like
    {{ card("Kduva's Mask") }} and
    {{ card("The Secret Must Be Kept") }}.
    {{ link("/deck-search", _("Riccardo Fabiani's deck"), twda_id="2011italyqtgenova") }}
    at the 2011 Italian Grand Prix is a good example.
</p>
{% endblock %}
