{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/cats.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-ahrimanes.svg') }}">Cats</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is an Ahrimanes wall deck using group 4 Ahrimanes.
    Depending on the build, it can be a pure wall or more of a toolbox.
    The core concept is to use the rather classical <i>i</i> Intercept/Combat combination
    —
    {{ card("Raven Spy") }},
    {{ card("Cat's Guidance") }},
    {{ card("Aid From Bats") }} and
    {{ card("Carrion Crows") }}
    —
    combined with <i>z</i> intercept and combat enhancers:
    {{ card("Falcon's Eye") }},
    {{ card("Speak with Spirits") }},
    {{ card("Ears of the Hare") }} and
    {{ card("Swiftness of the Stag") }}.
</p>
<p>
    This is a slow play, slowing down the prey and predator and bloating a bit with Master cards,
    all the while bleeding when possible with {{ card("Deep Song") }}
    and dealing additional pool damage with {{ card("Fame") }} and
    {{ card("Dragonbound") }}.
</p>
<h2>Tips & Tricks</h2>
<p>
    As Ahrimanes are Sabbat, they have access to {{ card("Abbot") }},
    an excellent intercept enhancer. Having <i>z</i> for intercept allows to drop the classical
    {{ card("Raven Spy") }} completely,
    although most builds of this archetype still include it, sometimes along
    {{ card("Muricia's Call") }} and some other animal retainers.
</p>
<p>
    <i>z</i> also provides {{ card("Engling Fury") }}, an excellent
    blood regeneration tool which, along {{ card("Taste of Vitae") }},
    helps the Master {{ link("/strategy/bloat", _("leeching"), _anchor="leeching") }}
    bloat module.
</p>
<p>
    The <i>i</i> combat module always includes some cards against weapon modules to be able to handle some
    {{ card("Ivory Bow") }},
    {{ card(".44 Magnum") }} or
    {{ card("Sniper Rifle") }} on the opponent side.
    To this effect and depending on the context,
    {{ card("Drawing Out the Beast") }},
    {{ card("Canine Horde") }} or
    {{ card("Terror Frenzy") }} can be used.
</p>
<p>
    If allies are expected, {{ card("Vulture's Buffet") }}
    can be preferred to {{ card("Engling Fury") }} and
    {{ card("Entrancement") }} can be added to the mix.
</p>
<h2>Creator Insights</h2>
<p>
    <em>Randal Rudstam</em> was kind enough to provide the following insights:
</p>
<p>
    Getting into the three player endgame is more of a priority than getting the first or second oust.
</p>
<p>
    A third way to play them is to go Anarch, remove {{ card("Abbot") }}
    for some {{ card("Anarch Revolt") }}s and access to
    {{ card("Field Training") }}.
</p>
<h2>Variants</h2>
<p>
    The main variant is a <em>wall</em> construct as given in example. Some may include <i>r</i> cards to help
    on the bleeding side, like {{ card("Legal Manipulations") }}
    and {{ card("Aire of Elation") }}.
    {{ card("Underbridge Stray") }} is also a common inclusion,
    as well as {{ card("Smiling Jack, The Anarch") }}.
    {{ link("/deck-search", _("Yoann Guyader's deck"), twda_id="2013fnpf") }}
    from the 2013 French NC is a an exemple.
</p>
<p>
    The <strong>Howler</strong> variant is less frequent, it is a group 2 build using
    {{ card("Howler") }}
    and {{ card("The Siamese") }}.
    Group 2 vampires are a bit more expensive and do miss a bit of superior <i>I</i>, so it makes including
    some {{ card("Animalism") }} quite necessary. On the other hand,
    the slightly bigger capacity allows for the use of
    {{ card("Sense the Savage Way") }} to
    increase intercept capabilities, and <i>R</i> is more present and allows for a more aggressive bleed module.
    {{ link("/deck-search", _("Stephen Sing's deck"), twda_id="2011asiancc") }}
    from the 2011 Asian Continental Championship is an example of this approach.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
</div>
{% endblock %}
