{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}"> Dmitri's Big Band</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck centered around the <i>CAQ</i> disciplines, with
    {{ card("Dmitri Borodin") }} as a star.
</p>
<p>
    {{ card("Truth of Blood") }} and
    {{ card("Trochomancy") }} are used to bleed.
    {{ card("Disguised Weapon") }} along
    {{ card(".44 Magnum") }} and
    {{ card("Sniper Rifle") }} for combat.
    <i>c</i> provides some maneuverability with {{ card("Pursuit") }}.
</p>
<p>
    <i>A</i> provides intercept and bounces, along the excellent
    {{ card("Black Sunrise") }} for additional unlocks.
    There is a bit of permanent intercept and
    {{ card("Smiling Jack, The Anarch") }} is supposed
    to be kept on the table to increase pool damage.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ card("Enkil Cog") }} is an excellent bleed enhancer, but an
    {{ card("Archon Investigation") }} on the prey side
    is dangerous if it is used in conjunction with
    {{ card("Trochomancy") }}.
    Using {{ card("Enkil Cog") }} ability to bleed during the prey's turn
    prevents the use of {{ card("Archon Investigation") }}
    (if the bleed is not bounced): as it is an out-of-turn master, the prey can not play it during her own turn.
</p>
<p>
    {{ card("The Fourth Cycle") }} is included as a solution
    against problematic Gehenna card but since
    {{ card("Anthelios, The Red Star") }} ban in 2016
    it should not be included in the deck anymore.
    {{ card("The Unmasking") }} or a
    {{ card("Dragonbound") }} are not problematic and
    {{ card("Veil of Darkness") }}
    is too rarely played to be considered a threat.
</p>
<h2>Variants</h2>
<p>
    There is no major variant for this archetype. The crypt can be altered a bit,
    {{ card("Infernal Pursuit") }} added to help with the rotation and
    {{ card("Target Vitals") }} for more damages.
    Instead or along the {{ card("Trochomancy") }},
    other permanent bleed enhancers can also be added, like
    {{ card("J. S. Simmons, Esq.") }} and
    {{ card("Tasha Morgan") }}.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
</div>
{% endblock %}

{% block script %}
<script>
    window.onload = function () {
        document.getElementById("card-modal").addEventListener("keydown", modalKeydown)
        document.getElementById("card-prev").addEventListener("click", prevCard)
        document.getElementById("card-next").addEventListener("click", nextCard)
        displayDeck({
            "crypt": {
                "cards": [
                    { "count": 5, "id": "200350", "name": "Dmitri Borodin" },
                    { "count": 3, "id": "200954", "name": "Massassi" },
                    { "count": 2, "id": "200741", "name": "Kabede Maru" },
                    { "count": 1, "id": "200108", "name": "Antara" },
                    { "count": 1, "id": "200192", "name": "Bertrand d'Anjou" }
                ],
                "count": 12
            },
            "date": "2011-07-17",
            "event": "Spanish ECQ",
            "library": {
                "cards": [
                    {
                        "cards": [
                            { "count": 4, "id": "102113", "name": "Vessel" },
                            { "count": 2, "id": "100545", "name": "Direct Intervention" },
                            { "count": 2, "id": "101811", "name": "Smiling Jack, The Anarch" },
                            { "count": 2, "id": "102121", "name": "Villein" },
                            { "count": 1, "id": "100588", "name": "Dreams of the Sphinx" },
                            { "count": 1, "id": "100824", "name": "Giant's Blood" },
                            { "count": 1, "id": "101171", "name": "Market Square" },
                            { "count": 1, "id": "101384", "name": "Pentex(TM) Subversion" },
                            { "count": 1, "id": "101439", "name": "Powerbase: Montreal" },
                            { "count": 1, "id": "100656", "name": "The Erciyes Fragments" },
                            { "count": 1, "id": "101536", "name": "The Rack" },
                            { "count": 1, "id": "102066", "name": "Underworld Hunting Ground" },
                            { "count": 1, "id": "102151", "name": "Wash" }
                        ],
                        "count": 19,
                        "type": "Master"
                    },
                    {
                        "cards": [
                            { "count": 5, "id": "102045", "name": "Truth of Blood" },
                            { "count": 1, "id": "100079", "name": "Aranthebes, The Immortal" }
                        ],
                        "count": 6,
                        "type": "Action"
                    },
                    {
                        "cards": [
                            { "count": 3, "id": "102026", "name": "Trochomancy" },
                            { "count": 1, "id": "100645", "name": "Enkil Cog" }
                        ],
                        "count": 4,
                        "type": "Action Modifier"
                    },
                    {
                        "cards": [
                            { "count": 6, "id": "101523", "name": "Pursuit" },
                            { "count": 5, "id": "100555", "name": "Disguised Weapon" },
                            { "count": 3, "id": "101945", "name": "Taste of Vitae" },
                            { "count": 2, "id": "101944", "name": "Taste of Death" }
                        ],
                        "count": 16,
                        "type": "Combat"
                    },
                    {
                        "cards": [
                            { "count": 8, "id": "100171", "name": "Black Sunrise" },
                            { "count": 6, "id": "100680", "name": "Eyes of Argus" },
                            { "count": 4, "id": "101531", "name": "Quicken Sight" },
                            { "count": 4, "id": "101949", "name": "Telepathic Misdirection" },
                            { "count": 3, "id": "100644", "name": "Enhanced Senses" },
                            { "count": 2, "id": "100598", "name": "Eagle's Sight" },
                            { "count": 2, "id": "100760", "name": "Forced Awakening" },
                            { "count": 2, "id": "101259", "name": "My Enemy's Enemy" },
                            { "count": 2, "id": "101321", "name": "On the Qui Vive" },
                            { "count": 1, "id": "100519", "name": "Delaying Tactics" }
                        ],
                        "count": 34,
                        "type": "Reaction"
                    },
                    {
                        "cards": [
                            { "count": 3, "id": "100001", "name": ".44 Magnum" },
                            { "count": 2, "id": "101816", "name": "Sniper Rifle" },
                            { "count": 1, "id": "100243", "name": "Bowl of Convergence" },
                            { "count": 1, "id": "100903", "name": "Heart of Nizchetus" },
                            { "count": 1, "id": "101014", "name": "Ivory Bow" }
                        ],
                        "count": 8,
                        "type": "Equipment"
                    },
                    {
                        "cards": [
                            { "count": 1, "id": "100298", "name": "Carlton Van Wyk" }
                        ],
                        "count": 1,
                        "type": "Ally"
                    },
                    {
                        "cards": [
                            { "count": 1, "id": "101249", "name": "Mr. Winthrop" }
                        ],
                        "count": 1,
                        "type": "Retainer"
                    },
                    {
                        "cards": [
                            { "count": 1, "id": "100781", "name": "The Fourth Cycle" }
                        ],
                        "count": 1,
                        "type": "Event"
                    }
                ],
                "count": 90
            },
            "name": "Dimitri's Big Band",
            "place": "Badía del Vallés, Barcelona, Spain",
            "player": "Genís Prats",
            "players_count": 62,
            "score": null,
            "tournament_format": "3R+F",
            "twda_id": "2011scqbbdv"
        }
        )
    }
</script>
{% endblock %}
