{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/euro-brujah.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1><img src="{{ url_for('static', filename='img/icons/clan-brujah.svg') }}"> Euro Brujah</h1>
{% endblock %}

{% block archetype %}
<h2>Highlights</h2>
<p>
    This is a Camarilla Royalty <em>Toolbox</em> Brujah deck using the few titled Brujah with <i>d</i>
    to be able to use {{ card("Govern the Unaligned") }}
    and some {{ card("Deflection") }}.
    Other than that, the deck uses the rather classical combination of
    {{ card("Second Tradition: Domain") }} and
    {{ card("Parity Shift") }} Camarilla
    <em>Princes</em> and <em>Justicars</em> have access to.
</p>
<p>
    <i>PC</i> makes for a dreadful combat module, and
    {{ card("Theo Bell") }} and
    {{ card("Beast, The Leatherface of Detroit") }}
    have the ability to rush opponents vampires to take them down with it.
    Furthermore, {{ card("Second Tradition: Domain") }}
    is an excellent reaction that often results in a combat too.
</p>
<p>
    {{ card("Govern the Unaligned") }} is used in the game
    beginning to get vampires out cheaper and faster, but it is an excellent bleed action later on.
</p>
<h2>Tips & Tricks</h2>
<p>
    The oldest vampire with <i>D</i> should be put into play first in order to be able to use
    {{ card("Govern the Unaligned") }} on the younger vampires.
</p>
<p>
    {{ card("Fame") }} and
    {{ card("New Carthage") }} are excellent pool damage enhancers.
</p>
<p>
    The combat module has a lot of tricks to it:
    {{ card("Immortal Grapple") }} prevents
    <em>Strike: Combat Ends</em> and <em>Dodge</em>,
    {{ card("Pursuit") }} can be enough to get to close range against
    a single maneuver but, if the opponent insists on getting to long range,
    {{ card("Thrown Sewer Lid") }} can be used to take him down.
    {{ card("Blur") }} and
    {{ card("Pursuit") }} can deliver more damages through more strikes,
    then {{ card("Disarm") }} can put any vampire into torpor.
    Finally, {{ card("Sideslip") }} can help dodge a dreadful strike,
    get a {{ card("Disarm") }} through or prevent aggravated damage from
    {{ card("Wolf Claws") }} or
    {{ card("Chiropteran Marauder") }}.
</p>
<h2>Variants</h2>
<p>
    There are a few variations around the crypt and the minion cards, especially the combat module.
    {{ card("Beast, The Leatherface of Detroit") }}
    is a rare inclusion and this example has a huge focus on combat.
    Other decks from this archetype can use <i>d</i> bleed enhancers like
    {{ card("Conditioning") }} and some
    {{ card("Bum's Rush") }}.
    {{ link("/deck-search", _("Michael Heyder's deck"), twda_id="2k8germanchamp") }} from the 2008 German NC
    is another example of the archetype.
</p>
{% endblock %}

{% block errata %}
<div class="warning">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
