{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>Anarch</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        saulot_friends=link("/archetypes/runner-ups/saulot-wall"),
        goratrix_high_tower=link("/archetypes/goratrix-high-tower"),
        nananimalism=link("/archetypes/nananimalism")
        %}
        Anarch have been on the rise the last few years, and they ramped up some
        classical archetypes to bring them to a new power level,
        like {{ saulot_friends }}, {{ goratrix_high_tower }} or {{ nananimalism }},
        for example.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed %}
        The anarch variation is a possibility for many archetypes,
        and it gives access to some unique cards.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Anarch Revolt", decks=96, copies="2-7") %}
{% trans trimmed %}
A good pool-damage dealer if it can be defended,
either with intercept capacities or votes.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Reckless Agitation", decks=55, copies="1-5") %}
{% trans trimmed kine_resources_contested=card("Kine Resources Contested") %}
An excellent vote to deliver pool damage, its effect is strong than
{{ kine_resources_contested }}, for a higher blood cost. It is a bit tricky
to gather enough independant or anarch votes to get it through, but worth the effort.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Anarch Free Press", decks=46, copies="1") %}
{% trans trimmed %}
An excellent Master card, combining permanent intercept and the occasional blood bonus
for the low cost of 1 pool. A no-brainer for most Anarch decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Twilight Camp", decks=40, copies="1-2") %}
{% trans trimmed
anarch_convert=card("Anarch Convert"),
the_red_question=card("The Red Question")
%}
A versatile tool when playing a non-anarch crypt.
It is the cheapest way to make a vampire anarch,
although {{ anarch_convert }} and {{ the_red_question }} are excellent alternatives,
but it can also bring some welcome blood back on the table on occasions.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Constant Revolution", decks=34, copies="1-2") %}
{% trans trimmed smiling_jack=card("Smiling Jack, The Anarch", "Smiling Jack") %}
With an effect similar to {{ smiling_jack }}, they are most often played together
for pool damage in decks that have enough block potential to defend it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Anarch Railroad", decks=33, copies="1") %}
{% trans trimmed %}
A decent source of stealth for a reasonable cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Groundfighting", decks=27, copies="1-3") %}
{% trans trimmed immortal_grapple=card("Immortal Grapple") %}
A very versatile combat utility, it finds it place in many Anarch decks with a combat
module. The option to cancel an {{ immortal_grapple }} can be a life saver.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Monkey Wrench", decks=22, copies="1-3") %}
{% trans trimmed %}
Although costly, it is a good bleed enhancer that requires no discipline.
Invaluable in decks that have no access to other bleed enhancers,
it can be a decisive tool for a lunge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Piper", decks=22, copies="3-8") %}
{% trans trimmed
war_ghouls=link("/archetypes/bibliodeque/war-ghouls"),
khazar_s_diary=link("/archetypes/runner-ups/khazars-diary"),
nephandii=link("/archetypes/bibliodeque/nephandii")
%}
A unique effect that allows Anarch to recruit allies without the risk of being blocked,
it can be used in ally-oriented archetypes like {{ war_ghouls }}, {{ khazar_s_diary }}
or {{ nephandii }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Club Illusion", decks=21, copies="1-2") %}
{% trans trimmed
the_anarch_free_press=card("The Anarch Free Press"),
twilight_camp=card("Twilight Camp")
%}
An excellent bleed enhancer, although the blood cost can be a bummer.
Combined with cards that help bring some pool back on the vampires,
like {{ the_anarch_free_press }} and {{ twilight_camp }},
it becomes a frightening pool damage device.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Seattle Committee", decks=21, copies="1-2") %}
{% trans trimmed twilight_camp=card("Twilight Camp") %}
A nice way to make a vampire anarch at no cost, it is often played alongside
{{ twilight_camp }}
{% endtrans %}
{% endcall %}

{% call layout.card_column("Diversion", decks=20, copies="6-13") %}
{% trans trimmed %}
A versatile combat tool for vampires having both {{ cel }} and {{ for }},
the choice between prevention and additional strike is a unique combination:
it is unlikely to jam the hand and can help offensively or defensively
depending on the situation.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Powerbase: Los Angeles", decks=20, copies="1") %}
{% trans trimmed %}
A decent rotation enhancer even without anarch cards,
it becomes very useful if the unlock effect can be put to good use.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Undue Influence", decks=18, copies="3-18") %}
{% trans trimmed power_of_one=card("Power of One") %}
Although it provides no bleed bonus, having a stealthed bleed for {{ pre }}
is a powerful tool, moreover when combined with {{ power_of_one }} to deliver
a 2 stealth 2 pool bleed. The bloat effect is a nice bonus too.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Power of One", decks=17, copies="2-10") %}
{% trans trimmed bonding=card("Bonding") %}
Although pricier than {{ bonding }},
it provides stealth and bleed power at inferior {{ pre }},
which makes it usable by lower capacity vampires.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Garibaldi-Meucci Museum", decks=14, copies="1") %}
{% trans trimmed death_star=link("/archetypes/bibliodeque/death-star") %}
A decent recursion device, it is often seen in political decks, like {{ death_star }},
where it can be used to get back some critical pool damaging vote in hand.
{% endtrans %}
{% endcall %}
{% endblock %}
