{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>Anarch</h1>
<div class="insert tip">
    <p>
        {% trans trimmed
        gangrel_thing=link("/archetypes/gangrel-thing"),
        platinum_revelation=link("/archetypes/platinum-revelation"),
        brujah_resistance=link("/archetypes/illegal-brawl")
        %}
        Anarch took the front of the scene when the new V5 Anarch cards were released in 2021,
        giving birth to new top-tier archetypes like {{ gangrel_thing }}, {{ platinum_revelation }}, and
        {{ brujah_resistance }}.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed anarch_convert=card("Anarch Convert") %}
        The anarch variation is also a possibility for many archetypes thanks to {{ anarch_convert }}.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Bait and Switch", decks=319, copies="3-8") %}
{% trans trimmed
redirection=card("Redirection"),
my_enemys_enemy=card("My Enemy's Enemy")
%}
A relatively recent card released in 2021, it immediately topped the ranking of
Anarch cards. A free bounce is something only {{ redirection }} and
{{ my_enemys_enemy }} provided before.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Carfax Abbey", decks=307, copies="1") %}
{% trans trimmed
redirection=card("Redirection"),
my_enemys_enemy=card("My Enemy's Enemy")
%}
A great hunting ground, especially with a Baron around.
It is basically two hunting grounds for the cost of one in that case.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Organized Resistance", decks=277, copies="3-12") %}
{% trans trimmed
second_tradition=card("Second Tradition: Domain")
%}
Probably the best unlock device of the game. It provides less intercept than
{{ second_tradition }}, but it is free so can be played in numbers, and even stacked
if one has multiple Barons.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Garibaldi-Meucci Museum", decks=256, copies="1-2") %}
{% trans trimmed %}
An Anarch recursion engine: for a single pool it swaps a card in hand for an Anarch card in the
ash heap, letting the deck reuse its key tools. The combat-ending clause can single-handedly defeat anarch combat decks.
The card can be included in non-Anarch decks just for the combat-ending and contest option.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Anarch Railroad", decks=245, copies="1") %}
{% trans trimmed %}
A decent source of stealth for a reasonable cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Deep Ecology", decks=184, copies="2-8") %}
{% trans trimmed %}
A great defensive reaction for both Gangrel {{ gangrel }} and Tzimisce {{ tzimisce }}.
All three disciplines can be useful in different situations, making it very versatile.
{% endtrans %}
{% endcall %}

{% call layout.card_column("The Anarch Free Press", decks=166, copies="1") %}
{% trans trimmed %}
Combining permanent intercept and the occasional blood bonus
for the low cost of 1 pool. A no-brainer for most Anarch decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Monkey Wrench", decks=140, copies="1-3") %}
{% trans trimmed %}
Although costly, it is a good bleed enhancer that requires no discipline.
Invaluable in decks that have no access to other bleed enhancers,
it can be a decisive tool for a lunge.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Donnybrook", decks=123, copies="1-6") %}
{% trans trimmed
claws_of_the_dead=card("Claws of the Dead"),
bowl_of_convergence=card("Bowl of Convergence"),
mr_winthrop=card("Mr. Winthrop")
%}
Cheaper, but more of a gamble than {{ claws_of_the_dead }}, since it cannot be played
after strikes are chosen. {{ obf }} is useful against permanent intercept like
{{ bowl_of_convergence }} or {{ mr_winthrop }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Protection Racket", decks=114, copies="2-5") %}
{% trans trimmed
organized_resistance=card("Organized Resistance")
%}
A great intercept reaction, useful against Political decks and complementing
{{ organized_resistance }} beautifully.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Constant Revolution", decks=113, copies="1-2") %}
{% trans trimmed smiling_jack=card("Smiling Jack, The Anarch", "Smiling Jack") %}
With an effect similar to {{ smiling_jack }}, they are even played together
for pool damage in decks that have enough block potential to defend it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Revolutionary Council", decks=85, copies="1-2") %}
{% trans trimmed death_star=link("/archetypes/death-star") %}
A game-ending tool with the right swarm, it gave birth to the {{ death_star }} archetype,
and can be found in multiple decks as a "Death Star" lunge device.
{% endtrans %}
{% endcall %}
{% endblock %}