{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>Laibon</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        The Laibon offer unique tools to its members all around, be it for block,
        combat, politics or bleed.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Powerbase: Luanda", decks=53, copies="1") %}
{% trans trimmed %}
An excellent card for combat-able Laibon decks,
it provides a bit more the rush capability at no cost.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Strange Day", decks=49, copies="1") %}
{% trans trimmed %}
A definitive lunge device to get a critical action through,
its high blood cost prevents to play more than 1 or 2 copies in a deck.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Mbare Market, Harare", decks=47, copies="1") %}
{% trans trimmed
art_museum=card("Art Museum")
%}
A decent bloat device for Laibon, although it is a little bit pricey compared to similar
clan cards like the Toreador {{ toreador }} {{ art_museum }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Well-Marked", decks=46, copies="1-2") %}
{% trans trimmed %}
A good prevention effect at a low cost, it is an easy inclusion in combat-oriented decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("No Secrets From the Magaji", decks=46, copies="1-5") %}
{% trans trimmed second_tradition_domain=card("Second Tradition: Domain") %}
A powerful interception device for the <em>Magaji</em>, it compares to the Camarilla's
{{ second_tradition_domain }}.
Althoug intercept is lower, the permanent wake effect is exceptionaly strong.
One must not fail a block to keep it, so a bit of interception enhancement
is appreciable.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Kduva's Mask", decks=37, copies="1") %}
{% trans trimmed
ishtarri_politics=link("/archetypes/bibliodeque/ishtarri-politics")
%}
A bit pricey for just the bleed bonus, it becomes a worthwile addition in political
decks like {{ ishtarri_politics }}.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Powerbase: Tshwane", decks=36, copies="1-2") %}
{% trans trimmed %}
A good pool reduction that can amount to a very decent bloat if played alongside enough
pool-costing cards. Even just reducing the cost of other master cards can be enough
to include it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Ancestor Spirit", decks=35, copies="1") %}
{% trans trimmed %}
A bleed and vote enhancer at no cost: an easy inclusion in many Laibon decks.
{% endtrans %}
{% endcall %}

{% endblock %}
