{% extends "best-cards/_layout.html" %}
{% import "best-cards/_layout_card_column.html" as layout with context%}

{% block content %}
<h1>Sabbat</h1>
<div class="insert tip">
    <p>
        {% trans trimmed %}
        The Sabbat is the second sect to have been published in the game, after the
        Camarilla. It offers good alternatives to its members, especially concerning
        blocking capabilities.
        {% endtrans %}
    </p>
</div>

{% call layout.card_column("Abbot", decks=175, copies="1-2") %}
{% trans trimmed %}
An excellent intercept enhancer that does not even cost an action, although only against
directed actions. Virtually every Sabbat wall deck include some of these.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Black Forest Base", decks=45, copies="1-2") %}
{% trans trimmed %}
An excellent bloat device for Sabbat decks that have the votes to back it up,
it can also be used as a bargaining chip with other Methusalahs.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Under Siege", decks=44, copies="1-3") %}
{% trans trimmed second_tradition_domain=card("Second Tradition: Domain") %}
An excellent defensive tool for titled Sabbat vampires, to be compared with the
Camarilla's {{ second_tradition_domain }}, it needs to get through to be used and
provides less intercept, but three unlocks for just one pool is a bargain.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Eternal Vigilance", decks=42, copies="1-3") %}
{% trans trimmed
abbot=card("Abbot"),
under_siege=card("Under Siege")
%}
Another good defensive device that provides an unlock on every action, it can be
combined with {{ abbot }} and {{ under_siege }} for an exceptional defensive arsenal.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Yawp Court", decks=29, copies="1") %}
{% trans trimmed tupdogs=card("Tupdog", "Tupdogs") %}
A powerful defensive tool for combat-oriented decks, it can deter any political
predator. Most often associated with {{ tupdogs }}, it can also find its place in other
Sabbat decks.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Cardinal Benediction", decks=25, copies="1-3") %}
{% trans trimmed %}
A good title worth three votes that Camarilla titled vampires cannot counter easily.
It is a worthwile addition in political decks if the crypt allows it.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Rumble", decks=18, copies="1-4") %}
{% trans trimmed %}
A decent rush action, its effect is useful for a bit of additional cycling,
something combat-oriented decks often prize.
{% endtrans %}
{% endcall %}

{% call layout.card_column("Private Audience", decks=13, copies="1-3") %}
{% trans trimmed %}
A good modifier for political actions, as it can neutralize many adversary votes around
the table single-handedly.
{% endtrans %}
{% endcall %}
{% endblock %}
