{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/top-tier/haqim-royalty.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ banu_haqim }} Haqim Royalty</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
alamut=card("Alamut"),
anathema=card("Anathema"),
ashur_tablets=card("Ashur Tablets"),
biothaumaturgic_experiment=card("Biothaumaturgic Experiment"),
blood_rage=card("Blood Rage"),
bowl_of_convergence=card("Bowl of Convergence"),
claws_of_the_dead=card("Claws of the Dead"),
consanguineous_boon=card("Consanguineous Boon"),
fast_hands=card("Fast Hands"),
flash=card("Flash"),
haqims_law_retribution=card("Haqim's Law: Retribution"),
hunger_of_marduk=card("Hunger of Marduk"),
hunters_mark=card("Hunter's Mark"),
immortal_grapple=card("Immortal Grapple"),
infernal_pursuit=card("Infernal Pursuit"),
judgment_camarilla_segregation=card("Judgment: Camarilla Segregation"),
kasim_bayar=card("Kasim Bayar"),
khabar_glory=card("Khabar Glory"),
lightning_reflexes=card("Lightning Reflexes"),
magic_of_the_smith=card("Magic of the Smith"),
market_square=card("Market Square"),
mr_winthrop=card("Mr. Winthrop"),
narrow_minds=card("Narrow Minds"),
nsa_trio=card("NSA Trio"),
parity_shift=card("Parity Shift"),
priority_contract=card("Priority Contract"),
psyche=card("Psyche"),
pursuit=card("Pursuit"),
rego_motum=card("Rego Motum"),
resist_earths_grasp=card("Resist Earth's Grasp"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
second_tradition_domain=card("Second Tradition: Domain"),
soul_burn=card("Soul Burn"),
sport_bike=card("Sport Bike"),
swallowed_by_the_night=card("Swallowed by the Night"),
the_black_throne=card("The Black Throne"),
the_embrace=card("The Embrace"),
the_khabar_community=card("The Khabar: Community"),
third_tradition_progeny=card("Third Tradition: Progeny"),
villein=card("Villein"),
walk_of_flame=card("Walk of Flame"),
web_of_knives_recruit=card("Web of Knives Recruit"),
bounce=link("/strategy/fundamentals", _("bounce"), _anchor="bounce"),
sce=link("/strategy/combat", _("S:CE"), _anchor="defence"),
banu_politics=link("/archetypes/banu-politics"),
kalinda=link("/archetypes/kalinda"),
luis_otavio_franco_martins_deck=link("/deck-search", _("Luís Otávio Franco Martins' deck"), id="11167"),
darby_keeney_s_deck=link("/deck-search", _("Darby Keeney's deck"), id="11470"),
pauli_tuomiluoma_s_version=link("/deck-search", _("Pauli Tuomiluoma's version"), id="10919"),
juan_luis_mejías_luna_s=link("/deck-search", _("Juan Luis Mejías Luna's"), id="10636")
%}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck using Banu Haqim {{ banu_haqim }} Princes and Justicar.
</p>
<p>
    The key card is {{ haqims_law_retribution }}, providing strong bleeds from a very heavy combat module.
    As most royalty builds, defense takes the form of {{ second_tradition_domain }} for blocks.
</p>
<p>
    The combat module is dreadful. {{ hunger_of_marduk }} coupled with additional strikes from {{ cel }},
    can consistently empty the blood from opponents vampires, and the maneuverability should guarantee the range choice
    most of the time (and avoid {{ immortal_grapple }} or aggravated {{ claws_of_the_dead }}).
</p>
<h2>Tips & Tricks</h2>
<p>
    The main weakness of the deck is its <strong>light defense</strong>. Intercept does not often go above the 2 from
    {{ second_tradition_domain }}, and this might not be enough to stop well-stealthed vote or bleed decks.
    The absence of {{ bounce }} makes bloat necessary: here {{ villein }}, {{ anathema }} and the
    excellent {{ priority_contract }}. Although unique, it will not stay in play for long if the target is chosen well
    given the heavy combat module, so it's an almost guaranteed 3 pool. It also works if the prey gets ousted
    (since their vampires leave the game), and it's a trifle!
</p>
<p>
    {{ resist_earths_grasp }} and {{ swallowed_by_the_night }} are versatile here: aside from combat, they can provide
    stealth and, in case the prey does not even try to block, they can be discarded to {{ haqims_law_retribution }}
    for additional bleed.
</p>
<p>
    {{ hunters_mark }} provide rushes that can be used anywhere for table control, but mostly as
    a countermeasure to slow down a strong predator, since {{ priority_contract }} cannot be used backwards.
</p>
<p>
    The {{ ashur_tablets }} & {{ infernal_pursuit }} combination is not a constant, and {{ haqims_law_retribution }}
    is often included in higher numbers.
</p>
<h2>Variants</h2>
<p>
    The combat module varies depending on the expected meta.
    {{ hunger_of_marduk }} can be run in much more copies, {{ flash }}, {{ blood_rage }}, {{ soul_burn }},
    {{ walk_of_flame }}, {{ lightning_reflexes }} or {{ fast_hands }} can be included.
    Another interesting option, although a bit expensive, is to use some {{ biothaumaturgic_experiment }},
    like in {{ luis_otavio_franco_martins_deck }}.
</p>
<p>
    There are a few options to consider: {{ the_khabar_community }} is a common inclusion used to lunge,
    especially in decks including more {{ swallowed_by_the_night }}. On the defense side, {{ market_square }},
    {{ mr_winthrop }}, {{ sport_bike }} and even {{ bowl_of_convergence }} can be included.
    On the actions side, the deck can include some {{ judgment_camarilla_segregation }} or {{ khabar_glory }},
    and in terms of events, {{ narrow_minds }} and {{ scourge_of_the_enochians }} are also common.
</p>
<p>
    The deck can be a bit more political and include {{ alamut }} or even {{ the_black_throne }} for more votes,
    see for example {{ darby_keeney_s_deck }}.
    {{ nsa_trio }} is a nice addition against {{ sce }}.
</p>
<p>
    On the other end, {{ kasim_bayar }} can be excluded for a swarmier using {{ the_embrace }},
    {{ web_of_knives_recruit }}, or {{ third_tradition_progeny }},
    like in {{ pauli_tuomiluoma_s_version }} or {{ juan_luis_mejías_luna_s }}.
</p>
<p>
    Finally, it's worth mentioning there are other approaches to the clan, leading to different
    archetypes, like {{ banu_politics }} or {{ kalinda }}.
</p>
{% endtrans %}
{% endblock %}