{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/top-tier/lutz-politics.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ malkavian }} Lutz Politics</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
alastor=card("Alastor"),
ashur_tablets=card("Ashur Tablets"),
banishment=card("Banishment"),
camarillas_iron_fist=card("Camarilla's Iron Fist"),
cybele=card("Cybele"),
derange=card("Derange"),
dmitra_ilyanova=card("Dmitra Ilyanova"),
forced_march=card("Forced March"),
golconda_inner_peace=card("Golconda: Inner Peace"),
heidelberg_castle_germany=card("Heidelberg Castle, Germany"),
helicopter=card("Helicopter"),
lutz_von_hohenzollern=card("Lutz von Hohenzollern"),
madness_network=card("Madness Network"),
malkavian_dementia=card("Malkavian Dementia"),
maris_streck=card("Maris Streck"),
mental_maze=card("Mental Maze"),
minion_tap=card("Minion Tap"),
parity_shift=card("Parity Shift"),
petra_resonance=card("Petra Resonance"),
protected_resources=card("Protected Resources"),
rafael_de_corazon=card("Rafael de Corazon"),
telepathic_misdirection=card("Telepathic Misdirection"),
the_parthenon=card("The Parthenon"),
undele=card("Undele"),
unmada=card("Unmada"),
villein=card("Villein"),
voter_captivation=card("Voter Captivation"),
zillah_s_valley=card("Zillah's Valley"),
danilo_torrisi_s_deck=link("/deck-search", _("Danilo Torrisi's deck"), id="2016eclvgi"),
fabien_garcia_s_deck=link("/deck-search", _("Fabien Garcia's deck"), id="2014ecfcqmg"),
jens_johansson_s_deck=link("/deck-search", _("Jens Johansson's deck"), id="11045"),
johnson_gonçalves_deck=link("/deck-search", _("Johnson Gonçalves' deck"), id="11153"),
michael_holmstrom_s_deck=link("/deck-search", _("Michael Holmström's deck"), id="11858"),

otso_saariluoma_s_deck=link("/deck-search", _("Otso Saariluoma's deck"), id="2010finnishecq"),
teemu_sainomaa_s_deck=link("/deck-search", _("Teemu Sainomaa's deck"), id="11480")
%}
<h2>Highlights</h2>
<p>
    This is a <em>stealth bleed & vote</em> deck starring
    {{ lutz_von_hohenzollern }} and {{ undele }}.
    It uses {{ zillah_s_valley }} and {{ information_highway }}
    to get these big capacity vampires in play quickly, then
    {{ minion_tap }} to get some pool back.
</p>
<p>
    The sheer number of votes the vampire have makes sure they get the vote lock around the table.
    Stealth is high, with the versatile {{ perfect_paragon }} providing either stealth or votes,
    depending on what's needed on the table.
</p>
<h2>Tips & Tricks</h2>
<p>
    {{ voter_captivation }} and {{ dmitra_ilyanova }}'s ability can be used
    to get pool back on the vampires after {{ minion_tap }}.
</p>
<p>
    {{ banishment }} is used to get rid of cumbersome vampires.
    It can either weaken the prey, slow down the predator, or even be used cross table to maintain
    the table balance if necessary. Moreover, it can dramatically increase the power of key
    votes like {{ ancient_influence }}.
</p>
<p>
    As the game progresses, {{ undele }}'s ability
    can be used for recursion, getting the cards most adapted to the table context back in hand.
</p>
<p>
    This version uses {{ force_of_personality }} for combat defense, so it can be cycled
    out of hand easily if it's not needed.
</p>
<h2>Variants</h2>
<p>
    With a few crypt changes, the deck can easily pack some Auspex {{ AUS }} bounces,
    like in {{ johnson_gonçalves_deck }}. On the other hand, it can also forgo the bleed altogether
    and use {{ protected_resources }}, and even add {{ ashur_tablets }} in a heavier master module,
    like in {{ teemu_sainomaa_s_deck }}. An updated version would include {{ camarillas_iron_fist }},
    as in {{ michael_holmstrom_s_deck }}.
</p>
<p>
    The <strong>Petra</strong> variant relies more on {{ ubende }} and uses {{ petra_resonance }}
    for additional pool damage and blood gain. It's an interesting take on the archetype,
    using {{ petra_resonance }} as a somewhat better {{ parity_shift }}: it works even when high on pool and,
    since it is not a vote, {{ unmada }} can perform it, unlock with {{ forced_march }}, then call a political action.
    See {{ jens_johansson_s_deck }} for reference.
</p>
<p>
    The <strong>Maris Lutz</strong> variant uses a group 3-4 crypt with
    {{ maris_streck }}, like {{ danilo_torrisi_s_deck }} from the 2016 EC.
    Using more Malkavian in the crypt makes
    {{ madness_network }} a useful inclusion, and having a bit more Justicar and Princes
    allows for some {{ parity_shift }} to provide more bloat.
</p>
<p>
    The <strong>Helicopter</strong> variant uses the {{ alastor }} +
    {{ helicopter }} combination to enable
    {{ lutz_von_hohenzollern }} to vote <em>and</em> bleed in the same turn,
    like in {{ fabien_garcia_s_deck }} from 2014 EC FCQ.
</p>
<p>
    The <strong>AD&D</strong> variant uses
    {{ derange }} and {{ malkavian_dementia }},
    like {{ otso_saariluoma_s_deck }} from 2010.
    This combination can steal any vampire, robbing them of their blood and equipment using
    {{ heidelberg_castle_germany }}, or even destroying them for pool with
    {{ golconda_inner_peace }}, provided one can get a second Master Action with
    {{ cybele }} or {{ the_parthenon }}.
</p>
{% endtrans %}
{% endblock %}