{% extends "layout.html" %}

{% block content %}
<h1 id="archetypes">{{ _("Archetypes") }}</h1>
<p>
    {% trans trimmed %}
    V:tES has been played for years, and this has given birth to a number of efficient decks archetypes.
    Given the multiplayer nature of the game, many archetypes are valid choices at the highest level,
    as the efficiency of a deck depends a lot on its table placement and on the negociations skills of the player.
    Even on the modern tournament scene, dozens of different archetypes are usually played in a single event.
    {% endtrans %}
</p>
<p>
    {% trans trimmed %}
    As such, having a basic understanding of the most common archetypes and their strong and weak points is
    a very important skill for a player. Knowing the inner workings of the archetypes on the table is the only way
    to fathom the table balance and detect the opportunities as they arise during the game.
    {% endtrans %}
</p>
<p>
    {% trans trimmed %}
    The archetypes are usually divided into broader categories, as presented here.
    {% endtrans %}
</p>

<h2 id="bleed">{{ _("Bleed") }}</h2>
<p>
    {% trans trimmed %}
    Bleed decks are focused on prey aggression and use bleed actions to inflict heavy pool damages.
    {{ dom }} is without question the most damage-heavy bleed discipline, plus it does come with bounce cards.
    {{ pre }} and {{ dem }} are good second choices.
    {% endtrans %}
</p>
<h3>{{ _("Stealth & Bleed and Powerbleed") }}</h3>
<p>
    {% trans trimmed %}
    There are two ways to get bleeds through: using <strong>stealth</strong> is the most obvious one.
    {{ obf }} is the best stealth discipline, but it does not often come along with {{ dom }}.
    {{ obt }} and {{ pro }} come second.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
    seduction=card("Seduction"),
    elder_impersonation=card("Elder Impersonation"),
    call_of_the_hungry_dead=card("Call of the Hungry Dead"),
    daring_the_dawn=card("Daring the Dawn"),
    mind_numb=card("Mind Numb"),
    pentex_subversion=card("Pentex™ Subversion"),
    misdirection=card("Misdirection"),
    anarch_troublemaker=card("Anarch Troublemaker")
    %}
    The other way to get bleeds through is to make sure the prey has no minion available to block the action.
    Along its strong bleed capabilities, {{ dom }} offers the excellent {{ seduction }}.
    {{ OBF }} {{ elder_impersonation }}, {{ NEC }} {{ call_of_the_hungry_dead }},
    {{ for }} {{ daring_the_dawn }} and {{ pre }} {{ mind_numb }} are also effective tools.
    Combining these options with the few Master cards that can prevent block or lock minions —
    {{ pentex_subversion }}, {{ misdirection }} and {{ anarch_troublemaker }} —
    makes stealth and intercept irrelevant.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("Bruise & Bleed") }}</h3>
    <p>
        {% trans trimmed
        euro_brujah=link("/archetypes/bibliodeque/euro-brujah"),
        haqim_royalty=link("/archetypes/haqim-royalty"),
        emerald_legion=link("/archetypes/bibliodeque/emerald-legion")
        %}
        Yet another possibility is to get the bleeds through by the sheer intimidation of a strong combat module.
        This strategy, called <em>Bruise & Bleed</em>, is never used all by itself. It's either coupled to a compact
        but efficient blocking module to form a toolbox, like in the {{ euro_brujah }} or {{ haqim_royalty }}
        decks, or to a swarm strategy like with {{ emerald_legion }} or some instances of {{ haqim_royalty }}.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed %}
        Simply put, trying to <em>Bruise & Bleed</em> is letting your opponents choose whether they block
        or let the bleed through. For this idea to work against good players and decks, there's a need to either
        bring some adaptability through blocks, or put out an overwhelming swarm that cannot be out-bloated
        or simply bounced away.
        {% endtrans %}
    </p>
</div>
<h3>{{ _("Flavours") }}</h3>
<ul>
    <li>
        {% trans trimmed
        kiasyd_stealth_bleed=link("/archetypes/bibliodeque/kiasyd-stealth-bleed"),
        lasombra_nocturn=link("/archetypes/lasombra-nocturn")
        %}
        Lasombra {{ lasombra }} and Kiasyd {{ kiasyd }}
        have a strong combination with {{ dom }} for bleed and {{ obt }} for stealth.
        Check the {{ kiasyd_stealth_bleed }} and {{ lasombra_nocturn }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        weenie_dem=link("/archetypes/dementation-bleed"),
        malkav_94=link("/archetypes/bibliodeque/malkav-94"),
        malkav_22=link("/archetypes/malkav-22")
        %}
        The Malkavian {{ malkavian }} can use {{ dem }},
        alone or alongside {{ obf }}, for devastating bleeds,
        like in the {{ weenie_dem }} archetype. In other groups (1 and 6+), they can also combine the best stealth
        with {{ obf }} to the strongest bleed with {{ dom }}, as in the {{ malkav_94 }} and {{ malkav_22 }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        platinum_protocol=card("The Platinum Protocol", "Platinum Protocol"),
        platinum_protocol_archetype=link("/archetypes/platinum-protocol")
        %}
        The new Ministry {{ ministry }}, with the {{ obf }}{{ pro }}{{ pre }} combination, have excellent stealth
        combined with a very solid bleed module in {{ pre }}, and have access to the excellent {{ platinum_protocol }},
        which gives the the eponymous {{ platinum_protocol_archetype }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        black_hand=link("/archetypes/runner-ups/black-hand")
        %}
        Assamite {{ assamite }} also have a nice combination with {{ qui }} and {{ obf }},
        as in the {{ black_hand }} archetype.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        weenie_dom=link("/archetypes/bibliodeque/weenie-dom"),
        bima_dominate=link("/archetypes/bibliodeque/bima-dominate")
        %}
        {{ dom }} also works well in weenie archetypes, like
        {{ weenie_dom }} and {{ bima_dominate }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        stanislava=link("/archetypes/stanislava")
        %}
        Using {{ PRO }} for stealth gave birth to powerful bleed deck,
        as in the {{ stanislava }} archetype and its variants.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        the_bleeding_vignes=link("/archetypes/bibliodeque/the-bleeding-vignes"),
        jost_powerbleed=link("/archetypes/rebekka-jost")
        %}
        Toreador {{ toreador }} with {{ PRE }} and Ventrue {{ ventrue }}
        with {{ DOM }}{{ PRE }} can produce strong powerbleed decks like
        {{ the_bleeding_vignes }} or {{ jost_powerbleed }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        mistress=link("/archetypes/mistress"),
        girls_will_find_inner_circle=link("/archetypes/bibliodeque/girls-will-find-inner-circle"),
        council_of_doom=link("/archetypes/bibliodeque/council-of-doom")
        %}
        Inner Circles also deliver a very strong bleed as they have a +2 bleed ability.
        The {{ mistress }} archetype is a good example. They are often combined with
        <strong>M</strong>ulti <strong>M</strong>aster <strong>P</strong>hase <strong>A</strong>ctions (MMPA),
        like in the {{ girls_will_find_inner_circle }} or {{ council_of_doom }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        homunculus=card("Homunculus"),
        the_unnamed=link("/archetypes/the-unnamed"),
        rachel_madness=link("/archetypes/bibliodeque/rachel-madness")
        %}
        Using {{ PRO }} to bleed multiple times during the opponents turns with
        {{ homunculus }} is also powerful:
        {{ the_unnamed }} and {{ rachel_madness }} are built around this idea.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed %}
    Bleed decks have the <strong>highest prey damage</strong>. They tend to oust their first prey quite often,
    but it also attracts the table attention on them and one oust is not enough for a game win.
    They are usually <strong>weak in combat</strong>. They tend to rely on « combat ends » effects,
    but some flavours can have aggravated damage or torpor strikes as a threat.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("Stealth rotation") }}</h3>
    <p>
        {% trans trimmed %}
        Stealth & Bleed archetypes have a strong stealth module, but it can jam the hand.
        If the prey assumes she will not have the means to block, she should decide not to attempt to block at all,
        and <strong>try to jam her predator hand on the stealth module</strong>.
        Well constructed Stealth & Bleed decks include some rotation tools to help with that.
        {% endtrans %}
    </p>
</div>
<p>
    {% trans trimmed %}
    As they are focused on their prey, bleed decks have a weak defence against their predator
    and do not try to intercept actions. They usually use {{ dom }} or {{ AUS }} for bounces
    or strong bloat modules to survive.
    {% endtrans %}
</p>
<h2 id="vote">{{ _("Vote") }}</h2>
<p>
    {% trans trimmed %}
    Vote decks usually have a strong pool damage module to deliver to their prey.
    The difficulty to gather enough votes to get the referendums through is balanced
    by the constant +1 stealth bonus of vote actions. There are basically two ways of building a vote deck:
    either breed and find a way to give votes to all your vampires, or use older vampires with titles themselves.
    {% endtrans %}
</p>
<h3>{{ _("Flavours") }}</h3>
<ul>
    <li>
        {% trans trimmed
        the_dark_side_of_politics=link("/archetypes/bibliodeque/the-dark-side-of-politics"),
        lutz_politics=link("/archetypes/lutz-politics")
        %}
        Inner Circle can be used in strong vote decks, as in
        {{ the_dark_side_of_politics }} and {{ lutz_politics }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        arishat=card("Arishat"),
        infernal_princes=link("/archetypes/infernal-princes"),
        infernal_ministry=link("/archetypes/infernal-ministry")
        %}
        Baali {{ baali }} {{ arishat }}, thanks to her powerful ability, gave birth to multiple strong
        political archetypes like {{ infernal_princes }} and {{ infernal_ministry }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        nosferatu_royalty=link("/archetypes/bibliodeque/nosferatu-royalty")
        %}
        Camarilla Princes also often use votes, like in the {{ nosferatu_royalty }} archetype.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        ishtarri_politics=link("/archetypes/bibliodeque/ishtarri-politics"),
        scout=link("/archetypes/bibliodeque/scout"),
        daughters_politics=link("/archetypes/bibliodeque/daughters-politics")
        %}
        Non Camarilla vampires can also build good titled crypts,
        especially Ishtarri {{ ishtarri }} with {{ ishtarri_politics }}
        and Daughters of Cacophony {{ daughter_of_cacophony }} with {{ scout }} and {{ daughters_politics }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        the_dark_side_of_politics=link("/archetypes/bibliodeque/the-dark-side-of-politics")
        %}
        Baali {{ baali }} offer a nice political angle with {{ the_dark_side_of_politics }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        amaravati_politics=link("/archetypes/bibliodeque/amaravati-politics"),
        death_star=link("/archetypes/bibliodeque/death-star")
        %}
        Banu Haqim {{ assamite }} also have good options,
        like in the {{ amaravati_politics }} or the {{ death_star }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        ravnos_clown_car=link("/archetypes/bibliodeque/ravnos-clown-car")
        %}
        Ravnos {{ ravnos }} have a unique breed archetype: the {{ ravnos_clown_car }}.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed
    consanguineous_boon=card("Consanguineous Boon"),
    parity_shift=card("Parity Shift"),
    ancient_inluence=card("Ancient Influence"),
    political_stranglehold=card("Political Stranglehold")
    %}
    Votes decks deliver <strong>high pool damage</strong> once they get the vote lock.
    They also have a <strong>good bloat</strong>, using
    {{ consanguineous_boon }}, {{ parity_shift }}, {{ ancient_inluence }} or
    {{ political_stranglehold }} depending on the build.
    Depending on the exact build, <strong>stealth vary</strong>, but they are not easily blocked.
    Builds that do not have high stealth levels rely on a swarm of minions that make it hard to block them all.
    Finally, vote decks have a <strong>very weak combat module</strong> and — especially the swarm builds —
    a <strong>weak bleed defence</strong>, relying exclusively on bounces, if at all.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("Table Talk") }}</h3>
    <p>
        {% trans trimmed
        table_talk=link("/strategy/table-talk")
        %}
        Votes can go either ways and can be targeted effortlessly across the table.
        This gives unique negotiation options to vote decks, that can be used to keep a low profile
        and a lot of friends throughout the game. {{ table_talk }}
        is always important in the game, but even more so for vote archetypes.
        {% endtrans %}
    </p>
</div>
<h2 id="wall">{{ _("Wall") }}</h2>
<p>
    {% trans trimmed
    eyes_of_argus=card("Eyes of Argus"),
    eternal_vigilance=card("Eternal Vigilance"),
    no_secrets_from_the_magaji=card("No Secrets From the Magaji"),
    organized_resistance=card("Organized Resistance"),
    second_tradition_domain=card("Second Tradition: Domain"),
    under_siege=card("Under Siege")
    %}
    Wall decks maximise their defence, trying to block their prey and predator actions alike while slowly
    building up bloat and pool damages. The ability to intercept and wake are tantamount in these decks,
    so {{ aus }} and {{ ani }} are the most common options here. {{ aus }} gives more options and a higher intercept
    all in all, with the excellent {{ eyes_of_argus }} atop.
    It is also the only discipline besides {{ dom }} that provides bleed bounce reaction cards.
    {{ ani }} also has good intercept cards though, and better combat options than {{ aus }}:
    it can be used with no additional equipment or discipline.
    Anarch, Sabbat, Camarilla and Laibon titled vampires each have access to excellent intercept cards:
    {{ organized_resistance }}, {{ eternal_vigilance }}, {{ under_siege }}, {{ second_tradition_domain }} and
    {{ no_secrets_from_the_magaji }}.
    {% endtrans %}
</p>
<h3>{{ _("Flavours") }}</h3>
<ul>
    <li>
        {% trans trimmed
        weenie_aus=link("/archetypes/bibliodeque/weenie-aus")
        %}
        {{ AUS }} is the best intercept discipline, and the {{ weenie_aus }} wall is an obvious idea.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        tzimisce_wall=link("/archetypes/bibliodeque/fear-factor", "Tzimisce Wall")
        %}
        The {{ tzimisce_wall }} is also a very classic archetype,
        as the combination of {{ ani }}{{ vic }} offers even better intercept capabilities.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        goratrix=card("Goratrix"),
        goratrix_high_tower=link("/archetypes/runner-ups/goratrix-high-tower")
        %}
        Tremere {{ tremere }} in general, but {{ goratrix }} in particular
        offer excellent wall capabilities in the {{ goratrix_high_tower }} archetype.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        cats=link("/archetypes/cats")
        %}
        The {{ cats }} archetype uses Ahrimanes {{ ahrimane }} and their
        {{SPI}}{{ANI}} disciplines combination.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        saulot=card("Saulot, The Wanderer", "Saulot"),
        saulot_wall=link("/archetypes/runner-ups/saulot-wall")
        %}
        {{ saulot }} has a nice discipline combination with {{AUS}}{{THA}}{{FOR}} and
        +1 bleed. The {{ saulot_wall }} archetype is built around him.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        organized_resistance=card("Organized Resistance"),
        bait_and_switch=card("Bait and Switch"),
        form_of_the_bat=card("Form of the Bat"),
        deep_ecology=card("Deep Ecology"),
        earth_meld=card("Earth Meld"),
        gangrel_barons=link("/archetypes/gangrel-barons")
        %}
        The Anarch Gangrel {{ gangrel }} and their Barons recently gave birth to the {{ gangrel_barons }} wall.
        The {{ organized_resistance }} and {{ bait_and_switch }} combination looks good on them, especially with
        {{ form_of_the_bat }}, {{ deep_ecology }} and {{ earth_meld }} added to the mix.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed
    smiling_jack_the_anarch=card("Smiling Jack, the Anarch"),
    the_rack=card("The Rack"),
    powerbase_montreal=card("Powerbase: Montreal"),
    powerbase_barranquilla=card("Powerbase: Barranquilla"),
    anarch_revolt=card("Anarch Revolt")
    %}
    Wall decks obviously have an <strong>exceptional defence</strong>.
    Moreover, having high block capabilities let them play fragile master cards that need protection to be
    efficient like {{ smiling_jack_the_anarch }}, {{ the_rack }}, {{ powerbase_montreal }},
    {{ powerbase_barranquilla }} (Sabbat) and {{ anarch_revolt }} (Anarchs),
    helping both with bloat and offence.
    Still, wall decks tend to have a <strong>weak offence</strong>, dealing only a moderate
    amount of damage to their prey. They're very good at exhausting other decks around the table though, and will
    eventually win a game if no other player can get enough Victory Points first.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("Cross block") }}</h3>
    <p>
        {% trans trimmed
        eagles_sight=card("Eagle's Sight"),
        falcons_eye=card("Falcon's Eye")
        %}
        {{ eagles_sight }} and {{ falcons_eye }} are the only minion cards in
        the game that let a vampire block <strong>any</strong> action, even if it is directed upon another
        Methusalah or undertaken cross table.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed %}
        This ability to cross block is an excellent asset in wall decks with {{ AUS }} or {{ SPI }}
        as it enhances table control and allows for example to intercept a dangerous vote from the grand-predator
        or a bleed from the prey that could be lethal to the grand-prey.
        Wall decks that do not use these will often include some <em>rush</em> capabilities instead.
        {% endtrans %}
    </p>
</div>
<h2 id="toolbox">{{ _("Toolbox") }}</h2>
<p>
    {% trans trimmed %}
    Toolbox decks balance their offence and defence capabilities. They have good intercept,
    a decent combat module and efficient pool damage options to use on their prey,
    sometimes even some votes they can try to pass or a bit of stealth.
    The key to this archetype is to use versatile cards offering multiple play options.
    {% endtrans %}
</p>
<h2>{{ _("Flavours") }}</h2>
<ul>
    <li>
        {% trans trimmed
        second_tradition_domain=card("Second Tradition: Domain"),
        parity_shift=card("Parity Shift"),
        anson_guns=link("/archetypes/anson-guns"),
        euro_brujah=link("/archetypes/bibliodeque/euro-brujah"),
        ventrue_royalty=link("/archetypes/gentlemen-with-sticks"),
        haqim_royalty=link("/archetypes/haqim-royalty")
        %}
        Using Camarilla Princes and Justicars with their access to
        {{ second_tradition_domain }} and {{ parity_shift }} led to good toolboxes like the
        {{ anson_guns }}, {{ euro_brujah }}, {{ ventrue_royalty }} and {{ haqim_royalty }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        emerald_legion=link("/archetypes/bibliodeque/emerald-legion")
        %}
        Harbinger of Skulls {{ harbinger_of_skull }}, using their {{ AUS }} to block
        and aided by the best ally in the game, are often built as toolboxes, see
        {{ emerald_legion }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        anti_ventrue_grinder=link("/archetypes/anti-ventrue-grinder")
        %}
        Ventrue Antitribu {{ ventrue_antitribu }} provide excellent toolboxes with the
        {{ anti_ventrue_grinder }} archetype and its variants.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        war_chantry=link("/archetypes/war-chantry")
        %}
        Tremere {{ tremere }} have a good disciplines combination for a toolbox too,
        as proves the {{ war_chantry }} archetype.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed %}
    <strong>Versatility</strong> is obviously the best asset of a toolbox deck.
    It can handle and exploit any table configuration. To make the most out of toolbox decks,
    one has to display excellent table awareness and negotiation abilities.
    For the toolbox to have a proper effect around the table and display all its efficiency,
    one needs to <strong>play their hand</strong>, whatever is in it.
    The deck chooses the strategy as much as the Methusalah.
    The player still chooses on which target to use its cards,
    but the cards in hand demand to be played for the deck to shine.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("The Heart of Cheating") }}</h3>
    <p>
        {% trans trimmed
        heart_of_nizchetus=card("Heart of Nizchetus")
        %}
        The {{ heart_of_nizchetus }} is often included in toolbox builds,
        as it gives more control to the Methusalah over what his play can be.
        Its effect makes such a difference in efficiency it has been nicknamed
        « The Heart of Cheating ».
        {% endtrans %}
    </p>
</div>
<p>
    {% trans trimmed %}
    Finally, toolbox decks have <strong>strong defence</strong>, although not as strong as <em>wall</em> decks.
    They tend to have good intercept options and/or rush capabilities to handle their predator.
    Having much less offensive options than a vote or bleed deck, they cannot rely on pure speed to best their predator:
    they have to deter its actions actively using blocks, bounces or combats depending on the build.
    {% endtrans %}
</p>
<h2 id="rush">{{ _("Rush") }}</h2>
<p>
    {% trans trimmed
    fame=card("Fame"),
    dragonbound=card("Dragonbound"),
    tension_in_the_ranks=card("Tension in the Ranks")
    %}
    Rush decks use combat as their main weapon. Many disciplines have good combat options and
    they are also good combat cards with no discipline.
    Getting vampires down around the table is fun, but does not help so much to get the prey's pool down.
    To this effect, a handful of cards can help, namely
    {{ fame }}, {{ dragonbound }} and {{ tension_in_the_ranks }}.
    {% endtrans %}
</p>
<h3>{{ _("Flavours") }}</h3>
<ul>
    <li>
        {% trans trimmed
        tupdogs=link("/archetypes/tupdogs-nephandus"),
        tupdog=card("Tupdog")
        %}
        The {{ tupdogs }} archetype is a classic, using a dozen {{ tupdog }} along a Tremere Antitribu.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        war_ghouls=link("/archetypes/bibliodeque/war-ghouls"),
        shambling_hordes=link("/archetypes/runner-ups/shambling-hordes")
        %}
        Allies with a rush ability are also good, like in the
        {{ war_ghouls }} and {{ shambling_hordes }} archetypes.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        guruhi_rush=link("/archetypes/guruhi-rush"),
        nananimalism=link("/archetypes/nananimalism")
        %}
        Guruhi {{ guruhi }} provide a strong rush build too
        with their {{POT}}{{ANI}} disciplines combination, like in the
        {{ guruhi_rush }} and {{ nananimalism }} archetypes.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed %}
    The ability to take down any minion provide these decks with a <strong>strong defence</strong>
    against their predator. Depending on the predator archetype, going against its minions first
    is a common strategy for a rush deck: it may take some combats to get them down,
    but they can disable their predator very fast. On the other hand, they have
    a <strong>weak offence</strong> and have trouble finding a way to deliver pool damage to their prey.
    This is the core issue of the archetype.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _("Finnish Politics") }}</h3>
    <p>
        {% trans trimmed %}
        If they do not take down their prey very fast, rush decks have a unique control over the table balance
        as they can take down the minions of any Methusalah. Proper table control is
        essential to the succes of such builds, but it also opens a unique strategy for negociation:
        using the threat of combat to get things out of your neighbours.
        {% endtrans %}
    </p>
    <p>
        {% trans trimmed %}
        The finnish players have perfect this negociation strategy to such an extent, it is now known as
        <em>"Finnish Politics"</em> among seasoned players.
        {% endtrans %}
    </p>
</div>
<h2 id="special">{{ _("Special") }}</h2>
<p>
    {% trans trimmed %}
    Some decks do not fit into any of the aforementioned categories.
    These rare constructs are unique combinations of cards that proved unexpectedly efficient.
    The following examples are not exhaustive.
    {% endtrans %}
</p>
<h3>{{ _("Flavours") }}</h3>
<ul>
    <li>
        {% trans trimmed
        mind_rape=link("/archetypes/bibliodeque/mind-rape"),
        spirit_marionette=link("/archetypes/bibliodeque/spirit-marionette"),
        baltimore_purge=link("/archetypes/bibliodeque/baltimore-purge")
        %}
        Some archetypes focus on stealing the vampires of their opponents, like
        {{ mind_rape }}, {{ spirit_marionette }} and {{ baltimore_purge }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        cybelotron=link("/archetypes/bibliodeque/cybelotron"),
        call_the_great_beast=card("Call the Great Beast")
        %}
        The {{ cybelotron }} is an archetype created by <em>Erik Torstensson</em> in 2007
        and refined by <em>Ben Peal</em>. It uses a complicated combination to play
        {{ call_the_great_beast }} efficiently.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        madness_reversal=link("/archetypes/bibliodeque/madness-reversal"),
        reversal_of_fortunes=card("Reversal of Fortunes")
        %}
        The {{ madness_reversal }} is an archetype created by <em>Orian Gissler</em> in 2009
        and refined by <em>Danilo Torrisi</em> in 2017.
        It uses {{ reversal_of_fortunes }} to play twice as much as its opponents.
        {% endtrans %}
    </li>
</ul>
<h3>{{ _("Highlights") }}</h3>
<p>
    {% trans trimmed %}
    Special decks tend to use complicated card combinations to a devastative effect. Their strength is in
    the <strong>absolute advantage</strong> their combination provides if all goes well. Their weakness
    is the frailty of such a combination. Blocking the right action or countering the right Master can often
    stop them dead in their tracks. Moreover, known combinations tend to attract the attention of all players,
    often leading the Methusalah to lose all its allies very early in the game.
    {% endtrans %}
</p>
{% endblock %}
