{% extends "layout.html" %}

{% block content %}
<h1> {{ _('Fundamentals') }} </h1>
<h2 id="bleed">{{ _('Bleed') }} </h2>
{% trans trimmed
conditioning=card("Conditioning")
%}
<p>
    The root of the game win is to destroy the prey’s pool and the obvious way to do it is to bleed.
    Numerous cards in the game can enhance bleed.
    {{ dom }} and {{ pre }} give very strong bleed decks, but a swarm of minions also get the job done pretty fast.
    ¾ of edible decks will kill their prey by bleeding it.
</p>
<p>
    Bleed modifiers like {{ conditioning }}
    should be played <strong>after the prey has declined to block</strong>.
    This way, they are more likely to get through.
</p>
{% endtrans %}
<div class="insert tip">
    {% trans trimmed
    leverage=card("Leverage"),
    command_of_the_beast=card("Command of the Beast"),
    quicksilver_contemplation=card("Quicksilver Contemplation")
    %}
    <h3>Limited and unlimited modifiers</h3>
    <p>
        Bleed modifiers are always <em>"limited"</em> if the card does not state otherwise,
        meaning one can play only one modifier increasing the bleed amount during a bleed action.
        However, a few cards provided non-limited bleed increase:
        {{ leverage }}, {{ command_of_the_beast }} and {{ quicksilver_contemplation }}
        are played, more expensive ones are not.
    </p>
    {% endtrans %}
</div>
<h3 id="bounce">{{ _('Bounce') }}</h3>
<p>
    {% trans trimmed %}
    On the defence side, <strong>bounces</strong> (reactions that change the target of a bleed)
    should be played only <strong>after the bleed amount has been confirmed</strong>
    by the predator, after block has been declined.
    This way the modifier, if any, is likely to be redirected too.
    This is because once the predator confirms the bleed amount, he actually passes on his opportunity
    to play a modifier and do not get another opportunity if the prey does not play a reaction.
    Only a few cards allow to <em>bounce</em> bleeds:
    {% endtrans %}
</p>
<ul>
    <li>
        {{ card("Lost in Translation") }}
        ({{ _('younger vampires or allies') }}),
    </li>
    <li> {{ dom }} {{ _('with') }} {{ card("Deflection") }},</li>
    <li>
        {{ DOM }} {{ _('with') }} {{ card("Redirection") }} {{ _('and') }}
        {{ card("Murmur of the False Will") }},
    </li>
    <li>
        {{ AUS }} {{ _('with') }}
        {{ card("Telepathic Misdirection") }} {{ _('and') }}
        {{ card("My Enemy's Enemy") }}
    </li>
    <li>
        {{ _('Barons with') }} {{ card("Bait and Switch") }}
    </li>
    <li>
        {{ _('Imbued with') }} {{ card("Determine") }}
    </li>
</ul>
<p>{{ _('And only a few cards can counter these <em>bounces</em>:') }}</p>
<ul>
    <li>
        {{ card("Touch of Clarity") }} {{ dem }}
        {% trans %}can counter {{ dom }} bounces{% endtrans %},
    </li>
    <li>
        {{ card("Hide the Mind") }} {{ obf }},
        {{ card("I am Legion") }} {{ obf }}{{ dai }} {{ _('and') }}
        {{ card("False Resonance") }} {{ chi }}
        {% trans %}can counter {{ AUS }} bounces{% endtrans %},
    </li>
    <li>
        {{ card("Contingency Planning") }}
        {{ _('can counter any bounce') }},
    </li>
    <li>
        {{ card("Approximation of Loyalty") }} {{ PRE }}
        {{ _('can counter bounces from young vampires') }},
    </li>
    <li>
        {{ card("Two Wrongs") }} {{ _('and') }}
        {{ card("Terra Incognita") }} ({{ _('Laibon') }})
        {{ _('can counter bounces from the predator') }},
    </li>
    <li>
        {{ card("Narrow Minds") }}
        {{ _('is often used to deter bounces, even if it may not be enough to prevent them altogether.') }}
    </li>
</ul>
<div class="insert tip">
    {% trans trimmed
    archon_investigation=card("Archon Investigation")
    %}
    <h3>Archon limit</h3>
    <p>
        A bleed for more than 3 exposes the minion to the possibility of
        {{ archon_investigation }}.
        Because of this card, 3 has become the <strong>Archon limit</strong>:
        some decks will make sure to stay under it to avoid risking their minions,
        others will consider their minions expendable and get happily over it.
    </p>
    {% endtrans %}
</div>
<h2 id="politics">{{ _('Politics') }}</h2>
{% trans trimmed
kine_resources_contested=card("Kine Resources Contested")
%}
<p>
    The other option to deplete the prey’s pool is to use political actions like
    {{ kine_resources_contested }}.
    The advantage of this strategy is the +1 stealth on the action. The disadvantage is that it is not directed:
    not only the prey but the predator can block, and the whole table can vote.
</p>
<p>
    The terms of the referendum are announced <strong>once the action resolves</strong>.
    One can negotiate the vote as the action is announced, but only after blocks are declined
    and the action succeeds does one choose the official terms of the referendum —
    and eventually betray everyone. The terms must be stated clearly once the action resolves,
    if just to confirm the Methusalah holds true to its word.
</p>
<p>
    In order to pass their referendum successfuly, Methusalah will try to achieve a <strong>vote lock</strong>,
    meaning they have more votes on the table than the sum of all other players votes.
    Multiple techniques can be used to this effect:
    {% endtrans %}
</p>
<ul>
    <li>
        {% trans trimmed
        madrigal=card("Madrigal"),
        hall_of_hades_court=card("Hall of Hades' Court"),
        ventrue_headquarters=card("Ventrue Headquarters"),
        ferraille=card("Ferraille")
        %}
        Using modifiers or master cards to get more votes:
        {{ pre }} has the most options, but other disciplines offer good modifiers,
        like {{ mel }} {{ madrigal }} or
        {{ tem }} {{ hall_of_hades_court }}, as do some clans
        like the Ventrue {{ ventrue }} with {{ ventrue_headquarters }}
        or the Ministry {{ ministry }} with {{ ferraille }}.
        {% endtrans %}
    </li>
    <li>
        {% trans trimmed
        praxis=card("Praxis Seizure: Chicago", "Praxis Seizure"),
        crusade=card("Crusade: Chicago", "Crusade"),
        fee_stake=card("Fee Stake: Boston", "Fee Stake")
        %}
        Using {{ praxis }}, {{ crusade }} or {{ fee_stake }} cards.
        {% endtrans %}
    </li>
    <li>
        {{ _('Getting multiple big capacity vampires with a lot of votes out, like Inner Circles and Justicars. This is
        usually achieved using') }}
        {{ card("Zillah's Valley") }} {{ _('and') }}
        {{ card("Information Highway") }}, {{ _('together with') }}
        {{ card("Villein") }} {{ _('or') }}
        {{ card("Minion Tap") }}.
    </li>
    <li>
        {{ _('Using an effect to give votes to all members of clan, like') }}
        {{ card("Legacy of Pander") }} {{ pander }},
        {{ card("The Eldest Are Kholo") }} {{ ravnos }},
        {{ card("Foundation Exhibit") }} {{ toreador_antitribu }},
        {{ card("Conductor") }} {{ daughter_of_cacophony }} {{ _('or') }}
        {{ card("Amaravati") }} {{ assamite_legacy }}.
        {{ _('This needs to be combined with ways to bring many vampires of that clan into play, using actions like') }}
        {{ card("The Embrace") }} {{ _('or Master cards like') }}
        {{ card("Effective Management") }} {{ _('or') }}
        {{ card("Information Highway") }}.
    </li>
</ul>
<h3 id="delay">{{ _('Delay') }}</h3>
<p>
    {% trans trimmed
    delaying_tactics=card("Delaying Tactics"),
    kine_resources_contested=card("Kine Resources Contested")
    %}
    Aggressive vote decks will pass multiple votes in a single turn, but this has led to the use of
    {{ delaying_tactics }} as a defence.
    This means diversity in votes is needed to avoid loosing a whole turn of actions just because
    {{ kine_resources_contested }} has been delayed.
    {% endtrans %}
</p>
<div class="insert tip">
    <h3>{{ _('Damage dealing votes') }}</h3>
    <p>
        {{ _('Only a few votes deal substantive pool damage, and they often have restrictions. Some votes dealing less
        damage are not listed here.') }}
    </p>
    <ul>
        <li>{{ card("Kine Resources Contested") }}</li>
        <li>{{ card("Conservative Agitation") }}</li>
        <li>
            {{ card("Parity Shift") }}
            ({{ _('Prince or Justicar, only on a Methusalah with more pool') }})
        </li>
        <li>{{ card("Neonate Breach") }}</li>
        <li>{{ card("Domain Challenge") }}</li>
        <li>
            {{ card("Ancilla Empowerment") }} {{ _('and') }}
            {{ card("Anarchist Uprising") }}
            ({{ _('both have the same effect') }})
        </li>
        <li>
            {{ card("Reins of Power") }}
            ({{ _('Big capacity vampires') }})
        </li>
        <li>
            {{ card("Reckless Agitation") }}
            ({{ _('Independant or Anarch') }})
        </li>
        <li>
            {{ card("Lily Prelude") }}
            ({{ mel }})
        </li>
        <li>
            {{ card("Revolutionary Council") }}
            ({{ _('Baron') }})
        </li>
    </ul>
</div>
<h2 id="AB">{{ _('A&B') }}</h2>
{% trans trimmed
wake_with_evenings_freshness=card("Wake with Evening's Freshness")
%}
<p>
    One can either choose to buff up attack or to keep minions and cards to defend oneself:
    the stronger the defence, the weaker the attack, so it’s a question of balance in every deck.
    Whatever the balance though, a deck power is fundamentally about « A&B »,
    the number of <strong>A</strong>ctions & <strong>B</strong>locks in a single turn.
    In any case, the A&B must be as high as possible for the deck to be effective.
</p>
<p>
    The most obvious way to increase A&B is to use <strong>wake</strong> reactions like
    {{ wake_with_evenings_freshness }}.
    Most decks use this technique, although some forward-only builds will not, for lack of decent defensive tools.
</p>
{% endtrans %}
<div class="insert tip">
    <h3>{{ _('Wake & unlock reactions') }}</h3>
    <p>
        {% trans trimmed %}
        A few cards provide wake or unlock effects during the opponents turn,
        letting locked vampire react to and intercept actions.
        {% endtrans %}
    </p>
    <ul>
        <li>{{ card("On the Qui Vive") }}</li>
        <li>{{ card("Wake With Evening's Freshness") }}</li>
        <li>{{ card("Forced Awakening") }}</li>
        <li>{{ card("Fillip") }}</li>
        <li>{{ card("Eluding the Arms of Morpheus") }}</li>
        <li>
            {{ card("Second Tradition: Domain") }}
            ({{ _('Prince or Justicar') }})
        </li>
        <li>
            {{ card("Organised Resistance") }}
            ({{ _('Baron') }})
        </li>
        <li>{{ card("Eternal Vigilance") }} ({{ _('titled Sabbat') }})</li>
        <li>{{ card("Under Siege") }} ({{ _('titled Sabbat') }})</li>
        <li>{{ card("Rat's Warning") }} {{ ani }}</li>
        <li>{{ card("Guard Dogs") }} {{ ani }}</li>
        <li>{{ card("Black Sunrise") }} {{ QUI }}</li>
        <li>{{ card("Eyes of Argus") }} {{ AUS }}</li>
        <li>{{ card("Forced Vigilance") }} {{ FOR }}</li>
        <li>{{ card("Predator's Communion") }} {{ ABO }}</li>
        <li>{{ card("Read the Winds") }} {{ AUS }}{{ ANI }}</li>
        <li>{{ card("Speak With Spirits") }} {{ SPI }}</li>
        <li>
            {{ card("Sense the Savage Way") }}
            ({{ _('Big capacity') }} {{ ANI }})
        </li>
        <li>{{ card("Eyes of the Wild") }} {{ gangrel }}</li>
        <li>{{ card("Their Master's Voice") }} ({{ tremere }}/{{tremere_antitribu}} {{ gargoyle }})</li>
        <li>{{ card("One with the Land") }} ({{ PRO }} {{ tzimisce }})</ li>
        <li>){{ card("Deep Ecology") }} ({{ pro }} Anarch)</li>
        <li>{{ card("The Mole") }} ({{ ani }} {{ _('Anarch') }})</li>
        <li>{{ card("Netwar") }} ({{ chi }} {{ _('Anarch') }})</li>
        <li>{{ card("Angel of Berlin") }} ({{ _('Imbued') }})</li>
    </ul>
    <p>
        {% trans trimmed %}
        Some cards provide an ability to unlock after a block or not lock at all for it,
        like {{ atonement }}, {{ cats_guidance }} or {{ guardian_vigil }}.
        {% endtrans %}
    </p>
</div>
{% trans trimmed
the_embrace=card("The Embrace"),
freak_drive=card("Freak Drive")
%}
<p>
    Another easy way to increase A&B is to use a <strong>weenie</strong> crypt:
    many small vampires for more actions and blocks.
    Their lower capacity mean they are less powerful individually, but the higher A&B is worth it.
</p>
<p>
    Other methods to get more minions also increase A&B, like recruiting <strong>Allies</strong>
    or using <strong>breed</strong> cards like {{ the_embrace }} to create new vampires.
</p>
<p>
    The last way to increase A&B is to use modifiers to engage in multiple actions with a single minion.
    This strategy is called <strong>drive</strong> in honour of {{ freak_drive }},
    one of the most played card to achieve this.
    Because the <strong>NRA</strong> (<strong>N</strong>on <strong>R</strong>epeatable <strong>A</strong>ction) rule
    states that no action card can be used twice in the same turn by the same minion,
    this strategy has to be combined with a matching diversity in actions.
</p>
{% endtrans %}
<div class="insert tip">
    <h3>{{ _('Unlock modifiers') }}</h3>
    <p>
        {{ _('Only a few cards allow a vampire to unlock during the turn and undertake multiple actions.') }}
    </p>
    <ul>
        <li>{{ card("Freak Drive") }} {{ FOR }}</li>
        <li>{{ card("Forced March") }} {{ cel }}{{ for }}</li>
        <li>
            {{ card("Instantaneous Transformation") }}
            ({{ CEL }}{{ PRO }})
        </li>
        <li>
            {{ card("Truth of a Thousand Lies") }}
            ({{ SER }})
        </li>
        <li>{{ card("Zephyr") }} {{ CEL }}</li>
        <li>{{ card("Domain of Evernight") }} {{ TEM }}</li>
        <li>{{ card("As The Crow") }} {{ FLIGHT }}</li>
        <li>
            {{ card("CrimethInc.") }}
            ({{ pro }} or {{ qui }} {{ _('Anarch') }})
        </li>
        <li>{{ card("Seraph's Second") }} (Black Hand)</li>
        <li>{{ card("Tattoo Signal") }} (Seraph)</li>
    </ul>
</div>
<h2 id="action-sequence">{{ _('Action sequence') }}</h2>
{% trans trimmed %}
<p>
    The choice and order of minion actions is important.
    A common strategy is to <strong>bait</strong>, beginning with the most mundane actions, up to the strongest ones.
    This forces the opponent to ponder what to block: too early and a devastating action could get through unopposed,
    too late and one could stay sitting for a big action than never comes.
</p>
<p>
    The other side of the medal is the <strong>gambit</strong> strategy: engaging in the heaviest action first
    in order to entice the opponent to keep a wake or an unlocked minion for an even uglier action that will,
    in fact, never come.
</p>
{% endtrans %}
<h2 id="lunge">{{ _('The lunge') }}</h2>
<p>
    {% trans trimmed %}
    The key to victory is to get a hand fit to oust one’s prey in the turn. Building this hand,
    then assessing the right moment to play it and <strong>lunge</strong> for the Victory Point is key.
    If the prey survives, they can rebuild their pool. Moreover, the rest of the table
    will tend to gang up against the predator. As a prey, one should take care to conceal its defensive capabilities —
    or lack thereof. As a predator, one should try to asses the number of wakes, bounces, delays, <em>etc.</em>
    available on the prey side.
    {% endtrans %}
</p>
<h2 id="stealth-and-intercept">{{ _('Stealth and Intercept') }}</h2>
{% trans trimmed
wmrh_talk_radio=card("WMRH Talk Radio"),
carlton_van_wyk=card("Carlton Van Wyk"),
ponticulus=card("Ponticulus"),
harzomatuili=card("Harzomatuili")
%}
<p>
    The key between offence and defence is the management of stealth and intercept.
    Many disciplines give access to stealth and intercept.
</p>
<p>
    One level of intercept is enough to block hunts, votes, equipments and recruitments.
    Therefore, some decks include a limited number of <strong>permanent intercept</strong> cards like
    {{ wmrh_talk_radio }}.
</p>
<p>
    {{ carlton_van_wyk }}, {{ ponticulus }} {{ tremere }} and {{ harzomatuili }} (Cardinal or Regent)
    deserve a special mention: they include a permanent intercept bonus plus their combat abilities
    is great and allow them to hinder the opponents all by themselves.
</p>
{% endtrans %}
<div class="insert tip">
    <h3>{{ _('Permanent intercept cards') }}</h3>
    <p>
        {{ _('Only a few unique cards give permanent intercept to any vampire, most of them master cards.') }}
    </p>
    <p>
    <ul>
        <li>{{ card("KRCG News Radio") }}</li>
        <li>{{ card("WMRH Talk Radio") }}</li>
        <li>{{ card("Wall Street Night, Financial Newspaper") }}</li>
        <li>{{ card("Channel 10") }}</li>
        <li>{{ card("London Evening Star, Tabloid Newspaper") }}</li>
        <li>{{ card("The Rumor Mill, Tabloid Newspaper") }}</li>
        <li> {{ card("Club Zombie") }}</li>
        <li>{{ card("Aranthebes, the Immortal") }}</li>
        <li>
            {{ card("The Anarch Free Press") }}
            ({{ _('Anarch') }})
        </li>
        <li>
            {{ card("Market Square") }} {{ banu_haqim }}
        </li>
        <li>
            {{ card("Information Network") }} {{ nosferatu_antitribu }}
        </li>
        <li>
            {{ card("Ponticulus") }} {{ tremere }}
        </li>
        <li>
            {{ card("Saatet-ta") }} {{ ministry }}
        </li>
        <li>
            {{ card("The Unmasking") }}
            ({{ _('Allies') }})
        </li>
    </ul>
    </p>
    <p>
        {{ _('Other cards give permanent intercept to a chosen vampire.') }}
    </p>
    <ul>
        <li>{{ card("Mr. Winthrop") }}</li>
        <li>{{ card("Sport Bike") }}</li>
        <li>{{ card("Phased Motion Detector") }}</li>
        <li>{{ card("Guardian Angel") }}</li>
        <li>
            {{ card("Bowl of Convergence") }}
            {{ aus }}
        </li>
        <li>
            {{ card("Raven Spy") }} {{ _('and') }}
            {{ card("Raptor") }}
            {{ ani }}
        </li>
        <li>
            {{ card("Feral Hound") }} {{ ravnos }} {{ ani }}
        </li>
        <li>
            {{ card("Abbot") }}
            ({{ _('Sabbat') }})
        </li>
        <li>
            {{ card("Atonement") }}
            ({{ _('Small capacity vampires') }})
        </li>
        <li>
            {{ card("Razor Bat") }} {{ gargoyle }}
        </li>
        <li>
            {{ card("Defender of the Haven") }} {{ gargoyle }}
        </li>
        <li>
            {{ card("No Secrets From the Magaji") }}
            (Magaji)
        </li>
        <li>
            {{ card("Corpse Balloon") }}
            {{ vic }}
        </li>
        <li>
            {{ card("Revenant") }} {{ tzimisce }}
        </li>
        <li>
            {{ card("Sight Beyond Sight") }} {{ salubri }}
        </li>
        <li>
            {{ card("Shaman") }}
            ({{ _('Laibon') }})
        </li>
        <li>
            {{ card("Kumpania") }} {{ ravnos }}
        </li>
        <li>
            {{ card("Ephor") }} {{ ventrue }}
        </li>
        <li>
            {{ card("The Ancestor's Talisman") }} {{ banu_haqim }}
        </li>
    </ul>
</div>
<p>
    {% trans trimmed
    elder_impersonation=card("Elder Impersonation"),
    call_of_the_hungry_dead=card("Call of the Hungry Dead"),
    blanket_of_night=card("Blanket of Night"),
    seduction=card("Seduction"),
    forced_confessional=card("Forced Confessional"),
    daring_the_dawn=card("Daring the Dawn")
    %}
    On the other hand, whatever level of intercept one manages to achieve, stealth specialised decks
    often include some <strong>block denial</strong> modifiers atop normal stealth.
    {{ OBF }} {{ elder_impersonation }},
    {{ NEC }} {{ call_of_the_hungry_dead }},
    {{ OBT }} {{ blanket_of_night }},
    and {{ salubri }}{{ DOM }} {{ forced_confessional }}
    are the only full-purpose block denials of the game. However, {{ DOM }} gives access to
    {{ seduction }} which is still a strong denial,
    even if it is less efficient against wakes. Many disciplines give access to lesser block denials
    that only work against allies and younger vampires, but they are less used.
    {{ for }} deserves a mention too with {{ daring_the_dawn }},
    although the drawback of going to torpor is something to account for.
    {% endtrans %}
</p>
{% endblock %}