{% extends "layout.html" %}

{% block content %}
<h1>{{ _('Strategy') }}</h1>
<p>
    {{ _('This section explores <strong>Vampire: the Eternal Struggle</strong> strategy in some details.') }}
</p>
<p>
    {% trans trimmed %}
    The <strong>Basic Strategy</strong> section explains everything one needs to know to reach tournament-level play.
    The <strong>Advanced Strategy</strong> section is destined to seasoned players: the articles are contributions
    written by prominent players all over the world.
    {% endtrans %}
</p>
<h2>{{ _('Basic Strategy') }}</h2>
<ul>
    <li>{{ link("/strategy/fundamentals") }}</li>
    <li>{{ link("/strategy/combat") }}</li>
    <li>{{ link("/strategy/bloat") }}</li>
    <li>{{ link("/strategy/deck-building") }}</li>
    <li>{{ link("/strategy/archetypes") }}</li>
    <li>{{ link("/strategy/table-talk") }}</li>
</ul>
<ul>
    <li>{{ link("/strategy/articles/basic/blood-pool-and-grinding-beads") }} <em>{{ _('by') }} Paul Jones</em></li>
    <li>{{ link("/strategy/articles/basic/guide-for-mtg-players") }}</li>
    <li>{{ link("/strategy/articles/basic/what-should-i-buy") }}</li>
</ul>
<h2>{{ _('Advanced Strategy') }}</h2>
<ul>
    <li>{{ link("/strategy/articles/advanced/the-game-of-the-game") }} <em>{{ _('by') }} Mark Loughman</em></li>
    <li>{{ link("/strategy/articles/advanced/playing-montano-baltimore-purge") }} <em>{{ _('by') }} Rudolf Scholz</em>
    </li>
    <li>{{ link("/strategy/articles/advanced/playing-tupdogs-nephandus") }} <em>{{ _('by') }} Tommi Hakomaa</em></li>
</ul>
<h2>{{ _('Black Chantry pre-constructed decks guides') }}</h2>
<ul>
    <li>{{ link("/strategy/deck-guides/den-of-fiends") }}</li>
    <li>{{ link("/strategy/deck-guides/libertine-ball") }}</li>
    <li>{{ link("/strategy/deck-guides/pact-with-nephandi") }}</li>
    <li>{{ link("/strategy/deck-guides/parliament-of-shadows") }}</li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Ventrue%20deck.pdf">
            {{ _('First Blood: Ventrue') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Malkavian%20deck.pdf">
            {{ _('First Blood: Malkavian') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Nosferatu%20deck.pdf">
            {{ _('First Blood: Nosferatu') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Toreador%20deck.pdf">
            {{ _('First Blood: Toreador') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Tremere%20deck.pdf">
            {{ _('First Blood: Tremere') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_ventrue_en.pdf">
            {{ _('V5: Ventrue') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_malkavian_en.pdf">
            {{ _('V5: Malkavian') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_nosferatu_en.pdf">
            {{ _('V5: Nosferatu') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_toreador_en.pdf">
            {{ _('V5: Toreador') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_tremere_en.pdf">
            {{ _('V5: Tremere') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_banu_haqim_en.pdf">
            {{ _('V5: Banu Haqim') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_brujah_en.pdf">
            {{ _('V5: Brujah') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_gangrel_en.pdf">
            {{ _('V5: Gangrel') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_ministry_en.pdf">
            {{ _('V5: Ministry') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_ravnos_en.pdf">
            {{ _('V5: Ravnos') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_salubri_en.pdf">
            {{ _('V5: Salubri') }}
        </a></li>
    <li><a href="https://blackchantry.com/help_sheet_tzimisce_en.pdf">
            {{ _('V5: Tzimisce') }}
        </a></li>
</ul>
{% endblock %}