{% extends "strategy/_layout.html" %}

{% block content %}
<h1>{{ _('Strategy') }}</h1>
<p>
    {{ _('This section explores <strong>Vampire: the Eternal Struggle</strong> strategy in some details.') }}
</p>
<ul>
    <li>{{ link("/strategy/fundamentals") }} {{ _('gives general tips and advices.') }}</li>
    <li>{{ link("/strategy/combat") }} {{ _('explains combat in detail.') }}</li>
    <li>{{ link("/strategy/bloat") }} {{ _('details the different strategies to gain pool during a game.') }}</li>
    <li>{{ link("/strategy/deck-building") }} {{ _('gives some tools toward deck building.') }}</li>
    <li>{{ link("/strategy/archetypes") }} {{ _('is an introduction to the different deck archetypes.') }}</li>
    <li>{{ link("/strategy/table-talk") }} {{ _('presents negociation strategies and tips.') }}</li>
</ul>
<h2>{{ _('Black Chantry Sabbat pre-constructed decks guides') }}</h2>
<ul>
    <li>{{ link("/strategy/deck-guides/den-of-fiends") }}</li>
    <li>{{ link("/strategy/deck-guides/libertine-ball") }}</li>
    <li>{{ link("/strategy/deck-guides/pact-with-nephandi") }}</li>
    <li>{{ link("/strategy/deck-guides/parliament-of-shadows") }}</li>
</ul>
<h2>{{ _('Black Chantry "First Blood" pre-constructed decks guides') }}</h2>
<p>
    {{ _('Black Chantry released official guides for the First Blood decks series:') }}
</p>
<ul>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Ventrue%20deck.pdf">
            {{ _('First Blood: Ventrue') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Malkavian%20deck.pdf">
            {{ _('First Blood: Malkavian') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Nosferatu%20deck.pdf">
            {{ _('First Blood: Nosferatu') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Toreador%20deck.pdf">
            {{ _('First Blood: Toreador') }}
        </a></li>
    <li><a href="https://blackchantry.com/How%20to%20play%20the%20First%20Blood%20Tremere%20deck.pdf">
            {{ _('First Blood: Tremere') }}
        </a></li>
</ul>
<p>
    Copyright © 2019 White Wolf Entertainment AB. <a href="http://www.white-wolf.com">white-wolf.com</a>.
    {{ _('All rights reserved.') }}
</p>
{% endblock %}
