{% extends "strategy/deck-guides/_layout.html" %}
{% import "strategy/deck-guides/libertine-ball.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
<meta property="deckname" content="{{ _('Libertine Ball') }}" />
{% endblock %}

{% block deck_name %}
<h1>{{ toreador_antitribu }}
    {{ _("Libertine Ball") }}
</h1>
{% endblock %}

{% block deck_guide %}
{% trans trimmed
art_scam=card("Art Scam"),
change_of_target=card("Change of Target"),
consanguineous_boon=card("Consanguineous Boon"),
creepshow_casino=card("Creepshow Casino"),
delaying_tactics=card("Delaying Tactics"),
enchant_kindred=card("Enchant Kindred"),
foundation_exhibit=card("Foundation Exhibit"),
kine_resources_contested=card("Kine Resources Contested"),
majesty=card("Majesty"),
palla_grande=card("Palla Grande"),
perfectionist=card("Perfectionist"),
resist_earth_s_grasp=card("Resist Earth’s Grasp"),
telepathic_misdirection=card("Telepathic Misdirection"),
the_embrace=card("The Embrace"),
the_hungry_coyote=card("The Hungry Coyote"),
vessel=card("Vessel"),
leeching=link("/strategy/bloat", _("leeching"), _anchor="leeching")

%}
<h2>Summary</h2>
<p>
    This is a Toreador Antitribu <em>Breed & Vote</em> deck. The setup is to get a the
    oldest vampire out first, then play {{ the_embrace }} and {{ enchant_kindred }} at
    superior {{ PRE }} to get more Toreador Antitribu in play. The idea is to overwhelm
    other decks by sheer numbers.
</p>
<p>
    Once enough vampires are in play, the plan is to play either
    {{ foundation_exhibit }} or {{ palla_grande }} to make them useful. These cards
    should be kept in hand: even copies to replace them are useful.
</p>
<h2>Offence</h2>
<p>
    <strong>Pool damage</strong> is high, using {{ kine_resources_contested }} and bleed
    actions — especially if {{ palla_grande }} is in play. If {{ enchant_kindred }} is
    used at superior {{ PRE }} in the beginning to build up more power, it becomes an
    excellent bleed action at inferior {{ pre }} later on.
</p>
<p>
    The deck has almost no stealth: it uses {{ change_of_target }} against wakes and
    {{ majesty }} at superior {{ PRE }} to cancel combats after an action is block, then
    unlock and try another one. The sheer number of actions will ensure most of them get
    through. Still, {{ resist_earth_s_grasp }} is available to help get critical actions
    through, like {{ the_embrace }}.
</p>
<h2>Defence</h2>
<p>
    The <strong>combat module is defensive</strong>, using {{ majesty }} to end combats
    that could kill the vampires.
</p>
<p>
    <strong>Bloat is high</strong>, with {{ consanguineous_boon }} and {{ art_scam }},
    completed with some {{ leeching }} from the vampires with {{ vessel }}.
    {{ creepshow_casino }} and {{ the_hungry_coyote }} help get more blood out of hunt
    actions, and {{ perfectionist }} is used to get even more blood back on vampires.
</p>
<p>
    The deck avoids combat so it <strong>does not try to intercept</strong> actions,
    hence the high bloat module. It uses only {{ delaying_tactics }} against critical
    votes and {{ telepathic_misdirection }} to bounce bleeds.
</p>
<h2>Tips</h2>
<p>
    Play <strong>as many actions as possible</strong>. As a general rule, do not keep
    vampires unlocked and never try to intercept.
</p>
<p>
    Keep your vampires <strong>out of torpor</strong>. Embraces seem expendable, but the
    power of this deck relies on the number of minions. If an Embrace goes into torpor,
    pay the blood and get her out.
</p>
<p>
    <strong>Keep your votes</strong> for when {{ foundation_exhibit }} hit the table.
    {{ consanguineous_boon }} is your best bloat device and it is critical to get some
    through throughout the game.
</p>
{% endtrans %}
<div class="insert tip">
    {% trans trimmed
    change_of_target=card("Change of Target"),
    consanguineous_boon=card("Consanguineous Boon"),
    kine_resources_contested=card("Kine Resources Contested"),
    majesty=card("Majesty"),
    the_embrace=card("The Embrace")
    %}
    <h3>Order of actions</h3>
    <p>
        The deck undertakes so many actions it makes it hard for the opponents to decide
        what to block when they can. Moreover, the deck uses {{ majesty }} and
        {{ change_of_target }} when it is blocked to end the action, unlock and try
        another one.
    </p>
    <p>
        The order of actions is therefore decisive. Try to <strong>bait</strong> your
        opponents into blocking bleed or {{ kine_resources_contested }} first, then when
        it seems safe play {{ the_embrace }} and {{ consanguineous_boon }}.
    </p>
    {% endtrans %}
</div>
<p>
    {% trans trimmed
    information_highway_article=external(
    "https://vtesinformationhighway.wordpress.com/2019/01/24/toreador-starter-libertine-ball/",
    _("Information Highway article")
    )
    %}
    Check the {{ information_highway_article }} for a deck review and ideas on how to
    improve it.
    {% endtrans %}
</p>
{% endblock %}
