{% extends "strategy/deck-guides/_layout.html" %}
{% import "strategy/deck-guides/pact-with-nephandi.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
<meta property="deckname" content="{{ _('Pact with Naphandi') }}" />
{% endblock %}

{% block deck_name %}
<h1>{{ tremere_antitribu }}
    {{ _("Pact with Naphandi") }}
</h1>
{% endblock %}

{% block deck_guide %}
{% trans trimmed
antonio_d_erlette=card("Antonio d’Erlette"),
carlton_van_wyk=card("Carlton Van Wyk"),
computer_hacking=card("Computer Hacking"),
conditioning=card("Conditioning"),
deflection=card("Deflection"),
delaying_tactics=card("Delaying Tactics"),
fame=card("Fame"),
frontal_assault=card("Frontal Assault"),
glancing_blow=card("Glancing Blow"),
harass=card("Harass"),
krcg_news_radio=card("KRCG News Radio"),
mirror_walk=card("Mirror Walk"),
molotov_cocktail=card("Molotov Cocktail"),
nephandus=card("Nephandus"),
on_the_qui_vive=card("On the Qui Vive"),
rego_motus=card("Rego Motus"),
target_vitals=card("Target: Vitals"),
the_unmasking=card("The Unmasking"),
theft_of_vitae=card("Theft of Vitae"),
trap=card("Trap"),
vessel=card("Vessel")
%}
<h2>Summary</h2>
<p>
    This is a Tremere antitribu <em>Allies Toolbox</em> deck. The setup is to get
    {{ antonio_d_erlette }} out first, then put some {{ nephandus }} in play using his
    ability. Some sidekicks can be brought into play if the pool allows it.
</p>
<p>
    The high number of minions is a strong point of the deck.
</p>
<h2>Offence</h2>
<p>
    <strong>Pool damage</strong> is done with naked bleed or {{ computer_hacking }}
    (which can be used by {{ nephandus }}), but also with well timed {{ conditioning }}
    from the vampires to finish one’s prey. {{ fame }} can also help if it is drawn, as
    {{ harass }} and {{ frontal_assault }} provide good options to rush enemy minions.
</p>
<p>
    The <strong>combat module is strong</strong> and tailored for the {{ nephandus }},
    with the deadly {{ trap }}, {{ target_vitals }} to improve damage,
    {{ glancing_blow }} to prevent even more and {{ molotov_cocktail }} to take
    advantage of the <em>Press</em> {{ nephandus }} has. Tremere with {{ tha }} have
    access to additional options with {{ theft_of_vitae }} and {{ rego_motus }}.
</p>
<h2>Defence</h2>
<p>
    <strong>Bloat is low</strong>: {{ vessel }} is used to get some pool back from the
    vampires, and it is crucial to get some pool to recruit more Nephandus.
</p>
<p>
    <strong>Block is good</strong>, with {{ aus }} reactions to enhance intercept and
    {{ on_the_qui_vive }} to wake, plus {{ deflection }} for bounces and
    {{ delaying_tactics }} against votes. On this note, getting a second vampire out to
    handle blocks, with {{ aus }}{{ tha }}, is great in this deck, as risking
    {{ antonio_d_erlette }} on a block is a bold move.
</p>
<p>
    Moreover, {{ krcg_news_radio }}, {{ the_unmasking }} and {{ carlton_van_wyk }}
    add permanent intercept to the mix.
</p>
<h3>Tips</h3>
<p>
    {{ antonio_d_erlette }} and his ability are key. <strong>Protect him</strong>, do
    not risk him on actions that could be blocked if you do not have the necessary
    {{ THA }} combat tricks in hand.
</p>
<p>
    You can get some {{ nephandus }} in play by <strong>recruiting them</strong>, too.
    Better not be blocked, though, so you can use {{ mirror_walk }} for additional
    stealth.
</p>
<p>
    <strong>Do not waste</strong> {{ target_vitals }} and {{ molotov_cocktail }} if you
    think the opponent can play a <em>« Strike: Combat Ends »</em> using for example
    {{ pre }} or {{ obt }}.
</p>
{% endtrans %}
<div class="insert tip">
    {% trans trimmed
    conditioning=card("Conditioning"),
    harass=card("Harass"),
    mirror_walk=card("Mirror Walk")
    %}
    <h3>Balance offence and defence</h3>
    <p>
        The <em>« toolbox »</em> nature of the deck means it can adapt to the context.
        You can bleed with all your minions and apply a maximum pressure to you prey, or
        keep most of them unlocked for defence.
    </p>
    <p>
        The balance between offensive actions and keeping minions for defence is
        essential. Try to play a maximum of cards but at the same time keep them in hand
        if you have to wait for the right moment or another card to complement it.
    </p>
    <p>
        For example, wait until you have a good combat card before using {{ harass }} on
        an enemy minion. Or wait until you have a {{ mirror_walk }} before trying to get
        a {{ conditioning }} through.
    </p>
    {% endtrans %}
</div>
<p>
    {% trans trimmed
    information_highway_article=external(
    "https://vtesinformationhighway.wordpress.com/2019/01/11/nephandus-starter-and-strategy/",
    _("Information Highway article")
    )
    %}
    Check the {{ information_highway_article }} for a deck review and ideas on how to
    improve it.
    {% endtrans %}
</p>
{% endblock %}
