{% extends "best-cards/_layout.html" %}

{% block content %}
<h1>Anarch</h1>
<p>
    Anarch have been on the rise the last few years, and they ramped up some classical archetypes
    to bring them to a new power level, like
    {{ link("/archetypes/saulot-and-friends", _("Saulot & Friends")) }},
    {{ link("/archetypes/goratrix-high-tower", _("Goratrix High Tower")) }} or
    {{ link("/archetypes/nananimalism", _("Nananimalism")) }}, for example.
</p>
<p>
    The anarch variation is a possibility for many archetypes, and it gives access to some unique cards.
</p>
<h2>Highlights</h2>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anarchrevolt.jpg">
        <h4>Anarch Revolt</h4>
        <p class="center-subtitle">played in 96 decks, typically 2-7 copies</p>
    </div>
    <p>
        A good pool-damage dealer if it can be defended, either with intercept capacities or votes.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/recklessagitation.jpg">
        <h4>Reckless Agitation</h4>
        <p class="center-subtitle">played in 55 decks, typically 1-5 copies</p>
    </div>
    <p>
        An excellent vote to deliver pool damage, its effect is strong than
        {{ card("Kine Resources Contested") }},
        for a higher blood cost. It is a bit tricky to gather enough independant or anarch votes
        to get it through, but worth the effort.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anarchfreepressthe.jpg">
        <h4>The Anarch Free Press</h4>
        <p class="center-subtitle">played in 46 decks, typically 1 copy</p>
    </div>
    <p>
        An excellent location, combining permanent intercept and the occasional blood bonus
        for the low cost of 1 pool. A no-brainer for most Anarch decks.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/twilightcamp.jpg">
        <h4>Twilight Camp</h4>
        <p class="center-subtitle">played in 40 decks, typically 1-2 copies</p>
    </div>
    <p>
        A versatile tool when playing a non-anarch crypt.
        It is the cheapest way to make a vampire anarch, although
        {{ card("Anarch Convert") }} and
        {{ card("The Red Question") }}
        are excellent alternatives, but it can also bring some welcome blood back on the table on occasions.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/constantrevolution.jpg">
        <h4>Constant Revolution</h4>
        <p class="center-subtitle">played in 34 decks, typically 1-2 copies</p>
    </div>
    <p>
        With an effect similar to
        {{ card("Smiling Jack, The Anarch") }},
        they are most often played together for pool damage
        in decks that have enough block potential to defend it.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/anarchrailroad.jpg">
        <h4>Anarch Railroad</h4>
        <p class="center-subtitle">played in 33 decks, typically 1 copy</p>
    </div>
    <p>
        A decent source of stealth for a reasonable cost.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/groundfighting.jpg">
        <h4>Groundfighting</h4>
        <p class="center-subtitle">played in 27 decks, typically 1-3 copies</p>
    </div>
    <p>
        A very versatile combat utility, it finds it place in many Anarch decks with a combat module.
        The option to cancel an
        {{ card("Immortal Grapple") }} can be a life saver.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/monkeywrench.jpg">
        <h4>Monkey Wrench</h4>
        <p class="center-subtitle">played in 22 decks, typically 1-3 copies</p>
    </div>
    <p>
        Although costly, it is a good bleed enhancer that requires no discipline.
        Invaluable in decks that have no access to other bleed enhancers,
        it can be a decisive tool for a lunge.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/piper.jpg">
        <h4>Piper</h4>
        <p class="center-subtitle">played in 22 decks, typically 3-8 copies</p>
    </div>
    <p>
        A unique effect that allows Anarch to recruit allies without the risk of being blocked,
        it can be used in ally-oriented archetypes like
        {{ link("/archetypes/war-ghouls", _("War Ghouls")) }},
        {{ link("/archetypes/khazars-diary", _("Khazar's Diary")) }} or
        {{ link("/archetypes/nephandii", _("Nephandii")) }}.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/clubillusion.jpg">
        <h4>Club Illusion</h4>
        <p class="center-subtitle">played in 21 decks, typically 1-2 copies</p>
    </div>
    <p>
        An excellent bleed enhancer, although the blood cost can be a bummer.
        Combined with cards that help bring some pool back on the vampires, like
        {{ card("The Anarch Free Press") }} and
        {{ card("Twilight Camp") }},
        it becomes a frightening pool damage device.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/seattlecommittee.jpg">
        <h4>Seattle Committee</h4>
        <p class="center-subtitle">played in 21 decks, typically 1-2 copies</p>
    </div>
    <p>
        A nice way to make a vampire anarch at no cost, it is often played alongside
        {{ card("Twilight Camp") }}
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/diversion.jpg">
        <h4>Diversion</h4>
        <p class="center-subtitle">played in 20 decks, typically 6-13 copies</p>
    </div>
    <p>
        A versatile combat tool for vampires having both <i>c</i> and <i>f</i>,
        the choice between prevention and additional strike is a unique combination:
        it is unlikely to jam the hand and can help offensively or defensively depending on the situation.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/powerbaselosangeles.jpg">
        <h4>Powerbase: Los Angeles</h4>
        <p class="center-subtitle">played in 20 decks, typically 1 copy</p>
    </div>
    <p>
        A decent rotation enhancer even without anarch cards,
        it becomes very useful if the unlock effect can be put to good use.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/undueinfluence.jpg">
        <h4>Undue Influence</h4>
        <p class="center-subtitle">played in 18 decks, typically 3-18 copies</p>
    </div>
    <p>
        Although it provides no bleed bonus, having a stealthed bleed for <i>r</i>
        is a powerful tool, moreover when combined with
        {{ card("Power of One") }} to deliver
        a 2 stealth 2 pool bleed. The bloat effect is a nice bonus too.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/powerofone.jpg">
        <h4>Power of One</h4>
        <p class="center-subtitle">played in 17 decks, typically 2-10 copies</p>
    </div>
    <p>
        Although pricier than
        {{ card("Bonding") }},
        it provides stealth and bleed power at inferior <i>r</i>,
        which makes it usable by lower capacity vampires.
    </p>
</div>
<div class="column">
    <div class="column-image">
        <img src="https://images.krcg.org/garibaldimeuccimuseum.jpg">
        <h4>Garibaldi-Meucci Museum</h4>
        <p class="center-subtitle">played in 14 decks, typically 1 copy</p>
    </div>
    <p>
        A decent recursion device, it is often seen in political decks,
        like {{ link("/archetypes/death-star", _("Death Star")) }},
        where it can be used to get back some critical pool damaging vote
        in hand.
    </p>
</div>
{% endblock %}
