{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}

{% block content %}
{{ sponsor }}
<p>
    {# TRANSLATORS: please abide by BCP translation choices for game terms when possible. #}
    {% trans trimmed
        black_chantry_productions=external("https://www.blackchantry.com", "Black Chantry Productions"),
        white_wolf=external("https://www.white-wolf.com", "White Wolf")
    %}
    This site is a compilation of <strong>Vampire: the Eternal Struggle</strong> strategy resources.
    It is intended for players already familiar with the game and its rules.
    VTES is a game published by {{ black_chantry_productions }}, under the {{ white_wolf }} license.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
        brett_s_guide=external("https://gamingwithbs.wordpress.com/new-players-corner/vtes-quick-start-guide", _("Brett S. guide")),
        bcp_s_website=external("https://www.blackchantry.com/rulebook/", _("BCP's website")),
        players_guide=external("https://www.drivethrurpg.com/product/2931/Vampire-The-Eternal-Struggle-Players-Guide", _("Player's Guide"))
    %}
    If you are a new player, consult {{ brett_s_guide }} to learn the game before digging deeper.
    The official rule can be found on the {{ bcp_s_website }}.
    The official {{ players_guide }} is available in PDF format at DriveThruRPG.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
        github_page=external("https://github.com/lionel-panhaleux/codex-of-the-damned/issues", _("Github page"))
    %}
    If you want to contribute to this guide, point out mistakes or raise an issue, you are welcome to do so on the
    {{ github_page }} of the project.
    {% endtrans %}
</p>
<h2>{{ _('Community') }}</h2>
<ul>
    <li><a target="_blank" href="http://www.vekn.net/forum">{{ _('VEKN Forum') }}</a></li>
    <li><a target="_blank" href="https://discord.gg/EJ5qBaD">
            <span class="brand-icon">&#xf392</span> {{ _('VTES Discord') }}
        </a></li>
    <li><a target="_blank" href="https://www.facebook.com/groups/512493665865136/">
            <span class="brand-icon">&#xf082</span> {{ _('VEKN Facebook goup') }}
        </a></li>
    <li>Blog: <a target="_blank" href="https://vtesone.wordpress.com">VTESOne</a></li>
    <li>Blog: <a target="_blank" href="https://vtesinformationhighway.wordpress.com">Information Highway</a></li>
    <li>Blog: <a target="_blank" href="https://www.facebook.com/MikeTheNeonate/">The Neonate Diaries</a></li>
    <li>Blog: <a target="_blank" href="https://bindusara.home.blog">
            Bindusara's Jyhad Diary ({{ _('interviews archive') }})
        </a></li>
</ul>
{% endblock %}

{% block footer %}
<img src="{{ url_for('static', filename='img/icons/dark-pack.png') }}">
<p>
    {{ _('Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with permission. All rights reserved. For more information please visit') }}
    <a target="_blank" href="http://white-wolf.com">white-wolf.com</a>.
</p>
{% endblock %}
