{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}

{% block content %}
{{ sponsor }}
<p>
    {# TRANSLATORS: please abide by BCP translation choices for game terms when possible. #}
    {% trans trimmed
    black_chantry_productions=external("https://www.blackchantry.com", "Black Chantry Productions"),
    world_of_darkness=external("https://www.worldofdarkness.com", "World of Darkness")
    %}
    This site is a compilation of <strong>Vampire: the Eternal Struggle</strong> strategy resources.
    It is intended for players already familiar with the game and its rules.
    VTES is a game published by {{ black_chantry_productions }}, under {{ world_of_darkness }} license.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
    brett_s_guide=external("https://gamingwithbs.wordpress.com/new-players-corner/vtes-quick-start-guide",
    _("Brett S. guide")),
    bcp_s_website=external("https://www.blackchantry.com/rulebook/", _("BCP's website")),
    players_guide=external("https://www.drivethrurpg.com/product/2931/Vampire-The-Eternal-Struggle-Players-Guide",
    _("Player's Guide"))
    %}
    If you are a new player, consult {{ brett_s_guide }} or one of the video tutorials below to learn the game
    before digging deeper.
    The official rule can be found on the {{ bcp_s_website }}.
    The official {{ players_guide }} is available in PDF format at DriveThruRPG.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
    github_page=external("https://github.com/lionel-panhaleux/codex-of-the-damned/issues", _("Github page"))
    %}
    If you want to contribute to this guide, point out mistakes or raise an issue, you are welcome to do so on the
    {{ github_page }} of the project.
    {% endtrans %}
</p>
<h2>{{ _('Community') }}</h2>
<a target="_blank" href="https://discord.gg/cafUcrDP8k">
    <img src="https://discord.com/api/guilds/887471681277399091/widget.png?style=banner3" class="no-max-height">
</a>
<ul>
    <li><a target="_blank" href="http://www.vekn.net/forum">{{ _('VEKN Forum') }}</a></li>
    {%if lang == "fr"%}
    <li>
        <a target="_blank" href="http://www.vekn.fr/forum/index.php">
            Forum VEKN France
        </a>
    </li>
    {% endif %}
    <li>
        <span class="brand-icon" style="color: #FD4500;">&#xf1a1</span>
        <a target="_blank" href="https://www.reddit.com/r/VTES/">
            r/VTES
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #3683E6;">&#xf082</span>
        <a target="_blank" href="https://www.facebook.com/groups/512493665865136/">
            {{ _('VEKN Facebook goup') }}
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #3683E6;">&#xf082</span>
        <a target="_blank" href="https://www.facebook.com/groups/vtesworld">
            {{ _('VTES World Facebook goup') }}
        </a>
    </li>
    <li>
        {{ _("More links and local communities on") }}
        <a target="_blank" href="https://vtes.global">VTES global</a>
    </li>
</ul>
<h2>{{ _('Resources') }}</h2>
<div class="column-2">
    <h3>{{ _('Online tools') }}</h3>
    <ul>
        <li>Deck builder: <a target="_blank" href="https://amaranth.vtes.co.nz">Amaranth</a></li>
        <li>Deck builder: <a target="_blank" href="https://vdb.im">VDB</a></li>
        <li>Deck builder: <a target="_blank" href="https://vtesdecks.com">VTES Decks</a></li>
        <li>{{ _('Tournament organiser') }}: <a target="_blank" href="http://bcncrisis.com">BCN Crisis</a></li>
        <li>Cards finder: <a target="_blank" href="https://bloodlibrary.info">Blood Library</a></li>
        <li>
            <span class="brand-icon" style="color: #2BA9E9;">&#xf2c6</span>
            Telegram Bot: <a target="_blank" href="https://t.me/vtes_bot">VTES Bot</a>
        </li>
    </ul>
    <p>
        {% trans trimmed
        online_play_section=link("/online-play", _("Online Play section"))
        %}
        For <b>online play</b>, check the {{ online_play_section }}.
        {% endtrans %}
    </p>
</div>

<div class="column-2">
    <h3>{{ _('Tutorials') }}</h3>
    <ul>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://youtu.be/ejysifYS1ZE">
                {{ _("Team Covenant's Tutorial") }}
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://youtu.be/jCRWBuIUaE8">
                {{ _("Jender's Gaming Tutorial") }}
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://youtu.be/rzyr3rSBiQY">
                {{ _("VTES on LackeyCCG Tutorial") }}
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇫🇷
            <a target=" _blank" href="https://www.youtube.com/watch?v=unDeY9CefJ0">
                Ludochrono: VTES Tutoriel
            </a>
        </li>
    </ul>
</div>

<div class="column-2">
    <h3>{{ _('Video Channels') }}</h3>
    <ul>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@blackchantryproductions32">
                Black Chantry Productions
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@codexkrcg4867">
                Codex of the Damned
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@readingbetweenthelyons">
                Reading Between the Lyons
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@heysteev">
                Hey Steev
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@SuakuOZ">
                SuakuOZ
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@VTESandotherstruggles">
                VTES and other struggles
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/playlist?list=PLB91p0cowEvi2D96Y1a1PtErc_3vYPrYL">
                The Dracovin Empire
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/playlist?list=PLgE5ExTeZqPg5recK6BkAdcko-V91LFCG">
                Midian Gaming
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            <a target="_blank" href="https://www.youtube.com/@LiesFromTheTabletop">
                Lies From The Tabletop
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇵🇹 🇧🇷
            <a target=" _blank" href="https://www.youtube.com/@bloodfacavtes227">
                Blood Faca
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸
            <a target=" _blank" href="https://www.youtube.com/@bleeddetres6644">
                Bleed de Tres
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸 🇲🇽
            <a target=" _blank" href="https://www.youtube.com/@VtesMexico">
                VTES Mexico
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸
            <a target=" _blank" href="https://www.youtube.com/@Belial11">
                Belial Friki
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸
            <a target=" _blank" href="https://www.youtube.com/@channel10-vtes74">
                Channel 10
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸
            <a target=" _blank" href="https://www.youtube.com/@causaefectovtes3025">
                Causa & efecto
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
            🇪🇸
            <a target=" _blank" href="https://www.youtube.com/@playvtes">
                Play VTES
            </a>
        </li>
    </ul>
</div>

<div class="column-2">
    <h3>{{ _('Blogs') }}</h3>
    <ul>
        <li><a target="_blank" href="https://vtesone.wordpress.com">VTESOne</a></li>
        <li><a target="_blank" href="https://vtesinformationhighway.wordpress.com">Information Highway</a></li>
        <li><a target="_blank" href="https://blog.kgs-cards.com">KGS Cards</a></li>
        <li><a target="_blank" href="https://gamingwithbs.wordpress.com">Gaming with Brett S.</a></li>
        <li><a target="_blank" href="https://thethessalianscrolls.blogspot.com">The Thessalian Scrolls</a></li>
        <li>
            <a target="_blank" href="https://bindusara.home.blog">
                Bindusara's Jyhad Diary ({{ _('interviews archive') }})
            </a>
        </li>
        <li>🇫🇷 🇨🇦 <a target="_blank" href="http://diableriste.com/">Carnet d'un diableriste</a></li>
    </ul>
</div>

<div class="column-2">
    <h3>{{ _('Live streams') }}</h3>
    <ul>
        <li>
            <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
            <a target="_blank" href="https://www.twitch.tv/codex_of_the_damned">
                Codex of the Damned
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
            🇵🇹 🇧🇷
            <a target="_blank" href="https://www.twitch.tv/henrikone">
                HenrikOne
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
            <a target="_blank" href="https://www.twitch.tv/self_biased">
                self-biased
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
            <a target="_blank" href="https://www.twitch.tv/heysteev">
                HeySteev
            </a>
        </li>
        <li>
            <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
            🇪🇸
            <a target="_blank" href="https://www.twitch.tv/posconymous">
                Posconymous
            </a>
        </li>
    </ul>
</div>

<div class="column-2">
    <h3>{{ _('Developer tools') }}</h3>
    <ul>
        <li>Web API: <a target="_blank" href="https://api.krcg.org">KRCG API</a></li>
        <li>{{ _('Static resources') }}: <a target="_blank" href="https://static.krcg.org">KRCG Static</a></li>
    </ul>
</div>

<div class="column-2">
    <h3><span class="brand-icon" style="color: #737DF8;">&#xf392</span> {{ _('Discord bots') }}</h3>
    <ul>
        <li><a target="_blank" href="https://github.com/lionel-panhaleux/timer">Timer</a></li>
        <li>{{ _('Cards lookup') }}: <a target="_blank" href="https://github.com/lionel-panhaleux/krcg-bot">KRCG</a></li>
        <li>{{ _('Tournament management') }}: <a target="_blank" href="https://github.com/lionel-panhaleux/archon-bot">Archon</a></li>
    </ul>
</div>
{% endblock %}

{% block footer %}
<img src="{{ url_for('static', filename='img/dark-pack.png') }}">
<p>
    {% trans trimmed %}
    Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with
    permission.<br>All rights reserved. For more information please visit
    {% endtrans %}
    <a target="_blank" href="https://www.worldofdarkness.com">worldofdarkness.com</a>.
</p>
{% endblock %}
