{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor with context %}

{% block content %}
{{ promo }}
{{ sponsor }}
<p>
    {# TRANSLATORS: please abide by BCP translation choices for game terms when possible. #}
    {% trans trimmed
    black_chantry_productions=external("https://www.blackchantry.com", "Black Chantry Productions"),
    world_of_darkness=external("https://www.worldofdarkness.com", "World of Darkness")
    %}
    This site is a compilation of <strong>Vampire: the Eternal Struggle</strong> strategy resources.
    It is intended for players already familiar with the game and its rules.
    VTES is a game published by {{ black_chantry_productions }}, under {{ world_of_darkness }} license.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
    brett_s_guide=external("https://gamingwithbs.wordpress.com/new-players-corner/vtes-quick-start-guide",
    _("Brett S. guide")),
    bcp_s_website=external("https://www.blackchantry.com/rulebook/", _("BCP's website")),
    players_guide=external("https://www.drivethrurpg.com/product/2931/Vampire-The-Eternal-Struggle-Players-Guide",
    _("Player's Guide"))
    %}
    If you are a new player, consult {{ brett_s_guide }} or one of the video tutorials below to learn the game
    before digging deeper.
    The official rule can be found on the {{ bcp_s_website }}.
    The official {{ players_guide }} is available in PDF format at DriveThruRPG.
    {% endtrans %}
</p>
<p>
    {% trans trimmed
    github_page=external("https://github.com/lionel-panhaleux/codex-of-the-damned/issues", _("Github page"))
    %}
    If you want to contribute to this guide, point out mistakes or raise an issue, you are welcome to do so on the
    {{ github_page }} of the project.
    {% endtrans %}
</p>
<h2>{{ _('Community') }}</h2>
<a target="_blank" href="https://discord.gg/cafUcrDP8k">
    <img src="https://discord.com/api/v9/guilds/887471681277399091/widget.png?style=banner3" class="no-max-height">
</a>
<ul>
    <li>
        {{ _("More links and local communities on") }}
        <a target="_blank" href="https://vtes.global">VTES global</a>
    </li>
    <li><a target="_blank" href="http://www.vekn.net/forum">{{ _('VEKN Forum') }}</a></li>
    {%if lang == "fr"%}
    <li>
        <a target="_blank" href="http://www.vekn.fr/forum/index.php">
            Forum VEKN France
        </a>
    </li>
    {% endif %}
    <li>
        <span class="brand-icon" style="color: #FD4500;">&#xf1a1</span>
        <a target="_blank" href="https://www.reddit.com/r/VTES/">
            r/VTES
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #3683E6;">&#xf082</span>
        <a target="_blank" href="https://www.facebook.com/groups/512493665865136/">
            {{ _('VEKN Facebook goup') }}
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #3683E6;">&#xf082</span>
        <a target="_blank" href="https://www.facebook.com/groups/vtesworld">
            {{ _('VTES World Facebook goup') }}
        </a>
    </li>
</ul>
<h2>{{ _('Resources') }}</h2>
<h3>{{ _('Online tools') }}</h3>
<ul>
    <li>Deck builder: <a target="_blank" href="https://amaranth.vtes.co.nz">Amaranth</a></li>
    <li>Deck builder: <a target="_blank" href="https://vdb.im">VDB</a></li>
    <li>Deck builder: <a target="_blank" href="https://vtesdecks.com">VTES Decks</a></li>
    <li>{{ _('Tournament organiser') }}: <a target="_blank" href="http://bcncrisis.com">BCN Crisis</a></li>
    <li>Cards finder: <a target="_blank" href="https://bloodlibrary.info">Blood Library</a></li>
    <li>
        <span class="brand-icon" style="color: #2BA9E9;">&#xf2c6</span>
        Telegram Bot: <a target="_blank" href="https://t.me/vtes_bot">VTES Bot</a>
    </li>
    <li>{{ _('Online play') }}: <a target="_blank" href="https://lackeyccg.com">LackeyCCG</a></li>
    <li>{{ _('Online play') }}: <a target="_blank" href="https://deckserver.net/jol/">JOL</a></li>
    <li>{{ _('Tabletop Simulator plugin') }}:
        <a target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2186155897">VTES for Indoor
            Kids</a>
    </li>
    <li>{{ _('Alternate Tabletop Simulator plugins') }}:
        <a target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2588644030">VTES Game Table</a>
        &
        <a target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=2588606919">VTES Deck Loader</a>
    </li>
</ul>
<h3>{{ _('Blogs & videos') }}</h3>
<ul>
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target="_blank" href="https://www.youtube.com/channel/UCB-iyfYeg6uaKSk5LRSEuKA">
            Black Chantry Productions
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target="_blank" href="https://www.youtube.com/channel/UC4bPFxZVXcX2MXrQaphqZVA">
            Codex of the Damned
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target="_blank" href="https://youtu.be/ejysifYS1ZE">
            {{ _("Team Covenant's Tutorial") }}
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target="_blank" href="https://youtu.be/rzyr3rSBiQY">
            {{ _("VTES on LackeyCCG Tutorial") }}
        </a>
    </li>
    {%if lang == "fr"%}
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target=" _blank" href="https://www.youtube.com/watch?v=unDeY9CefJ0">
            Ludochrono: VTES (Tutoriel FR)
        </a>
    </li>
    <li>Blog: <a target="_blank" href="http://diableriste.com/">Carnet d'un diableriste</a></li>
    {% endif %}
    <li>Blog: <a target="_blank" href="https://vtesone.wordpress.com">VTESOne</a></li>
    <li>Blog: <a target="_blank" href="https://vtesinformationhighway.wordpress.com">Information Highway</a></li>
    <li>Blog: <a target="_blank" href="https://blog.kgs-cards.com">KGS Cards</a></li>
    <li>Blog: <a target="_blank" href="https://gamingwithbs.wordpress.com">Gaming with Brett S.</a></li>
    <li>Blog:
        <a target="_blank" href="https://bindusara.home.blog">
            Bindusara's Jyhad Diary ({{ _('interviews archive') }})
        </a>
    </li>
</ul>
<h3>{{ _('Live streams') }}</h3>
<ul>
    <li>
        <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
        <a target="_blank" href="https://www.twitch.tv/codex_of_the_damned">
            Codex of the Damned
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
        <a target="_blank" href="https://www.twitch.tv/henrikone">
            HenrikOne 🇧🇷
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
        <a target="_blank" href="https://www.twitch.tv/self_biased">
            self-biased
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #9147FF;">&#xf1e8</span>
        <a target="_blank" href="https://www.twitch.tv/heysteev">
            HeySteev
        </a>
    </li>
    <li>
        <span class="brand-icon" style="color: #EB3223;">&#xf167</span>
        <a target=" _blank" href="https://www.youtube.com/c/VTESandotherstruggles">
            VTES and other struggles
        </a>
    </li>
</ul>
<h3>{{ _('Developer tools') }}</h3>
<ul>
    <li>Web API: <a target="_blank" href="https://api.krcg.org">KRCG API</a></li>
    <li>{{ _('Static resources') }}: <a target="_blank" href="https://static.krcg.org">KRCG Static</a></li>
</ul>
<h3><span class="brand-icon" style="color: #737DF8;">&#xf392</span> {{ _('Discord bots') }}</h3>
<ul>
    <li><a target="_blank" href="https://github.com/lionel-panhaleux/timer">Timer</a></li>
    <li>{{ _('Cards lookup') }}: <a target="_blank" href="https://github.com/lionel-panhaleux/krcg-bot">KRCG</a></li>
    <li>{{ _('Tournament management') }}: <a target="_blank"
            href="https://github.com/lionel-panhaleux/archon-bot">Archon</a></li>
</ul>
{% endblock %}

{% block footer %}
<img src="{{ url_for('static', filename='img/dark-pack.png') }}">
<p>
    {% trans trimmed %}
    Portions of the materials are the copyrights and trademarks of Paradox Interactive AB, and are used with
    permission.<br>All rights reserved. For more information please visit
    {% endtrans %}
    <a target="_blank" href="https://www.worldofdarkness.com">worldofdarkness.com</a>.
</p>
{% endblock %}