{% import "_layout_promo.html" as promo with context%}
<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="{{ og_title|default(title()) }}" />
    <meta property="og:description"
        content="{{ og_description|default('Vampire: the Eternal Struggle (VTES) strategy resources') }}" />
    <meta property="og:image" content="{{ og_image|default(url_for('static', filename='img/codex.jpg')) }}" />
    <meta property="og:image:url" content="{{ og_image|default(url_for('static', filename='img/codex.jpg')) }}" />
    {% if og_image_dimensions %}
    <meta property="og:image:width" content="{{ og_image_dimensions[0] }}" />
    <meta property="og:image:height" content="{{ og_image_dimensions[1] }}" />
    {% endif %}
    {% if og_image_secure %}
    <meta property="og:image:secure_url" content="{{ og_image_secure }}" />
    {% endif %}
    <meta name="description" content="Vampire: the Eternal Struggle (VTES) strategy resources">
    <meta name="keywords" content="Vampire, the Eternal Struggle, VtES, CCG">
    {% block meta %}{% endblock %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="https://static.krcg.org/web/krcg.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css', v=version) }}">
    <link rel="icon" href="{{ url_for('static', filename='img/vtes.svg') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157267369-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-157267369-1');
    </script>
    <script async src="https://static.krcg.org/web/krcg.js"></script>
    <script async src="{{ url_for('static', filename='js/display.js') }}"></script>
    {% block scripts %}{% endblock %}
    <title>Codex of the Damned</title>
    {% endblock %}
</head>

<body>
    <header role="banner">
        <a href="{{ i18n_url('') }}" class="site-logo">
            <img src="{{ url_for('static', filename='img/vtes.svg') }}" alt="Codex of the Damned">
            <h1>Codex of the Damned</h1>
        </a>
        <nav role="navigation">
        {% if section == "online-play" %}
            {{ link('/online-play', _class="active-section") }}
        {% else %}
            {{ link('/online-play') }}
        {% endif %}
        {% if section == "strategy" %}
            {{ link('/strategy', _class="active-section") }}
        {% else %}
            {{ link('/strategy') }}
        {% endif %}
        {% if section == "archetypes" %}
            {{ link('/archetypes', _class="active-section") }}
        {% else %}
            {{ link('/archetypes') }}
        {% endif %}
        {% if section == "best-cards" %}
            {{ link('/best-cards', _class="active-section") }}
        {% else %}
            {{ link('/best-cards') }}
        {% endif %}
        {% if section == "deck-search" %}
            {{ link('/deck-search', _class="active-section") }}
        {% else %}
            {{ link('/deck-search') }}
        {% endif %}
        {% if section == "card-search" %}
            {{ link('/card-search', _class="active-section") }}
        {% else %}
            {{ link('/card-search') }}
        {% endif %}
        </nav>
        <nav role="translation">
            {{ translation('en', "🇬🇧") }}
            {{ translation('fr', "🇫🇷") }}
        </nav>
    </header>

    {{ promo }}
    {% block article %}
    <article>
        {% block content %}{% endblock %}
    </article>
    {% endblock %}

    <footer>
        {% block footer %}
        <nav role="navigation">
            {{ prev() }}
            {{ top() }}
            {{ next() }}
        </nav>
        {% endblock %}
    </footer>
</body>

</html>
