@font-face {
    font-family: "Ankha VTES";
    src: url("/static/fonts/ankha.ttf") format("truetype");
}
@font-face {
    font-family: "FontAwesome";
    font-weight: 900;
    src: url("/static/fonts/fa-solid-900.ttf") format("truetype"),
        url("/static/fonts/fa-solid-900.svg") format("svg"),
        url("/static/fonts/fa-solid-900.woff") format("woff"),
        url("/static/fonts/fa-solid-900.woff2") format("woff2"),
        url("/static/fonts/fa-solid-900.eot") format("embedded-opentype");
}
@font-face {
    font-family: "FontAwesome Brand";
    font-weight: 400;
    src: url("/static/fonts/fa-brands-400.ttf") format("truetype"),
        url("/static/fonts/fa-brands-400.svg") format("svg"),
        url("/static/fonts/fa-brands-400.woff") format("woff"),
        url("/static/fonts/fa-brands-400.woff2") format("woff2"),
        url("/static/fonts/fa-brands-400.eot") format("embedded-opentype");
}
body {
    font-family: "Times New Roman", Times, serif;
    color: #000000;
    background-color: #fffdf5;
    margin: 1em;
    -webkit-font-smoothing: antialiased;
}
a {
    background-color: transparent;
    color: #000000;
    cursor: pointer;
}
header a,
footer a {
    text-decoration: none;
}
a:hover,
a:focus {
    color: #007acc;
    border-color: #007acc;
}
header,
footer {
    display: flex;
    flex-flow: row;
    padding: 2%;
    padding-left: 4%;
    padding-right: 4%;
    align-items: center;
    clear: both;
}
header a {
    display: flex;
    margin-right: auto;
}
header img {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 150px;
    height: 150px;
}
h1 {
    font-size: 2.5rem;
    padding: 0.5em;
    padding-top: 0.6em;
    text-align: left;
}
h1 > span {
    font-size: 0.5em;
    font-style: italic;
}
article p img {
    height: 1em;
    max-width: 2em;
    vertical-align: middle;
}
h1 > img {
    height: 1.5em;
    max-width: 2em;
    vertical-align: middle;
}
h2 {
    font-size: 1.5rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
    text-align: left;
}
h2 > img {
    height: 1.5rem;
    max-width: 2em;
    vertical-align: middle;
}
.modal {
    z-index: 3;
    display: none;
    padding: 5em;
    padding-top: 10em;
    padding-left: 0.5em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.hover-modal {
    z-index: 4;
    display: none;
    padding: 5em;
    padding-top: 10em;
    padding-left: 0.5em;
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
}
.modal-content {
    padding: 0;
    outline: 0;
    max-width: 300px;
    margin: 0.5em;
}
.modal-nav {
    font-family: "FontAwesome";
    max-width: 300px;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
}
.modal-nav:hover,
.modal-nav:focus {
    color: #007acc;
    cursor: pointer;
}
h3 {
    font-size: 1.2rem;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    text-align: left;
}
.translation {
    font-size: 1rem;
    color: #555;
}
h3 > img {
    height: 1.2rem;
    max-width: 2em;
    vertical-align: middle;
}
h4 {
    font-size: 1rem;
    margin-top: 0.6em;
    margin-bottom: 0.3em;
}
h4 > img {
    height: 2rem;
    max-width: 2em;
    vertical-align: middle;
}
hr {
    border: 0;
    height: 0;
    margin: 1em 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
nav {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav li {
    float: left;
    padding: 1em 1em 0 0;
    position: relative;
}
footer {
    max-width: 700px;
    margin: 4em auto;
}
footer > nav > .prev::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f053";
    padding: 0 0.5em;
}
footer > nav > .next::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f054";
    padding: 0 0.5em;
}
footer a {
    display: inline-flex;
    padding: 1em;
}
footer img {
    display: inline-flex;
    max-width: 5em;
    margin: 0 1em;
    vertical-align: middle;
}
footer p {
    font-style: italic;
    font-size: 0.8em;
    max-width: 700px;
}
footer p a {
    padding: 0;
}
article {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
article > img {
    max-width: 700px;
    margin: 0 auto;
}
i {
    font-family: "Ankha VTES";
    font-style: normal;
}
p {
    max-width: 700px;
    margin: 0.5em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
ul {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
article li {
    margin: 0.2em;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
article div {
    padding: 0.5em 2em;
    border-radius: 1em;
    margin: 1.5em;
    clear: both;
}
article > div > img {
    max-width: 600px;
    margin: 0 auto;
}
li > img {
    height: 1em;
    max-width: 2em;
    vertical-align: middle;
}
td > img {
    height: 1.5em;
    max-width: 2em;
    vertical-align: middle;
}
table {
    border-collapse: collapse;
}
div.results {
    max-height: 15em;
    overflow: auto;
    border: 0;
    padding: 0;
    border-radius: 0;
    margin: 1em 0;
}
td {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: none;
}
input {
    padding: 0.5em;
    font-size: 1em;
    margin: 0;
    width: 100%;
}
tr.results:nth-child(even) {
    background-color: #eceae2;
}
tr:hover,
tr.selected {
    background-color: #bdbab0 !important;
}
td.results {
    padding: 0.5em;
}
div.comments {
    padding: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
    clear: none;
}
div.result-message {
    border: 0;
    padding: 0;
    margin: 1em 0;
}
.clear-search-btn {
    width: 10%;
    margin: 0;
    padding: 0;
    display: none;
}
.multi-card-search {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
}
.multi-card-search-card {
    border-radius: 0.5em;
    background: #fcf4ec;
    border: 1px solid rgb(220, 140, 70);
    display: inline-block;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em 0.5em 0 0;
}
.multi-card-search-card::after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f00d";
    font-size: 1em;
    margin-left: 0.5em;
    color: #582110;
}
.autocomplete {
    width: 50%;
    margin: 0;
    padding: 0;
}
.autocomplete-items {
    border: 1px solid #d4d4d4;
    z-index: 99;
    margin: 0;
    border: none;
    border-radius: 0;
    padding: 0;
    width: 100%;
    max-height: 15em;
    overflow: scroll;
    text-align: left;
}
.autocomplete-items div {
    border-radius: 0;
    margin: 0;
    padding: 0.5em;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: #e9e9e9 !important;
}
.article-columns {
    max-width: 1200px;
}
.icon {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.td-icon {
    text-align: center;
    vertical-align: center;
}
.brand-icon {
    font-family: "FontAwesome Brand";
}
.card {
    font-style: italic;
    text-decoration: underline;
    cursor: pointer;
}
.align-left {
    padding: 0;
    margin: 0;
    border: 0;
    text-align: left;
}
.column {
    display: inline-block;
    width: 270px;
    padding: 0;
    vertical-align: top;
    margin: 0.7em;
}
.wide-column {
    display: inline-block;
    width: 325px;
    padding: 0;
    vertical-align: top;
    margin: 0.7em;
}
.column-image {
    margin: 0;
    padding: 0;
    text-align: center;
}
.column-image img {
    width: 95%;
}
.tip {
    background: #fcf4ec;
    border: 1px solid rgb(220, 140, 70);
    max-width: 700px;
    clear: both;
}
.tip h3 {
    color: #583410;
}
.tip h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f0eb";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #583410;
}
.warning {
    background: #fceeec;
    border: 1px solid rgb(220, 105, 70);
    clear: both;
}
.warning h3 {
    color: #582110;
}
.warning h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f071";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #582110;
}
.author {
    background: #ecf7fc;
    border: 1px solid rgb(70, 185, 220);
    max-width: 700px;
    clear: both;
    vertical-align: middle;
}
.author > img {
    margin: 0.5em 1em 0.5em 0;
    max-width: 100px;
    max-height: 100px;
    float: left
}
.author > p {
    font-style: italic;
}
.game {
    background: #e7fad7;
    border: 1px solid rgb(118, 220, 70);
    max-width: 700px;
    clear: both;
}
.game h3::before {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f1ea";
    font-size: 1.5em;
    margin-right: 0.5em;
    color: #335810;
}
.game-diagram {
    /* background:  #bbd6a4; */
    background: url("/static/img/background.jpg");
    background-size: cover;
    border-radius: 0.5em;
    padding: 0.2em;
    margin: 1em 0;
    color: white;
}
.game-diagram .svg-icon {
    filter: invert(100%)
}
.game-diagram-row {
    border: 0.5em;
    padding: 0;
    margin: 1em;
    margin-bottom: 4em;
    display: flex;
}
.game-diagram-row h4 {
    display: block;
}
.game-diagram-opponent-left,
.game-diagram-opponent-right {
    padding: 0;
    margin: 0;
    display: inline-block;
}
.game-diagram-opponent-left{
    text-align: left;
    margin-right: auto;
}
.game-diagram-opponent-right {
    text-align: right;
    margin-left: auto;
}
.game-cards {
    border: 0;
    padding: 0;
    margin: 0;
    display: block;
}
.game-image {
    margin:0 0.5em;
    padding:0;
    max-width: 70px;
    height: auto;
    display: inline-block;
    position: relative;
}
.attached-1 {
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    height: auto;
    top: -1em;
    left: 1em;
}
.attached-2 {
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    height: auto;
    top: -1.5em;
    left: 1.5em;
}
.attached-3{
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    height: auto;
    top: -2em;
    left: 2em;
}
.attached-4{
    margin:0;
    padding:0;
    position: absolute;
    width: 100%;
    height: auto;
    top: -2.5em;
    left: 2.5em;
}
.game-image img {
    object-fit: contain;
    width: 100%;
    height: auto;
}
.locked img {
    transform: rotate(90deg);
}
.unlocked img {
    transform: rotate(0deg);
}
.blood {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(209, 35, 35);
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    font-weight: bold;
    padding: 1px 6px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}
form {
    margin: 1em 0;
    text-align: left;
}
form input {
    display: block;
    margin: 0.5em 1em 0 0;
    padding: 0.3em;
}
form input[type="submit"] {
    text-align: left;
    display: inline-block;
    width: fit-content;
    margin: 0.5em 1em 0 0;
    padding: 1em;
}
.inline-form {
    margin: 1em 0 0 0;
    text-align: left;
}
.inline-form legend {
    margin: 1em 0 0.5em 0;
    font-weight: bold;
}
.inline-form input {
    display: inline-block;
    width: 2em;
}
.inline-form label {
    display: inline-block;
    text-align: left;
    margin: 0;
}
.inline-form output {
    display: inline-block;
    text-align: right;
    font-weight: bold;
}
.decklist {
    float: left;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0 1.5em 1.5em 0;
    background-color: #e7fad7;
}
.decklist h2 {
    font-size: 1.5rem;
    margin-top: 0.2em;
    margin-bottom: 0;
}
.decklist h3 {
    font-size: 1.1rem;
    margin-top: 0.5em;
    margin-bottom: 0;
}
.decklist h4 {
    font-size: 1rem;
    margin-top: 0.4em;
    margin-bottom: 0;
}
.decklist p {
    font-size: 0.8em;
    font-style: italic;
    color: #444;
}
.decklist ul {
    list-style: none;
    margin: 0;
    padding: 0.5em;
    padding-top: 0;
}
.decklist .card {
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
}
.decklist .card:hover,
.decklist .card:focus {
    color: #306d44;
}
.card-results-top {
    display: block;
    border: 0;
    padding: 0;
    margin: 2em 0;
}
.card-results {
    display: flex;
    border: 0;
    padding: 0;
    margin: 0;
}
.center-subtitle,
.subtitle {
    font-style: italic;
    font-size: 0.8em;
}
.center-subtitle {
    text-align: center;
}
.result-image-div {
    display: inline-block;
    padding: 0.5em;
    padding-left: 0em;
    margin: 0;
}
.result-image {
    margin: auto;
    padding: 0;
    outline: 0;
    width: 300px;
}
.result-text {
    clear: none;
    display: inline-block;
    border: 0;
    margin: 0 1em 0 0;
}
.result-rulings {
    margin: 0;
    padding: 0;
}
.rulings-list {
    list-style: decimal;
    padding: 0;
}
.rulings-list a {
    text-decoration: none;
    font-size: 0.8em;
}
.rulings-list li {
    margin: 0.5em;
}
.code {
    font-family: "Courier New", Courier, monospace;
    font-size: small;
    font-weight: 500;
}
.sponsor {
    text-align: left;
    margin: 2em 0;
    padding: 0;
}
.sponsor a {
    text-decoration: none;
    border: 1px;
    border-radius: 0.5em;
    border-color: #EC5354;
    border-style: solid;
    padding: 0.5em;
    margin: 0;
    color: #EC5354;
}
.sponsor a:hover,
.sponsor a:focus {
    color: #007acc;
    border-color: #007acc;
}
@media only screen and (max-width: 750px) {
    header,
    footer {
        padding-left: 2%;
        padding-right: 2%;
        flex-direction: column;
    }
    header img {
        max-width: 60px;
        max-height: 60px;
    }
    h1 {
        font-size: 1.5rem;
        clear: both;
    }
    h1 > img {
        height: 40px;
    }
    .modal {
        padding: 5vh 5vw;
    }
    .modal-content {
        max-height: 70vh;
        max-width: 85vw;
    }
    .modal-nav {
        max-height: 15vh;
        max-width: 85vw;
    }
    h2 {
        clear: both;
    }
    .card-results {
        display: block;
    }
    .decklist {
        float: none;
    }
    .game-diagram-row {
        margin: 0.5em;
        margin-bottom: 2em;
    }
    .game-image {
        margin:0 0.2em;
        max-width: 50px;
    }
    .attached-1 {
        top: -0.5em;
        left: 0.5em;
    }
    .attached-2 {
        top: -1em;
        left: 1em;
    }
    .attached-3{
        top: -1.5em;
        left: 1.5em;
    }
    .attached-4{
        top: -2em;
        left: 2em;
    }
    article div {
        margin: 1.5em 0;
        padding: 0.5em 1em;
    }
}
.clear {
    padding: 0;
    margin: 0;
    border: 0;
    clear: both;
}
