{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/lutz-vote.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}


{% block archetype_name %}
<h1>{{ malkavian }} Lutz Vote</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
    banishment=card("Banishment"),
    carlton_van_wyk=card("Carlton Van Wyk"),
    dark_influences=card("Dark Influences"),
    direct_intervention=card("Direct Intervention"),
    enkil_cog=card("Enkil Cog"),
    entrancement=card("Entrancement"),
    eyes_of_argus=card("Eyes of Argus"),
    force_of_personality=card("Force of Personality"),
    kine_resources_contested=card("Kine Resources Contested"),
    lutz=card("Lutz Von Hohenzollern", "Lutz"),
    lutz_von_hohenzollern=card("Lutz Von Hohenzollern"),
    majesty=card("Majesty"),
    maris_streck=card("Maris Streck"),
    mental_maze=card("Mental Maze"),
    on_the_qui_vive=card("On the Qui Vive"),
    parity_shift=card("Parity Shift"),
    perfect_paragon=card("Perfect Paragon"),
    scourge_of_the_enochians=card("Scourge of the Enochians"),
    second_tradition_domain=card("Second Tradition: Domain"),
    telepathic_misdirection=card("Telepathic Misdirection"),
    undele=card("Undele"),
    unmada=card("Unmada"),
    villein=card("Villein"),
    voter_captivation=card("Voter Captivation"),
    zillahs_valley=card("Zillah's Valley"),
    keepers_of_tradition_1=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-1/", _("Keepers of Tradition 1")),
    v5_malkavian=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-malkavian/", _("V5 Malkavian")),
    first_blood_malkavian=external("https://www.blackchantry.com/products/legacy/first-blood/first-blood-malkavian/", _("First Blood: Malkavian")),
    v5_toreador=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-toreador/", _("V5 Toreador")),
    libertine_ball=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-libertine-ball/", _("Libertine Ball")),
    keepers_of_tradition_2=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-2/", _("Keepers of Tradition 2")),
    bloat=link("/strategy/bloat", _("bloat")),
    combat_ends=link("/strategy/combat", _("combat ends"), _anchor="defence"),
    main_article=link("/archetypes/lutz-politics", _("main article")),
    meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
    print_on_demand=external("https://www.drivethrucards.com/browse/pub/12056/Black-Chantry-Productions/subcategory/30619_34256/VTES-Legacy-Card-Singles", _("Print on Demand")),
    anniversary=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-25th-anniversary/", _("25th Anniversary"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>bleed & vote</em> deck using Malkavian {{ malkavian }} <em>Inner Circle</em>
    {{ lutz_von_hohenzollern }} and <em>Justicar</em> {{ unmada }}.
</p>
<p>
    The plan is to get {{ lutz }} and one or two sidekick <em>Prince</em> or <em>Justicar</em> out, using
    the {{ zillahs_valley }} + {{ villein }} combination to get them out fast and cheap.
    Once there, the vote lock should be easy, with a few {{ perfect_paragon }} to help just in case.
    The sidekicks can use {{ parity_shift }} to bloat a bit, but the bulk of the damage will come from
    {{ kine_resources_contested }} and {{ banishment }} provides additional control.
    In all cases, {{ lutz }}' ability kicks in for additional damage.
</p>
<p>
    {{ OBF }} is used for stealth, and {{ PRE }} to get some blood back with {{ voter_captivation }} and combat
    defence in the form of {{ combat_ends }} like {{ majesty }} and {{ force_of_personality }}. Incidentally,
    it also provides a couple of {{ entrancement }} to allow stealing critical allies like {{ carlton_van_wyk }}.
</p>
<p>
    {{ lutz }} can be used to either call a vote or bleed for 3, depending on the situation.
    A bit of bleed defence is included with {{ telepathic_misdirection }}, but the deck relies a lot more on {{ bloat }}
    to stay alive, with {{ villein }} for 5 and {{ parity_shift }}.
</p>
<h2>Tweaks and variants</h2>
<p>
    {{ enkil_cog }} is a common inclusion, as well as {{ scourge_of_the_enochians }} against swarms.
    {{ dark_influences }} could be considered, since it's a good counter against {{ direct_intervention }},
    a pretty annoying defence against {{ entrancement }} and "once per game" votes.
    A bit of additional {{ telepathic_misdirection }} might be in order in a bleed-heavy meta, in which case
    some wakes in the form of {{ eyes_of_argus }} and {{ on_the_qui_vive }} might help.
    If you have access to legacy cards, {{ undele }} is a very common crypt inclusion.
</p>
<p>
    Another worthy alternative is to use not-yet-reprinted {{ maris_streck }} as the main sidekick to {{ lutz }}.
    Her ability, coupled with a few {{ second_tradition_domain }} and {{ eyes_of_argus }}, improves the deck
    blocking ability, providing better defence overall but also opening the possibility of {{ mental_maze }}
    (available as {{print_on_demand}}) for rush defence: a sturdy counter against combat-oriented decks.
</p>
<p>
    The {{ main_article }} about the archetype presents additional variants.
</p>
<h2>What to buy</h2>
<p>
    The bulk of the cards come from two {{ keepers_of_tradition_1 }}, a {{ v5_malkavian }}, {{ anniversary }}
    and {{ first_blood_malkavian }}.
    The {{ v5_toreador }}, {{ libertine_ball }} and {{ keepers_of_tradition_2 }} provide useful additions to that base,
    but might be spared provided you adjust the decklist or trade a few cards.
</p>
{% endtrans %}
{% endblock %}
