{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/nephandus.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ tremere_antitribu}} Nephandus</h1>
{% endblock %}


{% block archetype %}
{% trans trimmed
anarch_convert=card("Anarch Convert"),
anarchist_uprising=card("Anarchist Uprising"),
ancilla_empowerment=card("Ancilla Empowerment"),
antonio_derlette=card("Antonio d'Erlette"),
ashur_tablets=card("Ashur Tablets"),
bums_rush=card("Bum's Rush"),
carlton_van_wyk=card("Carlton Van Wyk"),
channel_10=card("Channel 10"),
consanguineous_boon=card("Consanguineous Boon"),
deflection=card("Deflection"),
delaying_tactics=card("Delaying Tactics"),
direct_intervention=card("Direct Intervention"),
entrancement=card("Entrancement"),
harass=card("Harass"),
haven_uncovered=card("Haven Uncovered"),
krcg_news_radio=card("KRCG News Radio"),
nephandus=card("Nephandus"),
ossian=card("Ossian"),
piper=card("Piper"),
target_vitals=card("Target Vitals"),
the_parthenon=card("The Parthenon"),
the_unmasking=card("The Unmasking"),
trap=card("Trap"),
wall_street_night_financial_newspaper=card("Wall Street Night: Financial Newspaper", "Wall Street Night"),
wmrh_talk_radio=card("WMRH Talk Radio"),
information_highway_article=external("https://vtesinformationhighway.wordpress.com/2019/01/11/nephandus-starter-and-strategy/", _("Information Highway Article")),
pact_with_nephandi=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-pact-with-nephandi/", _("Pact with Nephandi")),
v5_nosferatu=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-nosferatu/", _("V5 Nosferatu")),
anthology=external("https://www.blackchantry.com/products/legacy/bundles/product-anthology-1/", _("Anthology 1")),
fb_nosferatu=external("https://www.blackchantry.com/products/current-products/first-blood-nosferatu/", _("First Blood: Nosferatu")),
print_on_demand=external("https://www.drivethrucards.com/browse/pub/12056/Black-Chantry-Productions/subcategory/30619_34256/VTES-Legacy-Card-Singles", _("Print on Demand")),
cicero_jannyson_s_deck=link("/deck-search", _("Cicero Jannyson's deck"), id="2021afo")
%}
<h2>Highlights</h2>
<p>
    This is an <em>allies toolbox</em> deck using Tremere antitribu {{ tremere_antitribu }} and their excellent
    {{ nephandus }} ally.
</p>
<p>
    The plan is to use {{ antonio_derlette }}'s ability to recruit a swarm of {{ nephandus }} without even performing
    an action someone could block. Once there, they can defend with a bit of intercept from {{ the_unmasking }} and
    Locations like {{ krcg_news_radio }} or {{ channel_10 }}, and simply bleed for 1 consistently to kill the prey.
</p>
<p>
    The combat nodule is threatening: {{ trap }} and {{ target_vitals }}, combined with the {{ nephandus }} ability,
    is pretty strong. Obviously, stronger combat modules exist and they can definitely take a few {{ nephandus }}
    down but, if you can stack enough of them, they will be able to take down any ennemy. The deck also provides
    a bit of control in the form of combat rush with {{ harass }} and {{ haven_uncovered }}.
    Finally, the Tremere antitribu in the deck can help with the defence thanks to {{ deflection }}. 
</p>
<p>
    The biggest threat comes from anti-swarm votes like {{ anarchist_uprising }} and {{ ancilla_empowerment }}.
    The deck includes {{ delaying_tactics }} to prevent them to hurt too much or too soon. It can also come in handy
    against a prey using {{ consanguineous_boon }} for heavy bloat. {{ direct_intervention }} should be kepy
    to counter ally-stealing actions like {{ entrancement }}.
</p>
<h2>Tweaks and variants</h2>
<p>
    There are a lot of ways to tweak this deck. Check the {{ information_highway_article }} for another example.
    If you have access to them, more rushes with {{ bums_rush }} can be added. Legacy intercept Locations like
    {{ wmrh_talk_radio }} and {{ wall_street_night_financial_newspaper }} could be good. {{ carlton_van_wyk }} and
    {{ ossian }} too.
</p>
<p>
    Another possibility is to revamp the master module to include {{ the_parthenon }} and {{ ashur_tablets }}.
    It's tempting since it will help pay for the {{ nephandus }}, but it's also a risk: since there is no other source
    of additional master phase actions in the deck, running into another {{ ashur_tablets }} deck or contesting
    {{ the_parthenon }} will disable the whole combination pretty fast.
</p>
<p>
    Yet another idea is to use {{ piper }} (not yet reprinted), while making {{ antonio_derlette }} anarch thanks to
    {{ anarch_convert }}, can be a nice way to get more {{ nephandus }} into play faster,
    like in {{ cicero_jannyson_s_deck }}.
</p>
<h2>What to buy</h2>
<p>
    The bulk of the cards come from two {{ pact_with_nephandi }} decks, with a few additions from {{ v5_nosferatu }},
    {{ anthology }} and {{ fb_nosferatu }}. {{ direct_intervention }} is available as {{ print_on_demand }}.
</p>
{% endtrans %}
{% endblock %}
