{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/nosferatu-primogens.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

Description: You can change 2x Murder of Crows, 1x Aid from the Bats into 1x Preternatural Strength, 2x Immortal Grapple
if you wish. Both options are viable, mostly a question of the preference of the player. With Preternatural Strength I
might also consider adding second copy of Guardian Angel, but it is not necessary.\n

20:21] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=1c195d19062c45ea8d874832c4c6317f
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[10:20] Phoenix: Interesting! I would have cut the Murder of Crows on that one... But are they finally worth an
inclusion because of Warsaw?
[10:21] Phoenix: I could see a pair of IG in this... just to keep the SCE players on their toes.
[10:25] Khormag, Prince of Joensuu: Yeah, Murder of Crows is amazing, when you are planning on playing longer game, it
gets extra value all the time, and makes it easier to save the real combat cards to where it really matters. I
personally don't like to play potence or any close ranged combat with reactive decks, that don't have easy access to
prevent, as it is just too dangerous. You just straight up lose to any real combat, and are too vulnerable to aggro poke
or even target vitals. Pure Animalism combat is safer and more efficient than potence, and you don't usually want to
torporize vampires early, just punish a bit. Leaving craters from combat tips the table balance way too much.
[10:27] Phoenix: Totally agree, interesting take on Murder of Crows.
[10:28] Phoenix: Was just considering one or two IG to instill doubt/fear in opponents, not really as a key piece.
[10:29] Khormag, Prince of Joensuu: Yeah. That could work, and you could pair that with one Preternatural Strength. It
was something that I did consider, but it would probably replace the Murder of Crows. Kind of just a question of which
one you prefer.
[10:29] Phoenix: Could be a comment on the deck. Always good to have variations ideas to propose.
[19:56] Spigushe: Maybe a stupid question: did you consider Benjamin Rose ? I kind of like this vampire so much 😻
[19:57] Spigushe: Yay, the lack of :AUS: may be a default in this deck for such a cost ...
[21:19] Khormag, Prince of Joensuu: He lacks superior Animalism, which was the discipline I mainly focused on here, so I
didn't really think of him as an option.