{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/nosferatu-primogens.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ nosferatu }} Nosferatu Primogens</h1>
{% endblock %}


{% block archetype %}
{% trans trimmed
magnum=card(".44 Magnum"),
aid_from_bats=card("Aid From Bats"),
anarchist_uprising=card("Anarchist Uprising"),
army_of_rats=card("Army of Rats"),
canine_horde=card("Canine Horde"),
carrion_crows=card("Carrion Crows"),
cats_guidance=card("Cats' Guidance"),
creeping_sabotage=card("Creeping Sabotage"),
deep_song=card("Deep Song"),
direct_intervention=card("Direct Intervention"),
heart_of_nizchetus=card("Heart of Nizchetus"),
immortal_grapple=card("Immortal Grapple"),
larissa_moreira=card("Larissa Moreira"),
lenny_burkhead=card("Lenny Burkhead"),
protected_district=card("Protected District"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
swallowed_by_the_night=card("Swallowed by the Night"),
target_vitals=card("Target Vitals"),
terror_frenzy=card("Terror Frenzy"),
the_dowager=card("The Dowager"),
the_warrens=card("The Warrens"),
v5_malkavian=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-malkavian/", _("V5 Malkavian")),
meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
bounces=link("/strategy/fundamentals", _("Bounces"), _anchor="bounce"),
keepers_of_tradition_1=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-1/", _("Keepers of Tradition 1")),
information_highway_article=external("https://vtesinformationhighway.wordpress.com/2019/01/11/nephandus-starter-and-strategy/", _("Information Highway Article")),
pact_with_nephandi=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-pact-with-nephandi/", _("Pact with Nephandi")),
v5_nosferatu=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-nosferatu/", _("V5 Nosferatu")),
anthology=external("https://www.blackchantry.com/products/legacy/bundles/product-anthology-1/", _("Anthology 1")),
fb_nosferatu=external("https://www.blackchantry.com/products/current-products/first-blood-nosferatu/", _("First Blood: Nosferatu")),
print_on_demand=external("https://www.drivethrucards.com/browse/pub/12056/Black-Chantry-Productions/subcategory/30619_34256/VTES-Legacy-Card-Singles", _("Print on Demand")),
cicero_jannyson_s_deck=link("/deck-search", _("Cicero Jannyson's deck"), id="2021afo")
%}
<h2>Highlights</h2>
<p>
    This is a <em>rush</em> deck using Nosferatu {{ nosferatu }} primogens and {{ ANI }} bleed & combat.
</p>
<p>
    {{ deep_song }} is the cornerstone of the deck's strategy. It serves as a bleed or rush device depending
    on the situation. The {{ ANI }} combat module, using {{ aid_from_bats }} and {{ carrion_crows }}, is
    supported by additional maneuvers from {{ swallowed_by_the_night }}. The plan is to use the rush abilities of the
    deck to keep control of the table, disable potential {{ bounces }} on the prey side by taking down vampires,
    then bleed for the oust.
</p>
<p>
    Playing Nosferatu {{ nosferatu }} allows a few {{ creeping_sabotage }} in addition to
    {{ army_of_rats }} for more pool damage. Both {{ larissa_moreira }} and {{ lenny_burkhead }} have a good
    bleed bonus, and {{ the_dowager }} has a very neat intercept bonus. Playing Primogen allows for the inclusion
    of the new {{ protected_district }}, a very nice defensive tool, both on the bleed and the political side.
</p>
<p>
    The only stealth used is {{ swallowed_by_the_night }} because of its versatility: it can easily be cycled
    during a combat or provide and additional maneuver to stay at long range on top of {{ aid_from_bats }}.
    Adding more stealth to the deck will most likely disrupt the balance and fluidity of the combat and
    reaction modules.
</p>
<h2>Tweaks and variants</h2>
<p>
    There are a lot of possible strategies with these Nosferatu {{ nosferatu }} primogens. Leaning on a more defensive
    side, with more {{ creeping_sabotage }} and reactions like {{ cats_guidance }} and {{ the_warrens }} is also a
    possibility - in that case obviously, far less {{ deep_song }} and a reduced combat module are in order.
</p>
<p>
    A few good potential inclusions have not yet been reprinted, especially when it comes down to the combat
    module. A few {{ target_vitals }} could be replaced by some {{ terror_frenzy }} or {{ canine_horde }}, to counter
    opposing combat modules revolving around close range strikes or weapons like {{ magnum }}.
</p>
<p>
    The balance of the deck when it comes down to proportions heavily depends on your local {{ meta }}. More
    {{ deep_song }} might be required against <em>Combat Ends</em>, or even a few {{ immortal_grapple }}.
    {{ scourge_of_the_enochians }} and even {{ anarchist_uprising }} might be included against swarm decks.
    {{ heart_of_nizchetus }} can also be a useful inclusion, although it does not feel required.
</p>
<h2>What to buy</h2>
<p>
    The bulk of the cards come from two {{ v5_nosferatu }} decks, with additions from {{ keepers_of_tradition_1 }},
    {{ anthology }}, {{ v5_malavian }} and {{ fb_nosferatu }}. {{ direct_intervention }} is available as
    {{ print_on_demand }}.
</p>
{% endtrans %}
{% endblock %}
