{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/ravnos-clown-car.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ ravnos }} Ravnos Clown Car</h1>
{% endblock %}


{% block archetype %}
{% trans trimmed
anarch_convert=card("Anarch Convert"),
aranthebes=card("Aranthebes, The Immortal", "Aranthebes"),
ashlesha=card("Ashlesha"),
autarkis_persecution=card("Autarkis Persecution"),
bamba=card("Bamba"),
change_of_target=card("Change of Target"),
city_star_taxi=card("City Star Taxi"),
strange_day=card("Strange Day"),
consanguineous_boon=card("Consanguineous Boon"),
delaying_tactics=card("Delaying Tactics"),
the_embrace=card("The Embrace"),
embrace=card("The Embrace", "Embrace"),
embraces=card("The Embrace", "Embraces"),
fata_morgana=card("Fata Morgana"),
gird_minions=card("Gird Minions"),
heart_of_nizchetus=card("Heart of Nizchetus"),
joaquina_amaya=card("Joaquina Amaya"),
kine_resources_contested=card("Kine Resources Contested"),
life_in_the_city=card("Life in the City"),
mirror_image=card("Mirror Image"),
mozambique_allure=card("Mozambique Allure"),
ravnos_carnival=card("Ravnos Carnival"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
the_eldest_are_kholo=card("The Eldest Are Kholo"),
the_uncoiling=card("The Uncoiling"),
the_unmasking=card("The Unmasking"),
week_of_nightmares=card("Week of Nightmares"),
anniversary=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-25th-anniversary/", _("25th Anniversary")),
anthology=external("https://www.blackchantry.com/products/legacy/bundles/product-anthology-1/", _("Anthology 1")),
kickstarter=external("https://blackchantry.shop/collections/vampire-the-eternal-struggle-legacy-cards", _("Kickstarter")),
libertine_ball=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-libertine-ball/", _("Libertine Ball")),
main_article=link("/archetypes/runner-ups/ravnos-clown-car", _("main article")),
print_on_demand=external("https://www.drivethrucards.com/browse/pub/12056/Black-Chantry-Productions/subcategory/30619_34256/VTES-Legacy-Card-Singles", _("Print on Demand")),
v5_malkavian=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-malkavian/", _("V5 Malkavian"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>swarm</em> deck where Ravnos {{ ravnos }} use {{ embraces }} to proliferate, {{ consanguineous_boon }}
    to bloat and bleed with their swarm for the kill.
</p>
<p>
    The plan is to have a horde of <em>Laibon</em> Ravnos {{ ravnos }} vampires. Get a vampire out as fast as
    possible, use {{ mozambique_allure }} to become Laibon and unlock, then {{ embrace }}. When you get the chance,
    play a {{ ravnos_carnival }} to help you pay for {{ the_embrace }}. Continue to grow your horde, then call
    {{ consanguineous_boon }} with {{ the_eldest_are_kholo }} to bloat and recruit even more Ravnos. Once you have
    enough vampires to kill your prey, start bleeding. {{ week_of_nightmares }} can help you lunge with style.
</p>
<p>
    The deck is hard to stop because of the high number of +1 stealth actions. Once it is settled with enough vampires,
    it is virtually unstoppable. A few subtleties deserve a note: rescuing your vampires from
    torpor might not be necessary - they still count as controlled for the {{ consanguineous_boon }} so, if you do not
    need their votes or actions you can just leave them be. Also note that {{ mozambique_allure }} can be used to
    draw a crypt card if all your vampires are already Laibon. Finally, {{ the_eldest_are_kholo }} can also be used
    as a reaction to stop an opponent's vote, but this should be done sparingly: you need it to get your
    {{ consanguineous_boon }} through.
</p>
<p>
    If you get too much attention on a table, especially if your neighbours keep minions unlocked with intercept ready,
    you can consider taking a static stance and just do nothing for a turn or two. Holding back to block actions that
    do not come can be very frustrating for them: just waiting it out can give you the opening you need to get the deck
    rolling.
</p>
<h2>Tweaks and variants</h2>
<p>
    You might want to check the {{ main_article }} on this archetype for other variants.
</p>
<p>
    The idea leaves room for interpretation and alternatives. You can, for example, include a few
    {{ kine_resources_contested }} for additional damage so you don't have to rely on the {{ week_of_nightmares }} so
    much. You can also have more modifiers to help you get the actions through: more {{ change_of_target }} can be used
    and most vampires in the crypt can use {{ chi }} for stealth with {{ fata_morgana }} or {{ mirror_image }}.
    {{ city_star_taxi }} and {{ strange_day }} are other possibilities, although they're not in print yet.
</p>
<p>
    If you have access to some legacy cards, consider replacing {{ life_in_the_city }} with a pair of {{ gird_minions }}.
    You might also want to include one or two {{ the_uncoiling }} to deal with problematic events like
    {{ the_unmasking }} or {{ scourge_of_the_enochians }}. An {{ aranthebes }} or two can also be nice,
    just to contest it if it gets out. Finally a few {{ bamba }} might help reduce the cost of these {{ embraces }}
    and {{ autarkis_persecution }} might bring a bit of vote diversity to fight back against {{ delaying_tactics }}.
</p>
<h2>What to buy</h2>
<p>
    Two {{ libertine_ball }} and a {{ anniversary }}, the rest of the cards can be found on {{ print_on_demand }}.
    {{ ashlesha }} is, for now, only available as a promo card from the {{ kickstarter }} in 2021. But you can replace
    her by {{ joaquina_amaya }} or just an {{ anarch_convert }}. {{ life_in_the_city }} ({{ v5_malkavian }}) and
    {{ heart_of_nizchetus }} ({{ anthology }}) can be traded or just cut out.
</p>
{% endtrans %}
{% endblock %}
