{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/samedi-rush.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ samedi }} Samedi Rush</h1>
{% endblock %}


{% block archetype %}
{% trans trimmed
blessings_of_the_loa=card("Blessings of the Loa"),
bums_rush=card("Bum's Rush"),
carrion_crows=card("Carrion Crows"),
freak_drive=card("Freak Drive"),
groaning_corpse=card("Groaning Corpse"),
mambo_jeanne=card("Mambo Jeanne"),
ossian=card("Ossian"),
pulled_fangs=card("Pulled Fangs"),
reanimated_corpse=card("Reanimated Corpse"),
relentless_reaper=card("Relentless Reaper"),
rigor_mortis=card("Rigor Mortis"),
rolling_with_the_punches=card("Rolling with the Punches"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
soak=card("Soak"),
fb_ventrue=external("https://www.blackchantry.com/products/current-products/first-blood-ventrue/", _("First Blood: Ventrue")),
heirs_to_the_blood_1=external("https://www.blackchantry.com/product-heirs-to-the-blood-reprint-bundle-1/", _("Heirs to the Blood 1")),
lost_kindred=external("https://www.blackchantry.com/products/legacy/bundles/lost-kindred/", _("Lost Kindred")),
pact_with_nephandi=external("https://www.blackchantry.com/products/product-pact-with-nephandi", _("Pact with Nephandi"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>rush</em> deck using Samedi {{ samedi }} and the ominous {{ THN }} discipline.
</p>
<p>
    The plan is to take down the prey's vampire and use {{ blessings_of_the_loa }} to bleed hard.
    The combat module relies mainly on {{ THN }}, especially on {{ groaning_corpse }} and {{ relentless_reaper }},
    with a few {{ FOR }} cards for prevention and mobility.
</p>
<p>
    {{ relentless_reaper }} is an excellent card to keep a combat going and counter <em>Combat Ends</em> and
    <em>Dodge</em>. On top of that, playing multiple rounds combined with {{ mambo_jeanne }} or 
    {{ groaning_corpse }} is deadly, and the option to prevent a damage is always good.
</p>
<p>
    Having {{ for }} also allows for the use of {{ freak_drive }} for multiple rush actions in a single turn.
    This also means that a bleed getting through does not prevent a minion to just unlock and rush afterwards.
</p>
<p>
    Because the decks's defence is close to none, special attention to the predator is required, although
    disabling all vampires around the table going backwards is not a winning strategy. The deck should be able
    to keep any predator at bay while also putting decent pressure on their prey. As a rush deck, table control is 
    the main focus here - getting the number of players down to 3 while surviving is the most important part:
    once only a few players remain, disabling all the vampires around the table should be possible.
</p>
<h2>Tweaks and variants</h2>
<p>
    There are a not a lot of variants here, althoug a few legacy cards are very good inclusions, like {{ pulled_fangs }},
    {{ bums_rush }} and {{ rigor_mortis }}. There are other possible inclusions, like a few {{ reanimated_corpse }}
    for the oust, {{ ossian }} for additional rushes or {{ scourge_of_the_enochians }} against swarms.
</p>
<p>
    There is some wiggling room in the combat module, especially when it comes down to damage prevention and mobility:
    {{ soak }} can be used against environmental damage like {{ carrion_crows }}, {{ rolling_with_the_punches }}
    can be used in more copies if one expects a high combat threat.
</p>

<h2>What to buy</h2>
<p>
    The bulk of the cards come from two {{ lost_kindred }} bundles, with additions from {{ heirs_to_the_blood_1 }},
    {{ pact_with_nephandi }} and {{ fb_ventrue }}, plus a few cards that can be found in various bundles or traded.
</p>
{% endtrans %}
{% endblock %}
