{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/samedi-rush.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

[20:21] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=5e8aba83703f477ca40b7af957927f6e
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[10:26] Phoenix: This one you can only love 🙂 It's dreadful. Although I had a whole discussion with Darby who was
playing it in 2019 on EC WoN, and he gave me these few tips. Most of them don't apply because they're about old cards
that are worth the inclusion (Pulled Fangs, Carver's Meat), but he thought Baroque was the best in crypt there, because
of his ability.

TBH we could include Tension in the Ranks and Carver's Meat: They'll be available in 2 months, and the article will be
out only just shortly before this.
[10:27] Khormag, Prince of Joensuu: True! Carver is definitely a card to include in this. Tension can be good, but the
deck doesn't really need it.
[10:28] Phoenix: That's true
[10:38] Phoenix: So, maybe Carver and... What about Baroque? Maybe double it? I would go as far as to triple it.
[10:39] Khormag, Prince of Joensuu: Yep.