{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/stanislava.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

19:25] Phoenix: NG: Stanislava
https://vdb.smeea.casa/decks?name=%5B08%5D%20Stanislava#200575=2;200634=4;200937=1;201312=5;201478=1;100059=1;100065=1;100126=2;100131=2;100518=6;100588=3;100600=6;100601=2;100645=2;100761=4;100765=2;100771=6;100824=1;100845=10;100863=2;100984=2;100994=6;101019=1;101238=2;101350=2;101353=4;101417=1;101591=1;102121=5;102151=1;102180=1
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[19:30] Phoenix: @Spigushe 's design
[19:53] Phoenix: I have many doubts on this alternative. First, I'd say you can tweak the deck a bit but it's by itself
already pretty neat. So, unsure if it's worth inclusion.
I will be a bit direct, but really in the spirit of helping achieve a good list if we think it's worth it - please don't
mind the tone, it's really to keep it concise, thanks a lot for giving it a try 😉 :

- Removing the Zillah Mechanic makes this version much slower - I don't like that.
- I don't see the point of doubling Monastery, Papillon, Enkil Cog or Backways. I would keep Ecoterrorists and Ennoia's
Theater, two very strong cards
- Crypt-side, if anything I would remove one Hartmund because of Backways and Ecoterrorists, but he's great with the Cog
and the Cog does not fit Stani well because of the Archon risk. I'd keep Xaviar and even triple him, just for this.
- I like adding Jake, but I would not remove the Coven, it's great in this deck.
- With Ennoia here, tripling Dreams makes no sense to me - this has a high contest chance, I'd keep just 1. Doubling
Info Highway makes sense.
- I would not remove the KRC, Neonate Breach nor Ancient Influence. They're all very strong here.
- I think On the Qui Vive and Second Tradition are stronger than Guard Dogs, I'd leave the reactions as they are.
- You removed Rapid Change and Murmur of the False Will - they're both great in this deck
- You dialed down the combat ends a lot (1 4 -> 8) - might be a meta choice, but this makes the whole deck far more
fragile, I'm not in favor
- Beast Meld and Signet of the King Saul are both very interesting inclusions, I wouldn't have removed them personally
but that's debatable.
- I would have considered adding a Scourge of the Enochians, it's a common inclusion
[19:53] Phoenix: I would have considered something along those lines:
https://vdb.smeea.casa/decks?name=Preconstructed%2025th:&author=VTES%20Team#200575=1;200634=2;200937=1;201312=5;201478=3;100059=1;100064=1;100065=1;100126=1;100131=2;100435=1;100518=6;100588=1;100600=4;100601=4;100609=1;100645=1;100646=1;100761=3;100765=1;100771=6;100788=2;100824=1;100845=7;100984=1;100994=3;101056=3;101238=1;101256=2;101271=1;101321=3;101353=3;101417=1;101542=2;101591=1;101697=1;101706=3;101781=1;102121=5;102207=5
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[19:54] Phoenix: But as I said, it's so close to the original build it might not be worth mentioning.
[20:13] Alejandro galve: It is quite good, i would not change anything. Maybe i would play less master and a little bit
more combat defence because of meta.
[20:14] Alejandro galve: Maybe 1 backways, 1 monastery of shadows and wash less and three more combat ends, but i am
thinking in the meta of my city
[20:16] Phoenix: This might finish in a small "tweak Stanislava" section too, maybe we don't need a decklist proposal
[20:17] Alejandro galve: Yeah, stanislava starter is quite good on its own and it only needs minor changes
[20:18] Alejandro galve: Stanislava burns blood very fast, maybe 3-4 restorations?
[20:29] Khormag, Prince of Joensuu: Here is a version that I have played a lot:
https://vdb.smeea.casa/decks?id=2dbe4e4f05ed49fdb5ff0e48ad893744
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[20:32] Khormag, Prince of Joensuu: I also chose not to play any Zillah, but that is kind of my personal preference. I
don't believe that to be a problem at all, with this deck, as there is often no reason to bring Stanislava up first. You
can just bring up Ingrid, and get Stani up super quickly. Zillah is a bit rough imo, as it makes the already large
master package even more bloated, and its only really good during the first 2-3 turns. Having to contest Dreams is
always a "problem" but as the deck itself is super strong, contesting something sometimes can be actually beneficial.
Dreams is also relevant at every stage of the game, so it doesn't really hurt you to sit on it a bit.
[12:57] Spigushe: I went with the flow and updated my list. There is a 50-50 probability that i'll play it next week
https://vdb.smeea.casa/decks?id=cfafa9cf28fc4c60b4d7a0dc48338e86
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[14:18] Alejandro galve: 5 zillas valley in 85 cards gives 35% of having one in the initial hand, not very high. You
could quit the five and leave it in 80 cards
[01:41] Spigushe: that is one of my main concerns bc i'd have to play more than 10 to have enough of them (1*90/7=13)
and it seems to not add anything to the deck after the first and second exemplary, leaving 11 dead cards in the deck
[09:10] Phoenix: no point to play zillah if you don't plan to get 3 big caps out (so you can play 3 of them normally)
[09:11] Phoenix: The historic plan of doing Zillah then PShift is far less efficient nowadays
[09:15] Spigushe: I'd just remove the ZV and test the decklist as is
[09:07] janbjo ~ Prince of Trondheim: This is an interesting statement. Which historic decks do you still think Zillah's
are useful for?
[09:11] Phoenix: Definitely Girls, because their bloat module is still efficient
[09:11] Phoenix: IC builds that realy more on Villein than PShift to run their Zillahs
[09:13] Phoenix: But yeah, your typical Stani turn (Or Lutz-Unmada) was "Zillah for the third time. Oh noes, I'm down at
7 pool. PShift: this Zillah was free I'm back at 13". Nowadays it's trickier: the PShift only brings you back to 10 so
it's a net loss in an already fragile tempo for the deck.
[09:15] Phoenix: The Zillah/Villein for 5 thing is still working, so big-cap Presence running Voter Cap can still use it
efficiently for example
[09:17] Phoenix: Well, at least that's my take on the topic 😅 I'm not a top player so I'm sure some of them have
different opinions and they very well might be more right 🙂
[09:24] janbjo ~ Prince of Trondheim: The reflections on the Parity Shift change makes very much sense, and is in line
with other comments on the Lutz-Unmada build. I guess Lutz-Maris can still works because of the Mental Maze block?
@Phoenix
[09:50] Spigushe: I'd still play it in AAA with a Ashur/Liquidation build
[14:18] Phoenix: I've been told it might be the most still-possible IC/Royalty combination. But it lost a bit of its
kick for sure.
[12:59] Martin-Baron of Lindesberg: I still play them in high cap decks cause i feel the tempo you lose with not having
that surge is too big a loss.

Usually villeins to recupurate
[19:40] Alejandro galve: Both strategies are viable, personally i do not play zillah's in stanislava decks as it is dead
weight in hand later and i prefer sup gover later with stanislava gaining tempo and bloat. Another reason is that early
stanislava with zillah early doing two nasty actions per turn can bring too much hate too soon
[20:14] Martin-Baron of Lindesberg: Understandable

I think it is alot of personal preferance and amount of cards
[10:20] Martin-Baron of Lindesberg: How do you then bring out a 11 cap in a decent enough pace?
[10:23] Alejandro galve: With patience 🤣
[10:23] janbjo ~ Prince of Trondheim: Information Highway and Ingrid Rossler?
[10:23] janbjo ~ Prince of Trondheim: Dreams of the Sphinx.
[10:24] Alejandro galve: If my predator is a fast bleeder, I am toasted, i know
[10:24] Martin-Baron of Lindesberg: Yeah i know Ingrid and Information, the question i had in my head was more in the
line of the answer i got from Alejandro
[10:25] Martin-Baron of Lindesberg: True but most big cap decks are toast against fast bleeders as their predator
[10:25] Martin-Baron of Lindesberg: i prefer the sacking of pool for speed with zillah's but i guess thats personal
preference?
[10:26] Alejandro galve: Usually first stanislava, then sup govern. With stanislava i play 6 villeins and 8 governs in
75 cards, so once stanislava is in play there are good bloat options
[10:27] Martin-Baron of Lindesberg: Yes true, but if you cant get Stanislava up fast enough you are left very vunerable
[10:28] Alejandro galve: Yeah, that is the true, you must know the weak points of your deck and try to live with them
[10:29] Martin-Baron of Lindesberg: Yes ofcourse, and a weak point of a big cap are usually that you have big vampires
and that you might not get them up when you want to
[10:29] Martin-Baron of Lindesberg: Just found the difference interesting, cause when i got tought how to play it was,
if you play big cap you play Zillah's
[10:30] Alejandro galve: Last week in a game, there was a marasuntha deck and his predator was a dem weenie bleeder.
Mqthasunta entered play and next turn died
[10:31] janbjo ~ Prince of Trondheim: This is interesting.
[10:31] Martin-Baron of Lindesberg: So i have never explored other options cause i stopped playing big cap decks
[10:32] Martin-Baron of Lindesberg: That is usually a good matchup for dem weenie, you win against big caps cause they
die before they can do anything
[10:32] Alejandro galve: I learnt the same way, but i discovered later than most decks die too early due to lack of
wakes, deflections and bloat
[10:33] Martin-Baron of Lindesberg: so better cut zillah's and play more of the defensive module?
[10:33] Alejandro galve: I do that, less initial speed and more bloat and bleed defense
[10:34] Alejandro galve: It is my personal opinion and play style
[10:35] Martin-Baron of Lindesberg: I will have to try that, i have been leaning more into defensive decks anyways
lately so it might be a fitting bridge between them
[13:51] Phoenix: I would second that. Zillahs are good for big caps if you can play enough of them. I mean, if you want
to accelerate your crypt, you need 1/8th of your cards to be accelerators, so you get one of them in Turn 2 with a
decent probability. That usually means 7+ Zillahs, and a bunch of Dreams and Info Highway. But 7 Zillahs will cripple
your rotation if you cannot play at least half of them. So you need enough Villein (or Minion Tap) to get not only your
first, but also second and third Big Cap out using Zillahs, fast.

Then it depends on the deck. Girls have Aksinya to discard useless Zillahs and bloat a lot with Ashur Tablets and
Liquidation, so they can actually play over half of their Zillahs. IC decks usually need a strong defense (blocks and/or
bounces) to avoid getting ousted after 2 Zillahs, and enough Villein (7+) to make sure they get one early. Playing
politics and Voter Captivation let you bloat more, resplenish the vampires , and get you an opportunity for a second
Vessel on the same vampire if all goes well. IC decks with a royalty (Prince/Justicar) complement used to add Parity
Shift to the mix, to bloat and be able to play the Zillahs longer. That does not work as well as it used to but it's
still a very decent option. Other builds have great option to cycle superfluous Zillahs (like Fanchon, for example) so
they can get away with only needing one first hand.

All in all, of course crypt acceleration is good if you play big caps. But it's not mandatory, and it will cripple your
deck if you do not build around it too - Zillahs are expensive. For example, a Goratrix or Saulot Wall usually does not
include Zillahs - you're ready to wait for turn 3 and defend solidly - the deck does not have the bloat to play more
than one Zillah and the clean cards rotation is too important to be crippled by useless ones. On the other hand, the
defense is so good you usually stay alive once your star is out.
[14:19] Martin-Baron of Lindesberg: So in a Stanislava deck (thread is about it and thats what started the discussion)

It would be better to play more of the defense and bloat pack then crypt axx?
[14:20] Martin-Baron of Lindesberg: Where you have one ic star and the rest princes or a justicar
[14:52] Alejandro galve: https://vdb.smeea.casa/decks?id=e02b86901dfa4af3bbede7d69befbd2f
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[14:53] Alejandro galve: I play that list, slow in the beginning but once stanislava is out it generates pool and it is
stable
[22:43] TheVoice: Does Stanislava not play Freak Drive anymore?
[22:57] janbjo ~ Prince of Trondheim: She can, but Forced March also provides stealth
[08:18] Alejandro galve: Yes, she can. I think a mixture of instantaneous transformation, freak drive and forced march
is the best
[08:19] Alejandro galve: Instantaneous transformation and forced march give stealth and may be cheaper but not all crypt
may be able to play it
[08:20] Alejandro galve: Freak drive is more expensive but all crypt can play it
[19:43] Hobbesgoblin (UTC+1): also freak drive has no maximum per turn.