{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/the-capuchin.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

Khormag, Prince of Joensuu: General thread for BCP friendly Capuchin decks.

THA/FOR/DOM "Grinder": https://vdb.smeea.casa/decks?id=e8f7e70ec50b4ad58b60229129b7db94

Multirush variant: https://vdb.smeea.casa/decks?id=a4c8921839284ca990e19924c72cb730

Wall with Legionnaires:
https://vdb.smeea.casa/decks?id=7d444e6b168847ffb35c0b9b110237f4
[10:30] Martin-Baron of Lindesberg: I get you wanna play The Capuchin

But it seems extremely risky to have so few vampires in a crypt

Can you explain your reasoning?
[10:37] Khormag, Prince of Joensuu: Which deck are you referring to?
[10:38] Khormag, Prince of Joensuu: The first one lacks some of the vampires you might want to play, as you don't have
access to any with the restrictions.
[10:41] Khormag, Prince of Joensuu: and the wall version hasn't really needed anyone else. It has access to allies, as
you play Legionnaires, so in reality you usually have quite many minions and there are really not that many options with
the disciplines used in the deck for the vampire selection. It is a bit risky, and I used to play a version which
included Khursid and Hecate, but I didn't like it.
[10:43] Khormag, Prince of Joensuu: Here is the original list for the Wall deck, without the restrictions:
https://amaranth.vtes.co.nz/#deck/e7fb3597-6c4f-474b-a3f2-848e2ff1e752
Amaranth: Deck Builder for Vampire the Eternal Struggle
Deck building / proxy tool for VTES / Vampire the Eternal Struggle / V:TES
[10:44] Khormag, Prince of Joensuu: Guardian Vigil makes it a bit safer, as you have have a lot greater blocking
capability with it. But I didn't want to include it, as its not officially in print.
[10:48] Khormag, Prince of Joensuu: The fact is also that the Capuchin is super strong vampire, and can actually do just
fine only by himself. The decks are obviously a bit weak against super fast weenie decks, but that's not something you
can really fix by playing a bit more diverse crypt. It is a problem with the high capacity star vampire archetypes
always.
[08:26] Phoenix: Hm. Must say I believe in the Emerald Wall more than in the two others
[09:07] Khormag, Prince of Joensuu: I have had more success with the two others. Having played couple of tournament
finals with the "grinder" deck, and one tournament final with the multirush.
[09:08] Khormag, Prince of Joensuu: I have played the Emerald deck in a final too, but it was a 2 round tournament. And
I don't personally count those as "real" tournaments.
[09:11] Khormag, Prince of Joensuu: Although both of the decks are missing couple of cards from the lists I played, as
you don't have access to those with BCP products. Mainly Erebus Mask and Blood Fury. But some masters too, like Metro
Underground.
[09:41] Khormag, Prince of Joensuu: All of the decks suffer from the same problem, which is the very slow start and
usually not that impressive early game. But I don't think that is something you can fix easily.

The Capuchin is definitely a great vampire, but I find it hard to justify playing him in decks, unless I take full
advantage of the disciplines he has. I wouldn't play him in a "normal" HoS crypt with the low to mid cap vampires, as
you are going to miss out on the THA and DOM angle, he just isn't that good of a fit there. If you want to play mid cap
HoS or Legionnaires, you can do a lot better with a crypt based around Khursid or Erlik.

He is in a bit strange place, as he is lacking a friend or two in all group choices he has. He could have been okay
choice for HoS Legionnaire wall deck, but the Erlik got printed with Legionnaires, which pretty much negates that
option, as he is in every way better than the Capuchin, when playing HoS.
[09:48] Khormag, Prince of Joensuu: Of the three decks above, the first one is likely my favourite. As it has the
strongest late game. You have 2 vampires with extremely strong abilities, that you will boost even greater through out
the game. My game plan has been to get Bowl to Gerald and Erebus Mask (Missing here sadly) for Capuchin. You then have 2
vampires with +1 intercept and +1 stealth. And you have very solid combat defence with the naturally super efficient
tha/for combat, and good offense and bleed defence with DOM. The Wall version kind of does the same, but not as well.
But it obviously gains the Legionnaires. But it can be a bit rough too, as it makes you weaker against voters (Anarchist
Uprising and Ancilla Empowerment).
[09:56] Phoenix: Okay, the let's maybe just present the first one as the most interesting possibility and mention the
two others (no decklist) as possibilities in text?
[09:57] Khormag, Prince of Joensuu: The Multirush deck is something I specifically built for a tournament, having not
played it before that, as I was expecting a meta of higher capacity decks with slower start and little to no combat. I
was also on a mission to play Capuchin deck in every possible archetype, and he has access to Thanatosis which is pretty
hot for combat. I did get into finals with 2GW 7VP there, but miscounted my blood in the finals and locked myself out of
the game with Talbots Chainsaw... 😦

I included it here because it is something a bit different, it is super fun to play and very effective in combat. But it
is definitely not the strongest when considering a tournament with unknown metagame.
[10:01] Khormag, Prince of Joensuu: Sure! But I don't mind you presenting the Emerald Wall either. Both decks are fine,
and I can't really tell which one is better. I am a bit opinionated myself, as I've had better experiences with the
first one, and I consider it more of my "own" creation. But the wall version is definitely a strong deck too.