{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/tremere-wall.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

\nDescription: Would want couple of Sense the Savage Way instead of On the Qui Vive and one Sniper Rifle. And maybe
change Mistress Fanchon and Gerald Windham to 2x Lord Tremere. Orlando Oriundus and Alonso Petrodon are also options.\n

20:25] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=695a28eada2646ea9e9ab16c69a06027
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[10:15] Phoenix: This looks very strong... Have you considered including a few Read the Winds? Wouldn't Papillon be
better than the hunting ground?
[10:19] Khormag, Prince of Joensuu: Papillon is a tad bit expensive imo, and also needs a city title to be played, so it
can be a bit inconsistent early in the game. You also are very blood efficient, so its not really worth the extra
investment in my opinion. Read the Winds would be a great option, but if you would have access to Sense the Savage Way,
its actually just unnecessary. Without the acces to Sense it might be a good addition.
[10:29] Phoenix: Yeah, my point. Sense has not been reprinted yet (don't think it's in the upcoming anarchs decks?)
so... But Argus and Second Trad might be enough - I trust you, just throwing ideas around
[10:34] Khormag, Prince of Joensuu: But yeah, now that I think of it, you could just replace the 2x On the Qui Vive with
Read the Winds. I just completely missed it, as I basically just copied my decklist and changed the Senses to otqv,
without thinking about it too much.
[10:37] Phoenix: Glad to have been of help 🙂
[20:41] janbjo ~ Prince of Trondheim: About that, do we know what art preview from newsletter December 2020 is for?
[20:46] Phoenix: Link ?
[20:51] janbjo ~ Prince of Trondheim: @Phoenix
https://www.vekn.net/2-uncategorised/492-vampire-elder-kindred-network-newsletter-december-2020
Vampire: Elder Kindred Network
Vampire: Elder Kindred Network Newsletter December 2020
Preview art by Ginés Quiñonero. Greetings fellow Methuselahs, This year of sparse live VTES events is over, and we once
again present to you a somewhat different newsletter, this time starting out wi...
[20:51] Phoenix: Oh yea let me find it
[21:19] Phoenix: I was so sure I saw it on a card... Can't remember which.
[21:20] Phoenix: Ask on general @janbjo ~ Prince of Trondheim - someone must know.