{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/tremere-wall.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ tremere }} Tremere Wall</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
    anarch_troublemaker=card("Anarch Troublemaker"),
    anarchist_uprising=card("Anarchist Uprising"),
    aranthebes=card("Aranthebes, The Immortal", "Aranthebes"),
    blood_rage=card("Blood Rage"),
    carrion_crows=card("Carrion Crows"),
    cats_guidance=card("Cats Guidance"),
    conditioning=card("Conditioning"),
    direct_intervention=card("Direct Intervention"),
    enkil_cog=card("Enkil Cog"),
    eyes_of_argus=card("Eyes of Argus"),
    govern_the_unaligned=card("Govern the Unaligned"),
    gran_madre_di_dio_italy=card("Gran Madre di Dio, Italy"),
    magic_of_the_smith=card("Magic of the Smith"),
    obedience=card("Obedience"),
    parity_shift=card("Parity Shift"),
    pentex_subversion=card("Pentex™ Subversion"),
    scourge_of_the_enochians=card("Scourge of the Enochians"),
    second_tradition=card("Second Tradition: Domain"),
    sense_the_savage_way=card("Sense the Savage Way"),
    smiling_jack_the_anarch=card("Smiling Jack, The Anarch"),
    sniper_rifle=card("Sniper Rifle"),
    soul_burn=card("Soul Burn"),
    theft_of_vitae=card("Theft Of Vitae"),
    anniversary=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-25th-anniversary/", _("25th Anniversary")),
    den_of_fiends=external("https://www.blackchantry.com/products/product-den-of-fiends/", _("Den of Fiends")),
    fb_nosferatu=external("https://www.blackchantry.com/products/current-products/first-blood-nosferatu/", _("First Blood: Nosferatu")),
    keepers_of_tradition_2=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-2/", _("Keepers of Tradition 2")),
    meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
    parliament_of_shadows=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-parliament-of-shadows/", _("Parliament of Shadows")),
    payload=link("/strategy/deck-building", _("payload"), _anchor="payload"),
    print_on_demand=external("https://www.drivethrucards.com/browse/pub/12056/Black-Chantry-Productions/subcategory/30619_34256/VTES-Legacy-Card-Singles", _("Print on Demand")),
    v5_nosferatu=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-nosferatu/", _("V5 Nosferatu")),
    v5_tremere=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-tremere/", _("V5 Tremere"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>wall</em> deck using Tremere {{ tremere }} Princes and Justicars that have a rare access to
    Animalism {{ ANI }}.
</p>
<p>
    The idea is to rely on all the great Tremere disciplines ({{ AUS }}{{ DOM }}{{ THA }}), complemented by {{ ANI }}
    and their royalty status for even better intercept capabilities.
</p>
<p>
    As usual with {{ DOM }} decks, the plan is to get the oldest vampire out first, to be able to use
    {{ govern_the_unaligned }} at superior {{ DOM }} to get more vampires out fast and cheap if possible.
</p>
<p>
    The deck has a tremendous blocking power: the classical {{ AUS }} package with {{ eyes_of_argus }} and the usual
    intercept reactions is supported by {{ cats_guidance }} and {{ second_tradition }} for even more unlock and
    intercept. This 30 cards module (not counting the {{ obedience }} used for combat) provide a tightly packed
    range of options for wake, unlock, intercept and bounce: there's no tighter defence.
</p>
<p>
    The {{ payload }} is another story: the deck has to find opportunities and be ready when they arise.
    It uses a number of different sources of pool damage, from {{ smiling_jack_the_anarch }} that needs to be
    defended, to votes like {{ parity_shift }} and {{ anarchist_uprising }}, complemented by a bit of bleed
    with {{ enkil_cog }} and {{ conditioning }}.
</p>
<p>
    When it comes down to combat, the deck uses only a few {{ theft_of_vitae }}, but its strength relies in the
    availability of {{ obedience }}, a reaction the deck can use to chose when to fight and when to just stop
    the action. Handled properly, it allows the deck to choose the fights it can win and stop those it cannot.
</p>
<h2>Tweaks and variants</h2>
<p>
    If you got access to legacy cards, {{ sniper_rifle }} is a great addition to this deck. It is a great counter
    against close combat modules and, if you happen to get one as a neighbour, you can use {{ magic_of_the_smith }}
    to fetch it at the first opportunity. {{ aranthebes }} is also a great inclusion if you can get your hands on one.
    Finally, {{ sense_the_savage_way }} should replace a few unlock or intercept cards.
</p>
<p>
    There are a number of minute adjustments one can make to this deck depending on the {{ meta }}. The combat module
    should be sufficient, but using a few {{ carrion_crows }}, {{ blood_rage }} or {{ soul_burn }} can help counter
    specific combat modules. On the same note, {{ pentex_subversion }} and {{ anarch_troublemaker }} can be added
    to fight against defensive decks. {{ scourge_of_the_enochians }} and {{ gran_madre_di_dio_italy }}, on the other
    hand, can counter swarm builds. Finally, a couple of {{ direct_intervention }} could be a great inclusion
    here, provided you manage to make a bit of room in the Master module, since they can help handle nasty surprises
    on block attempts.
</p>
<h2>What to buy</h2>
<p>
    A couple {{ keepers_of_tradition_2 }} plus {{ v5_tremere }}, {{ anniversary }},
    {{ den_of_fiends }} and {{ fb_nosferatu }}. A few cards are found in other bundles can also be traded for:
    {{ obedience }} is in {{ parliament_of_shadows }} but it might be tricky to get enough of those - you can trade
    some or replace with {{ carrion_crows }}. {{ v5_nosferatu }} can give you a second {{ smiling_jack_the_anarch }}
    if you do not want to get two {{ den_of_fiends }} starters, and multiple bundles can provide {{ conditioning }}.
    {{ direct_intervention }} can be found on {{ print_on_demand }}
</p>
{% endtrans %}
{% endblock %}