{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/tremere-grinder.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}


{% block archetype_name %}
<h1>{{ tremere }} Tremere Grinder</h1>
{% endblock %}


{% block archetype %}
{% trans trimmed
aid_from_bats=card("Aid from Bats"),
apportation=card("Apportation"),
aranthebes=card("Aranthebes, The Immortal", "Aranthebes"),
arcane_library=card("Arcane Library"),
bonding=card("Bonding"),
bowl_of_convergence=card("Bowl of Convergence"),
carlton_van_wyk=card("Carlton Van Wyk"),
conditioning=card("Conditioning"),
enkil_cog=card("Enkil Cog"),
eyes_of_argus=card("Eyes of Argus"),
gabrielle_di_righetti=card("Gabrielle Di Righetti"),
gerald_windham=card("Gerald Windham"),
giants_blood=card("Giant's Blood"),
govern_the_unaligned=card("Govern the Unaligned"),
heart_of_nizchetus=card("Heart of Nizchetus"),
immortal_grapple=card("Immortal Grapple"),
information_highway=card("Information Highway"),
ivory_bow=card("Ivory Bow"),
karl_schrekt=card("Karl Schrekt"),
lord_tremere=card("Lord Tremere"),
magic_of_the_smith=card("Magic of the Smith"),
magnum=card(".44 Magnum"),
mirror_walk=card("Mirror Walk"),
mistress_fanchon=card("Mistress Fanchon"),
monastery_of_shadows=card("Monastery of Shadows"),
murmur_of_the_false_will=card("Murmur of the False Will"),
obedience=card("Obedience"),
on_the_qui_vive=card("On the Qui Vive"),
pentex_subversion=card("Pentex™ Subversion"),
ponticulus=card("Ponticulus"),
powerbase_montreal=card("Powerbase: Montreal"),
rego_motum=card("Rego Motum"),
rutors_hand=card("Rutor's Hand"),
seduction=card("Seduction"),
sniper_rifle=card("Sniper Rifle"),
taste_of_vitae=card("Taste of Vitae"),
theft_of_vitae=card("Theft of Vitae"),
vessel=card("Vessel"),
villein=card("Villein"),
walk_of_flame=card("Walk of Flame"),
wasserschloss_anif=card("Wasserschloss Anif, Austria", "Wasserschloss Anif"),
zillahs_valley=card("Zillahs Valley"),
bounces=link("/strategy/fundamentals", _("bounces"), _anchor="bounce"),
den_of_fiends=external("https://www.blackchantry.com/products/product-den-of-fiends/", _("Den of Fiends")),
keepers_of_tradition_2=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-2/", _("Keepers of Tradition 2")),
main_article=link("/archetypes/war-chantry", _("main article")),
meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
pact_with_nephandi=external("https://www.blackchantry.com/products/product-pact-with-nephandi", _("Pact with Nephandi")),
v5_tremere=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-tremere/", _("V5 Tremere"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck using Tremere {{ tremere }} vampires.
</p>
<p>
    The idea is to use all the great Tremere disciplines: {{ AUS }} for defence, {{ DOM }} for bleeds and bounces
    and {{ THA }} for combat and utility. Tremere {{ tremere }} also have access to great clan cards.
</p>
<p>
    As usual with {{ DOM }} decks, the plan is to get the oldest vampire out first, to be able to use
    {{ govern_the_unaligned }} at superior {{ DOM }} to get more vampires out fast and cheap. Ideally, you want to
    play 2 or 3 of those at superior.
</p>
<p>
    As the game advances, the deck should defend steadily, using the good amount of wakes provided by
    {{ eyes_of_argus }} and {{ on_the_qui_vive }} to block or bounce dangerous actions. The deck continues its
    build up by getting some equipments, with usually a priority for {{ heart_of_nizchetus }} or
    {{ bowl_of_convergence }} if you have to choose for a {{ magic_of_the_smith }}. Allies can help with the defence,
    since both {{ carlton_van_wyk }} and {{ ponticulus }} are great blockers. Finally, the master cards are used to
    slowly set up a good bloating apparatus, with a few {{ vessel }} seconded by {{ powerbase_montreal }},
    {{ wasserschloss_anif }} and {{ arcane_library }}.
</p>
<p>
    When the opportunity arises, the deck should bleed strongly with {{ govern_the_unaligned }} and {{ conditioning }},
    using {{ mirror_walk }} and {{ seduction }} to get the bleeds through. A block might be welcome if you have good
    combat options in hand, but beware of the possible {{ bounces }} on your prey's side: you wouldn't want to help them
    too much. The art of playing this deck consist in building and defending steadily while preparing strong bleed
    bursts in your hand.
</p>
<p>
    Finally the combat module is focused and simple: a number of {{ taste_of_vitae }}, {{ apportation }} for utility,
    and a roaming {{ walk_of_flame }} just to keep your opponents on their toes. Clearly having a {{ magnum }} or
    {{ ivory_bow }} out at some point helps with combats, but {{ taste_of_vitae }} is already awesome by itself:
    with a 4 blood differential, it cannot be prevented so it's one of the strongest combat cards of the game.
</p>
<h2>Tweaks and variants</h2>
<p>
    Check the {{ main_article }} for additional variants and examples.
</p>
<p>
    If you got access to legacy cards, {{ sniper_rifle }} is a great addition to this deck. It is a great counter
    against close combat modules and, if you happen to get one as a neighbour, you can use {{ magic_of_the_smith }}
    to fetch it at the first opportunity. {{ aranthebes }} is also a great inclusion if you can get your hands on one.
</p>
<p>
    There are a number of minute adjustments one can make to this deck depending on the {{ meta }}. If combat is heavy
    in your circle, with {{ pot }} {{ immortal_grapple }} preventing you to use your {{ theft_of_vitae }},
    consider using more maneuvers and guns, maybe adding a few {{ rego_motum }}. If longer combats with maneuvers
    are a thing (like modules using {{ aid_from_bats }} for example), consider adding a few {{ walk_of_flame }}.
    If intercept tends to run high, a few {{ bonding }} and a {{ pentex_subversion }} might be in order.
    This deck is mostly about balance: you need to try it and adapt to your playstyle and playgroup. It should
    perform pretty well as it is, but the balance between offense, defence and combat can be adjusted to fit your needs.
</p>
<p>
    It is possible to build a variant with higher capacity vampires like {{ karl_schrekt }},
    {{ gerald_windham }}, {{ gabrielle_di_righetti }}, {{ lord_tremere }} or {{ mistress_fanchon }}.
    In this case, you'd want to use the {{ zillahs_valley }} / {{ villein }} combination to start a bit faster,
    with a couple of {{ information_highway }} on top. This opens a up a few possibilities like using 
    {{ obedience }}, {{ murmur_of_the_false_will }} and {{ enkil_cog }}. {{ monastery_of_shadows }} and
    {{ giants_blood }} become great inclusions, and you can always try a couple of {{ rutors_hand }} for more actions.
</p>
<h2>What to buy</h2>
<p>
    A couple {{ v5_tremere }} plus {{ keepers_of_tradition_2 }}, {{ pact_with_nephandi }} and
    {{ den_of_fiends }}. A few cards found in other bundles can also be traded for.
</p>
{% endtrans %}
{% endblock %}
