{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/tremere-grinder.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

Description: Sniper Riffle instead of Magnum if you have access to it.\n

[20:17] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=2813a87201f94388a1f49e5b4351192d
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
Khormag, Prince of Joensuu
changed the channel name:
NG Tremere Grinder
— 06/10/2021
[11:02] Phoenix: I'd cut Pentex and Smiling in this. But Add 1 or 2 Magic and a Heart of Nizchetus - it's too strong in
these toolboxes things. Also, Wasserschloss is strong there, and I would put a Rack.
[08:46] Khormag, Prince of Joensuu: Heart is definitely an option, and with that you would likely want to play more
Magic of the Smith too. I just rarely play it, as it usually eats so much time throughout the game. Wasserschloss is
definitely good, you could play that. I also don't really ever play Rack, and I don't see it being very useful here.
Tremere are very efficient with blood because of Theft of Vitae, and you already have access to hunting ground, which
gives blood a bit more smoothly, to where it is needed the most. Rack is also always an extra thing to defend, and
something you have to attempt to get back, if it gets stolen.

Pentex is definitely cuttable. And you could put something like Wasserschloss or Guardian Angel to replace that. I just
still value it too much to cut it, as it is possibly the best lunge tool in the game, and Dominate does love lunging.
Smiler is also optional. I just personally like to play it in decks that are capable to defend it to a degree, as it is
super strong control tool when you get down to 3 players.
[09:14] Phoenix: Yeah but on the good side, Rack does not generate that much blood if it keeps getting stolen - it just
grinds at the actions. Where Montreal, on the other hand, is not good for a grinder if it begins to get a bit around the
table.
[09:45] Khormag, Prince of Joensuu: That is true with the Rack. But it is still something you absolutely have to get
back, as if its left unchecked it gets out of hands very quickly, often resulting in you losing more actions or
committing too much resources on blocking "unnecessary" actions. I also agree with the Montreal statement to a degree. I
just don't really see the pool gain (or acceleration) as a huge problem with dominate based grinder decks. With these
decks pool is usually something you don't really care about at all, blood is much more of a problem. I also like to use
Montreal as a negotiation tool, and as a reassurance , as you can make yourself look friendly to others, by offering to
"give" the control of it. It can also be vital in early games as a source of extra influence. The acceleration it can
give to others, is also pretty much a non issue for me, because it helps the game to get going, and you want to have
people playing the game, to get to the "end game" faster. This goes for a pure wall deck too. You usually never want to
stop people from using superior Govern or other cards / effects like that, as it helps you in the end.

With this deck having access to multiple pool and influence gaining masters (Arcane Library and Wasserschloss) it would
also be totally OK to drop it though.


=====

10:28] Manit0u: Something like that for Tremere maybe?
https://amaranth.vtes.co.nz/#deck/3b490788-18ac-4d5e-b11f-930e1807b4dc
Amaranth: Deck Builder for Vampire the Eternal Struggle
Deck building / proxy tool for VTES / Vampire the Eternal Struggle / V:TES
[10:30] Phoenix: So, sure, I'm interested in BCP-only version for the guide if you can muster one 🙂
[10:32] Manit0u: Ugh. I believe all of the cards in this deck were in recent prints (removed golconda etc from the list)
but I would have to dig up which sets specifically... Mostly KoT reprint bundle and Anthology I think
[10:33] Manit0u: The only one I'm not sure about is sniper rifle but I think you can substitute something else there
[10:34] Phoenix: yep Sniper rifle is not in print
[10:34] Manit0u: Can do .44 instead
[10:35] Phoenix: Sure. You're right, that's probably the only miss here.
[10:36] Phoenix: How close is it in your opinion to NG Big Cap Tremere Wall ? Should it be listed as a variation?
Another deck altogether?
[10:38] Manit0u: Quite different. You're not relying on politics and smiling. This deck is a bit more proactive with
multiact and attrition
[10:39] Manit0u: You take away people's resources with bleeds, theft, Gabrielle's action etc.
[10:43] Phoenix: ok
[10:47] Manit0u: Not super easy to pilot because of big caps but it's actually surprisingly resilient and quite
effective
[10:47] Phoenix: Feedback (ideas, you tell me what you think): I'd replace the Vessel by 2x Villein for pool stability
early game. I'd remove Gabrielle for 2x Tremere and 1x Fanchon for crypt stability. I would play Wasserschloss instead
of Chantry. Maybe find a way to add Arcane Library. What about a pair of Wider View?
[10:48] Manit0u: Wider view is fine. Vessel is better than arcane library here, especially with Gabrielle's action
[10:49] Phoenix: Just feels like not having Tremere at the start is a huge setback, but I might be mistaken there.
[10:50] Manit0u: I specifically made every vamp in 3 copies for crypt stability so you're guaranteed to have 2 different
vamps. Tremere and Fanchon aren't stars here and the deck works without them
[10:50] Manit0u: Tremere is awesome but not 100% necessary
[10:52] Manit0u: It's still in early stages of testing so you can experiment with other quantities and see how it goes
[11:10] Manit0u: Fun fact: after playing with the deck several times the card I would probably drop entirely is zillah's
valley. This deck doesn't need to be super fast
[11:52] Phoenix: Interesting. I would have thought it would die so fast to fast powerbleed without the Zillahs
[12:28] Manit0u: 3 turns to vampire not that bad. 1 vamp can defend a lot here
[12:28] Manit0u: Need to do more testing but most decks will fold with malk '94 or something similar on their back
[12:37] Phoenix: Yeah, my meta around here has a lot of :malkavian: :DEM: , :giovanni: / :tremere: powerbleed with :DOM:
, weenie Computer Hacking... no way you can pull off a crypt like that without Zillahs that often — I'd expect to die
turn 4 in over half of my games ahah. The Zillah/Villein combination in good numbers would help get out fast, but also
avoid a pool "hole" early in the game. Also why I would feel much safer with 6+ Villeins - I feel you need to hit one in
the first few turns if you don't wanna die to back pressure early. Once you got two vamps and time to fetch a few bounce
and intercept (and also for your allies to begin eating away at your pred), that's much safer. But the early game would
be a concern here for me
[12:40] Phoenix: Yesterday I took 13 pool of bleed Turn 3 after a Misdirection locked my defending minion... I can see
that happening here :-p It's an extreme example, but I still suspect the deck would be too fragile up to Turn 6/7
without the Zillah/Villein module. And 6/7 turns is a lot I think... but maybe that's only a few meta 🙂 We can also
have the two lists, or just use the list with the Zillah/Villein if you agree it's more stable, but add a comment about
the possibility of removing it for other masters depending on the meta... We will have place for accompanying text here.
[13:48] Manit0u: Sure, I'm never opposed to more stability
[13:52] Manit0u: Now I'm tempted to modify it with more villein/zillah and test it tomorrow at a tournament...
[14:01] Manit0u: Updated the deck with more villein and ivory instead of sniper to make it fully attainable with cards
in print