{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/tzimisce-toolbox.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

[20:20] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=b9f9240b79294d3b888a2f4cdf854ce7
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[10:53] Phoenix: How different is it from the Info Highway take on it?
https://vtesinformationhighway.wordpress.com/2019/01/21/tzimisce-starter-den-of-fiends/
Information Highway
Ezra
Tzimisce Starter : Den of Fiends
Welcome to our third in-depth article about the new starter decks, with this time the mighty (and frankly disgusting)
Tzimisce ! Like most of the Tzimisce decks it’s an intercept/fight deck, …

[10:56] Khormag, Prince of Joensuu: I had the idea that the deck would be played more like a bruise bleeder of sorts.
bleeding constantly for twos or threes, and casually blocking/bouncing stuff. Something I have done with a pretty decent
success with the 2-3 group Tzimisce. So not that much of a wall as the Info Highway version.