{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/ventrue-lawfirm.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

19:21] Phoenix: NG: Ventrue Lawfirm https://amaranth.vtes.co.nz/#deck/6e0a9ea6-5431-4651-aefb-322024feff63
[19:31] Phoenix: @Bloodartist (he/him) 's design
[19:32] Phoenix: Also https://vdb.smeea.casa/decks?id=a95f88716c1c4d2884685aab8be29604 , this one by @Benitzcvf .
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[19:32] Phoenix: My guess is we should to try to converge on a single decklists here, what do you think mates? Or is it
worth having two possible builds/variants?
[20:15] Khormag, Prince of Joensuu: Another take on the deck:
https://vdb.smeea.casa/decks?id=4ede57ab56f9429fb86b9fa1778e7a54
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[20:52] Benitzcvf: Well having multiple is not bad if they use different combination of products so one can look what
they have and/or are willing to buy. Mine's literally just 1 x Ventrue V5 + 1 x Ventrue First Blood so it should be
quite affordable.
[21:57] Bloodartist (he/him): Reign of Stanislava would defo be a huge improvement card-wise
[23:50] Phoenix: You have invalid grouping in your decklist @Bloodartist (he/him)
[06:58] Bloodartist (he/him): lol ok, thats what I get for using online tools xD
[06:59] Bloodartist (he/him): Next question: this deck even possible in the way I intended using just these precons..
[07:05] Bloodartist (he/him): How do I remove a vampire from the amaranth list, if reducing it to 0 copies doesnt do it?
[07:19] Bloodartist (he/him): I updated the crypt
https://amaranth.vtes.co.nz/#deck/6e0a9ea6-5431-4651-aefb-322024feff63
Amaranth: Deck Builder for Vampire the Eternal Struggle
Deck building / proxy tool for VTES / Vampire the Eternal Struggle / V:TES
[07:20] Bloodartist (he/him): basically just ditched the g6 ventrue cause they are inferior to old ones...
[08:00] Phoenix: Click minus again
[08:05] Bloodartist (he/him): It is updated, thanks.
[08:47] Spigushe: My design, I have 1GW9VP over 3 games
https://vdb.smeea.casa/decks?id=97c2fb88f74b441aaf8bd5b1cce83dff
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[08:54] Phoenix: OK, good. Thanks all for sharing, now ideally if you could collectively align and get one decklist (or
possible two, like a cheap one and a "final" one), that would be best. I cannot publish just four lists, and it will be
easier for me if you manage to refine a common list. As I pointed out before, I'm convinced the primary goal here is to
get (an example of) the "final/best" decklist. It's what neonates are struggling with, mainly. I'm pretty sur they can
reduce a deck by themselves and we can give pointers on what to cut to make it cheaper. So yeah, do not hesitate to
include everything you think is worth it.
[09:12] Bloodartist (he/him): That would be like herding cats
[09:12] Khormag, Prince of Joensuu: That sounds smart.
[09:29] Bloodartist (he/him): I think I would leave DI's away to avoid rules hassle, but otherwise looks ok..
[09:30] Spigushe: If we are looking to a high-end list to downgrade, i think DI is a goal this series can hope to reach
[09:33] Phoenix: I would vote against "dumbing down" the decklists. The whole point is to get neonates to tournament
level. If they go to the length of reading strategy guides for improvement, let's give them the real deal and not spare
them the hard parts. Totally in favor of including DI wherever it makes sense. It's on DTC too, not like it's hard to
find.
[09:35] Benitzcvf: Well my whole idea was to make cheap one. I'll leave the high-end to you people as I have never
actually played Ventrue Grinder myself. If anyone else is interested in cheap one I'll leave the V5 + First Blood total
card pool here: https://vdb.smeea.casa/decks?id=080d6d06b24a49feb07c5370ce7124d7
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[09:35] Bloodartist (he/him): If thats true, then why bother making separate decklists at all?
[09:39] Spigushe: If I understand correctly, the goal is to start from a tournament level and give tools to start from
BCP and add complexity as complex cards are discussed
[09:43] Phoenix: From what I gathered on a few discussions, some neonates want to build up to tournament level, but
don't want to invest on buying second-hand legacy singles. So they wonder what they can build with printed product. And
a few decklists need to be adapted. Hence the guide. Some are easy, some a neonate might think they can approach but
they'll miss a few key non-reprinted cards, some are just ideas floating around that never made the TWD yet, so good
level Elder inputs and example is the best way to help (Like :toreador: G5/6).
[09:43] Bloodartist (he/him): hmm
[09:44] Bloodartist (he/him): well the reprint bundles and reign of stanislava are good investments when youre trying to
build to tournament level. Playing Stanislava yourself is very risky, since she tends to die if contested
[09:44] Phoenix: But you have a point on the LawFirm. The full top-level decklist is basically available so it shouldn't
be too hard to have a solid "top level" example. And then we can break it down to cheaper versions like what @Benitzcvf
proposed (and have two decklists, one "top", one "cheap")
[09:51] Phoenix: Sure, but that's what neonates always hear nowadays when they ask elders about what they should play if
they want top level. 25th or Parliament. But a lot of them want to go into deckbuilding, and right now the prospects are
a bit grim... many answers are "well, AAA is good but the new :toreador: sucks". Or "sure you can play Creeping
:nosferatu: but you'll need to buy a whole new Crypt with the old Justicar and Princes". So basically what they hear is
"they are two good neonates deck. The rest is inferior. You're welcome to come play in tournament so we can crush you
with our old cards you can't get.", or something along the lines of "well, start with this simple version, nothing too
complicated... you need a few years experience before I show you the real stuff."

But in fact, there are, I'm convinced, a lot of good and powerful options using curent print. Unnamed and Emerald are
easy examples. G5 LawFirm is a top tier one too. Obviously they are likely one or two :malkavian: builds that are
awesome...
The idea I have is that this small guide could be a good reference to demonstrate that they're at least a dozen high
level builds you can now achieve with the current print. And avoid the common pitfalls of over simplifying - we love
this game for its complexity and intricacies. The neonates too 😉

In Paris, we already have two Neonates that make the finals table of tournaments on a regular basis. They're brillant,
but they were helped by Elders that gave them top level deck lists and insights to consider. I hope to provide that for
all on a website
[09:52] Bloodartist (he/him): yeah I meant, in terms of cards to build a deck out of
[09:53] Phoenix: 25th and KoT, combined with V5 and FB, is already a pretty wide range.
[09:53] Bloodartist (he/him): The first blood decks were ok, as long as you buy two and smash them together (cause just
one is illegal decksize)
[09:53] Bloodartist (he/him): for some reason
[09:54] Bloodartist (he/him): wrong channel sry
[10:17] Khormag, Prince of Joensuu: I would also like to point out, that Ventrue Grinder and Lawfirm are different
archetypes. Lawfirm is the aggressive one, that usually forgets the blocking and fortitude aspect completely, in favor
of more Freak Drives, Majesties and a real political aspect, whereas the grinder version relies mainly on dominate
bleeds for aggression and has more focus on blocking (Second trad + intercept masters) and fortitude combat. On the 4 to
6 groups they do play very similar crypts, but are completely different decks to play.
[10:18] Phoenix: Good point, happy to keep them separate and propose the two versions with your explanation there 🙂
[11:06] Bloodartist (he/him): absolutely agree with Khormag on that one
[11:08] Bloodartist (he/him): People often adjust their decks according to individual preferences, so we get these
half-way toolboxy versions of these decks; but the archetypes can be defined like Khormag said.
[12:01] Phoenix: Should your deck seat with the NG Ventrue Grinder instead?
[12:02] Spigushe: I'll share there
[12:15] Phoenix: Your build is a bit in between there, for sure
[12:19] Bloodartist (he/him): which is not wrong in itself. Ventrue decks can be difficult to categorize.
[12:46] Phoenix: Sure
[12:46] Phoenix: And I'll definitely note it in the text there, that there's a full range between the two ideas and that
mixing them is definitely a possibility
[12:52] Spigushe: I think that it fits neither archetypes but the same macrotype. It navigates quite smoothly between
lawfirm, grinder, stickmen that it's hard to categorize
[13:05] Khormag, Prince of Joensuu: And that is the beauty of vtes imo. There are so much options possibilities in
deckbuilding, of which most likely all are valid and "competitive". I have personally built probably close to 10
different decks from the group 4-5 Ventrue 😄
[13:06] Bloodartist (he/him): Have you built roundhousing Hardestadt yet? 😄
[13:06] Phoenix: This is exactly what I want the whole "Neonate Guide" section to reflect. That even with only BCP cards
they are already so many high level possibilities
[13:06] Khormag, Prince of Joensuu: Not roundhousing, but I did play Hardestadt when I started playing! It was one of
the "star vampire" style decks I tried to get to work.
[13:07] Phoenix: Hardestadt/Mithras might really give birth to something. There are very interesting variations.
[13:07] Bloodartist (he/him): Ive played with alastor Lucinde Alastor archon with an assault rifle and three permanent
rushes
[13:08] Bloodartist (he/him): the tricky part is getting the votes thru
[13:09] Khormag, Prince of Joensuu: One of our local players used to play Lucinde and Hardestadt together, playing a lot
of Fortitude prevent and Immortal Grapple + Disarms.
[13:09] Khormag, Prince of Joensuu: It was not fun.
[13:10] Phoenix: Yeah the combat angle is interesting.
[13:10] Bloodartist (he/him): the only thing ventrue usually don't have, is stealth
[13:10] Bloodartist (he/him): Lucinde has inf obf
[13:10] Phoenix: But I also saw a list using the :qui: angle for block/bounce denial, and I do love the idea. Depending
on how the meta shifts with the anarch coming up, it might become very strong.
[13:11] Phoenix: Deed the Heart's Desire and Blood Awakening specifically.
[13:11] Khormag, Prince of Joensuu: Yep, That is definitely interesting. I have seen some Mithras decks, that go heavy
on the :qui: angle, with Seductions and Blind Spot to boost the block denial aspect more.
[13:12] Phoenix: Yes exactly. I haven't yet managed a really satisfactory list though. But this looks strong... and
possibly very frustrating for the prey.
[13:13] Khormag, Prince of Joensuu: Yeah. The decks I have seen also fall a bit short usually. Only managing 1 or maybe
2 ousts before burning out of fuel.
[13:13] Phoenix: Yeah. Defense is not awesome and the lunge is tricky.
[13:14] Khormag, Prince of Joensuu: But the concept is really interesting, and they have been VERY effective with the
first VPs.
[13:14] Khormag, Prince of Joensuu: indeed
[13:15] Phoenix: It tends to take people off guard, that's for sure. But yeah, the endgame is a concern. Maybe we get a
:dom: MMPA vampire in G6 at some point and we can add a few tablets to the whole thing ahah. The vote angle to get
Rumors of Gehenna in play for the tablets is also an idea... But didn't get it to work quite yet.
[13:16] Phoenix: Felt like recursion could be key for it
[13:16] Bloodartist (he/him): I suspect MMPA will be scarce going forward
[13:16] Bloodartist (he/him): vote rumors of gehenna
[13:16] Bloodartist (he/him): name yourself
[13:16] Bloodartist (he/him): ???
Profit?
[13:17] Phoenix: You cannot just cut that from the design space. Because if you do not let new players have access to
top cards and only the elders / people willing to pay $20 an Anson can play those top decks, IMO that goes against all
what BCP is trying to do in terms of making everything available. It's a ban or reprint or renew kind of situation.
[13:18] Khormag, Prince of Joensuu: Yep, and they already printed Ashur and Liquidation, just no other real support yet.
[13:18] Phoenix: So, I wouldn't be surprised by a G6/7 MMPA vampire. Nor by a reprint for Anson/Nana/Cybele. This is
needed or the neonates are just cheated.
[13:19] Benitzcvf: Reprints I would expect. New MMPA vampire very much less so.
[13:28] Khormag, Prince of Joensuu: I don't know. Ashurs tend to balance themselves out a bit if they are played more.
And I could totally see a new MMPA vampire, and a new maybe trochomancy style cards with more common disciplines printed
to go with it. Main problem with recursion still is the lack of ways to interact with it.
[13:28] Phoenix: Funny, I would have said the opposite. But hey, we'll see I guess 🙂
[13:32] Benitzcvf: Personally I see every card should be availed for decent cost even if it was something I would not
like to see more of like MMPA vampires. Making new MMPA vampire is plausible, but then reprinting the old is quite must
then or we'll see the same MMPA vampire in every other game.
[13:34] Khormag, Prince of Joensuu: Unless its made possible to interact with the deck, so you could get punished from
playing MMPA.
[13:34] Phoenix: Sure, every played card will be available at one point or another. BCP told us so many times
[13:36] Phoenix: So, I'm not contesting you'll get an Anson/Nana/Cybele availability at some point. It's just I would
have said there's a possibility for a G6/7 MMPA to be printed before they make the old ones available. After all, it
does not help the newcomers to just reprint the old MMPA vampires - you need to have the whole machinery around it to be
available too. Anson is almost there, but Cybele misses Aksinya and Nana would have to be included in an overall Laibon
series (probably on DTC) - that's a lot of work. Releasing a G7 Anson on the other hand, is just a matter of doing one
illustration and play testing it 🙂
[13:46] Benitzcvf: True enough. I would still reprint the old MMPA vampires at the same time just so that the older
players who haven't got them can use them instead of the potential new one. That would raise the amount of MMAP decks,
but keep that one deck from becoming too contested. I really don't like any of options here. 😕 Eh but that is how it
goes.
[08:39] Phoenix: So, are we converging on a single decklist here, or do I have to choose blindly between the 3? :-p
[10:17] Bloodartist (he/him): I think it would be good to give an idea of the different ways you can go with the ventrue
deck. Thats my opinion
[10:18] Bloodartist (he/him): At least the lawfirm build (not blocking much but multiple actions with votes and dominate
bleeds) vs the sticks-build that has more intercept and prevent and combat.
[10:19] Bloodartist (he/him): I dont think single build exists that we could converge on, or at least agree on. It would
always be slightly misleading
[10:24] Phoenix: There will be a separate "Grinder" build - separate from the Law Firm, with sticks and all. So two
decklists there. But given the number of possibilities / decklists open, I don't think we should present more than one
multiaction vote/bleed a.k.a. "Law Firm" decklist. Spigushe's list is a bit in between and I can just mention the
possibility in writing without presenting a decklist, but then there are still three Law Firm lists here, @Bloodartist
(he/him), @Benitzcvf and @Khormag, Prince of Joensuu
[10:25] Bloodartist (he/him): Its definitely a deck worth of an analysis article. I dont remember did that codex site or
what have already one?
[10:29] Phoenix: There is a "classical" analysis of Ventrue Royalty, but there the Law Firm is listed as a variation
basically. The plan is to make an analysis with decklist for all the NG deck threads we have here, and open a new
section on the Codex for neonates who want to build top decks with BCP only product. So at some point I'll have to
choose a decklist and yours and Khormag's are very close (don't know what happened there with Beni's but it's a bit all
over the place with a crypt of 16 and a library of 120 :-p) I'll write the analysis text that comes with it and come
back to you for feedback once it's online in beta.
[10:33] Bloodartist (he/him): Its a different analysis of "how a deck functions" compared to "how many different ways
you can build a deck" imo
[10:34] Bloodartist (he/him): Ive never played walking sticks in my life, so if you want to discuss the grinder version,
ask Khormag 😄
[10:34] Khormag, Prince of Joensuu: We already had a great discussion on it the other day!
[10:35] Phoenix: yeah, it's a separate thread NG Ventrue Grinder
[10:35] Phoenix: Right now, I just want to see if both of you could converge on the Law Firm list. You have like a 10
cards difference here and it's very close.
[10:36] Phoenix: Like Mary Ann or no Mary Ann, how many reactions, etc.
[10:36] Phoenix: https://amaranth.vtes.co.nz/#deck/6e0a9ea6-5431-4651-aefb-322024feff63 -
https://vdb.smeea.casa/decks?id=4ede57ab56f9429fb86b9fa1778e7a54
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
Amaranth: Deck Builder for Vampire the Eternal Struggle
Deck building / proxy tool for VTES / Vampire the Eternal Struggle / V:TES
[10:36] Khormag, Prince of Joensuu: Yeah. I think the main difference here, is that I didn't think of the money side of
things at all, so my list can get a bit expensive to build, whereas Bloodartist already thought of a build that can be
achieved with a limited amount of product.
[10:37] Phoenix: If you're up to writing a separate article about building for Ventrue with BCP cards, I would happily
host it on the Codex.
[10:40] Khormag, Prince of Joensuu: I do still believe that the build with Mary Anne is a bit worse compared to the
build with only mid caps, which was not true before. But now that we have access to V5 vampires, and you can build a
rounded out and more balanced crypt for midcaps, I firmly believe it to be superior, because it is faster and more
consistent.
[10:41] Khormag, Prince of Joensuu: Reaction amount comes to a preference. If the idea is to make the decks for newer
players, having a bit more reactions can be a good thing. As it requires a bit less thought on how you use them.
[10:43] Khormag, Prince of Joensuu: I also just noticed that my list had a Channel 10 there... It is not supposed to be
there 😄 I just copied the list from the grinder version, and started making changes, but apparently missed it...
[10:46] Phoenix: I try to avoid all tendencies of "building for newer players" ideas I can have while putting this
together. Price is a factor, and a few tips about how to make a cheaper version work will be useful. Dumbing down the
list because of what we perceive would be easier to play isn't a good thing IMO.
[10:46] Bloodartist (he/him): Its basically a question of is the ventrue deck allowed to do actions or not. If they get
uninterrupted actions, Im sure Mary Anne can grind her way to victory. But if its an intercept-heavy neighborhood, then
youre better off spending as little pool as possible (and play the sticks to exhaust opponents resources). I personally
like the lawfirm cause I like to play "invest big, win big" with my pool; Its very exciting xD
[10:47] Bloodartist (he/him): And as mentioned before, the lunging potential (how much pool damage they can inflict
within one turn) of lawfirm is humongous
[10:48] Khormag, Prince of Joensuu: I don't think if thats that much of dumping down, and more of making sacrifices. The
deck can have a tendency to jam a bit with too much reactions, which leads to a situation where I usually sacrifice a
bit of defence infavor of more consistent aggression. But that might not be a good thing always.
[10:48] Bloodartist (he/him): deckbuilding is a lot about making sacrifices.
[10:52] Phoenix: If we cannot converge, I'll use Khormag's list as support and add a few variation ideas out of Blood's
list (Mary Ann, Bonding, more Seduction instead of Change of Target, more reactions, ...)
[10:54] Bloodartist (he/him): Yeah I sort of agree that the basic list should probably have a smaller crypt. Im an odd
bird for playing with Mary Anne, but Ive had success with her. (Only in casual games though) Govern, freak, Mary Anne
ability, freak, enchant kindred, thats bloating 7 free pool in one turn.
[10:55] Bloodartist (he/him): And Mary Anne doesnt need to target younger
[10:55] Khormag, Prince of Joensuu: I wouldn't personally play Bonding here either. The fact is always that it just
loses to conditioning in effectiveness everytime, and the +1 stealth is not that relevant, when you don't have any
stealth to begin with. You have to grind your actions trough anyways.
[10:55] Bloodartist (he/him): Its more about having to wait longer to have the right opportunity to bleed, and either
can always be bounced.
[10:56] Bloodartist (he/him): Its simply more probable to get a +1 stealth bleed thru than 0 stealth bleed
[10:56] Khormag, Prince of Joensuu: Yeah, I used to play with Mary Anne too, before V5. It is definitely really good
that way too. But I much rather take the faster start with lower capacities nowdays.
[10:56] Khormag, Prince of Joensuu: You also have larger selection of vampires for the crypt, which makes it rarer to
have multiples on a starting crypt.
[10:57] Bloodartist (he/him): Ultimately we end up going in circles trying to determine what is the right build, because
there is none 😄
[10:58] Bloodartist (he/him): Just different ways to build the same archetype
[10:58] Khormag, Prince of Joensuu: Its true, which is why I included more tap effects in the deck. But yeah, it is kind
of a playstyle difference too.
[10:58] Phoenix: Thanks for both your feedback 🙂 It will be good material for the accompanying text 🙂