{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/ventrue-grinder.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ ventrue }} Ventrue Grinder</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
anarch_troublemaker=card("Anarch Troublemaker"),
daring_the_dawn=card("Daring the Dawn"),
deflection=card("Deflection"),
direct_intervention=card("Direct Intervention"),
dominate_kine=card("Dominate Kine"),
entrancement=card("Entrancement"),
force_of_personality=card("Force of Personality"),
giants_blood=card("Giant's Blood"),
govern_the_unaligned=card("Govern the Unaligned"),
heart_of_nizchetus=card("Heart of Nizchetus"),
hidden_strength=card("Hidden Strength"),
island_of_yiaros=card("Island of Yiaros"),
lodin=card("Lodin (Olaf Holte)", "Lodin"),
papillon=card("Papillon"),
pentex_subervsion=card("Pentex™ Subversion"),
redirection=card("Redirection"),
retribution=card("Retribution"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
second_tradition_domain=card("Second Tradition: Domain"),
seduction=card("Seduction"),
the_rack=card("The Rack"),
touch_of_clarity=card("Touch of Clarity"),
ventrue_headquarters=card("Ventrue Headquarters"),
weighted_walking_stick=card("Weighted Walking Stick"),
anniversary=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-25th-anniversary/", _("25th Anniversary")),
anti_ventrue_grinder=link("/archetypes/anti-ventrue-grinder", _("!Ventrue Grinder")),
den_of_fiends=external("https://www.blackchantry.com/products/product-den-of-fiends/", _("Den of Fiends")),
fb_nosferatu=external("https://www.blackchantry.com/products/current-products/first-blood-nosferatu/", _("First Blood: Nosferatu")),
fb_ventrue=external("https://www.blackchantry.com/products/current-products/first-blood-ventrue/", _("First Blood: Ventrue")),
grind=link("/strategy/articles/basic/blood-pool-and-grinding-beads", _("grind")),
keepers_of_tradition_2=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-2/", _("Keepers of Tradition 2")),
libertine_ball=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-libertine-ball/", _("Libertine Ball")),
main_article=link("/archetypes/gentlemen-with-sticks", _("main article")),
meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
pact_with_nephandi=external("https://www.blackchantry.com/products/product-pact-with-nephandi", _("Pact with Nephandi")),
parliament_of_shadows=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-parliament-of-shadows/", _("Parliament of Shadows")),
promo_pack_3=external("https://www.blackchantry.com/products/vampire-the-eternal-struggle-fifth-edition/product-promo-pack-3/", _("Promo Pack 3")),
v5_nosferatu=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-nosferatu/", _("V5 Nosferatu")),
v5_ventrue=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-ventrue/", _("V5 Ventrue"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck using Ventrue {{ ventrue }} Princes.
</p>
<p>
    The idea is to use the Camarilla royalty access to {{ second_tradition_domain }} for decent block capability,
    while using {{ DOM }} for its usual bleed & bounce package. The combat module relies on {{ FOR }} for prevention,
    with {{ weighted_walking_stick }} for additional damages.
</p>
<p>
    The plan is, as usual, to get the highest capacity vampire out first to be able to play {{ govern_the_unaligned }}
    at superior {{ DOM }} to get more vampires out cheap and fast. Once enough of them are out, the plan is to use
    {{ govern_the_unaligned }} at inferior {{ dom }} to bleed, combined with a few cards to lock minions
    ({{ anarch_troublemaker }}) and prevent or deny block attempts ({{ pentex_subervsion }}, {{ force_of_personality }},
    {{ seduction }}, {{ daring_the_dawn }}).
</p>
<p>
    On the defence side, the deck has a few votes to slow down or mitigate other vote decks, coupled with
    {{ deflection }} against bleeds and, of course, a good number of {{ second_tradition_domain }} to block
    problematic actions. When combat happens, the deck is expected to hold steady with prevention like
    {{ hidden_strength }}, {{ lodin }}'s ability and other {{ FOR }} cards, while taking a bit of blood out of
    the opposing minions with {{ weighted_walking_stick }}.
</p>
<p>
    As suggested by the deck name, the point is to {{ grind }} the opponents blood and pool through bleed, vote and
    combat, trying to secure a definitive edge in blood and pool while the game unfolds. Ideally, the deck
    should survive until it finds itself down to a three players game with exhausted opponents struggling for blood.
</p>
<h2>Tweaks and variants</h2>
<p>
    You might want to check the {{ main_article }} for additional ideas and tips.
</p>
<p>
    If you got access to legacy cards, replacing a couple of {{ deflection }} with {{ redirection }} to be able to
    handle the cancellation of the first ({{ direct_intervention }} or {{ touch_of_clarity }}, for example) is a great
    idea. {{ island_of_yiaros }} is also a great inclusion in this deck, if you can find one or get one in a tournament
    (it's part of the {{ promo_pack_3 }} bundle). Finally, {{ retribution }} would also be a great inclusion.
</p>
<p>
    There are a number of minute adjustments one can make to this deck depending on the {{ meta }}.
    {{ heart_of_nizchetus }} is a very good fit in such a toolbox, {{ papillon }} and {{ the_rack }} can be considered
    depending on how much you think they could help (contest and theft might be an issue with those).
    One or two {{ direct_intervention }} can prove useful, {{ scourge_of_the_enochians }} is a very common anti-swarm
    counter in this deck, and {{ dominate_kine }} is often seen, as a way to destroy a problematic hunting ground
    in the late game. {{ giants_blood }} is a very common inclusion, but it is so much
    played these days that it might be a dead card more often than not. {{ ventrue_headquarters }} is a good defensive
    card if you expect vote decks. All in all, you should definitely adjust the decklist to your expectations:
    the version presented here includes is fit for an environment with a good number of allies,
    with {{ entrancement }} and {{ force_of_personality }}. In all cases, take care to keep the deck balanced
    when you do these substitutions and try to stay around the 80 cards count.
</p>
<p>
    Although the deck relies on {{ second_tradition_domain }} instead of {{ AUS }} it is, in a sense,
    very close to the {{ anti_ventrue_grinder }} archetype.
</p>
<h2>What to buy</h2>
<p>
    {{ v5_ventrue }}, {{ v5_toreador }} and {{ keepers_of_tradition_2 }}, plus {{ den_of_fiends }},
    {{ libertine_ball }}, {{ pact_with_nephandi }} and {{ fb_nosferatu }}.
    A few additional cards can be traded or found in other bundles like {{ anniversary }}, {{ parliament_of_shadows }}
    and {{ v5_nosferatu }}.
</p>
{% endtrans %}
{% endblock %}