{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/ventrue-lawfirm.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ ventrue }} Ventrue Lawfirm</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
anarch_troublemaker=card("Anarch Troublemaker"),
anarchist_uprising=card("Anarchist Uprising"),
awe=card("Awe"),
blood_doll=card("Blood Doll"),
bonding=card("Bonding"),
carlton_van_wyk=card("Carlton Van Wyk"),
change_of_target=card("Change of Target"),
creepshow_casino=card("Creepshow Casino"),
daring_the_dawn=card("Daring the Dawn"),
dark_influences=card("Dark Influences"),
deflection=card("Deflection"),
direct_intervention=card("Direct Intervention"),
dominate_kine=card("Dominate Kine"),
entrancement=card("Entrancement"),
force_of_personality=card("Force of Personality"),
freak_drive=card("Freak Drive"),
giants_blood=card("Giant's Blood"),
govern_the_unaligned=card("Govern the Unaligned"),
justicar_retribution=card("Justicar Retribution"),
kine_resources_contested=card("Kine Resources Contested"),
krcg_news_radio=card("KRCG News Radio"),
majesty=card("Majesty"),
mary_anne_blaire=card("Mary Anne Blaire"),
misdirection=card("Misdirection"),
papillon=card("Papillon"),
parity_shift=card("Parity Shift"),
redirection=card("Redirection"),
second_tradition_domain=card("Second Tradition: Domain"),
seduction=card("Seduction"),
the_palace_of_versailles=card("Elysium: The Palace of Versailles", "The Palace of Versailles"),
ventrue_headquarters=card("Ventrue Headquarters"),
vessel=card("Vessel"),
voter_captivation=card("Voter Captivation"),
anthology=external("https://www.blackchantry.com/products/legacy/bundles/product-anthology-1/", _("Anthology 1")),
lunge=link("/strategy/fundamentals", _("lunge"), "lunge"),
main_article=link("/archetypes/gentlemen-with-sticks", _("main article")),
meta=link("/strategy/articles/advanced/the-game-of-the-game", _("meta")),
keepers_of_tradition_2=external("https://www.blackchantry.com/product-keepers-of-tradition-reprint-bundle-2/", _("Keepers of Tradition 2")),
v5_toreador=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-toreador/", _("V5 Toreador")),
v5_ventrue=external("https://www.blackchantry.com/products/legacy/vampire-the-eternal-struggle-fifth-edition/fifth-edition-ventrue/", _("V5 Ventrue")),
ventrue_grinder=link("/archetypes/neonate/ventrue-grinder", _("Ventrue Grinder")),
anniversary=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-25th-anniversary/", _("25th Anniversary")),
libertine_ball=external("https://www.blackchantry.com/products/legacy/preconstructed-decks/product-libertine-ball/", _("Libertine Ball"))
%}
<h2>Highlights</h2>
<p>
    This is a <em>vote & bleed</em> deck using Ventrue {{ ventrue }} Princes.
</p>
<p>
    This deck pushes the Ventrue {{ ventrue }} advantages to their best: use titles and {{ PRE }} to
    vote then {{ FOR }} to unlock thanks to {{ freak_drive }}, and bleed hard with {{ DOM }}.
</p>
<p>
    The plan is to get the highest capacity vampire out first to be able to play {{ govern_the_unaligned }} and
    {{ enchant_kindred }} at superior. You can even do both if you manage to unlock with {{ freak_drive }}.
    Once enough vampires are out, bleed and vote, using {{ majesty }} (when blocked) and {{ freak_drive }} to unlock
    and act in between.
</p>
<p>
    On the defence side, the deck uses just a few {{ deflection }}. It also includes a couple
    of {{ second_tradition_domain }} for tactical use and a {{ carlton_van_wyk }} just in case.
    It also has a pair of {{ entrancement }} against allies. {{ parity_shift }}, {{ voter_captivation }} and
    {{ vessel }} can provide a bit of bloat. Against combat, {{ majesty }} and {{ force_of_personality }} provide
    ample combat ends to keep the vampires safe.
</p>
<p>
    On the offense side, the whole point of the deck is to use the multiple actions offered by
    {{ freak_drive }}, {{ majesty }} and {{ change_of_target }} to overrun the prey's defenses.
    The idea is to build a strong {{ lunge }} hand, combining votes and bleed for a tremendous ousting power.
    Then, when the prey is at its most vulnerable, helped by block denial cards, deliver a maximum of damage in a
    single turn.
</p>
<h2>Tweaks and variants</h2>
<p>
    You might want to check the {{ main_article }} for additional ideas and tips. Overall, this deck is pretty close to
    the {{ ventrue_grinder }}, but it forgoes block and combat to focus on forward damage. Anything in the middle is
    possible, although a clear plan with a strong focus tends to yield better results.
</p>
<p>
    If you got access to legacy cards, replacing a couple of {{ deflection }} with {{ redirection }} can help you
    handle cancellation. A couple of {{ awe }} could be a nice addition since it combines so well
    with {{ voter_captivation }}. {{ justicar_retribution }} is also worth considering if you expect some
    <em>Inner Circle</em>.
</p>
<p>
    There are a lot of possibilities to adjust this deck depending on the {{ meta }} and your preferences.
    {{ blood_doll }} could replace the {{ vessel }} for a bit more pool gain. {{ giants_blood }} is also common.
    {{ papillon }} could easily be included if you're not too concerned about contesting it.
    Doubling the {{ ventrue_headquarters }} or adding {{ the_palace_of_versailles }} can help against other vote decks.
    {{ dark_influences }} could help, since it can prevent a rogue {{ direct_intervention }} to stop your lunge.
</p>
<p>
    The whole modifier module can be adjusted depending on your style and expectations. {{ bonding }} is a very common
    inclusion. More {{ seduction }} could fit in, but you might just end up cycling them most of the time.
    {{ change_of_target }} is interesting, but could also be cut in favor of something else.
    {{ dominate_kine }} is an option if you expect permanent intercept locations like
    {{ krcg_news_radio }}, and combines well with {{ bonding }}. All in all, it is a question of synergy:
    if you go for more pool gain with {{ blood_doll }}, you might want to add {{ papillon }} too. If you go for a
    bit of stealth with {{ bonding }}, maybe {{ dominate_kine }} becomes more interesting and {{ creepshow_casino }}
    could be considered.
</p>
<p>
    The crypt, finally, is a matter of debate. {{ mary_anne_blaire }} can be a great inclusion here, and also work as a
    star for the deck. On the other hand, her high capacity makes the whole deck slower and, since it is built
    for a strong forward offensive, this can be a huge downside.
</p>
<h2>What to buy</h2>
<p>
    {{ v5_ventrue }}, {{ keepers_of_tradition_2 }}, {{ anniversary }} and {{ v5_toreador }}.
    A few additional cards can be traded or found in other bundles like {{ libertine_ball }} and {{ anthology }}.
</p>
{% endtrans %}
{% endblock %}
