{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/neonate/ventrue-grinder.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

20:13] Khormag, Prince of Joensuu: https://vdb.smeea.casa/decks?id=c36089c65b7b43a0ad098eccfd52e115
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[12:02] Spigushe: My design, I have 1GW9VP over 3 games
https://vdb.smeea.casa/decks?id=97c2fb88f74b441aaf8bd5b1cce83dff
VDB - Card Search & Deck Building
VTES Deck Building & Card Search
[12:14] Phoenix: Ideas/Feedback:
- Heart of Nizchetus shoudl always be in those IMO :-p
- Many Master inclusions I like on Spigushe side: Golconda, 2x DI against block denial, Giant's Blood, Papillon, Anarch
Troublemaker
- What about Blind Spot? Might be a good Pentex/Misdirection alternative don't you think?
- I do prefer the minion cards on Khormag version though - a more focused feeling, and ~80 is probably better than 90 to
get a better flow on these juicy Unique cards
- I like the idea of including 1x Dominate Kind. A few opposing locations are good to destroy
- I'd vote for Khormag crypt. I think the stealth angle (Gerald, Monastery, Bonding) with a bit more votes is
interesting, but I'm not convinced it's the strength of the deck here. Faster setup with <= 8 vampires looks more
    stable, and the kill is almost always block denial / lock effects anyway. IMO although stealth might be a bit useful
    on some tables, most of the time it'll backfire on a bounce or an Archon or won't be enough to change anything. - On
    Khormag side, given the list of worthy Master that could be added, I'd consider cutting the Headquarters since there
    aren't that many votes anyway. - Guardian Angel? Kevlar Vest? [12:34] Khormag, Prince of Joensuu: Blind spot is a
    bit weak with alot of different vampires, as it only affects the actions of one of your guys, and as you dont really
    have stealth, it can sometimes be hard to capitalize on that. I also would never play Kevlar Vest in this deck (or
    the Antitribu Variant) as its just an extra action with no real actual benefit, as you are anyways going pretty
    heavy on the fortitude combat. Guardian Angel is definitely an option, but as above, you don't really benefit from
    the extra prevent, and the intercept it provides is for a "wrong" action. You rarely want to actually block bleed
    actions, you'd much rather block, get the one stealth card from your predator and bounce the bleed. So I would
    rather just play any intercept location. Ventrue Headquarters is more of a defence card here. It allows you to not
    run any Delaying Tactics. I would also definitely play 1x Direct Intervention, and most likely 1x Retribution, but I
    didn't want to include any DTC cards, and I don't think Retribution is available anywhere. If I had the option, I
    would also run 1 or 2 copies of Redirection, to play around aggressive DI and other bounce cancelling cards. (And to
    boost the bleed defence even more) I don't want to sound arrogant or anything, but I would say that my list is very
    close to a perfect, with the cards that are available. There are some preference things so you can change the
    numbers around etc. And obviously metagame silver bullets to play. But I have played this deck and the Antitribu
    version very extensively, something like 100+ games. So I would say that I have some experience with the archetype.
    [12:39] Khormag, Prince of Joensuu: My experience can also make me a bit blind for some things. But I would say that
    if you are planning to go to a tournament, my list would be something I would give anyone happily, and expect them
    to do well with it. [12:42] Phoenix: Thanks for your answers mate, that's very illuminating and will provide the
    stuff I need to write the text that will go with the example here 🙂 [12:43] Phoenix: I'm curious about the Master
    module though... Golconda is debatable but Giant's Blood would be an auto-include here for me. Same thing for
    Papillon over the Hunting ground [12:44] Phoenix: And I'm still interested on your take on 1x Heart and 1x Dominate
    Kine. I know you don't like the Heart because it's time consuming, but it's an auto-include for many top
    deckbuilders here in France in that sort of deck. And the Dominate Kine looks like a very neat silver bullet
    inclusion here for me. And on a final note, what about Scourge of the Enochians? I would have considered it - are
    weenie not an issue because you just grind them down easily? [12:47] Khormag, Prince of Joensuu: Problem with
    Giant's Blood is that its just wasted card slot way too often. And to my Experience you can't really afford that
    with master cards. Papillon is defninitely an option. But it is played more than the Ventrue Hunting Ground, so it
    runs a bit more of a risk with contesting, which to me doesn't justify the extra pool investment. Papillon also
    can't give the blood to all vampires. [12:47] Khormag, Prince of Joensuu: Heart is definitely very good in this
    build, as you lack Blackhorse Tanner. So it is just one of those preference points. [12:48] Khormag, Prince of
    Joensuu: Dominate Kine is also kind of just my preference, it can be played, but to me its kind of hard to justify
    the cost of 2 blood. [12:49] Phoenix: Hm, only the two low caps can't benefit from Papillon. And 2 blood/turn is so
    much more than 1/turn that I always felt this was well worth the extra pool. But you're right about the contest
    issue. Although I'd say I might be happy contesting it since we're with a grinder here [12:49] Khormag, Prince of
    Joensuu: Scourge goes to the silver bullet category, you can play it if you expect to play against breed decks, and
    it is definitely more necessary here, than in the Antitribu variant, as you lack the inbuilt intercept of Neighbor
    John. [12:50] Phoenix: Yeah good point. Okay, I'll list Scourge and D Kine as possible inclusion alongside. But I'd
    consider adding the Heart to your list directly if you're OK. [12:50] Khormag, Prince of Joensuu: Sure thing!
    [12:53] Khormag, Prince of Joensuu: But yeah, Papillon is definitely very good. It's just that you usually lack
    blood the most with the smaller non titled guys anyway, as they are less effective with all the cards you play. And
    its often very important to have atleast 2 blood on them, as they often do most of the bleeding work. [12:53]
    Phoenix: And thanks again for the discussion :-p I get it rolling mainly to have some pointers on what to write
    alongside the decks. It's always useful for beginners I think to have a few pointers and considerations about
    possible variants/changes in a deck. Especially for this guide, very neonate-oriented, I'm sure the text content can
    be at least as interesting as the decklists themselves 🙂 And I'm in no way good enough to invent all of the content
    by myself ^_^ it's the answers from you deckbuilders to my feedback that help me build it correctly ahah 🙂 [12:53]
    Khormag, Prince of Joensuu: Also you often want a steady flow of resources in the later stages of the game, as its
    the main resource you can easily run out of, as you often have to go trough multiple combats during a round. [12:54]
    Khormag, Prince of Joensuu: So I usually opt to risk things as little as I can with my blood management. 😄 [21:42]
    TheVoice: @Khormag, Prince of Joensuu No love for the Island of Yiaros? Seems like it would be fine addition to the
    Grinder. [21:48] Khormag, Prince of Joensuu: Its definitely a great card, but it doesn't meet the requirements here,
    as there is no reprint of it yet as far as I know. But if it would be available I would play one for sure. [21:55]
    TheVoice: I see, thanks! Would you change anything else in the deck? [22:40] Spigushe: I've tested it and it did
    disappoint me more often than not. There is not surprise effect and it was not what I was looking for [23:16]
    Phoenix: Might deserve a note though - it's in promo pack 3, right? [23:16] Phoenix: So you can get it if you go to
    a tournament, nice incentive :-p [23:16] Khormag, Prince of Joensuu: Not really. And as Spigushe said, even Island
    of Yiaros is not required. It can be really fun with Lodin, but it still costs 2 pool and a master slot. I have had
    some good experiences with it, but I have also played without it many times. Something that I have used in these
    kind of decks is Retribution, it can punish bleeders pretty hard, but can also be a bit "win more" sometimes. You
    could also try to run some Majesties, like 2-4, replacing some of the fortitude prevent cards, as it can be really
    nice as an extra way of unlocking and as yet another way to control combat. But it is not necessary either. There is
    a lot of room to change a card or two around in the deck. It usually comes down to personal preference what you
    include. [23:25] Khormag, Prince of Joensuu: Something I might want to look for is a couple of Redirection. I
    usually tend to run something like 7 Deflection and 2 Redirection (or 6/2 split), because it opens up the ability to
    play around some bounce cancelling cards. Its also a great card to include when expecting a more bleed oriented meta
    game, to increase the amount of bounce cards. Other problem solving cards that can be played are Scourge of the
    Enochians and The Kiss of Ra. But those are also very meta game dependent. The version here is built with the
    expectation of some ally decks, so Entrancement and Force of Personality are included. But those could be removed
    and changed to something else too. One card that can also be included to counter ally strategies is Slaughtering the
    Herd (for its inferior effect), but as you have access to Presence, I usually prefer Entrancement + Force of
    Personality. [23:33] Khormag, Prince of Joensuu: When changing cards around, the one thing I think that should be
    kept in mind, is to keep the deck balanced, so I would aim to something like: 12-17 Master cards; 14-19 Action cards
    (including Political Actions, Allies, Equipment etc); 10-16 Action Modifiers; 18-22 Reaction; 16-20 Combat. And I
    would try to keep the deck size around 78-84 cards. You also want at least 10 Govern the Unaligned, so you can get
    the early acceleration from it and still have enough left for steady bleeding pressure.