{% extends "layout.html" %}

{% block head %}
{{ super() }}
<!-- Adding needed scripts -->
<script src="{{ url_for('static', filename='js/dC.js') }}"></script>
{% endblock %}

{% block content %}
<h1>Fundamentals</h1>
<h2 id="bleed">Bleed</h2>
<p>
    The root of the game win is to destroy the prey’s pool and the obvious way to do it is to bleed.
    Numerous cards in the game can enhance bleed.
    <i>d</i> and <i>r</i> give very strong bleed decks, but a swarm of minions also get the job done pretty fast.
    ¾ of edible decks will kill their prey by bleeding it.
</p>
<p>
    Bleed modifiers like {{ card("Conditioning") }}
    should be played <strong>after the prey has declined to block</strong>.
    This way, they are more likely to get through.
</p>
<div class="tip">
    <h3>Limited and unlimited modifiers</h3>
    <p>
        Bleed modifiers are almost all <em>"limited"</em>, meaning one can play only one modifier increasing
        the bleed amount during a bleed action. However, a few cards provided non-limited bleed increase:
        {{ card("Leverage") }},
        {{ card("Command of the Beast") }} and
        {{ card("Quicksilver Contemplation") }}
        are played, more expensive ones are not.
    </p>
</div>
<h3 id="bounce">Bounce</h3>
<p>
    On the defence side, <strong>bounces</strong> (reactions that change the target of a bleed)
    should be played only <strong>after the bleed amount has been confirmed</strong>
    by the predator, after block has been declined.
    This way the modifier, if any, is likely to be redirected too.
    This is because once the predator confirms the bleed amount, he actually passes on his opportunity
    to play a modifier and do not get another opportunity if the prey does not play a modifier themselves.
    Only a few cards allow to <em>bounce</em> bleeds:
</p>
<ul>
    <li>
        {{ card("Lost in Translation") }}
        (younger vampires or allies),
    </li>
    <li><i>d</i> with {{ card("Deflection") }},</li>
    <li>
        <i>D</i> with {{ card("Redirection") }} and
        {{ card("Murmur of the False Will") }},
    </li>
    <li>
        <i>A</i> with
        {{ card("Telepathic Misdirection") }} and
        {{ card("My Enemy's Enemy") }}
    </li>
    <li>
        Imbued with {{ card("Determine") }}
    </li>
</ul>
<p>And only a few cards can counter these <em>bounces</em>:</p>
<ul>
    <li>
        {{ card("Touch of Clarity") }} (<i>e</i>)
        can counter <i>d</i> bounces,
    </li>
    <li>
        {{ card("Hide the Mind") }} (<i>O</i>),
        {{ card("I am Legion") }} (<i>oy</i>) and
        {{ card("False Resonance") }} (<i>k</i>)
        can counter <i>A</i> bounces,
    </li>
    <li>
        {{ card("Contingency Planning") }}
        can counter any bounce,
    </li>
    <li>
        {{ card("Two Wrongs") }} and
        {{ card("Terra Incognita") }} (Laibon)
        can counter bounces when being the target,
    </li>
    <li>
        {{ card("Narrow Minds") }}
        is often used to deter bounces, even if it may not be enough to prevent them altogether.
    </li>
</ul>
<div class="tip">
    <h3>Archon limit</h3>
    <p>
        A bleed for more than 3 exposes the minion to the possibility of
        {{ card("Archon Investigation") }}.
        Because of this card, 3 has become the <strong>archon limit</strong>:
        some decks will make sure to stay under it to avoid risking their minions,
        others will consider their minions expendable and get happily over it.
    </p>
</div>
<h2 id="politics">Politics</h2>
<p>
    The other option to deplete the prey’s pool is to use political actions like
    {{ card("Kine Resources Contested") }}.
    The advantage of this strategy is the +1 stealth on the action. The disadvantage is that it is not directed:
    not only the prey but the predator can block, and the whole table can vote.
</p>
<p>
    The terms or the referendum are announced <strong>once the action resolves</strong>.
    One can negotiate the vote as the action is announced, but only after blocks are declined
    and the action succeeds does one choose the official terms of the referendum —
    and eventually betray everyone. The terms must be stated clearly once the action resolves,
    if just to confirm the Methusalah holds true to its word.
</p>
<p>
    In order to pass their referendum successfuly, Methusalah will try to achieve a <strong>vote lock</strong>,
    meaning they have more votes on the table than the sum of all other players votes.
    Multiple techniques can be used to this effect:
<ul>
    <li>
        Using modifiers or master cards to get more votes:
        <i>r</i> has the most options, but other disciplines offer good modifiers,
        like <i>m</i> {{ card("Madrigal") }} or
        <i>?</i> {{ card("Hall of Hades' Court") }}, as do some clans
        like the Ventrue <img src="{{ url_for('static', filename='img/icons/clan-ventrue.svg') }}"> with
        {{ card("Ventrue Headquarters") }}
        or the Followers of Set <img src="{{ url_for('static', filename='img/icons/clan-followers-of-set.svg') }}"> with
        {{ card("Ferraille") }}.
    </li>
    <li>
        Using {{ card("Praxis Seizure") }},
        {{ card("Crusade") }} or
        {{ card("Fee Stake") }} cards.
    </li>
    <li>
        Getting multiple big capacity vampires with a lot of votes out, like Inner Circles and Justicars.
        This is usually achieved using
        {{ card("Zillah's Valley") }} and
        {{ card("Information Highway") }}, together with
        {{ card("Villein") }} or
        {{ card("Minion Tap") }}.
    </li>
    <li>
        Using an effect to give votes to all members of clan, like
        {{ card("Legacy of Pander") }}
        (<img src="{{ url_for('static', filename='img/icons/clan-pander.svg') }}">),
        {{ card("The Eldest Are Kholo") }}
        (<img src="{{ url_for('static', filename='img/icons/clan-ravnos.svg') }}">),
        {{ card("Foundation Exhibit") }}
        (<img src="{{ url_for('static', filename='img/icons/clan-toreador-anti.svg') }}">),
        {{ card("Conductor") }}
        (<img src="{{ url_for('static', filename='img/icons/clan-daughters.svg') }}">) or
        {{ card("Amaravati") }}
        (<img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">).
        This needs to be combined with ways to bring many vampires of that clan into play,
        using actions like {{ card("The Embrace") }} or Master cards like
        {{ card("Effective Management") }} or
        {{ card("Information Highway") }}.
    </li>
</ul>
</p>
<h3 id="delay">Delay</h3>
<p>
    Aggressive vote decks will pass multiple votes in a single turn, but this has led to the use of
    {{ card("Delaying Tactics") }} as a defence.
    This means diversity in votes is needed to avoid loosing a whole turn of actions just because
    {{ card("Kine Resources Contested") }}
    has been delayed.
<div class="tip">
    <h3>Damage dealing votes</h3>
    <p>
        Only a few votes deal substantive pool damage, and they often have restrictions.
        Some votes dealing less damage are not listed here.
    </p>
    <ul>
        <li class="card" onclick="dC('kineresourcescontested')">Kine Resources Contested</li>
        <li class="card" onclick="dC('conservativeagitation')">Conservative Agitation</li>
        <li>
            {{ card("Parity Shift") }}
            (Prince or Justicar, only on a Methusalah with more pool)
        </li>
        <li class="card" onclick="dC('neonatebreach')">Neonate Breach</li>
        <li class="card" onclick="dC('domainchallenge')">Domain Challenge</li>
        <li>
            {{ card("Ancilla Empowerment") }} and
            {{ card("Anarchist Uprising") }}
            (both have the same effect)
        </li>
        <li>
            {{ card("Reins of Power") }}
            (Big capacity vampires)
        </li>
        <li>
            {{ card("Reckless Agitation") }}
            (Independant or Anarch)
        </li>
        <li>
            {{ card("Lily Prelude") }}
            (<i>m</i>)
        </li>
        <li>
            {{ card("Revolutionary Council") }}
            (Baron)
        </li>
    </ul>
</div>
</p>
<h2 id="AB">A&B</h2>
<p>
    One can either choose to buff up attack or to keep minions and cards to defend oneself:
    the stronger the defence, the weaker the attack, so it’s a question of balance in every deck.
    Whatever the balance though, a deck power is fundamentally about « A&B »,
    the number of <strong>A</strong>ctions & <strong>B</strong>locks in a single turn.
    In any case, the A&B must be as high as possible for the deck to be effective.
</p>
<p>
    The most obvious way to increase A&B is to use <strong>wake</strong> reactions like
    {{ card("Wake with Evening’s Freshness") }}.
    Most decks use this technique, although some forward-only builds will not, for lack of decent defensive tools.
</p>
<div class="tip">
    <h3>Wake & unlock reactions</h3>
    <p>
        A few cards provide wake or unlock effects during the opponents turn,
        letting locked vampire react to and intercept actions.
    </p>
    <ul>
        <li class="card" onclick="dC('onthequivive')">On the Qui Vive</li>
        <li class="card" onclick="dC('wakewitheveningsfreshness')">Wake With Evening's Freshness</li>
        <li class="card" onclick="dC('forcedawakening')">Forced Awakening</li>
        <li class="card" onclick="dC('fillip')">Fillip</li>
        <li class="card" onclick="dC('eludingthearmsofmorpheus')">Eluding the Arms of Morpheus</li>
        <li>
            {{ card("Second Tradition: Domain") }}
            (Prince or Justicar)
        </li>
        <li>{{ card("Eternal Vigilance") }} (titled Sabbat)</li>
        <li>{{ card("Under Siege") }} (titled Sabbat)</li>
        <li>{{ card("Rat's Warning") }} (<i>i</i>)</li>
        <li>{{ card("Guard Dogs") }} (<i>i</i>)</li>
        <li>{{ card("Eyes of Argus") }} (<i>A</i>)</li>
        <li>{{ card("Predator's Communion") }} (<i>W</i>)</li>
        <li>{{ card("Read the Winds") }} (<i>AI</i>)</li>
        <li>{{ card("Speak With Spirits") }} (<i>Z</i>)</li>
        <li>
            {{ card("Sense the Savage Way") }}
            (Big capacity <i>I</i>)
        </li>
        <li>{{ card("The Mole") }} (<i>i</i> anarch)</li>
        <li>{{ card("Netwar") }} (<i>k</i> anarch)</li>
        <li>{{ card("Angel of Berlin") }} (Imbued)</li>
    </ul>
</div>
<p>
    Another easy way to increase A&B is to use a <strong>weenie</strong> crypt:
    many small vampires for more actions and blocks.
    Their lower capacity mean they are less powerful individually, but the higher A&B is worth it.
</p>
<p>
    Other methods to get more minions also increase A&B, like recruiting <strong>Allies</strong>
    or using <strong>breed</strong> cards like
    {{ card("The Embrace") }} to create new vampires.
</p>
<p>
    The last way to increase A&B is to use modifiers to engage in multiple actions with a single minion.
    This strategy is called <strong>drive</strong> in honour of
    {{ card("Freak Drive") }},
    one of the most played card to achieve this.
    Because the <strong>NRA</strong> (<strong>N</strong>on <strong>R</strong>epeatable <strong>A</strong>ction) rule
    states that no action can be undertaken twice in the same turn by the same minion,
    this strategy has to be combined with a matching diversity in actions.
</p>
<div class="tip">
    <h3>Unlock modifiers</h3>
    <p>
        Only a few cards allow a vampire to unlock during the turn and undertake multiple actions.
    </p>
    <ul>
        <li>{{ card("Freak Drive") }} (<i>F</i>)</li>
        <li>{{ card("Forced March") }} (<i>cf</i>)</li>
        <li>
            {{ card("Instantaneous Transformation") }}
            (<i>CJ</i>)
        </li>
        <li>
            {{ card("Truth of a Thousand Lies") }}
            (<i>S</i>)
        </li>
        <li>{{ card("Zephyr") }} (<i>C</i>)</li>
        <li>{{ card("Domain of Evernight") }} (<i>!</i>)</li>
        <li>{{ card("As The Crow") }} (<i>^</i>)</li>
        <li>
            {{ card("CrimethInc.") }}
            (<i>j</i> or <i>q</i> Anarch)
        </li>
        <li>{{ card("Seraph's Second") }} (Black Hand)</li>
        <li>{{ card("Tattoo Signal") }} (Seraph)</li>
    </ul>
</div>
<h2 id="action-sequence">Action sequence</h2>
<p>
    The choice and order of minion actions is important.
    A common strategy is to <strong>bait</strong>, beginning with the most mundane actions, up to the strongest ones.
    This forces the opponent to ponder what to block: too early and a devastating action could get through unopposed,
    too late and one could stay sitting for a big action than never comes.
</p>
<p>
    The other side of the medal is the <strong>gambit</strong> strategy: engaging in the heaviest action first
    in order to entice the opponent to keep a wake or an unlocked minion for an even uglier action that will,
    in fact, never come.
</p>
<p>
    The key to victory is to get a hand fit to oust one’s prey in the turn. Building this hand,
    then assessing the right moment to play it and <strong>lunge</strong> for the Victory Point is key.
    If the prey survives, they can rebuild their pool. Moreover, the rest of the table
    will tend to gang up against the predator. As a prey, one should take care to conceal its defensive capabilities —
    or lack thereof. As a predator, one should try to asses the number of wakes, bounces, delays, <em>etc.</em>
    available on the prey side.
</p>
<h2 id="stealth-and-intercept">Stealth and Intercept</h2>
<p>
    The key between offence and defence is the management of stealth and intercept.
    Many disciplines give access to stealth and intercept.
</p>
<p>
    One level of intercept is enough to block hunts, votes, equipments and recruitments.
    Therefore, some decks include a limited number of <strong>permanent intercept</strong> cards like
    {{ card("WMRH Talk Radio") }}.
</p>
<p>
    {{ card("Carlton Van Wyk") }},
    {{ card("Ponticulus") }} (<img
        src="{{ url_for('static', filename='img/icons/clan-tremere.svg') }}">) and
    {{ card("Harzomatuili") }} (Cardinal or Regent)
    deserve a special mention: they include a permanent intercept bonus plus their combat abilities
    is great and allow them to hinder the opponents all by themselves.
</p>
<div class="tip">
    <h3>Permanent intercept cards</h3>
    <p>
        Only a few unique cards give permanent intercept to any vampire, most of them master cards.
    </p>
    <ul>
        <li class="card" onclick="dC('krcgnewsradio')">KRCG News Radio</li>
        <li class="card" onclick="dC('wmrhtalkradio')">WMRH Talk Radio</li>
        <li class="card" onclick="dC('wallstreetnightfinancialnewspaper')">
            Wall Street Night, Financial Newspaper
        </li>
        <li class="card" onclick="dC('channel10')">Channel 10</li>
        <li class="card" onclick="dC('londoneveningstartabloidnewspaper')">
            London Evening Star, Tabloid Newspaper
        </li>
        <li class="card" onclick="dC('rumormilltabloidnewspaperthe')">
            The Rumor Mill, Tabloid Newspaper
        </li>
        <li> {{ card("Club Zombie") }} (expensive) </li>
        <li class="card" onclick="dC('aranthebestheimmortal')">Aranthebes, the Immortal</li>
        <li>
            {{ card("The Anarch Free Press") }}
            (Anarch)
        </li>
        <li>
            {{ card("Market Square") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">)
        </li>
        <li>
            {{ card("Information Network") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-nosferatu-anti.svg') }}">)
        </li>
        <li>
            {{ card("Ponticulus") }} (<img
                src="{{ url_for('static', filename='img/icons/clan-tremere.svg') }}">)
        </li>
        <li>
            {{ card("Saatet-ta") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-followers-of-set.svg') }}">)
        </li>
        <li>
            {{ card("The Unmasking") }}
            (Allies)
        </li>
    </ul>
    <p>
        Other cards give permanent intercept to a chosen vampire.
    </p>
    <ul>
        <li class="card" onclick="dC('mrwinthrop')">Mr. Winthrop</li>
        <li class="card" onclick="dC('sportbike')">Sport Bike</li>
        <li class="card" onclick="dC('phasedmotiondetector')">Phased Motion Detector</li>
        <li class="card" onclick="dC('guardianangel')">Guardian Angel</li>
        <li>
            {{ card("Bowl of Convergence") }}
            (<i>a</i>)
        </li>
        <li>
            {{ card("Raven Spy") }} and
            {{ card("Raptor") }}
            (<i>i</i>)
        </li>
        <li>
            {{ card("Abbot") }}
            (Sabbat)
        </li>
        <li>
            {{ card("Atonement") }}
            (Small capacity vampires)
        </li>
        <li>
            {{ card("Razor Bat") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-gargoyle.svg') }}">)
        </li>
        <li>
            {{ card("Defender of the Haven") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-gargoyle.svg') }}">)
        </li>
        <li>
            <span class="card" onclick="dC('nosecretsfromthemagaji')">
                No Secrets From the Magaji
            </span>
            (Magaji)
        </li>
        <li>
            {{ card("Corpse Balloon") }}
            (<i>v</i>)
        </li>
        <li>
            {{ card("Revenant") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-tzimisce.svg') }}">)
        </li>
        <li>
            {{ card("Sight Beyond Sight") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-salubri.svg') }}">)
        </li>
        <li>
            {{ card("Shaman") }}
            (Laibon)
        </li>
        <li>
            {{ card("Kumpania") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-ravnos.svg') }}">)
        </li>
        <li>
            {{ card("Ephor") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-ventrue.svg') }}">)
        </li>
        <li>
            {{ card("The Ancestors Talisman") }}
            (<img src="{{ url_for('static', filename='img/icons/clan-assamite.svg') }}">)
        </li>
    </ul>
</div>
<p>
    On the other hand, whatever level of intercept one manages to achieve, stealth specialised decks
    often include some <strong>block denial</strong> modifiers atop normal stealth.
    <i>O</i> {{ card("Elder Impersonation") }},
    <i>N</i> {{ card("Call of the Hungry Dead") }}
    and <i>£</i> {{ card("Blanket of Night") }}
    are the only full-purpose block denials of the game. However, <i>D</i> gives access to
    {{ card("Seduction") }} which is still a strong denial,
    even if it is less efficient against wakes. Many disciplines give access to lesser block denials
    that only work against allies and younger vampires, but they are less used.
</p>
{% endblock %}
