{% extends "layout.html" %}
{% import "_layout_sponsor.html" as sponsor %}

{% block head %}
{{ super() }}
<!-- Adding needed scripts -->
<!-- No needed script -->
{% endblock %}

{% block content %}
<h1 id="archetypes">{{ _('Bibliodèque') }}</h1>
{{ sponsor }}
{% trans trimmed
    bibliodeque=external("https://drive.google.com/drive/folders/0B32R3iejqMPTaXNDd2d1b01lR1k", "Bibliodèque")
%}
<p>
	The {{ bibliodeque }} is a French project made of more than a hundred decklists
	based on Tournament winning decklists or archetypes to help people building
	decks for their casual play or tournaments, and ultimately print those decks
	in proxy to have a library of decks available for their playgroup.
</p>
<p>
	Lead designer <strong>TTC_master</strong>
	Much thanks for the French people helping in various ways: Ezra, Tim, Cordovader,
	Darkal, Stone and so on... and to the players which decks have served as basis
	for the decks presented (or were shamelessly copied directly).
</p>
<p>
	You may find the complete historic of the project in the French
	<a href="http://www.vekn.fr/forum/viewforum.php?f=49">VEKN forum</a>
	and the google drive to the final Bibliodèque will be the following
	<a href="https://drive.google.com/folderview?id=0B32R3iejqMPTaXNDd2d1b01lR1k&usp=sharing">link</a>.
</p>

{% endtrans %}
<div class="align-left">
    <table class="wide-column">
        <tbody>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/lorrie-superstar') }}</td>
                <td>(Star)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/howler-friends') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/muricia-friends') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/akunanse-classic') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tunnel-runners') }}</td>
                <td>(Allies)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/army-of-allah') }}</td>
                <td>(Swarm Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tariq-eats-the-world') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/cybele-maleficia') }}</td>
                <td>(Tap & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/the-unnamed') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/cybele-great-beast') }}</td>
                <td>(Star)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/hermanas') }}</td>
                <td>(Other)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/kiev-circle') }}</td>
                <td>(Swarm Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/euro-brujah') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/brujah-debate') }}</td>
                <td>(Swarm Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/richter-friends') }}</td>
                <td>(Bruise & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/armin-the-hammer') }}</td>
                <td>(Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/knaves-revenge') }}</td>
                <td>(Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/daughters') }}</td>
                <td>(Swarm Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/unmada-crescendo') }}</td>
                <td>(Star)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/stanislava') }}</td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr><!-- #21 -->
                <td><!-- No list here --></td>
                <td><!-- No list here --></td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/una-circus') }}</td>
                <td>(Star)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/shadow-court-satyrs') }}</td>
                <td>(Allies)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/enkidu-multirush') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tupdogs') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/rock-cats') }}</td>
                <td>(Allies)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/ublos-harem') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/family-business') }}</td>
                <td>(Allies)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/torchon-brulant') }}</td>
                <td>(Allies)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/isabel-boys') }}</td>
                <td>(Tap & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/guillaume-giovanni') }}</td>
                <td>(Tap & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/storia-di-buratino') }}</td>
                <td>(Tap & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/dekox-ultimus') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr><!-- #33 -->
                <td><!-- No list here --></td>
                <td><!-- No list here --></td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/slaughtermanship') }}</td>
                <td>(Other)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/no-secret-box-of-tools') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/warding-pan') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/fear-of-the-dard') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/fat-usurper') }}</td>
                <td>(Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/malkavian-royalty') }}</td>
                <td>(Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/ozmo-94') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/weenie-aus') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/reversal') }}</td>
                <td>(Other)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/lutzs-coopt') }}</td>
                <td>(Vote)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/weenie-dem') }}</td>
                <td>(Swarm Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/midcap-dem') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/nagagrinder') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/nosferatu-royalty') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/big-cock') }}</td>
                <td>(Bruise & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/extreme-violence') }}</td>
                <td>(Rush)</td>
            </tr>
        </tbody>
    </table>
    <table class="wide-column">
        <tbody>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/nosferatu-royalty') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/rachel-madness') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/ravnos-clown-car') }}</td>
                <td>(Swarm Politics)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/renegade-assault') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/saulot-friends') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/scout') }}</td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/shambling-hordes') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/spirit-marionette') }}</td>
                <td>(Special)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/stanislava') }}</td>
                <td>(Bleed & Politics)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/team-jacob') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/the-bleeding-vignes') }}</td>
                <td>(Powerbleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/the-dark-side-of-politics') }}</td>
                <td>(Politics)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/the-unnamed') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tupdogs') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tzimisce-toolbox') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/tzimisce-wall') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/ventrue-royalty') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/war-chantry') }}</td>
                <td>(Toolbox)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/war-ghouls') }}</td>
                <td>(Rush)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/weenie-aus') }}</td>
                <td>(Wall)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/weenie-dem') }}</td>
                <td>(Stealth & Bleed)</td>
            </tr>
            <tr>
                <td>{{ link('/archetypes/bibliodeque/weenie-dom') }}</td>
                <td>(Swarm Bleed)</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
