{% extends "archetypes/_layout.html" %}
{% import "archetypes/_layout-erratum.html" as erratum with context %}
{% import "archetypes/bibliodeque/nosferatu-royalty.json" as deck_json %}

{% block meta %}
<meta property="decklist" content='{{ deck_json | tojson }}' />
{% endblock %}

{% block archetype_name %}
<h1>{{ nosferatu }} Nosferatu Royalty</h1>
{% endblock %}

{% block archetype %}
{% trans trimmed
aid_from_bats=card("Aid from Bats"),
carrion_crows=card("Carrion Crows"),
deep_song=card("Deep Song"),
fame=card("Fame"),
second_tradition_domain=card("Second Tradition: Domain"),
underbridge_stray=card("Underbridge Stray"),
raven_spy=card("Raven Spy"),
cock_robin=card("Cock Robin"),
warsaw_station=card("Warsaw Station"),
scourge_of_the_enochians=card("Scourge of the Enochians"),
tier_of_souls=card("Tier of Souls"),
enkil_cog=card("Enkil Cog"),
kevlar_vest=card("Kevlar Vest"),
heroic_might=card("Heroic Might"),
preternatural_strength=card("Preternatural Strength"),
fourth_tradition_the_accounting=card("Fourth Tradition: The Accounting"),
grooming_the_protégé=card("Grooming the Protégé"),
mental_maze=card("Mental Maze"),
third_tradition_progeny=card("Third Tradition: Progeny"),
consanguineous_boon=card("Consanguineous Boon"),
a_b=link("/strategy/fundamentals", _("A&B"), _anchor="AB"),
gyula_erdos_deck=link("/deck-search", _("Gyula Erdõs' deck"), id="2k8czechnational"),
inaki_jimenez_s_deck=link("/deck-search", _("Iñaki Jimenez's deck"), id="2k8spanishnatday2"),
pascal_bertrand_s_deck=link("/deck-search", _("Pascal Bertrand's deck"), id="2013qcfeelblpf")
%}
<h2>Highlights</h2>
<p>
    This is a <em>toolbox</em> deck using Nosferatu <em>Princes</em> and <em>Justicar</em>,
    and the {{ OBF }}{{ ANI }} disciplines. It has an efficient combat module
    using the classice {{ ANI }} {{ aid_from_bats }} & {{ carrion_crows }} combination.
</p>
<p>
    Pool damage is done by using {{ deep_song }} to bleed,
    together with damage dealing votes and {{ fame }} if it is drawn.
    {{ OBF }} provides good stealth, as usual.
</p>
<p>
    The deck has good intercept using a lot of {{ second_tradition_domain }},
    together with {{ underbridge_stray }} and {{ raven_spy }}
</p>
<p>
    {{ cock_robin }} is the star of the deck and his ability
    is used to the maximum, with {{ deep_song }} and {{ ani }}
    allies and retainers.
</p>
<h2>Tips & Tricks</h2>
<p>
    <em>Maxime Socroun</em> indicates that {{ warsaw_station }}
    is the most important card in the deck. Indeed its effect seconds
    {{ cock_robin }}'s ability beautifully and provides a nice
    increase in {{ a_b }}.
</p>
<p>
    {{ scourge_of_the_enochians }} is a tactical
    counter against breed constructs, as they can quickly become overwhelming.
</p>
<p>
    As the game progresses, {{ tier_of_souls }} and
    {{ enkil_cog }} will improve bleeds.
    Moreover, {{ enkil_cog }} will let {{ cock_robin }} use his ability twice in successive turns
    and as {{ tier_of_souls }} is an {{ ani }} action,
    it lets {{ cock_robin }} unlock and bleed afterwards immediately.
</p>
<p>
    {{ deep_song }} can be used to bleed or to rush
    cumbersome vampires, depending on the context.
</p>
<p>
    The combat module is strong, but not the primary focus of the deck.
    {{ kevlar_vest }}, {{ heroic_might }} and
    {{ preternatural_strength }} can come in handy
    against adverse combat modules.
</p>
<p>
    The deck does not include so many votes as it is really not sure about getting the vote lock on the table.
    Any dedicated political deck will get more votes than the 5-7 this one can put into play.
</p>
<h2>Variants</h2>
<p>
    Variants include the use of a group 2 crypt and a {{ POT }} combat module, like in
    {{ gyula_erdos_deck }} from the 2008 Czech NC.
</p>
<p>
    More votes can also be used, alongside
    {{ fourth_tradition_the_accounting }} and
    {{ grooming_the_protégé }} for crypt acceleration
    to get more votes on the table,
    like in {{ inaki_jimenez_s_deck }} from the 2008 Spanish NC.
</p>
<p>
    Some variants even discard the combat side of things to focus on a full political deck, like in
    {{ pascal_bertrand_s_deck }} from 2013, using {{ mental_maze }} instead.
    In this case, this makes some room for a
    {{ third_tradition_progeny }} plus {{ consanguineous_boon }} combination
    to bloat and get more vampires (and more votes) out.
</p>
{% endtrans %}
{% endblock %}

{% block errata %}
<div class="insert warn">
    <h3>Errata</h3>
    {{ erratum.pentextmsubversion( 'remove' ) }}
    {{ erratum.villein() }}
    {{ erratum.parityshift() }}
</div>
{% endblock %}
